<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IRIS | Studio Modals</title>
  <link rel="stylesheet" href="../../dist/css/main/style.min.css" />
</head>
<body>
  <div class="guide-wrap">
    <div class="modal-variation">
      <h3 class="modal-variation__name">시각화 옵션</h3>
      <div class="modal-examle">
        
<!-- 
    modal size: xs(350px),sm(480px), md(620px), lg(900px), xl(1180px)
    이외 사이즈는 인라인 스타일로 추가
  -->
<!-- 시각화 옵션 설정 모달 -->
<div class="modal modal--md" style="position: static;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">시각화 옵션</span>
      <span class="modal__head-subtitle">subtitle</span>
    </div>
    <span class="modal__head-close-button">
      <button class="button button--icon button--link button--xs">
        <svg class="svg-icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </span>
  </div>
  <div class="modal__body">
    <div class="tab tab--horizontal">
      <ul class="tab__bar">
        <li class="tab__item">
          <button type="button" class="tab__button">
            <span class="tab__button-text">Tab1</span>
          </button>
        </li>
        <!-- 선택된 항목에 tab__item--selected 클래스 추가 -->
        <li class="tab__item tab__item--selected">
          <button type="button" class="tab__button">
            <span class="tab__button-text">Tab2</span>
          </button>
        </li>
        <li class="tab__item">
          <button type="button" class="tab__button">
            <span class="tab__button-text">Tab3</span>
          </button>
        </li>
        <li class="tab__item">
          <button type="button" class="tab__button">
            <span class="tab__button-text">Tab4</span>
          </button>
        </li>
        <!-- 비활성 항목에 tab__item--disabled 클래스 추가 -->
        <li class="tab__item tab__item--disabled">
          <button type="button" class="tab__button">
            <span class="tab__button-text">Tab5 - disabled</span>
          </button>
        </li>
      </ul>
      <div class="tab__panel">
        <!-- 스크롤이 필요한 경우 overflow-y 클래스 추가하고 mh-400와 같은 max-height 클래스 혹은 inline-style로 height 값 추가 -->
        <div class="tab__contents overflow-y mh-400 tab__contents--active">
          <!-- 복잡도가 높은 form 요소에 form--complex 스타일 추가 -->
          <div class="form form--complex">
            <div class="form__body">
              <div class="form__list">
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">
                      행 번호
                    </span>
                  </label>
                  <div class="form__detail">
                    <div class="h-group">
                      <input type="text" class="text-input" placeholder="행 번호를 입력 해주세요" value="#">
                      <div class="checkbox">
                        <input id="formChekcbox-01" type="checkbox" class="checkbox__input" value="label">
                        <label for="formChekcbox-01" class="checkbox__label">표시</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">
                      행 높이
                    </span>
                  </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <input type="number" class="text-input" max="100" min="0" step="1" value="3">
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">
                      최소 크기
                    </span>
                  </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <div class="text-input-wrap">
                        <input type="number" class="text-input" max="100" min="0" step="1" value="0">
                        <span class="text-input-wrap__suffix">%</span>
                      </div>
                      <div class="notification-message notification-message--info">
                        <svg class="notification-message__icon svg-icon">
                          <use xlink:href="#info-fill"></use>
                        </svg>
                        <span class="notification-message__text">Notification Message</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">
                      행 선택
                    </span>
                  </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <div class="toggle-button">
                        <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                        <button class="toggle-button__item toggle-button__item--selected" type="button">
                          <span class="toggle-button__text">Toggle Button</span>
                        </button>
                        <button class="toggle-button__item" type="button">
                          <span class="toggle-button__text">Toggle Button</span>
                        </button>
                        <button class="toggle-button__item" type="button">
                          <span class="toggle-button__text">Toggle Button</span>
                        </button>
                        <button class="toggle-button__item" type="button" disabled="">
                          <span class="toggle-button__text">Toggle Button</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text whitespace-normal">
                      데이터 표시 색상
                    </span>
                  </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <div class="v-group">
                        <div class="h-group">
                          <div id="presetButton" class="select data-color-select">
                            <div class="select-selector">
                              <button class="select-selector__button" type="button">
                                <div class="data-color-select__preview">
                                  <span class="data-color-select__preview-item" style="background-color: rgb(124, 181, 236);"></span>
                                  <span class="data-color-select__preview-item" style="background-color: rgb(67, 67, 72);"></span>
                                  <span class="data-color-select__preview-item" style="background-color: rgb(144, 237, 125);"></span>
                                  <span class="data-color-select__preview-item" style="background-color: rgb(247, 163, 92);"></span>
                                </div>
                                <span class="select-selector__title">highcharts.js 기본 20색</span>
                                <svg class="svg-icon select-selector__icon">
                                  <use xlink:href="#chevron-down-medium"></use>
                                </svg>
                              </button>
                            </div>
                            <div class="select-container" style="width: 460px;">
                              <ul class="select-container__list">
                                <li class="select-container__item">
                                  <button class="select-container__button" type="button">
                                    <div class="data-color-select__preview-list">
                                      <span class="data-color-select__preview-item" style="background-color: rgb(124, 181, 236);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(67, 67, 72);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(144, 237, 125);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(247, 163, 92);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(128, 133, 233);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(241, 92, 128);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(228, 211, 84);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(43, 144, 143);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(244, 91, 91);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(145, 232, 225);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(164, 221, 21);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(107, 107, 112);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(184, 22, 175);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(32, 203, 132);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(168, 18, 18);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(26, 131, 168);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(13, 251, 124);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(83, 184, 173);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(29, 131, 131);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(185, 17, 10);"></span>
                                    </div>
                                    <span class="select-container__text">highcharts.js 기본 20색</span>
                                  </button>
                                </li>
                                <li class="select-container__item">
                                  <button class="select-container__button" type="button">
                                    <div class="data-color-select__preview-list">
                                      <span class="data-color-select__preview-item" style="background-color: rgb(124, 181, 236);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(67, 67, 72);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(144, 237, 125);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(247, 163, 92);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(128, 133, 233);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(241, 92, 128);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(228, 211, 84);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(43, 144, 143);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(244, 91, 91);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(145, 232, 225);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(164, 221, 21);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(107, 107, 112);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(184, 22, 175);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(32, 203, 132);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(168, 18, 18);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(26, 131, 168);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(13, 251, 124);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(83, 184, 173);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(29, 131, 131);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(185, 17, 10);"></span>
                                    </div>
                                    <span class="select-container__text">D3.js 기본 20색</span>
                                  </button>
                                </li>
                                <li class="select-container__item">
                                  <button class="select-container__button" type="button">
                                    <div class="data-color-select__preview-list">
                                      <span class="data-color-select__preview-item" style="background-color: rgb(124, 181, 236);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(67, 67, 72);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(144, 237, 125);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(247, 163, 92);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(128, 133, 233);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(241, 92, 128);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(228, 211, 84);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(43, 144, 143);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(244, 91, 91);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(145, 232, 225);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(164, 221, 21);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(107, 107, 112);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(184, 22, 175);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(32, 203, 132);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(168, 18, 18);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(26, 131, 168);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(13, 251, 124);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(83, 184, 173);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(29, 131, 131);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(185, 17, 10);"></span>
                                    </div>
                                    <span class="select-container__text">D3.js 기본 20색 (type A)</span>
                                  </button>
                                </li>
                                <li class="select-container__item">
                                  <button class="select-container__button" type="button">
                                    <div class="data-color-select__preview-list">
                                      <span class="data-color-select__preview-item" style="background-color: rgb(124, 181, 236);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(67, 67, 72);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(144, 237, 125);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(247, 163, 92);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(128, 133, 233);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(241, 92, 128);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(228, 211, 84);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(43, 144, 143);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(244, 91, 91);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(145, 232, 225);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(164, 221, 21);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(107, 107, 112);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(184, 22, 175);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(32, 203, 132);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(168, 18, 18);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(26, 131, 168);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(13, 251, 124);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(83, 184, 173);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(29, 131, 131);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(185, 17, 10);"></span>
                                    </div>
                                    <span class="select-container__text">D3.js 기본 20색 (type B)</span>
                                  </button>
                                </li>
                                <li class="select-container__item">
                                  <button class="select-container__button" type="button">
                                    <div class="data-color-select__preview-list">
                                      <span class="data-color-select__preview-item" style="background-color: rgb(124, 181, 236);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(67, 67, 72);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(144, 237, 125);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(247, 163, 92);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(128, 133, 233);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(241, 92, 128);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(228, 211, 84);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(43, 144, 143);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(244, 91, 91);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(145, 232, 225);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(164, 221, 21);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(107, 107, 112);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(184, 22, 175);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(32, 203, 132);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(168, 18, 18);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(26, 131, 168);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(13, 251, 124);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(83, 184, 173);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(29, 131, 131);"></span>
                                      <span class="data-color-select__preview-item" style="background-color: rgb(185, 17, 10);"></span>
                                    </div>
                                    <span class="select-container__text">D3.js 기본 20색 (type C)</span>
                                  </button>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <!-- <span class="form__detail-helper-text">highcharts.js 기본 20색</span> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">
                      컨트롤 바
                    </span>
                  </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <input type="text" class="text-input" placeholder="그룹명을 입력해주세요.">
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">목록 개수</span>
                  </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <!-- sselect--open 클래스 추가시 드롭다운 리스트 열림 -->
                      <!-- select가 단독으로 사용되는 경우 w- 클래스를 사용해야 가로 사이즈 조정 가능 -->
                      <div class="select w-80">
                        <div class="select-selector">
                          <button class="select-selector__button" type="button">
                            <span class="select-selector__title">5</span>
                            <svg class="svg-icon select-selector__icon">
                              <use xlink:href="#chevron-down-medium"></use>
                            </svg>
                          </button>
                        </div>
                        <div class="select-container">
                          <ul class="select-container__list">
                            <li class="select-container__item select-container__item--selected">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text">5</span>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text">10</span>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text">15</span>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text">20</span>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text">25</span>
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">글꼴</span>
                  </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <!-- sselect--open 클래스 추가시 드롭다운 리스트 열림 -->
                      <!-- select가 단독으로 사용되는 경우 w- 클래스를 사용해야 가로 사이즈 조정 가능 -->
                      <div class="select w-80">
                        <div class="select-selector">
                          <button class="select-selector__button" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#text-align-center"></use>
                            </svg>
                            <svg class="svg-icon select-selector__icon">
                              <use xlink:href="#chevron-down-medium"></use>
                            </svg>
                          </button>
                        </div>
                        <div class="select-container">
                          <ul class="select-container__list">
                            <li class="select-container__item select-container__item--selected">
                              <button class="select-container__button" type="button">
                                <svg class="svg-icon select-container__icon">
                                  <use xlink:href="#text-align-left"></use>
                                </svg>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <svg class="svg-icon select-container__icon">
                                  <use xlink:href="#text-align-center"></use>
                                </svg>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <svg class="svg-icon select-container__icon">
                                  <use xlink:href="#text-align-right"></use>
                                </svg>
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">목록 개수</span>
                  </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <div class="h-group">
                        <!-- sselect--open 클래스 추가시 드롭다운 리스트 열림 -->
                        <div class="select">
                          <div class="select-selector">
                            <button class="select-selector__button" type="button">
                              <span class="select-selector__title">1단계</span>
                              <svg class="svg-icon select-selector__icon">
                                <use xlink:href="#chevron-down-medium"></use>
                              </svg>
                            </button>
                          </div>
                          <div class="select-container">
                            <ul class="select-container__list">
                              <li class="select-container__item select-container__item--selected">
                                <button class="select-container__button" type="button">
                                  <span class="select-container__text">1단계</span>
                                </button>
                              </li>
                              <li class="select-container__item">
                                <button class="select-container__button" type="button">
                                  <span class="select-container__text">2단계</span>
                                </button>
                              </li>
                              <li class="select-container__item">
                                <button class="select-container__button" type="button">
                                  <span class="select-container__text">3단계</span>
                                </button>
                              </li>
                              <li class="select-container__item">
                                <button class="select-container__button" type="button">
                                  <span class="select-container__text">4단계</span>
                                </button>
                              </li>
                              <li class="select-container__item">
                                <button class="select-container__button" type="button">
                                  <span class="select-container__text">5단계</span>
                                </button>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <span>까지 열림</span>
                        <div class="checkbox ml-auto">
                          <input id="formChekcbox-02" type="checkbox" class="checkbox__input" value="label">
                          <label for="formChekcbox-02" class="checkbox__label">전체 접힘(최상위만)</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">그룹명</span>
                    <span class="form__label-subtext">(한국어)</span> </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <input type="text" class="text-input" placeholder="그룹명을 입력해주세요.">
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label"> <span class="form__label-text">첫그룹</span> <span class="form__label-subtext">(한국어)</span> </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <div class="checkbox">
                        <input id="formChekcbox-03" type="checkbox" class="checkbox__input" value="label">
                        <label for="formChekcbox-03" class="checkbox__label">첫 그룹으로 설정</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__foot">
    <button class="button button--tertiary button--lg" type="button">
      <span>초기화</span>
    </button>
    <button class="button button--danger button--lg" type="button">
      <span>삭제</span>
    </button>
    <div class="modal__foot-main-buttons">
      <button class="button button--link button--lg" type="button">
        <span>취소</span>
      </button>
      <button class="button button--primary button--lg" type="button">
        <span>저장</span>
      </button>
    </div>
  </div>
</div>
<!-- // 시각화 옵션 설정 모달  -->

      </div>
    </div>
    <div class="modal-variation">
      <h3 class="modal-variation__name">새 이름으로 저장</h3>
      <div class="modal-examle">
        
<!-- 다른 이름으로 저장 모달 -->
<div class="modal modal--sm" style="position: static;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">다른 이름으로 저장하기</span>
    </div>
    <span class="modal__head-close-button">
      <button class="button button--icon button--link button--xs">
        <svg class="svg-icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </span>
  </div>
  <div class="modal__body modal__body--lg">
    <div class="form form--vertical">
      <div class="form__list">
        <div class="form__item">
          <label class="form__label">
            <span class="form__label-text">카테고리</span>
          </label>
          <div class="form__detail">
            <div class="form__detail-inner">
              <div class="select">
                <div class="select-selector">
                  <button class="select-selector__button" type="button">
                    <span class="select-selector__title">카테고리</span>
                    <svg class="svg-icon select-selector__icon">
                      <use xlink:href="#chevron-down-medium"></use>
                    </svg>
                  </button>
                </div>
                <div class="select-container">
                  <ul class="select-container__list">
                    <li class="select-container__item select-container__item--selected">
                      <button class="select-container__button" type="button">
                        <span class="select-container__text">1단계</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button">
                        <span class="select-container__text">2단계</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button">
                        <span class="select-container__text">3단계</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button">
                        <span class="select-container__text">4단계</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button">
                        <span class="select-container__text">5단계</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form__item">
          <label class="form__label">
            <span class="form__label-text">보고서 이름</span>
          </label>
          <div class="form__detail">
            <div class="form__detail-inner">
              <input type="text" class="text-input" placeholder="보고서 이름을 입력하세요.">
              <div class="notification-message notification-message--inline notification-message--error">
                <svg class="notification-message__icon svg-icon">
                  <use xlink:href="#issue-fill"></use>
                </svg>
                <span class="notification-message__text">Notification Message</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--link button--lg" type="button">
        <span>취소</span>
      </button>
      <button class="button button--primary button--lg" type="button">
        <span>저장</span>
      </button>
    </div>
  </div>
</div>
<!-- // 다른 이름으로 저장 모달 -->

      </div>
    </div>
    <div class="modal-variation">
      <h3 class="modal-variation__name">꾸미기 옵션</h3>
      <div class="modal-examle">
        <!-- 꾸미기 옵션 모달 -->
<div class="modal modal--sm" style="position: static;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">꾸미기 옵션</span>
      <!-- <span class="modal__head-subtitle">subtitle</span> -->
    </div>
    <span class="modal__head-close-button">
      <button class="button button--icon button--link button--xs">
        <svg class="svg-icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </span>
  </div>
  <div class="modal__body">
    <div class="tab tab--horizontal">
      <ul class="tab__bar">
        <li class="tab__item">
          <button type="button" class="tab__button">
            <span class="tab__button-text">테두리</span>
          </button>
        </li>
        <!-- 선택된 항목에 tab__item--selected 클래스 추가 -->
        <li class="tab__item tab__item--selected">
          <button type="button" class="tab__button">
            <span class="tab__button-text">채우기</span>
          </button>
        </li>
        <li class="tab__item tab__item--disabled">
          <button type="button" class="tab__button">
            <span class="tab__button-text">그림자</span>
          </button>
        </li>
      </ul>
      <div class="tab__panel">
        <div class="tab__contents tab__contents--active">
          <!-- 복잡도가 높은 form 요소에 form--complex 스타일 추가 -->
          <div class="form form--complex">
            <div class="form__body">
              <div class="form__list">
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">
                      색상
                    </span>
                  </label>
                  <div class="form__detail">
                    <div class="text-input-wrap">
                      <input type="text" class="text-input" placeholder="행 번호를 입력 해주세요" value="#">
                      <div class="checkbox">
                        <input id="formChekcbox-01" type="checkbox" class="checkbox__input" value="label">
                        <label for="formChekcbox-01" class="checkbox__label">표시</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">
                      두께
                    </span>
                  </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <div class="select w-160">
                        <div class="select-selector">
                          <button class="select-selector__button">
                            <span class="select-selector__title">
                              <span class="border-style border-style--thickness-1"></span>
                            </span>
                            <svg class="svg-icon select-selector__icon">
                              <use xlink:href="#chevron-down-medium"></use>
                            </svg>
                          </button>
                        </div>
                        <div class="select-container">
                          <ul class="select-container__list">
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text">
                                  <span class="border-style border-style--thickness-1"></span>
                                </span>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text">
                                  <span class="border-style border-style--thickness-2"></span>
                                </span>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text"><span class="border-style border-style--thickness-3"></span></span>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text"><span class="border-style border-style--thickness-4"></span></span>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text"><span class="border-style border-style--thickness-5"></span></span>
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__item">
                  <label class="form__label">
                    <span class="form__label-text">
                      종류
                    </span>
                  </label>
                  <div class="form__detail">
                    <div class="form__detail-inner">
                      <div class="select w-160">
                        <div class="select-selector">
                          <button class="select-selector__button">
                            <span class="select-selector__title">
                              <span class="border-style border-style--dashed"></span>
                            </span>
                            <svg class="svg-icon select-selector__icon">
                              <use xlink:href="#chevron-down-medium"></use>
                            </svg>
                          </button>
                        </div>
                        <div class="select-container">
                          <ul class="select-container__list">
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text">
                                  <span class="border-style border-style--thickness-2 border-style--solid"></span>
                                </span>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text">
                                  <span class="border-style border-style--thickness-2 border-style--dotted"></span>
                                </span>
                              </button>
                            </li>
                            <li class="select-container__item">
                              <button class="select-container__button" type="button">
                                <span class="select-container__text"><span class="border-style border-style--thickness-2 border-style--dashed"></span></span>
                              </button>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--link button--lg" type="button">
        <span>취소</span>
      </button>
      <button class="button button--primary button--lg" type="button">
        <span>저장</span>
      </button>
    </div>
  </div>
</div>
<!-- // 꾸미기 옵션 모달 -->
      </div>
    </div>
  </div>

  <script src="../../dist/js/main.bundle.js"></script>
</body>
</html>