<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IRIS | Studio Edit</title>
  <link rel="stylesheet" href="../../dist/css/main/style.min.css" />
</head>
<body>
  <div class="service-container">
    <section>
      <div class="service-content">
        <div class="studio-edit">
          <div class="studio-edit__head">최 상단 컨트롤 영역</div>
          <div class="studio-edit__body">
            <div class="studio-edit__menubar">
              상단 메뉴바 영역
            </div>
            <div class="studio-edit__content">
              <div class="studio-edit__canvas">
                <div class="canvas">캔버스 영역</div>
              </div>
              <div class="report-panel">
                리포트 패널 영역
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</body>
</html>