.hidden {
  @include hidden;
}

.ir-pm {
  @include ir-pm;
}

.img-g {
  @include img-g;
}

.caption-out {
  @include caption-out;
}

.text-emphasis {
  @include font-weight("bold");
}

.filter-highlight {
  background-color: #fff09c;
}

.division-line {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 1px;
  height: 16px;
  margin: 0 8px;
  border-left: 1px solid $ui-04;
  clip: rect(1px, 1px, 1px, 1px);
}