@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin text-overflow($width: false) {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  // width parameter가 있을 경우 허용
  @if ($width) {
    width: $width;
  }
}

@mixin hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  visibility: visible;
  white-space: nowrap;
}

// Image Replacement Phark Method
@mixin ir-pm {
  display: block;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
  color: transparent;
}

// Img Global
@mixin img-g {
  display: block;
  width: 100%;
}

// Hide Table Caption
@mixin caption-out {
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
}

// Right Position Center
@mixin position-right-center($right-interval) {
  position: absolute;
  top: 50%;
  right: $right-interval;
  transform: translateY(-50%);
}

// 상하와 좌우가 동일한 padding
@mixin stable-padding($padding-up-and-down, $padding-both-sides) {
  padding: $padding-up-and-down $padding-both-sides;
}

// svg icon size
@mixin svg-icon-size($size) {
  width: $size;
  height: $size;
}

// button 엘리먼트 normalize
@mixin button-normal {
  @include font-family("sans");
  @include font-weight("medium");
  @include font-smoothing;
  @include letter-spacing;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 100%;
  border: 1px solid transparent;
  text-decoration: none;
  transition-duration: $duration-fast-02;
  transition-timing-function: ease-in-out;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  // Reset intrisic padding in Firefox
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

// list에 사용하는 button 엘리먼트 normalize
@mixin list {
  &__item {
    display: flex;
    align-items: center;

    &:hover {
      background-color: $ui-01;
    }
  }

  &__button {
    @include button-normal;
    @include font-weight("regular");
    @include stable-padding($spacing-2xs, $spacing-xs);
    @include text-overflow;
    // width: 100%;
    flex: 1;
    height: $button-height-md;
    flex-direction: row;
    justify-content: start;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: inherit;
    text-align: left;

    // &:hover:not(:disabled) {
    //   background-color: $ui-01;
    // }

    &:active {
      background-color: $ui-01;
    }
  }

  &__icon {
    vertical-align: middle;
  }

  &__icon + &__text {
    margin-left: $spacing-3xs;
  }

  &__button:active &__text {
    color: $primary;
  }

  &__button:active &__icon {
    fill: $primary;
  }

  &__text {
    @include font-size("14");
    @include line-height("heading");
    vertical-align: middle;
    color: inherit;
  }

  &__action-button-wrap {
    display: flex;
    margin-right: $spacing-xs;
    z-index: 1;
  }

  &__action-button {
    @include button-normal;
    padding: 0;
    border-radius: $field-border-radius;
    background-color: transparent;

    &:hover:not(:disabled) {
      background-color: $hover-row;
    }

    &:active {
      background-color: $hover-row;
    }

    &:not(:last-child) {
      margin-right: $spacing-3xs;
    }
  }

  &__action-button:active &__icon {
    fill: $primary;
  }

  // -------------------------
  // checkbox overwrite
  // -------------------------
  &__item .checkbox {
    @include stable-padding($spacing-2xs, $spacing-xs);
    // background-color: $ui-02;
    height: $button-height-md;
    width: 100%;

    .checkbox__label {
      width: 100%;
    }

    .checkbox__input:checked {
      + .checkbox__label {
        color: $primary;
      }

      + .checkbox__label .context-menu__icon {
        fill: $primary;
      }
    }

    &.checkbox--disabled,
    &.checkbox--disabled:hover {
      cursor: not-allowed;
      background-color: $ui-02;
    }
  }

  // -------------------------
  // Modifier: disabled
  // -------------------------
  &__item--disabled {
    cursor: not-allowed;

    &:hover {
      background-color: transparent;
    }
  }

  &__item--disabled &__button,
  &__item--disabled &__action-button {
    opacity: 0.4;
    cursor: not-allowed;
  }

  &__item--disabled &__button:active &__text {
    color: inherit;
  }

  &__item--disabled &__button:active &__icon {
    fill: $text-03;
  }

  &__item--disabled &__action-button:hover,
  &__item--disabled &__action-button:active {
    background-color: transparent;
  }

  &__item--disabled &__action-button:active &__icon{
    fill: $text-03;
  }

  // -------------------------
  // Modifier: selected
  // -------------------------
  &__checkmark {
    opacity: 0;
  }

  &__item--selected {
    color: $primary;
  }

  &__item--selected &__checkmark {
    opacity: 1;
    fill: $primary;
  }

  &__item--selected &__icon {
    fill: $primary;
  }

  &__item--selected &__button:active &__icon {
    fill: $primary;
  }
}

@mixin button-list{
  &__list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: $spacing-xs;
  }

  &__item {
    width: calc(33.33% - 8px);
    margin: $spacing-2xs;

    &:hover {
      background-color: $ui-01;
    }
  }

  &__button {
    @include button-normal;
    @include font-weight("regular");
    @include stable-padding($spacing-2xs, $spacing-xs);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    color: inherit;
    text-align: center;

    // &:hover:not(:disabled) {
    //   background-color: $ui-01;
    // }

    &:active {
      background-color: $ui-01;
    }
  }

  &__icon {
    @include svg-icon-size($button-height-md);
    vertical-align: middle;
  }

  &__button:active{
    border: 1px solid $primary;
  }

  &__button:active &__text {
    color: $primary;
  }

  &__button:active &__icon {
    fill: $primary;
  }

  &__text {
    @include text-overflow;
    @include font-size("14");
    @include line-height("heading");
    width: 100%;
    text-align: center;
    color: inherit;
  }

}