.list {
  @include list;
  display: flex;
  flex-direction: column;
  border: 1px solid $ui-04;
  background-color: $ui-02;
  color: $text-01;
}
.list__list {
  width: 100%;
  height: 100%;
}

.list__head {
  padding: $spacing-xs;
  background-color: $ui-01;
}

.list__head-title {
  @include font-weight("medium");
  @include text-overflow(100%);
  display: flex;
  align-items: center;
  color: $text-02;
  margin-bottom: $spacing-3xs;
}

.list__head-title-text {
  flex: 1;
}

.list__head-toolbar {
  display: flex;
}

.list__head--toolbar-hide.list__head--title-hide {
  padding: 0;
}

.list__head--toolbar-hide .list__head-toolbar {
  display: none;
}

.list__head--title-hide .list__head-title {
  display: none;
}

.list__head-toolbar .text-input-group {
  width: 100%;
}

.list__head-checkbox {
  display: inline-flex;
}

.list__item {
  border-bottom: 1px solid $hover-row;

  &:last-child {
    border-bottom: 0;
  }
}

.list__item .filter-highlight {
  @include line-height("body");
}

.list__checkmark {
  vertical-align: middle;
}

.list__body {
  overflow: auto;
}

.list__summary {
  display: flex;
  align-items: center;
  width: 100%;
}

.list__details {
  display: none;
  width: 100%;
  color: $text-01;
  background-color: darken($ui-01, 1.4%);
}

.list__details-inner {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: $spacing-md;
}

.list__details-list {
  width: 100%;
}

.list__details-item {
  display: flex;
  align-items: center;
  padding: $spacing-xs $spacing-md;
  color: $text-02;
}

.list__details-item:not(:last-child) {
  border-bottom: 1px solid rgba($ui-04, .75);
}

.list__details-item-trigger {
  @include make-col(4);
  @include font-size("13");
  display: flex;
  flex-direction: column;
  margin-right: $spacing-xs;
}

.list__details-item-trigger-layer {
  @include text-overflow;
  @include font-size("12");
  color: $text-03;
}

.list__details-item-trigger-text {
  @include text-overflow;
}

.list__details-item-component {
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: $spacing-2xs;
  overflow: hidden;
}

.list__details-item-component-text {
  @include text-overflow;
  margin-left: $spacing-2xs;
}

.list__details-action-buttons {
  display: flex;
  margin-left: $spacing-xs;
}

.list--expandable .list__head {
  display: flex;
  align-items: center;
  padding-top: $spacing-3xs;
  padding-bottom: $spacing-3xs;
  background-color: $ui-02;
  border-bottom: 1px solid $ui-04;
}

.list--expandable .list__item {
  flex-direction: column;
}


.list__head-right-box {
  margin-left: auto;
}

.list__item--selected .list__details {
  display: flex;
}

.list__item--selected .list__expand-icon {
  transform: rotate(180deg);
}

.list__item--notification {
  justify-content: center;
  width: 100%;
  height: 100%;

  &:hover {
    background-color: $ui-02;
  }
}

.list--border-reset {
  border: 0;
}

.dynamic-list {
  padding: $spacing-sm;
}

.dynamic-list__no-contents {
  display: flex;
  height: 100%;
  background-color: $ui-01;
}

.dynamic-list__toolbar {
  display: flex;
  margin-bottom: $spacing-sm;
}

.dynamic-list__items {
  min-height: 480px;
  max-height: 480px;
  padding-right: $spacing-xs;
  overflow-y: auto;
  position: relative;
}

.dynamic-list__item {
  border: 1px solid $ui-04;
  background-color: $odd-row;
}

.dynamic-list__item:not(:last-child) {
  margin-bottom: $spacing-md;
}

.dynamic-list__item .dynamic-list__head {
  display: flex;
  align-items: flex-start;
  padding: $spacing-xs;
  background-color: $ui-02;
  border-bottom: 1px solid $ui-04;
}

.dynamic-list__filter {
  flex: 1;
}

.dynamic-list__body {
  padding: $spacing-2xs 0;
}

.dynamic-list__body-row {
  padding: $spacing-3xs 0;
}

.dynamic-list__lang {
  padding: 0 $spacing-xs 0 $spacing-sm;
  font-weight: 500;
  color: $text-02;
}

.dynamic-list__contents {
  display: flex;
  flex: 1;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 32px;
}

.dynamic-list__form {
  flex: 1;
}

.dynamic-list__buttons {
  .button--link {
    padding: 0 $spacing-xs 0 $spacing-2xs;
  }

  .button--icon {
    padding: 0;
  }
}

.dynamic-list__button {
  margin-top: $spacing-2xs;
}

.dynamic-list__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
