.modal {
  @include layer("pop-out");
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: rem(320px);
  border-radius: $field-border-radius;
  background-color: $ui-02;
  z-index: z("modal");
}

.modal__head {
  display: flex;
  align-items: center;
  padding: $spacing-2xs $spacing-sm $spacing-2xs $spacing-md;
  min-height: rem(38px);
  border-bottom: 1px solid $ui-04;
}

.modal__head-close-button {
  margin-left: $spacing-lg;
}

.modal__head-title {
  flex: 1;
}

.modal__head-subtitle {
  @include line-height("body");
  @include font-size("13");
  margin-left: $spacing-2xs;
  color: $text-02;
}

.modal__head-toolbar ~ .modal__head-close-button {
  margin-left: $spacing-sm;
}

//   midal body padding
//   ==========================================
//   default ||  0
//   sm      ||  16px
//   md      ||  32px
//   lg      ||  48px
//   ==========================================
.modal__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.modal__body--sm {
  padding: $layout-2xs;
}

.modal__body--md {
  padding: $layout-sm;
}

.modal__body--lg {
  padding: $layout-sm $layout-md;
}

.modal__foot {
  @include stable-padding($spacing-xs, $spacing-sm);
  display: flex;
  background-color: $ui-01;
}

.modal__foot-main-buttons {
  display: flex;
  margin-left: auto;
}

.modal__foot .button + .button {
  margin-left: $spacing-xs;
}

//   midal size
//   ==========================================
//   xs   ||  350px
//   sm   ||  480px (450, 418)
//   md   ||  620px
//   lg   ||  900px
//   xl   ||  1180px
//   ==========================================
.modal--xs {
  width: rem(350px);
  min-height: rem(220px);
}

.modal--sm {
  width: rem(480px);
  min-height: rem(240px);
}

.modal--md {
  width: rem(620px);
}

.modal--lg {
  width: rem(900px);
}

.modal--xl {
  width: rem(1180px);
}

// -------------------------
// modal 하위에 있는 form, tab overwrite
// -------------------------

.modal .form__item {
  padding: $spacing-sm / 2 0;
}

.modal .form__label-text {
  @include font-weight("regular");
}

.modal .form__label {
  @include make-col(2);
}

.modal .form--vertical .form__label {
  width: 100%;
}

.modal .form--vertical .form__detail {
  @include line-height("body");
  margin-top: $spacing-2xs;
}

.modal .form--complex .text-input {
  width: auto;
}

.modal .tab__contents {
  flex: 1;
  padding-right: $spacing-md;
  padding-left: $spacing-md;
}

.modal__body--overflow-hidden {
  overflow: hidden;
}