// -------------------------
// modal__body padding
// 1. madal-body: 0px !default
// 2. modal__body--sm: 16px
// 3. modal__body--md: 32px
// 4. moadl-body--lg: 48px
// -------------------------
.modal {
  @include layer("pop-out");
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: $field-border-radius;
  background-color: $ui-02;
  z-index: z("modal");
}

.modal__head {
  @include stable-padding($spacing-xs, $spacing-md);
  display: flex;
  align-items: center;
  border-bottom: 1px solid $ui-04;
}

.modal__head-close-button {
  margin-left: $spacing-lg;
}

.modal__head-title {
  flex: 1;
}

.modal__head-subtitle {
  @include line-height("body");
  @include font-size("13");
  margin-left: $spacing-2xs;
  color: $text-02;
}

.modal__body--sm {
  padding: $layout-2xs;
}

.modal__body--md {
  padding: $layout-sm;
}

.modal__body--lg {
  padding: $layout-sm $layout-md;
}

.modal__foot {
  @include stable-padding($spacing-xs, $spacing-sm);
  display: flex;
  background-color: $ui-01;
}

.modal__foot-main-buttons {
  display: flex;
  margin-left: auto;
}

.modal__foot .button + .button {
  margin-left: $spacing-xs;
}

//   midal size
//   ==========================================
//   xs   ||  350px
//   sm   ||  480px (450, 418)
//   md   ||  620px
//   lg   ||  900px
//   xl   ||  1180px
//   ==========================================
.modal--xs {
  width: rem(350px);
}

.modal--sm {
  width: rem(480px);
}

.modal--md {
  width: rem(620px);
}

.modal--lg {
  width: rem(900px);
}

.modal--xl {
  width: rem(1180px);
}
