.progressbar {
  overflow: hidden;
  position: relative;
  height: 18px;
  background-color: $ui-04;
  border-radius: 4px;
}

.progressbar__gage {
  z-index: z('float');
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 70%;
  background-color: $primary;
}

.progressbar__text {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $ui-02;
}

// -------------------------
// progressbar--normal
// -------------------------
.progressbar--normal {
  .progressbar__gage {
    background-color: $secondary;
  }
}

// -------------------------
// progressbar--critical
// -------------------------
.progressbar--critical {
  .progressbar__gage {
    background-color: $negative;
  }
}

// -------------------------
// progressbar--major
// -------------------------
.progressbar--major {
  .progressbar__gage {
    background-color: #34DCA1;
  }
}