//----------------------------------------------
// Text input
// ---------------------------------------------
// mixins
@mixin text-input {
  @include font-family("sans");
  @include font-size("14");
  @include font-weight("regular");
  position: relative;
  background-color: $ui-02;
  width: 100%;
  height: rem(32px);
  padding: 0 $spacing-sm;
  color: $text-01;
  border: 1px solid $ui-04;
  border-radius: $field-border-radius;
  transition: all $duration-fast-01 motion(standard, productive);
  outline: none;

  &:hover {
    border-color: darken($ui-04, 15%);
  }

  &:active,
  &:focus {
    border-color: $secondary;
    box-shadow: 0 0 4px rgba($secondary, 0.65);
  }

  // chrom에서 자동저장된 input의 배경컬러를 제어
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $ui-02 inset;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    cursor: not-allowed;
    background-color: $ui-02;
    border-color: $ui-04;
    opacity: 0.5;
    box-shadow: none;

    ~ .text-input-group__button {
      display: none;
    }
  }

  &[readonly],
  &[readonly]:hover,
  &[readonly]:focus {
    cursor: default;
    border-color: transparent;
    background-color: $ui-02;
    box-shadow: none;
  }

  &::placeholder {
    @include font-weight("light");
    color: $text-05;
  }
}

@mixin text-input--lg {
  @include font-size("16");
  padding: 0 $spacing-md;
  height: rem(40px);
}

@mixin text-input--sm {
  @include font-size("12");
  padding: 0 $spacing-xs;
  height: rem(24px);
}

// -------------------------
// classes
// -------------------------
.text-input {
  @include text-input;
}

.text-input--lg {
  @include text-input--lg;
}

.text-input--sm {
  @include text-input--sm;
}

// -------------------------
// input + icon
// -------------------------
// TODO: IMA 반영시 주의해야할 점
// 1. .text-input-group__input -> .text-input 으로 변경
.text-input-group {
  position: relative;
}

.text-input-group__input {
  @include text-input;
}

.text-input-group__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $spacing-xs;
  width: 20px;
  height: 20px;
  border: none;
  padding: 0;
  z-index: z("float");

  .svg-icon {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  & ~ .text-input {
    $icon-spacing: 8px + 20px + 4px;
    padding-left: $icon-spacing;
  }
}

.text-input-group__clear-button {
  @include button-normal;
  @include position-right-center(6px);
  width: $spacing-md;
  height: $spacing-md;
  border: 0;
  background-color: transparent;
  z-index: z("float");
  cursor: pointer;

  .svg-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: lighten($icon-01, 18%);
  }

  &:hover {
    .svg-icon {
      fill: $icon-01;
    }
  }
}
.text-input-group__button {
  @include button-normal;
  @include position-right-center(8px);
  width: rem(20px);
  height: rem(20px);
  border: 0;
  background-color: transparent;
  z-index: z("float");
  cursor: pointer;

  .svg-icon {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: lighten($icon-01, 18%);
  }

  &:hover {
    .svg-icon {
      fill: $icon-01;
    }
  }
}

.text-input-group--lg {
  .text-input {
    @include text-input--lg;
  }

  .text-input-group__icon {
    left: $spacing-sm;

    & ~ .text-input {
      $icon-spacing: 12px + 20px + 4px; // left + width + text사이와의 여백
      padding-left: $icon-spacing;
    }
  }
}

.text-input-group--sm {
  .text-input {
    @include text-input--sm;
  }

  .text-input-group__icon {
    left: $spacing-2xs;
    width: 14px;
    height: 14px;

    & ~ .text-input {
      $icon-spacing: 4px + 14px + 2px; // left + width + text사이와의 여백
      padding-left: $icon-spacing;
    }
  }

  .text-input-group__clear-button,
  .text-input-group__button {
    right: 4px;
    width: 14px;
    height: 14px;
  }
}

.text-input-group--disabled {
  cursor: not-allowed;

  .text-input-group__clear-button,
  .text-input-group__button {
    opacity: 0.4;
    cursor: not-allowed;
  }
  .svg-icon {
    opacity: 0.6;
  }
}

// -------------------------
// input + suffix
// -------------------------
//
.text-input-wrap {
  display: flex;
  align-items: center;
}

.text-input-wrap__suffix {
  margin-left: $spacing-2xs;
  color: $text-02;
  flex-shrink: 0;
}

// -------------------------
// input hidable
// -------------------------
//
.text-input-group--hidable {
  .text-input-group__button {
    display: none;
  }
  &:hover {
    .text-input-group__button {
      display: flex;
    }
  }
}
