//----------------------------------------------
// Text input
// ---------------------------------------------
// mixins
@mixin text-input {
  @include font-family("sans");
  @include font-size("14");
  @include font-weight("regular");
  position: relative;
  background-color: $ui-02;
  width: 100%;
  height: rem(32px);
  padding: 0 $spacing-sm;
  color: $text-01;
  border: 1px solid $ui-04;
  border-radius: $field-border-radius;
  transition: all $duration-fast-01 motion(standard, productive);
  outline: none;

  //IE에서 input focus 시 생기는 clear button 제거
  &::-ms-clear {
    display: none;
  }

  &:hover {
    border-color: darken($ui-04, 15%);
  }

  &:active,
  &:focus {
    border-color: $secondary;
    box-shadow: 0 0 rem(4px) rgba($secondary, 0.65);
  }

  // chrom에서 자동저장된 input의 배경컬러를 제어
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $ui-02 inset;
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:focus {
    cursor: not-allowed;
    background-color: $ui-02;
    border-color: $ui-04;
    opacity: 0.5;
    box-shadow: none;

    ~ .text-input-group__button {
      display: none;
    }
  }

  &[readonly],
  &[readonly]:hover,
  &[readonly]:focus {
    cursor: default;
    border-color: transparent;
    background-color: $ui-02;
    box-shadow: none;
  }

  &::placeholder {
    @include font-weight("light");
    color: $text-05;
  }
}

@mixin text-input--lg {
  @include font-size("16");
  padding: 0 $spacing-md;
  height: rem(40px);
}

@mixin text-input--sm {
  @include font-size("12");
  padding: 0 $spacing-xs;
  height: rem(24px);
}

// -------------------------
// classes
// -------------------------
.text-input {
  @include text-input;
}

.text-input--lg {
  @include text-input--lg;
}

.text-input--sm {
  @include text-input--sm;
}

// -------------------------
// input + icon
// -------------------------
// TODO: IMA 반영시 주의해야할 점
// 1. .text-input-group__input -> .text-input 으로 변경
.text-input-group {
  position: relative;

  .text-input {
    // 뒤에 button이 있는 경우
    &:not(&:last-child) {
      padding-right: $spacing-lg;
    }

    &:nth-last-child(3):not(div) {
      padding-right: ($spacing-xl * 2) - $spacing-3xs !important;
    }
  }
}

.text-input-group__input {
  @include text-input;
}

.text-input-group__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $spacing-xs;
  width: rem(20px);
  height: rem(20px);
  border: none;
  padding: 0;
  z-index: z("float");

  .svg-icon {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  & ~ .text-input {
    $icon-spacing: 8px + 20px + 4px;
    padding-left: $icon-spacing;
  }
}

.text-input-group__clear-button {
  @include button-normal;
  @include position-right-center(6px);
  width: rem(18px);
  height: rem(18px);
  padding: 0;
  border: 0;
  background-color: transparent;
  z-index: z("float");
  cursor: pointer;

  .svg-icon {
    width: rem(18px);
    height: rem(18px);
    fill: lighten($icon-01, 18%);
  }

  &:hover,
  &:focus-visible:not(:disabled) {
    .svg-icon {
      fill: $icon-01;
    }
  }

  // 뒤에 search-button 있는 경우
  &:not(&:last-child) {
    right: $spacing-2xl;
  }
}

.text-input-group__search-button {
  @include position-right-center(1px);
  z-index: z("float");
  height: rem(30px);
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
}

.text-input-group__button {
  @include button-normal;
  @include position-right-center(8px);
  width: rem(20px);
  height: rem(20px);
  padding: 0;
  border: 0;
  background-color: transparent;
  z-index: z("float");
  cursor: pointer;

  .svg-icon {
    fill: lighten($icon-01, 18%);
  }

  &:hover {
    .svg-icon {
      fill: $icon-01;
    }
  }
}

.text-input-group--lg {
  .text-input {
    @include text-input--lg;

    &:nth-last-child(3):not(div) {
      padding-right: $spacing-sm * 6 !important;
    }
  }

  .text-input-group__icon {
    left: $spacing-sm;

    & ~ .text-input {
      $icon-spacing: 12px + 20px + 4px; // left + width + text사이와의 여백
      padding-left: $icon-spacing;
    }
  }
  .text-input-group__clear-button {
    width: rem(20px);
    height: rem(20px);

    // 뒤에 search-button 있는 경우
    &:not(&:last-child) {
      right: $spacing-3xl;
    }
    .svg-icon {
      width: rem(20px);
      height: rem(20px);
    }
  }

  .text-input-group__search-button {
    height: rem(38px);
  }
}

.text-input-group--sm {
  .text-input {
    @include text-input--sm;

    &:nth-last-child(3):not(div) {
      padding-right: $spacing-3xl - $spacing-3xs !important;
    }
  }

  .text-input-group__icon {
    left: $spacing-2xs;
    width: rem(14px);
    height: rem(14px);

    & ~ .text-input {
      $icon-spacing: 4px + 14px + 2px; // left + width + text사이와의 여백
      padding-left: $icon-spacing;
    }
  }

  .text-input-group__clear-button,
  .text-input-group__button {
    right: rem(4px);
    width: rem(14px);
    height: rem(14px);
  }

  .text-input-group__clear-button {
    // 뒤에 search-button 있는 경우
    &:not(&:last-child) {
      right: $spacing-xl;
    }

    .svg-icon {
      width: rem(14px);
      height: rem(14px);
    }
  }

  .text-input-group__search-button {
    height: rem(22px);
  }
}

.text-input-group--disabled {
  cursor: not-allowed;

  .text-input-group__clear-button,
  .text-input-group__search-button,
  .text-input-group__button {
    opacity: 0.4;
    cursor: not-allowed;
  }
  .svg-icon {
    opacity: 0.6;
  }
}

// -------------------------
// input + suffix
// -------------------------
.text-input-wrap {
  display: flex;
  align-items: center;
}

.text-input-wrap__suffix {
  margin-left: $spacing-2xs;
  color: $text-02;
  flex-shrink: 0;
}

.text-input-wrap__prefix {
  padding-right: $spacing-2xs;
  color: $text-02;
  overflow-wrap: break-word;
  word-break: keep-all;
}

// -------------------------
// input with range
// -------------------------
input[type="range"] + .text-input-wrap .text-input {
  width: rem(80px);
}

// -------------------------
// text edit + text input
// -------------------------
.text-edit {
  display: flex;
  align-items: center;
  padding: $spacing-2xs 0;
}

.text-edit__title {
  @include font-weight("regular");
  @include text-overflow();
}

.text-edit__button {
  margin-left: $spacing-2xs;
}
