// -------------------------
// Timepicker
// -------------------------
.time-picker {
  @include picker;
  display: flex;
  align-items: center;
  justify-content: center;
}

// dropdown container
.time-picker-container {
  @include list;
  flex: auto;
  height: rem(258px);
  width: 100%;
  min-width: rem(128px);
}

.time-picker-container__list {
  width: 33.33%;
  overflow-y: auto;

  &:not(:last-child) {
    border-right: 1px solid $ui-04;
  }
}

.time-picker-container__button {
  text-align: center;
}

.time-picker-container__list + .time-picker-container__list::before {
  display: none;
}
