.time-picker {
  @include picker;
}

// dropdown container
.time-picker-container {
  @include list;
  flex: auto;
  height: rem(258px);
  width: 100%;
  min-width: 128px;
}

.time-picker-container__list {
  width: calc(100% / 3);
  overflow-y: auto;

  &:not(:last-child) {
    border-right: 1px solid $ui-04;
  }
}

.time-picker-container__button {
  text-align: center;
}
