// -------------------------
// Toggle Button
// -------------------------
.toggle-button {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:not(:first-child) {
    margin-left: $spacing-2xs;
  }
}

.toggle-buttons {
  display: flex;
}

.toggle-button__item {
  @include button;
  @include button-theme(rgba(171, 175, 186, 0.5), $text-04, $ui-04, $text-05);

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &--disabled,
  &--disabled:hover,
  &--disabled:focus {
    background-color: $text-05;
  }
}

.toggle-button__item:not(:only-child):first-child {
  border-radius: 2px 0 0 2px;
}

.toggle-button__item:not(:first-child),
.toggle-button__item:not(:last-child) {
  border-radius: 0;
}

.toggle-button__item:not(:only-child):last-child {
  border-radius: 0 2px 2px 0;
}

.toggle-button__text {
  @include font-size("13");
  line-height: 1;
  letter-spacing: rem(-0.5px);
}

.toggle-button__item--selected.toggle-button__item--disabled,
.toggle-button__item--selected:disabled,
.toggle-button__item--selected:disabled:hover,
.toggle-button__item--selected:disabled:focus {
  background-color: $primary;
}

// -------------------------
// Theme
// -------------------------
.toggle-button__item--secondary {
  @include button;
  @include button-theme(
    $ui-02,
    $text-02,
    rgba($secondary, 0.14),
    rgba($secondary, 0.14),
    $ui-04
  );
  display: flex;
  flex-direction: column;
  height: rem(74px);
  width: 100%;
  padding: $spacing-xs $spacing-2xs;

  &:hover {
    color: $secondary;

    .svg-icon {
      fill: $secondary;
    }
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus,
  &--disabled,
  &--disabled:hover,
  &--disabled:focus {
    background-color: $ui-02 !important;
    opacity: 0.5;
    color: $text-02;
    cursor: not-allowed;

    .svg-icon {
      fill: $text-02;
    }
  }

  &.toggle-button__item--selected {
    background-color: rgba($secondary, 0.14);
    border-color: $secondary;
    color: $secondary;

    &:hover:not(:disabled) {
      background-color: rgba($secondary, 0.14);
    }

    .svg-icon {
      fill: $secondary;
    }
  }
}

.toggle-button__item--secondary .svg-icon {
  @include svg-icon-size(32px);
}

.toggle-button__item--secondary .svg-icon + .toggle-button__text,
.toggle-button__item--secondary .img-icon + .toggle-button__text {
  margin-top: $spacing-3xs;
  margin-left: 0;
}

.toggle-button__item--secondary .toggle-button__text {
  white-space: normal;
}

.toggle-button__item--selected {
  @include button--primary;
}

.toggle-button__item--icon {
  @include button--icon(6px, 20px);
}

// tertiary Theme
.toggle-button--tertiary {
  .toggle-button__item {
    @include button-theme($ui-02, $text-02, $ui-01, $ui-03, $ui-04);

    &:not(:first-child) {
      width: rem(32px);
      border-left: transparent;
    }
  }

  .toggle-button__item--selected,
  .toggle-button__item--selected.toggle-button__item--disabled,
  .toggle-button__item--selected:disabled,
  .toggle-button__item--selected:disabled:hover,
  .toggle-button__item--selected:disabled:focus {
    background-color: $ui-03;
  }

  .toggle-button__item--disabled,
  .toggle-button__item--disabled:hover,
  .toggle-button__item--disabled:focus,
  .toggle-button__item--disabled:disabled,
  .toggle-button__item--disabled:disabled:hover,
  .toggle-button__item--disabled:disabled:focus {
    background-color: $ui-02 !important;
    opacity: 0.25;
    cursor: not-allowed;
  }
}

// -------------------------
// Size
// -------------------------
.toggle-button__item--sm {
  @include button--sm;
}

.toggle-button__item--icon.toggle-button__item--sm {
  @include button--icon(4px, 16px);
}

// -------------------------
// toggle-button-list
// -------------------------
.toggle-button-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -$spacing-2xs;
  margin-right: -$spacing-2xs;
  margin-left: -$spacing-2xs;
}

.toggle-button-list .toggle-button {
  margin-left: 0;
  padding: $spacing-2xs;
}

.toggle-button-list .toggle-button__text {
  width: 100%;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: normal;
}
