.tooltip {
  z-index: z("tooltip");
  position: absolute;
  max-width: rem(350px);
  padding: $spacing-xs;
  background-color: $text-03;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.07);
  transition-duration: $duration-fast-02;
  transition-timing-function: ease-in-out;
  // white-space: nowrap;

  &:after {
    content: '';
    position: absolute;
    width: rem(8px);
    height: rem(8px);
    background-color: $text-03;
    transform: rotate(45deg);
  }

  // Tooltip 위로 위치
  &.tooltip--top {

    &:after {
      top: calc(100% - 4px);
      left: 50%;
      margin-left: -$spacing-2xs;
    }
  }

  // // Tooltip 아래로 위치
  &.tooltip--bottom {

    &:after {
      top: -4px;
      left: 50%;
      margin-left: -$spacing-2xs;
    }
  }

  // Tooltip 왼쪽으로 위치
  &.tooltip--left {

    &:after {
      top: 50%;
      right: -4px;
      margin-top: -$spacing-2xs;
    }
  }

  // Tooltip 오른쪽으로 위치
  &.tooltip--right {

    &:after {
      top: 50%;
      left: -4px;
      margin-top: -$spacing-2xs;
    }
  }

  &.tooltip--left-bottom {

    &:after {
      top: -4px;
      left: 12px;
    }
  }

  &.tooltip--left-top {

    &:after {
      top: calc(100% - 4px);
      left: 12px;
    }
  }

  &.tooltip--top-left {

    &:after {
      top: rem(8px);
      right: -4px;
    }
  }

  &.tooltip--top-right {

    &:after {
      top: rem(8px);
      left: -4px;
    }
  }

  &.tooltip--right-bottom {

    &:after {
      top: -4px;
      right: 12px;
    }
  }

  &.tooltip--right-top {

    &:after {
      top: calc(100% - 4px);
      right: 12px;
    }
  }

  &.tooltip--bottom-left {

    &:after {
      bottom: rem(8px);
      right: -4px;
    }
  }

  &.tooltip--bottom-right {

    &:after {
      bottom: rem(8px);
      left: -4px;
    }
  }
}

.tooltip__text {
  @include font-size("13");
  @include line-height("body");
  display: inline-block;
  color: $ui-02;
}