<div class="side-nav modal__body--sm">
    <div class="text-input-group">
      <span class="text-input-group__icon">
        <svg class="svg-icon" aria-hidden="true">
          <use xlink:href="#search"></use>
        </svg>
      </span>
      <input type="text" class="text-input" placeholder="검색어를 입력하세요." value="01">
      <button class="text-input-group__clear-button">
        <svg class="svg-icon" aria-hidden="true">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>
    <div class="side-nav__list-wrap">
      <div class="side-nav__list-title">
        전체 n개 중 검색결과 1개
      </div>
      <div class="list list--lg">
        <div class="list__body">
          <ul class="list__list">
            <li class="list__item">
              <button type="button" class="list__button">
                <span class="list__text">table <mark class="filter-highlight">01</mark></span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
            <li class="list__item">
              <button type="button" class="list__button">
                <span class="list__text">table 01</span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
            <li class="list__item list__item--selected">
              <button type="button" class="list__button">
                <span class="list__text">table 01</span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
            <li class="list__item">
              <button type="button" class="list__button">
                <span class="list__text">table 01</span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
            <li class="list__item">
              <button type="button" class="list__button">
                <span class="list__text">table 01</span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
            <li class="list__item">
              <button type="button" class="list__button">
                <span class="list__text">table 01</span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
            <li class="list__item">
              <button type="button" class="list__button">
                <span class="list__text">table 01</span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
            <li class="list__item">
              <button type="button" class="list__button">
                <span class="list__text">table 01</span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
            <li class="list__item">
              <button type="button" class="list__button">
                <span class="list__text">table 01</span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
            <li class="list__item">
              <button type="button" class="list__button">
                <span class="list__text">table 01</span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
            <li class="list__item">
              <button type="button" class="list__button">
                <span class="list__text">table 01</span>
              </button>
              <div class="side-nav__list-action-buttons">
                <button class="side-nav__list-action-button button button--underline" type="button">
                  이름 복사
                </button>
                <button class="side-nav__list-action-button button button--underline" type="button">
                  샘플데이터보기
                </button>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>