
<li class="dynamic-form__item">
  <div class="dynamic-form__handler">
    <button class="button button--icon button--tertiary button--sm">
      <svg class="svg-icon">
        <use xlink:href="#chevron-up"></use>
      </svg>
    </button>
    <button class="button button--icon button--tertiary button--sm">
      <svg class="svg-icon">
        <use xlink:href="#chevron-down"></use>
      </svg>
    </button>
  </div>
  <div class="dynamic-form__forms">
    <div class="dynamic-form__form">
      <label class="dynamic-form__form-label">
        <span class="dynamic-form__form-label-text">탭 이름</span>
      </label>
      <div class="dynamic-form__form-detail">
        <input type="text" class="text-input" placeholder="탭 이름을 입력해주세요.">
      </div>
    </div>
    <div class="dynamic-form__form">
      <label class="dynamic-form__form-label">
        <span class="dynamic-form__form-label-text">탭 값</span>
      </label>
      <div class="dynamic-form__form-detail">
          <input type="text" class="text-input" placeholder="탭 값을 입력해주세요.">
      </div>
    </div>
  </div>
  <div class="dynamic-form__action-buttons">
    <button class="button button--icon button--link button--xs">
      <svg class="svg-icon">
        <use xlink:href="#close"></use>
      </svg>
    </button>
  </div>
</li>
