
<!-- 모달 resizable 유형-->
<div class="modal modal--sm ui-resizable" style="position: relative;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">크기 조절 모달</span>
    </div>
    <div class="modal__head-close-button">
      <button class="button button--icon button--link button--sm">
        <svg class="svg-icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="modal__body modal__body--lg">
    contents
  </div>
  <!-- <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--link button--lg" type="button">
        <span>취소</span>
      </button>
      <button class="button button--primary button--lg" type="button">
        <span>저장</span>
      </button>
    </div>
  </div> -->
  <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se"></div>
</div>
<!-- // 모달 resizable 유형-->
