// 스타일 검토를 위한 예전 클래스들
.canvas .box {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

// area
.object-area .chart-container.chart-bg-none {
  background-color: transparent;
}

.object-area {
  // studio 모션 차트 옵션 설정 스타일
  .motion-chart-btn-group {
    display: flex;
  }

  .motion-chart-btn-group .button + .button {
    margin-left: $spacing-2xs;
  }
}

.object-area--bg-none {
  background: none;

  &:hover {
    background: none;
  }
}

.object-area__single-value {
  width: 100%;
  height: 100%;
  background: $ui-02;
  padding: $spacing-xs $spacing-2xs;

  // &::before {
  //   content: "";
  //   display: inline-block;
  //   width: 0;
  //   height: 100%;
  //   vertical-align: middle;
  //   margin-right: -4px;
  // }
}

.object-area__single-value-text {
  display: table-cell;
}

// 차트
.object-area__chart-container {
  width: 100%;
  height: 100%;
  background-color: $ui-02;
}

.object-area__chart {
  width: 100%;
  height: 100%;
}

.object-area__chart-container--bg-none {
  background-color: transparent;
}

.object-area__motion-chart-container,
.object-area__sankey-chart-container {
  width: 100%;
  height: 100%;
  background: $ui-01;
  padding: 8px 12px 12px;
}

.object-area__motion-chart {
  margin-top: 29px;
}

.motion-chart {
  padding-bottom: $spacing-xl;
}

.motion-chart .chart {
  margin-top: $spacing-md;
}

// grid
.object-area__pagination {
  margin-top: $spacing-2xs;
  justify-content: flex-start;
}

.object-area__grid-chart-container {
  color: $text-01;
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  padding: $spacing-xs;
  background: $ui-02;
  overflow-y: hidden;
  overflow-x: auto;
}

.grid-chart-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.grid-chart-toolbar .select {
  margin-left: $spacing-xs;
}

.grid-chart-toolbar__perpage {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-xs;
}

.grid-chart-toolbar__perpage-label {
  white-space: nowrap;
  color: $text-02;
}

.grid-chart-toolbar__count {
  margin-left: $spacing-xs;
  margin-bottom: $spacing-xs;
  color: $text-02;
  white-space: nowrap;
}

.grid-chart-toolbar__download {
  margin-bottom: $spacing-xs;
}

.grid-chart-toolbar__download .select-container {
  min-width: rem(118px);
  max-width: rem(128px);
  right: 0;
  left: auto;
}

.grid-chart-toolbar__button {
  margin-bottom: $spacing-xs;
  margin-left: $spacing-xs;
}

.grid-chart-toolbar__search {
  margin-bottom: $spacing-xs;
  width: 100%;
  min-width: 120px;
}

.grid-chart-toolbar__acc-icon {
  margin-left: $spacing-xs;
  margin-bottom: $spacing-xs;
}

// .grid-chart-toolbar *:first-child:not(.grid-chart-toolbar__perpage),
.grid-chart-toolbar__perpage + .grid-chart-toolbar__count,
.grid-chart-toolbar__perpage + .grid-chart-toolbar__download,
.grid-chart-toolbar__perpage + .grid-chart-toolbar__button,
.grid-chart-toolbar__perpage + .grid-chart-toolbar__acc-icon,
.grid-chart-toolbar__perpage + .grid-chart-toolbar__search {
  margin-left: auto;
}

// 1단으로 설정(row-1 클래스 추가) 상황
.grid-chart-toolbar.row-1 {
  flex-wrap: nowrap;
}

.grid-chart-toolbar.row-1 .grid-chart-toolbar__search {
  max-width: 300px;
  margin-left: $spacing-xs;
}

.grid-chart-wrap {
  overflow: auto;
  height: 100%;
}

// grid 차트 체크박스 커스텀 
.canvas-object.object-area {
  .ag-theme-default .ag-checkbox-input-wrapper {
    line-height: 20px;
    width: 20px;
    height: 20px;
  }

  .ag-checkbox-input-wrapper::after {
    width: 20px;
    height: 20px;
    background: url("#{$img-path}/studio/icon_check.png") no-repeat 0 0;
  }

  .ag-checkbox-input-wrapper.ag-checked::after {
    background-position: -20px 0;
  }

  .ag-checkbox-input-wrapper.ag-indeterminate::after {
    background-position: -40px 0;
  }
}

// 2019-08-27 MOD KHY
.grid-chart-wrap .ag-theme-default {
  height: 100%;
}

.grid-chart-wrap .ag-theme-default.is-fixed {
  table-layout: fixed;
}

.object-area-toolbar {
  display: flex;
  align-items: center;
  position: absolute;
  left: $spacing-xs;
  top: $spacing-xs;
  right: $spacing-xs;
}

.object-area-toolbar__count {
  line-height: 1;
  margin-right: $spacing-xs;
}

.object-area-toolbar__buttons {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.object-area-toolbar__button {
  margin-left: $spacing-xs;
}

.object-area-toolbar__motion-buttons {
  display: flex;
}

.object-area-toolbar__motion-buttons .button + .button {
  margin-left: $spacing-2xs;
}

.object-area-toolbar__motion-buttons + .object-area-toolbar__button {
  margin-left: $spacing-md;
}
// TODO: IAP 등 서비스 만들 떄 재사용 가능한 부분이 있다면 ../layout/common.scss 파일로 분리해야함.
.editor-layout {
  display: flex;
  flex-direction: column;
}

.editor-layout-head {
  @include layer("raised");
  display: flex;
  flex-direction: column;
  background-color: $ui-01;
  z-index: z("header");
}

.editor-layout-head__top-bar {
  display: flex;
  align-items: center;
  padding: $spacing-xs $spacing-xs $spacing-xs $spacing-sm;
}

.editor-layout-head__title-wrap {
  display: flex;
  flex: 1;
  align-items: center;
}

.editor-layout-head__title {
  @include line-height("heading");
  max-width: rem(400px);
}

.editor-layout-head__title-text {
  @include text-overflow;
  @include font-weight("medium");
}

.editor-layout-head__title-button {
  margin-left: $spacing-2xs;
}

.editor-layout-head__action-buttons {
  display: flex;
  align-items: center;
}

.editor-layout-head__action-buttons .button + .button {
  margin-left: $spacing-2xs;
}

.editor-layout-head__menu-bar {
  display: flex;
  background-color: $ui-02;
  padding: $spacing-xs $spacing-xs $spacing-xs $spacing-sm;
}

.editor-layout-head__menu-bar .select {
  flex-shrink: 0;
}

.editor-layout-head__object-list {
  display: flex;
  flex: 1;
  margin-left: $spacing-xs;
}

.editor-layout-head__object-list-item {
  margin-right: $spacing-2xs;
  border-radius: $button-border-radius;

  // 메뉴바 상단의 얇은 아이콘 두껍게 보이도록 처리
  .svg-icon {
    @include svg-icon-stroke($icon-01);
  }
}

.editor-layout-head__object-list-item--selected {
  background-color: darken($ui-01, 3%);
}

.editor-layout-head__additinal-buttons {
  display: flex;
}

.editor-layout-head__responsive {
  margin-right: $spacing-sm;
}

.editor-layout-body {
  display: flex;
  flex: 1;
  overflow: auto;
}

.editor-layout-body__side-penal {
  width: rem(300px);
  background-color: $ui-01;
  overflow: auto;
}

.editor-layout-body__canvas-wrap {
  flex: 1;
  padding: $layout-2xs;
  overflow: auto;
  background-color: $ui-04;
}

.editor-layout-body__canvas {
  background-color: $ui-02;
  border: 1px solid $ui-04;
}

.canvas-area {
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1px, transparent 0, transparent 10px),
    repeating-linear-gradient(-90deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05) 1px, transparent 0, transparent 10px);
  background-size: 10px 10px;
  background-position: 1px 1px;
}

// -------------------------
// 객체 기본 box 스타일
// -------------------------
.basic-drag {
  border: 1px solid $secondary;
  background-color: rgba($secondary, 0.15);
  position: absolute;
}

.multi-drag {
  border: 1px solid $secondary;
  position: absolute;
}

.group-component {
  border: 1px dashed $secondary;
  position: absolute;
}

.prevent-click {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}

// iframe, image 객체등에서 사용됨
.canvas-object__iframe {
  position: absolute;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;

  body {
    overflow: hidden;
  }
}

// -------------------------
// 캔버스 내부 객체
// -------------------------
.canvas-object {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}

.canvas-object-inner {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100%;
  z-index: z("float");
  overflow: hidden;
}

// 기본 박스 스타일들
.object-area,
.object-image,
.object-renew,
.object-map,
.object-ima,
.object-growth-rate {
  background: $odd-row;
  border: 1px solid transparent;

  &:hover:not([preview]) {
    border: 1px solid $secondary;
  }

  &.canvas-object--active {
    background-color: $ui-01;
  }
}

.object-list {
  background: $ui-02;
  border: 1px solid transparent;

  &:hover:not([preview]) {
    border: 1px solid $secondary;
  }
}

.object-html {
  background: $ui-02;
  border: 1px solid $ui-04;

  &:hover:not([preview]) {
    border: 1px solid $secondary;
  }
}

.object-tag:not([preview]),
.object-url:not([preview]),
.object-check-and-radio:not([preview]),
.object-slider:not([preview]) {
  border: 1px dashed $ui-04;
}

.object-tag::after,
.object-tab::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 0;
  z-index: 4;
  pointer-events: none;
  margin: -1px;
}

.object-tag:hover:not([preview])::after,
.object-tab:hover:not([preview])::after,
.object-url:hover:not([preview]),
.object-check-and-radio:hover:not([preview]),
.object-slider:hover:not([preview]) {
  border: 1px solid $secondary;
}

// background-image를 사용하는 유형 area, image, period

@function areaIcon($color) {
  $color: "%23" + $color;
  $icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 32 32'%3E%3Cpath fill='#{$color}' d='M2.2 28V2.2h1.6v26h3.4v-16h7.6v16h4.4v-12h7.6v12h3v1.6H4A1.8 1.8 0 012.2 28zm11-14.2H8.8v14.4h4.4V13.8zm12 4h-4.4v10.4h4.4V17.8z' clip-rule='evenodd'/%3E%3Cpath fill='#{$color}' d='M10.131 5.7c.35.01.693.12.984.323l10.58 7.757 3.603-4.86 1.285.952-3.485 4.702a1.802 1.802 0 01-2.51.378L10.025 7.21 7.063 11.22l-1.283-.954 2.863-3.84a1.798 1.798 0 011.488-.725z'/%3E%3C/svg%3E";
  @return url($icon);
}

@function imageIcon($color) {
  $color: "%23" + $color;
  $icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 32 32'%3E%3Cpath fill='#{$color}' d='M27.216 5H4.784A1.786 1.786 0 003 6.784v18.353a1.786 1.786 0 001.784 1.785h22.432A1.787 1.787 0 0029 25.137V6.784A1.786 1.786 0 0027.216 5zM4.784 6.53h22.432a.255.255 0 01.255.254v14.468l-4.092-4.091a1.786 1.786 0 00-2.523 0l-2.636 2.636a.255.255 0 01-.361 0l-5.695-5.695a1.786 1.786 0 00-2.523 0l-5.112 5.11V6.785a.255.255 0 01.255-.255zm22.432 18.862H4.784a.255.255 0 01-.255-.255v-3.762l6.193-6.192a.255.255 0 01.36 0l5.696 5.696a1.786 1.786 0 002.523 0l2.636-2.637a.255.255 0 01.361 0l5.173 5.173v1.722a.255.255 0 01-.255.255zm-8.549-12.099a1.274 1.274 0 111.803-1.802 1.274 1.274 0 01-1.803 1.802z'/%3E%3C/svg%3E%0A";
  @return url($icon);
}

@function noImageIcon($color) {
  $color: "%23" + $color;
  $icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 32 32'%3E%3Cpath fill='#{$color}' d='M4.784 26.922c-.473 0-.926-.19-1.26-.524l1.26-1.006h22.432a.255.255 0 00.255-.255v-1.722l-5.173-5.173a.255.255 0 00-.36 0L19.3 20.88a1.786 1.786 0 01-2.523 0L13.93 18.03l1.081-1.081 2.848 2.847a.255.255 0 00.36 0l2.637-2.636a1.786 1.786 0 012.523 0l4.092 4.091V6.784a.256.256 0 00-.075-.18l1.08-1.08c.335.334.524.787.524 1.26v18.353a1.786 1.786 0 01-1.784 1.785H4.784z'/%3E%3Cpath fill-rule='evenodd' fill='#{$color}' d='M31.358 4.518L2 29 .719 27.464 30.077 2.982l1.281 1.536z' clip-rule='evenodd'/%3E%3Cpath fill='#{$color}' d='M3.523 5.523A1.786 1.786 0 014.784 5H24l-1.882 1.53H4.784a.255.255 0 00-.255.254v12.429l5.112-5.111a1.787 1.787 0 012.523 0l.398.398-1.19.973-.29-.29a.255.255 0 00-.36 0L4.5 21 3 22.359V6.784c0-.473.189-.926.523-1.26z'/%3E%3Cpath fill='#{$color}' d='M16.055 11.644a1.276 1.276 0 102.441-.74 1.276 1.276 0 00-2.441.74z'/%3E%3C/svg%3E%0A";
  @return url($icon);
}

@function renewIcon($color) {
  $color: "%23" + $color;
  $icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 32 32'%3E%3Cpath fill='#{$color}' d='M3 16a16.433 16.433 0 00.001.2M25.388 22.11a.2.2 0 00-.168-.31H21a.8.8 0 110-1.6h5.8a1 1 0 011 1V27a.8.8 0 11-1.6 0v-2.68a.2.2 0 00-.354-.128 12.8 12.8 0 01-22.607-7.18c-.035-.446.328-.812.776-.812.437 0 .79.35.828.786a11.2 11.2 0 0020.545 5.123zM28.8 15.813v-.031l-.001-.169M6.412 9.704a.2.2 0 00.168.31h4.22a.8.8 0 110 1.6H5a1 1 0 01-1-1v-5.8a.8.8 0 111.6 0v2.68a.2.2 0 00.354.127 12.8 12.8 0 0122.607 7.18c.035.446-.328.812-.776.812-.436 0-.79-.35-.828-.786A11.2 11.2 0 006.412 9.704z'/%3E%3Cpath fill='#{$color}' d='M15.5 11.75a.75.75 0 00-1.5 0v5.5c0 .414.336.75.75.75h5.5a.75.75 0 000-1.5H15.5v-4.75z'/%3E%3C/svg%3E%0A";
  @return url($icon);
}

@function growthRateIcon($color) {
  $color: "%23" + $color;
  $icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Cpath fill='#{$color}' d='M2 9.509a.75.75 0 01.75-.75h11.517a.75.75 0 010 1.5H2.75a.75.75 0 01-.75-.75zM17 9.509a.75.75 0 01.75-.75h11.517a.75.75 0 010 1.5H17.75a.75.75 0 01-.75-.75z' clip-rule='evenodd'/%3E%3Cpath fill-rule='evenodd' fill='#{$color}' d='M8.509 16.017a.75.75 0 01-.75-.75V3.75a.75.75 0 011.5 0v11.517a.75.75 0 01-.75.75zM9 20.485L4.613 28.01h8.777l-4.388-7.524zm.432-2.236a.5.5 0 00-.863 0l-6.13 10.508a.5.5 0 00.432.752H15.13a.5.5 0 00.432-.752l-6.13-10.508zM23 26.532l-4.388-7.523h8.777L23 26.532zm.432 2.236a.5.5 0 01-.863 0l-6.13-10.508a.5.5 0 01.432-.752H29.13a.5.5 0 01.432.753l-6.13 10.507z' clip-rule='evenodd'/%3E%3C/svg%3E";
  @return url($icon);
}

// https://yoksel.github.io/url-encoder/ 사이트에서 변환 필요
// area
.object-area {
  background: $odd-row areaIcon(77889a) no-repeat center;

  &:hover:not([preview]) {
    background: $ui-01 areaIcon(4daeff) no-repeat center;
  }

  &.canvas-object--active {
    background: $ui-01 areaIcon(4daeff) no-repeat center;
  }
}

.object-image {
  background: $odd-row imageIcon(77889a) no-repeat center;

  &:hover:not([preview]) {
    background: $ui-01 imageIcon(4daeff) no-repeat center;
  }

  &.canvas-object--active {
    background: $ui-01 imageIcon(4daeff) no-repeat center;
  }
}

.object-image--error {
  background: $odd-row noImageIcon(77889a) no-repeat center;

  &:hover:not([preview]) {
    background: $ui-01 noImageIcon(4daeff) no-repeat center;
  }

  &.canvas-object--active {
    background: $ui-01 noImageIcon(4daeff) no-repeat center;
  }
}

.object-renew {
  background: $odd-row renewIcon(77889a) no-repeat center;

  &:hover:not([preview]) {
    background: $ui-01 renewIcon(4daeff) no-repeat center;
  }

  &.canvas-object--active {
    background: $ui-01 renewIcon(4daeff) no-repeat center;
  }
}

// 증감률
.object-growth-rate {
  background: $odd-row growthRateIcon(77889a) no-repeat center;

  &:hover:not([preview]) {
    background: $ui-01 growthRateIcon(4daeff) no-repeat center;
  }

  &.canvas-object--active {
    background: $ui-01 growthRateIcon(4daeff) no-repeat center;
  }
}

.object-growth-rate--bg-none {
  background: none;

  &:not([preview]) {
    border: 1px dashed $ui-04;
  }

  &:hover:not([preview]) {
    background: none;
    border: 1px solid $secondary;
  }
}

.growth-rate {
  display: flex;
  flex-direction: row;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: $spacing-xs;
}

.growth-rate__items {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.growth-rate__amount {
  align-items: center;
}

.growth-rate__items + .growth-rate__items {
  margin-left: $spacing-lg;
}

.growth-rate__item {
  display: flex;
  align-items: center;
}

.growth-rate__item + .growth-rate__item {
  margin-top: $spacing-3xs;
}

.object-area--active:not([preview]).object-area--bg-none,
.canvas-object--active:not([preview]).object-renew--filled,
.canvas-object--active:not([preview]).object-growth-rate--bg-none {
  background: none;
}

// check-and-radio
.object-check-and-radio {
}

.vertical-align-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.vertical-align-inner {
  display: table;
  width: 100%;
  height: 100%;
}

.vertical-align-inner__table-cell {
  display: table-cell;
  position: relative;
}

.vertical-align-inner__table-cell.col .checkbox,
.vertical-align-inner__table-cell.col .radio {
  display: inline-flex;
  vertical-align: middle;
}

.vertical-align-inner__table-cell.top {
  vertical-align: top;
}

.vertical-align-inner__table-cell.middle {
  vertical-align: middle;
}

.vertical-align-inner__table-cell.bottom {
  vertical-align: bottom;
}

// combo
.object-combo-box {
}

.object-combo-box .select,
.object-combo-box .select-selector,
.object-combo-box .select-selector__input {
  width: 100%;
  height: 100%;
}

.object-combo-box .select-selector__icon-button {
  height: 100%;
}

// datetime-range-picker
.object-datetime-range-picker {
  display: flex;
}

.object-datetime-range-picker .date-picker {
  width: 100%;
  height: 100%;
}

.object-datetime-range-picker .select {
  height: 100%;

  .select-selector {
    height: 100%;
  }
}

.object-datetime-range-picker .division-line {
  margin: $spacing-xs;
  height: auto;
}

.object-datetime-range-picker .datetime-range-picker__buttons {
  display: flex;
  align-items: center;
}

.date-picker-selector__input-separator {
  margin: 0 $spacing-2xs;
  color: $text-02;
}

// renew
.object-renew--filled {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;

  &:not([preview]) {
    border: 1px dotted $ui-04;
  }

  &:hover:not([preview]) {
    background: none;
  }
}

.renew-time {
  color: $text-02;
}

.renew-time__title {
  color: $text-02;
}

.renew-time__info-item:not(:last-child) {
  margin-right: $spacing-sm;
}

.renew-time__info-time {
  @include font-weight("regular");
  margin-left: $spacing-2xs;
}

// label
.object-label:not([preview]) {
  border: 1px dashed $ui-04;

  &:hover:not([preview]) {
    border: 1px solid $secondary;
  }
}

.object-label__writing-mode-box {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.object-label__align-box {
  display: table;
  width: 100%;
  height: 100%;

  &[contenteditable] {
    user-select: text;
  }

  &:focus-visible {
    outline: 0;
  }
}

.object-label__text {
  display: table-cell;
  word-break: break-all;
  overflow: hidden;
}

// ellipse
.object-ellipse {
  border-radius: 50%;
}

.object-editor {
  box-sizing: content-box;
}

.object-input .text-input {
  width: 100%;
  height: 100%;
}

.object-tab .tab {
  width: 100%;
  height: 100%;
}

.object-fileupload .upload {
  width: 100%;
  height: 100%;
}

.object-button .button {
  width: 100%;
  height: 100%;
}

.object-button__text {
  @include text-overflow(100%);
  position: absolute;
  padding: 0 $spacing-sm;
}

.object-ima__move-buttons {
  position: absolute;
  bottom: 160px;
  left: 16px;
  z-index: 6;
}

.object-ima__move-button {
  width: 40px;
  height: 40px;
  background-color: #757c95;
  border: 0;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.06), 0px 3px 2px rgba(0, 0, 0, 0.12), 0px 2px 8px rgba(0, 0, 0, 0.08), inset 0px -2px 1px rgba(0, 0, 0, 0.04), inset 0px 38px 0px rgba(255, 255, 255, 0.16);
  }

  &:active {
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.24), inset 0px 100px 16px rgba(0, 0, 0, 0.16);
  }
}

.object-ima__move-button .svg-icon {
  width: rem(24px);
  height: rem(24px);
  fill: $text-04;
}

.object-ima__layer-name-wrap {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 50%;
  bottom: 16px;
  max-width: calc(100% - 72px);
  transform: translateX(-50%);
  z-index: 6;
}

.object-ima__layer-name {
  @include line-height("title");
  display: inline-block;
  padding: $spacing-2xs;
  background-color: rgba($ui-02, 0.8);
  border-radius: 2px;
  color: #242e3d;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.07), 0px 2px 2px rgba(0, 0, 0, 0.06);
  word-break: break-all;
}

.object-map__move-buttons {
  position: absolute;
  top: 12px;
  right: 12px;
  z-index: 6;
}

.object-map__layer-name {
  position: absolute;
  top: 12px;
  left: 54px;
  z-index: 6;
}

.object-map__layer-name-text {
  @include font-size("13");
  display: inline-block;
  background-color: $overlay-02;
  border: 1px solid rgba($ui-04, 0.9);
  color: $text-01;
  font-weight: 400;
  padding: $spacing-3xs $spacing-2xs;
}

.leaflet-layers {
  position: relative;
  display: inline-block;
}

.leaflet-layers__button {
  width: 34px;
  height: 34px;
}

.leaflet-layers.on .context-menu {
  display: block;
}

.leaflet-layers__context-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 40px;
  min-width: rem(100px);
  max-width: rem(200px);
  max-height: rem(200px);
  overflow: auto;
  z-index: 11;
}

.leaflet-layers__context-menu-close-button {
  display: flex;
  justify-content: flex-end;
}

.object-map__loading-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  z-index: 4;
}

.object-hidden {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-05;

  &:not([preview]) {
    padding: $spacing-2xs $spacing-sm;
    background-color: $ui-01;
    border: 1px dashed $ui-04;
  }

  &:hover:not([preview]) {
    border: 1px solid $secondary;
  }

  &.canvas-object--active {
    background-color: $ui-01;
  }
}

.object-hidden__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.object-hidden__popout-button {
  display: none;
  padding: 0;
  margin-left: $spacing-3xs;

  .svg-icon {
    fill: $secondary;
  }

  &:hover .svg-icon {
    fill: $hover-secondary;
  }
}

.object-hidden__icon {
  margin-right: $spacing-3xs;
}

.object-hidden__text {
  @include text-overflow;
}

.object-hidden__inner--loaded {
  color: $secondary;

  .object-hidden__icon {
    fill: $secondary;
  }

  .object-hidden__popout-button {
    display: inline-flex;
  }
}

.object-hidden-input .text-input {
  width: 100%;
  height: 100%;
  border-color: $ui-04;
  border-style: dashed;

  &[readonly]:hover,
  &[readonly]:focus {
    border-color: darken($ui-04, 15%);
  }
}

.object-hidden > .select {
  position: absolute;
  top: rem(5px);
  left: rem(28px);
  color: $text-01;
  z-index: 11;
}

.object-visible {
  border-style: solid;
}

// html
// TODO: BEM 적용 및 개선 필요
.object-html__view {
  text-align: left;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.object-html__layer-button {
  position: absolute;
  text-align: right;
  z-index: 8;
  top: 12px;
  right: 12px;
}

.object-html__view pre {
  border: 0;
  padding: 10px;
  text-align: left;
  height: 100%;
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
}

.object-html__draw {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
}

// image
.object-image--inserted,
.canvas-object--active.object-image--inserted,
.object-image--inserted:hover:not([preview]) {
  background: none;
  border: 1px solid transparent;
}

// -------------------------
// canvas-object별 재정의
// -------------------------
.canvas-object .list,
.canvas-object .tags {
  width: 100%;
  height: 100%;
}

.canvas-object .tags,
.canvas-object .checkboxs,
.canvas-object .radios {
  height: 100%;
  padding: $spacing-2xs;
  overflow: auto;
}

.canvas-object .text-area {
  height: 100%;
}

.canvas-object .date-picker,
.canvas-object .time-picker {
  width: 100%;
  height: 100%;

  .date-picker-selector,
  .time-picker-selector {
    width: 100%;
    height: 100%;
  }
}

.canvas-object {
  .tab {
    width: 100%;
    height: 100%;
  }

  .tab__bar {
    width: 100%;
    height: 100%;
  }

  .tab__button {
    width: 100%;
    height: 100%;
    justify-content: center;
  }

  .tab--container {
    .tab__item {
      height: 100%;
      border: 0;
      background-color: $hover-row;

      &:hover {
        .tab__button-text {
          color: $text-03;
        }
      }
    }

    .tab__button-text {
      color: $ui-03;
    }

    .tab__item--selected {
      background-color: $ui-03;

      .tab__button-text {
        color: $text-04;
      }

      &:hover {
        background-color: $ui-03;

        .tab__button-text {
          color: $text-04;
        }
      }
    }
  }

  .tab--horizontal.tab--container {
    .tab__item {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border: 0;
    }
  }

  .tab--vertical {
    .tab__item {
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }
  }
}

// -------------------------
// Studio 컴포넌트 스타일 overwrite
// -------------------------
.canvas-object {
  .checkbox__label:hover::before {
    border-color: $text-02;
  }

  // checked 상태
  .checkbox__input:checked + .checkbox__label::before {
    background-color: $text-03;
    border-color: $text-03;
  }

  // disabled 상태
  .checkbox--disabled .checkbox__label {
    &:hover {
      &::before,
      &::after {
        border-color: $text-03;
      }
    }
  }

  .checkbox--disabled .checkbox__input:checked + .checkbox__label {
    &:hover {
      &::before {
        border-color: $text-03;
      }
    }
  }

  // 부분 선택 상태
  .checkbox--indeterminate .checkbox__input + .checkbox__label::before,
  .checkbox__input:indeterminate + .checkbox__label::before {
    border-color: $text-03;
  }

  .checkbox--indeterminate .checkbox__input + .checkbox__label::after,
  .checkbox__input:indeterminate + .checkbox__label::after {
    border-color: $text-03;
  }
}

// -------------------------
// theme: primary
// -------------------------
.canvas-object .checkbox--primary {
  .checkbox__label:hover::before {
    border-color: $primary;
  }

  // checked 상태
  .checkbox__input:checked + .checkbox__label::before {
    background-color: $primary;
    border-color: $primary;
  }

  // disabled 상태
  .checkbox--disabled .checkbox__label {
    &:hover {
      &::before,
      &::after {
        border-color: $text-03;
      }
    }
  }

  .checkbox--disabled .checkbox__input:checked + .checkbox__label {
    &:hover {
      &::before {
        border-color: $primary;
      }
    }
  }

  // 부분 선택 상태
  .checkbox--indeterminate .checkbox__input + .checkbox__label::before,
  .checkbox__input:indeterminate + .checkbox__label::before {
    border-color: $primary;
  }

  .checkbox--indeterminate .checkbox__input + .checkbox__label::after,
  .checkbox__input:indeterminate + .checkbox__label::after {
    border-color: $primary;
  }
}

// -------------------------
// Studio 컴포넌트 스타일 overwrite
// -------------------------
.canvas-object {
  .radio__label:hover::before {
    border-color: $text-02;
  }

  // checked 상태
  .radio__input:checked + .radio__label::before {
    background-color: $text-03;
    border-color: $text-03;
  }

  // checked + disabled 상태
  .radio__input:checked:disabled + .radio__label:hover::before {
    border-color: $text-03;
  }
}

// -------------------------
// Studio 컴포넌트 스타일 overwrite
// -------------------------
.canvas-object {
  .tag {
    &:hover:not(:disabled) {
      color: $text-03;
    }
  }

  .tag--selected {
    background-color: $text-03;
    color: $text-04;

    &:hover:not(:disabled) {
      background-color: lighten($text-03, 5%);
      color: $text-04;
    }

    &:disabled {
      .tag__remove-button:hover {
        fill: $text-04;
        background-color: transparent;
      }
    }
  }

  .tag__remove-button {
    &:hover {
      background-color: rgba($ui-02, 0.25);
      fill: $text-03;
    }
  }

  .tag--selected .tag__remove-button {
    fill: $text-04;

    &:hover {
      fill: $text-04;
    }
  }

  .object-button__text {
    width: unset;
  }
}

.tags {
  display: flex;
  align-content: flex-start;
}

.tags--horizontal {
  flex-wrap: wrap;
}

.tags--horizontal .tag + .tag {
  margin-left: $spacing-2xs;
}

.tags--vertical {
  flex-direction: column;
}

.tags--vertical .tag + .tag {
  margin-top: $spacing-2xs;
}

.tags__item {
  flex-shrink: 0;
  margin-right: $spacing-2xs;
  margin-bottom: $spacing-2xs;
}

// -------------------------
// canvas-object status
// -------------------------
.canvas-object.move {
  opacity: 0.5;
}

// .canvas-object--active {
//   border: 1px solid $secondary;
// }

.canvas-object--active span.tl,
.canvas-object--active span.tc,
.canvas-object--active span.tr,
.canvas-object--active span.cl,
.canvas-object--active span.cr,
.canvas-object--active span.bl,
.canvas-object--active span.bc,
.canvas-object--active span.br {
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid $secondary;
  background: $ui-01;
  z-index: 7;
}

.canvas-object--active span.tl {
  top: 0;
  left: 0;
  margin: -4px 0 0 -4px;
}

.canvas-object--active span.tc {
  top: 0;
  left: 50%;
  margin: -4px 0 0 -4px;
}

.canvas-object--active span.tr {
  top: 0;
  right: 0;
  margin: -4px -4px 0 0;
}

.canvas-object--active span.cl {
  top: 50%;
  left: 0;
  margin: -4px 0 0 -4px;
}

.canvas-object--active span.cr {
  top: 50%;
  right: 0;
  margin: -4px -4px 0 0;
}

.canvas-object--active span.bl {
  bottom: 0;
  left: 0;
  margin: 0 0 -4px -4px;
}

.canvas-object--active span.bc {
  bottom: 0;
  left: 50%;
  margin: 0 0 -4px -4px;
}

.canvas-object--active span.br {
  bottom: 0;
  right: 0;
  margin: 0 -4px -4px 0;
}

.canvas-object--active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid $secondary;
  border-radius: 0;
  z-index: 4;
  pointer-events: none;
  margin: -1px;
}

.canvas-object--connected::after,
.canvas-object--unconnected::after,
.canvas-object--select::after,
.canvas-object--deselect::after,
.canvas-object--draw::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none;
}

.canvas-object--deselect::after {
  background-color: $overlay-02;
  // box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%); //TODO: 디자인 가이드 적용 필요
}

.canvas-object--select::after {
  background-color: $overlay-02;
  // z-index: 9999;
  // margin: -1px;
}

.canvas-object--unconnected::after {
  background-color: $overlay-02;
  // NOTE: editor 객체에서 리사이즈 박스보다 위에 뜨는 문제로 10 -> 4로 수정
  z-index: 6; // TODO: z-index function 적용
}

.canvas-object--connected {
  &::after {
    background-color: rgba($secondary, 0.1);
    border: 1px solid $secondary;
    margin: -1px;
  }

  .object-hidden__icon {
    fill: $secondary;
  }

  .object-hidden__text {
    color: $secondary;
  }
}

// NOTE: box select -> canvas-object--draw로 변경
// .canvas-object--draw::after {
//   // z-index: 9999;
//   border: solid 1px $secondary;
//   margin: -1px;
// }

.canvas-object > .checkbox {
  position: absolute;
  top: rem(3px);
  left: rem(4px);
  line-height: 0;
  z-index: 11;
}

// -------------------------
// Side panel
// -------------------------
// toggle-button과 유사한 스타일이지만 selected 불가능한 스타일
.visual-style-preview {
  display: flex;
  align-items: center;
  padding: 0 $spacing-sm;
  height: $button-height-md;
  border-radius: $button-border-radius;
  text-align: center;
  border: 1px solid transparent;
  background-color: rgba(171, 175, 186, 0.5);
  color: $text-04;
  cursor: default;

  &:focus {
    outline: none;
  }
}

.visual-style-preview .svg-icon {
  width: rem(20px);
  height: rem(20px);
  fill: $text-04;
}

.visual-style-preview--selected {
  background-color: $primary;
}

.side-panel-tab__body--has-play-button {
  padding-bottom: $layout-lg;
}

.side-panel-tab__play-button {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  margin-left: -$spacing-sm;
  height: rem(56px);
  width: rem(300px);
  padding: $spacing-sm;
  background-color: $ui-02;
  border-top: 1px solid $ui-04;
  z-index: z("layer");
}

.play-button {
  width: 100%;
}

.img-icon--map-type {
  width: 32px;
  height: 32px;
  background-image: url("#{$img-path}/common/icon_map-type.png");
}

// .toggle-button__item:not(:disabled):hover .img-icon--map-type {
//   background-position-y: rem(-32px);
// }

// .toggle-button__item--selected .img-icon--map-type {
//   background-position-y: rem(-32px);
// }

.img-icon--map-type.map-openstreetmap {
  background-position-x: 0;
}

.img-icon--map-type.map-google {
  background-position-x: -32px;
}

.img-icon--map-type.map-naver {
  background-position-x: -64px;
}

.img-icon--map-type.map-ngii {
  background-position-x: -96px;
}

.color-preview-option {
  display: inline-block;
  position: relative;
  border-radius: 2px;
  width: rem(40px);
  height: rem(26px);
  border: 1px solid $ui-04;
}

.color-transparent::after {
  position: absolute;
  width: 44px;
  height: 100%;
  content: "";
  border-top: 1px solid $support-04;
  transform: translateX(-9px) translateY(10px) rotate(30deg);
}

.color-palette {
  position: relative;
  display: flex;
  width: 100%;
  padding: $spacing-2xs 0;
  border-radius: 2px;
  overflow: hidden;
}

.color-palette__item {
  position: relative;
  width: calc(100% / 10);
  height: 8px;
}

.space-filter-content__thumbnail {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  margin-right: 8px;
  width: 64px;
  height: 48px;
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.5);
}

.space-filter-content__thumbnail-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -14px;
  width: 30px;
  height: 28px;
  overflow: hidden;
  border-radius: 2px;
}

.shadow-style {
  display: inline-block;
  width: rem(14px);
  height: rem(14px);
  margin: $spacing-3xs $spacing-xs $spacing-3xs 0;
  border: 1px solid $ui-04;
  background-color: $ui-02;
  vertical-align: middle;
}

.shadow-style--right-bottom {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

.shadow-style--center-bottom {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.shadow-style--left-bottom {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.4);
}

.shadow-style--right {
  box-shadow: 2px 0 2px rgba(0, 0, 0, 0.4);
}

.shadow-style--center {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.shadow-style--left {
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.4);
}

.shadow-style--right-top {
  box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.4);
}

.shadow-style--center-top {
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.4);
}

.shadow-style--left-top {
  box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.4);
}

.data-color-select .select-selector__button {
  padding-left: $spacing-xs;
}

.data-color-select__preview {
  display: flex;
  flex-wrap: wrap;
  width: 24px;
  height: 24px;
  border: 1px solid $ui-04;
  margin-right: $spacing-2xs;
}

.data-color-select__preview-list {
  display: flex;
  margin-right: $spacing-2xs;
}

.data-color-select__preview-list .data-color-select__preview-item + .data-color-select__preview-item {
  margin-left: $spacing-3xs;
}

.data-color-select__preview-item {
  display: inline-flex;
  width: 11px;
  height: 11px;
  flex-shrink: 0;
}

// Map - heatmap: 그라디언트
.select .gradient-palette {
  margin-right: $spacing-xs;
}

.gradient-palette {
  width: 100px;
  height: 18px;
  border-radius: 2px;

  &.jet {
    background: linear-gradient(to right, rgb(0, 0, 131) 0%, rgb(0, 60, 170) 12.5%, rgb(5, 255, 255) 37.5%, rgb(255, 255, 0) 62.5%, rgb(255, 0, 0) 87.5%, rgb(128, 0, 0) 100%);
  }

  &.hsv {
    background: linear-gradient(
      to right,
      rgb(255, 0, 0) 0%,
      rgb(253, 255, 2) 16.9%,
      rgb(247, 255, 2) 17.3%,
      rgb(0, 252, 4) 33.7%,
      rgb(0, 252, 10) 34.1%,
      rgb(1, 249, 255) 50.6%,
      rgb(2, 0, 253) 67.1%,
      rgb(8, 0, 253) 67.5%,
      rgb(255, 0, 251) 83.9%,
      rgb(255, 0, 245) 84.3%,
      rgb(255, 0, 6) 100%
    );
  }

  &.hot {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(230, 0, 0) 30%, rgb(255, 210, 0) 60%, rgb(255, 255, 255) 100%);
  }

  &.cool {
    background: linear-gradient(
      to right,
      rgb(125, 0, 179) 0%,
      rgb(116, 0, 218) 13%,
      rgb(98, 74, 237) 25%,
      rgb(68, 146, 231) 38%,
      rgb(0, 204, 197) 50%,
      rgb(0, 247, 146) 63%,
      rgb(0, 255, 88) 75%,
      rgb(40, 255, 8) 88%,
      rgb(147, 255, 0) 100%
    );
  }

  &.greys {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(255, 255, 255) 100%);
  }

  &.yignbu {
    background: linear-gradient(
      to right,
      rgb(8, 29, 88) 0%,
      rgb(37, 52, 148) 12.5%,
      rgb(34, 94, 168) 25%,
      rgb(29, 145, 192) 37.5%,
      rgb(65, 182, 196) 50%,
      rgb(127, 205, 187) 62.5%,
      rgb(199, 233, 180) 75%,
      rgb(237, 248, 217) 87.5%,
      rgb(255, 255, 217) 100%
    );
  }

  &.yiorrd {
    background: linear-gradient(
      to right,
      rgb(128, 0, 38) 0%,
      rgb(189, 0, 38) 12.5%,
      rgb(227, 26, 28) 25%,
      rgb(252, 78, 42) 37.5%,
      rgb(253, 141, 60) 50%,
      rgb(254, 178, 76) 62.5%,
      rgb(254, 217, 118) 75%,
      rgb(255, 237, 160) 87.5%,
      rgb(255, 255, 204) 100%
    );
  }

  &.rdbu {
    background: linear-gradient(to right, rgb(5, 10, 172) 0%, rgb(106, 137, 247) 35%, rgb(190, 190, 190) 50%, rgb(220, 170, 132) 60%, rgb(230, 145, 90) 70%, rgb(178, 10, 28) 100%);
  }

  &.rainbow {
    background: linear-gradient(
      to right,
      rgb(150, 0, 90) 0%,
      rgb(0, 0, 200) 12.5%,
      rgb(0, 25, 255) 25%,
      rgb(0, 152, 255) 37.5%,
      rgb(44, 255, 150) 50%,
      rgb(151, 255, 0) 62.5%,
      rgb(255, 234, 0) 75%,
      rgb(255, 111, 0) 87.5%,
      rgb(255, 0, 0) 100%
    );
  }

  &.portland {
    background: linear-gradient(to right, rgb(12, 51, 131) 0%, rgb(10, 136, 186) 25%, rgb(242, 211, 56) 50%, rgb(242, 143, 56) 75%, rgb(217, 30, 30) 100%);
  }

  &.oxygen {
    background: linear-gradient(
      to right,
      rgb(64, 5, 5) 0%,
      rgb(106, 6, 15) 13%,
      rgb(144, 26, 7) 25%,
      rgb(168, 64, 3) 38%,
      rgb(188, 100, 4) 50%,
      rgb(206, 136, 11) 63%,
      rgb(220, 174, 25) 75%,
      rgb(231, 215, 44) 88%,
      rgb(248, 254, 105) 100%
    );
  }
}

.leaflet-bottom {
  z-index: 900;
}

.map-legend {
  padding: $spacing-2xs;
  border: 1px solid $ui-04;
  border-radius: $field-border-radius;
  background-color: $ui-02;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}

// 임계치
.map-legend__item {
  display: flex;
  align-items: center;
}

.map-legend__item:not(:last-child) {
  margin-bottom: $spacing-2xs;
}

.map-legend__color-chip {
  width: 14px;
  height: 14px;
}

.map-legend__color-chip + .map-legend__item-text {
  margin-left: $spacing-2xs;
}

.map-legend__gradient {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 168px;
  height: 28px;

  .gradient-palette {
    width: 100%;
    min-width: 150px;
    height: 100%;
  }
}

.map-legend__gradient-text {
  margin-left: $spacing-2xs;
}

.map-legend__gradient-subtext-wrap,
.map-gradient__text-box {
  display: flex;
  justify-content: space-between;
  margin-top: $spacing-2xs;
}

.map-legend__gradient-subtext,
.map-gradient__text {
  @include font-size("11");
}

.color-button {
  @include button-normal;
  @include button--tertiary;
  width: rem(26px);
  height: rem(26px);
  padding: $spacing-3xs;
}

.color-button--selected {
  border-color: $secondary;
  background-color: $hover-ui-accent;
}

.color-button__color-chip {
  width: rem(20px);
  height: rem(20px);
  border-radius: $field-border-radius;
}

.color-button__color-chip--red {
  background-color: red;
}

.color-button__color-chip--green {
  background-color: green;
}

.color-button__color-chip--blue {
  background-color: blue;
}

.color-button__color-chip--highlight {
  background-color: yellow;
}

.marker-preview {
  display: flex;
  align-items: center;
}

.marker-preview__image {
  width: rem(20px);
  margin-left: $spacing-sm;
}

// 조건부 서식 from, to 입력 input
.from-to-input {
  display: flex;

  .text-input {
    width: rem(80px);
  }

  .text-input + .text-input {
    margin-left: $spacing-2xs;
  }
}

.ima-line-style {
  display: inline-block;
  background: url("#{$img-path}/studio/img_ima-line-style.png") no-repeat 0 0;
  width: 100%;
  height: rem(20px);
  vertical-align: middle;
}

.ima-line-style.line-dotted-dual {
  background-position: 0 0;
}

.ima-line-style.line-dotted-lg {
  background-position: 0 -20px;
}

.ima-line-style.line-dotted-md {
  background-position: 0 -40px;
}

.ima-line-style.line-dotted-sm {
  background-position: 0 -60px;
}

.ima-line-style.line-flat {
  background-position: 0 -80px;
}

.ima-flag {
  display: inline-block;
  background: url("#{$img-path}/studio/icon_ima-flag.png") no-repeat 0 0;
  width: rem(20px);
  height: rem(20px);
  vertical-align: middle;
}
.ima-flag.flag-1 {
  background-position: 0 0;
}

.ima-flag.flag-2 {
  background-position: -20px 0;
}

.ima-flag.flag-3 {
  background-position: -40px 0;
}

.ima-flag.flag-4 {
  background-position: -60px 0;
}

.ima-flag.flag-5 {
  background-position: -80px 0;
}

.ima-flag.flag-6 {
  background-position: -100px 0;
}

.ima-flag.flag-7 {
  background-position: -120px 0;
}

.ima-flag.flag-8 {
  background-position: 0 -20px;
}

.ima-flag.flag-9 {
  background-position: -20px -20px;
}

.ima-flag.flag-10 {
  background-position: -40px -20px;
}

.ima-flag.flag-11 {
  background-position: -60px -20px;
}

.ima-flag.flag-12 {
  background-position: -80px -20px;
}

.ima-flag.flag-13 {
  background-position: -100px -20px;
}

.ima-flag.flag-14 {
  background-position: -120px -20px;
}

.ima-flag.flag-15 {
  background-position: 0 -40px;
}

.ima-flag.flag-16 {
  background-position: -20px -40px;
}

.ima-flag.flag-17 {
  background-position: -40px -40px;
}

.ima-flag.flag-18 {
  background-position: -60px -40px;
}

.ima-flag.flag-19 {
  background-position: -80px -40px;
}

.ima-flag.flag-20 {
  background-position: -100px -40px;
}

.ima-flag.flag-21 {
  background-position: -120px -40px;
}

.ima-flag.flag-22 {
  background-position: 0 -60px;
}

.ima-flag.flag-23 {
  background-position: -20px -60px;
}

.ima-flag.flag-24 {
  background-position: -40px -60px;
}

.ima-flag.flag-25 {
  background-position: -60px -60px;
}

.ima-flag.flag-26 {
  background-position: -80px -60px;
}

.ima-flag.flag-27 {
  background-position: -100px -60px;
}

.ima-flag.flag-28 {
  background-position: -120px -60px;
}

.ima-flag.flag-29 {
  background-position: 0 -80px;
}

.ima-flag.flag-30 {
  background-position: -20px -80px;
}

.ima-flag.flag-31 {
  background-position: -40px -80px;
}

.ima-flag.flag-32 {
  background-position: -60px -80px;
}

.ima-flag.flag-33 {
  background-position: -80px -80px;
}

.ima-flag.flag-34 {
  background-position: -100px -80px;
}

.ima-flag.flag-35 {
  background-position: -120px -80px;
}

.period-setting-tooltip {
  padding: 0;
  width: rem(320px);
}

.period-setting-tooltip__head {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: $button-height-md;
  padding: $spacing-2xs $spacing-sm;
  background-color: $hover-row;
}

.period-setting-tooltip__head-title {
  @include text-overflow;
  @include font-size("14");
  @include font-weight("medium");
  flex: 1;
  text-align: left;
  color: $text-02;
}

.period-setting-tooltip__foot {
  @include stable-padding($spacing-xs, $spacing-sm);
  display: flex;
  background-color: $ui-01;
}

.period-setting-tooltip__foot-main-buttons {
  display: flex;
  margin-left: auto;
}

.period-setting-tooltip__foot .button + .button {
  margin-left: $spacing-xs;
}

.preset-period {
  padding: $spacing-lg 0;
}

.preset-period__col + .preset-period__col {
  border-left: 1px solid $ui-04;
}

.preset-period__list {
  padding: 0 $spacing-lg;
}

.preset-period__list + .preset-period__list {
  margin-top: $spacing-sm;
}

.preset-period__item:not(:last-child) {
  margin-bottom: $spacing-2xs;
}

.preset-period__link {
  text-decoration: none;
}

.preset-period__link--selected {
  text-decoration: underline;
  color: $secondary;
}

.date-time-range {
  display: flex;
  flex-wrap: wrap;
  padding: $spacing-md;

  .date-picker-panel {
    width: 100%;
    padding: $spacing-xs $spacing-sm $spacing-sm;
    background-color: rgba($secondary, 0.15);
    border-radius: 0 0 $field-border-radius $field-border-radius;
  }

  .ui-datepicker {
    display: block;
    position: static;
    border: none;
    box-shadow: none;
    width: auto;
  }
}

.date-time-range__dates {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  width: 45%;
  padding: $spacing-xs;
}

.date-time-range__dates--selected {
  background-color: rgba($secondary, 0.15);
  border-radius: $field-border-radius $field-border-radius 0 0;

  .date-time-range__title {
    color: $primary;
  }
}

.date-time-range__title {
  margin-right: $spacing-2xs;
  margin-bottom: $spacing-2xs;
  color: $text-02;
}

.date-time-range__text-area {
  min-width: rem(100px);
  max-height: rem(48px);
  resize: none;
}

.date-time-range__icon {
  align-self: center;
  margin: 0 $spacing-2xs;
}

.condition__body {
  .form__item {
    padding: $spacing-md 0;
  }

  .form__item:last-child {
    padding: $spacing-md 0 0 0;
  }
}

.code__pre {
  @include font-size("13");
  background-color: $odd-row;
  border: 1px solid $ui-04;
  padding: $spacing-2xs;
  word-break: break-all;
  overflow: auto;
}

.responsive__guide-line {
  position: absolute;
  border-bottom: 1px solid $secondary;
  width: 100%;
}

.ag-root-wrapper .progressbar {
  @include line-height("body");
  display: inline-block;
  width: 100%;
  height: rem(12px);
  border-radius: 2px;
}

.vs-repeat-repeated-element {
  height: 40px !important;
}

.chart-picker-mb {
  margin-bottom: $spacing-2xs;
}

//studio내 텍스트가 길어질때 툴팁을 벗어나는 문제 방지
.tooltip-studio__text {
  white-space: normal;
}

// -------------------------
// ui-resizable
// -------------------------
.ui-resizable-helper {
  border: 2px dashed $secondary;
  z-index: z("modal") !important;
}

.ui-resizable-handle {
  position: absolute;
  display: block;
  font-size: 0.1px;
  -ms-touch-action: none;
  touch-action: none;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
  display: none;
}

.ui-resizable-n {
  top: -5px;
  left: 0;
  width: 100%;
  height: 7px;
  cursor: n-resize;
}

.ui-resizable-s {
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 7px;
  cursor: s-resize;
}

.ui-resizable-e {
  top: 0;
  right: -5px;
  width: 7px;
  height: 100%;
  cursor: e-resize;
}

.ui-resizable-w {
  top: 0;
  left: -5px;
  width: 7px;
  height: 100%;
  cursor: w-resize;
}

.ui-resizable-se {
  right: 1px;
  bottom: 1px;
  width: 12px;
  height: 12px;
  cursor: se-resize;
}

.ui-resizable-sw {
  bottom: -5px;
  left: -5px;
  width: 9px;
  height: 9px;
  cursor: sw-resize;
}

.ui-resizable-nw {
  top: -5px;
  left: -5px;
  width: 9px;
  height: 9px;
  cursor: nw-resize;
}

.ui-resizable-ne {
  top: -5px;
  right: -5px;
  width: 9px;
  height: 9px;
  cursor: ne-resize;
}

.ui-icon-gripsmall-diagonal-se {
  // width: 11px;
  // height: 11px;
  border: 14px solid darken($ui-01, 3%);
  border-top-width: 0;
  border-right-width: 0;
  border-left-color: transparent;
  // background: url("#{$img-path}/common/icon_dialog-resize.png") 0 0 no-repeat;

  &::before {
    display: inline-block;
    width: 1px;
    height: 6px;
    background-color: darken($ui-04, 10%);
    transform: rotate(45deg) translateY(4px);
    content: "";
  }

  &::after {
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: darken($ui-04, 10%);
    transform: rotate(45deg) translateX(-12px) translateY(-5px);
    content: "";
  }

}
