// TODO: IAP 등 서비스 만들 떄 재사용 가능한 부분이 있다면 ../layout/common.scss 파일로 분리해야함.
.editor-layout {
  display: flex;
  flex-direction: column;
}

.editor-layout-head {
  @include layer("raised");
  display: flex;
  flex-direction: column;
  background-color: $ui-01;
  z-index: z("header");
}

.editor-layout-head__top-bar {
  display: flex;
  align-items: center;
  padding: $spacing-xs $spacing-xs $spacing-xs $spacing-sm;
}

.editor-layout-head__title-wrap {
  display: flex;
  flex: 1;
  align-items: center;
}

.editor-layout-head__title {
  @include line-height("heading");
}

.editor-layout-head__title-text {
  @include font-weight("medium");
}

.editor-layout-head__title-button {
  margin-left: $spacing-2xs;
}

.editor-layout-head__action-buttons {
  display: flex;
  align-items: center;
}

.editor-layout-head__action-buttons .button + .button {
  margin-left: $spacing-2xs;
}

.editor-layout-head__menu-bar {
  display: flex;
  background-color: $ui-02;
  padding: $spacing-xs $spacing-xs $spacing-xs $spacing-sm;
}

.editor-layout-head__menu-bar .select {
  flex-shrink: 0;
}

.editor-layout-head__object-list {
  display: flex;
  flex: 1;
  margin-left: $spacing-xs;
}

.editor-layout-head__object-list-item {
  margin-right: $spacing-2xs;
  border-radius: $button-border-radius;
}

.editor-layout-head__object-list-item--selected {
  background-color: darken($ui-01, 3%);
}

.editor-layout-head__additinal-buttons {
  display: flex;
}

.editor-layout-body {
  display: flex;
  flex: 1;
  overflow: auto;
}

.editor-layout-body__canvas-wrap {
  flex: 1;
  padding: $layout-2xs;
  overflow: auto;
  background-color: $ui-04;
}

.editor-layout-body__canvas {
  background-color: $ui-02;
  border: 1px solid $ui-04;
}

.editor-layout-body__side-penal {
  width: rem(300px);
  background-color: $ui-01;
  overflow: auto;
}

// 객체 기본 box 스타일
// TODO: box tool 클래스 비효율적, 개발파트와 협의후 studio-component 와 같은 클래스로 개선하면 어떨까?
.editor-layout .tool {
  position: absolute;
  top: 0;
  left: 0;
}

.editor-layout .tool.active:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid $ui-04;
  border-radius: 0;
  z-index: 4;
  pointer-events: none;
  margin: -1px;
}

.report .tool.move {
  opacity: 0.5;
}

.editor-layout .tool.active span.tl,
.editor-layout .tool.active span.tc,
.editor-layout .tool.active span.tr,
.editor-layout .tool.active span.cl,
.editor-layout .tool.active span.cr,
.editor-layout .tool.active span.bl,
.editor-layout .tool.active span.bc,
.editor-layout .tool.active span.br {
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid $ui-04;
  background: $ui-01;
  z-index: 5;
}

.editor-layout .tool.active span.tl {
  top: 0;
  left: 0;
  margin: -4px 0 0 -4px;
}

.editor-layout .tool.active span.tc {
  top: 0;
  left: 50%;
  margin: -4px 0 0 -4px;
}

.editor-layout .tool.active span.tr {
  top: 0;
  right: 0;
  margin: -4px -4px 0 0;
}

.editor-layout .tool.active span.cl {
  top: 50%;
  left: 0;
  margin: -4px 0 0 -4px;
}

.editor-layout .tool.active span.cr {
  top: 50%;
  right: 0;
  margin: -4px -4px 0 0;
}

.editor-layout .tool.active span.bl {
  bottom: 0;
  left: 0;
  margin: 0 0 -4px -4px;
}

.editor-layout .tool.active span.bc {
  bottom: 0;
  left: 50%;
  margin: 0 0 -4px -4px;
}

.editor-layout .tool.active span.br {
  bottom: 0;
  right: 0;
  margin: 0 -4px -4px 0;
}

.editor-layout .box {
  user-select: none;
}

.editor-layout .box {
  user-select: auto;
}

.editor-layout .box .text-area .inner-text[contenteditable] {
  user-select: text;
}

.editor-layout .tool.area {
  background: $ui-01;
  // background: $ui-01 url("#{$img-path}/sherman/icon_editor-layout_area_normal.png") no-repeat center;
  border: 1px solid transparent;
}

.editor-layout .tool.area:hover:not([preview]) {
  border: 1px solid $ui-04;
}

// toggle-button과 유사한 스타일이지만 selected 불가능한 스타일
.visual-style-preview {
  display: flex;
  align-items: center;
  padding: 0 $spacing-sm;
  height: $button-height-md;
  border-radius: $button-border-radius;
  text-align: center;
  border: 1px solid transparent;
  background-color: rgba(171, 175, 186, 0.5);
  color: $text-04;
  cursor: default;

  &:focus {
    outline: none;
  }
}

.visual-style-preview .svg-icon {
  width: rem(20px);
  height: rem(20px);
  fill: $text-04;
}

.visual-style-preview--selected {
  background-color: $primary;
}

.side-panel-tab__body--has-play-button {
  padding-bottom: $layout-lg;
}

.side-panel-tab__play-button {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  margin-left: -$spacing-sm;
  height: rem(56px);
  width: rem(300px);
  padding: $spacing-sm;
  background-color: $ui-02;
  border-top: 1px solid $ui-04;
  z-index: 5;
}

.play-button {
  width: 100%;
}

.img-icon--map-type {
  width: rem(32px);
  height: rem(32px);
  background-image: url("#{$img-path}/common/icon_map-type.png");
}

.toggle-button__item:not(:disabled):hover .img-icon--map-type {
  background-position-y: rem(-32px);
}

.toggle-button__item--selected .img-icon--map-type {
  background-position-y: rem(-32px);
}

.img-icon--map-type.map-openstreetmap {
  background-position-x: 0;
}

.img-icon--map-type.map-naver {
  background-position-x: rem(-32px);
}

.img-icon--map-type.map-google {
  background-position-x: rem(-64px);
}

.img-icon--map-type.map-ngii {
  background-position-x: rem(-96px);
}
