@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 300;
  src: url("#{$font-path}/NotoSans-Light.woff2") format("woff2"),
    /* Super modern browsers */ url("#{$font-path}/NotoSans-Light.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/NotoSans-Light.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}/NotoSans-Regular.woff2") format("woff2"),
    /* Super modern browsers */ url("#{$font-path}/NotoSans-Regular.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/NotoSans-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-path}/NotoSans-Medium.woff2") format("woff2"),
    /* Super modern browsers */ url("#{$font-path}/NotoSans-Medium.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/NotoSans-Medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "NotoSansKR";
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-path}/NotoSans-Bold.woff2") format("woff2"),
    /* Super modern browsers */ url("#{$font-path}/NotoSans-Bold.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/NotoSans-Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "PretendardGOV";
  font-style: normal;
  font-weight: 300;
  src: url("#{$font-path}/PretendardGOV-Light.woff2") format("woff2"),
    /* Super modern browsers */ url("#{$font-path}/PretendardGOV-Light.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/PretendardGOV-Light.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "PretendardGOV";
  font-style: normal;
  font-weight: 400;
  src: url("#{$font-path}/PretendardGOV-Regular.woff2") format("woff2"),
    /* Super modern browsers */ url("#{$font-path}/PretendardGOV-Regular.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/PretendardGOV-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "PretendardGOV";
  font-style: normal;
  font-weight: 500;
  src: url("#{$font-path}/PretendardGOV-Medium.woff2") format("woff2"),
    /* Super modern browsers */ url("#{$font-path}/PretendardGOV-Medium.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/PretendardGOV-Medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "PretendardGOV";
  font-style: normal;
  font-weight: 700;
  src: url("#{$font-path}/PretendardGOV-Bold.woff2") format("woff2"),
    /* Super modern browsers */ url("#{$font-path}/PretendardGOV-Bold.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/PretendardGOV-Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

// 일본어
@font-face {
  font-family: "Meiryo";
  font-style: normal;
  src: url("#{$font-path}/Meiryo.woff")
      format("woff"),
      url("#{$font-path}/Meiryo.ttf")
      format("truetype")
}

@font-face {
  font-family: "YuGothic";
  font-style: normal;
  font-weight: 300;
  src:/* Super modern browsers */ url("#{$font-path}/YuGothic-Light-01.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/YuGothic-Light-01.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "YuGothic";
  font-style: normal;
  font-weight: 500;
  src:/* Super modern browsers */ url("#{$font-path}/YuGothic-Medium-01.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/YuGothic-Medium-01.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "YuGothic";
  font-style: normal;
  font-weight: 400;
  src:/* Super modern browsers */ url("#{$font-path}/YuGothic-Regular-01.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/YuGothic-Regular-01.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "YuGothic";
  font-style: normal;
  font-weight: 700;
  src:/* Super modern browsers */ url("#{$font-path}/YuGothic-Bold-01.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/YuGothic-Bold-01.ttf")
      format("truetype"); /* Safari, Android, iOS */
}


// 중국어
@font-face {
  font-family: "Microsoft YaHei";
  font-style: normal;
  font-weight: 400;
  src: /* Super modern browsers */ url("#{$font-path}/MicrosoftYaHeiUILight.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/MicrosoftYaHeiUILight.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Microsoft YaHei";
  font-style: normal;
  font-weight: 500;
  src: /* Super modern browsers */ url("#{$font-path}/MicrosoftYaHeiUI.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/MicrosoftYaHeiUI.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "Microsoft YaHei";
  font-style: normal;
  font-weight: 700;
  src: /* Super modern browsers */ url("#{$font-path}/MicrosoftYaHeiUI-Bold.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/MicrosoftYaHeiUI-Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "NotoSansSC";
  font-style: normal;
  font-weight: 300;
  src:/* Super modern browsers */ url("#{$font-path}/NotoSansSC-Light.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/NotoSansSC-Light.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "NotoSansSC";
  font-style: normal;
  font-weight: 400;
  src:/* Super modern browsers */ url("#{$font-path}/NotoSansSC-Regular.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/NotoSansSC-Regular.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "NotoSansSC";
  font-style: normal;
  font-weight: 500;
  src:/* Super modern browsers */ url("#{$font-path}/NotoSansSC-Medium.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/NotoSansSC-Medium.ttf")
      format("truetype"); /* Safari, Android, iOS */
}

@font-face {
  font-family: "NotoSansSC";
  font-style: normal;
  font-weight: 700;
  src:/* Super modern browsers */ url("#{$font-path}/NotoSansSC-Bold.woff")
      format("woff"),
    /* Modern browsers */ url("#{$font-path}/NotoSansSC-Bold.ttf")
      format("truetype"); /* Safari, Android, iOS */
}
