html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

em {
  font-style: normal;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

// a {
//   text-decoration: none;
//   color: $text-01;
// }

// a:active,
// a:hover {
//   text-decoration: none;
// }

// a:active {
//   background-color: transparent;
// }

a:focus,
button:focus,
input:focus {
  outline: 0;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid $primary;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

main {
  flex: 1 0 auto;
}
