html {
  font-size: $base-font-size;

  &:lang(ja) {
    font-family: 'YuGothic', 'Meiryo', 'MS Gothic', 'Osaka', 'Hiragino Kaku Gothic';

      .ag-grid-balham {
        font-family: 'YuGothic', 'Meiryo', 'MS Gothic', 'Osaka', 'Hiragino Kaku Gothic';
      }
    }

  &:lang(zh) {
    font-family: 'Microsoft YaHei', 'NotoSansSC', 'Microsoft JhengHei UI', 'PingFang SC';

    .ag-grid-balham {
      font-family: 'Microsoft YaHei', 'NotoSansSC', 'Microsoft JhengHei UI', 'PingFang SC';
    }
  }

  &:lang(ko),
  &:lang(en) {
    @include font-family("sans");

    .ag-grid-balham {
      @include font-family("sans");
    }
  }
}

* {
  font-family: inherit; /* 부모 요소의 폰트 상속 */
}

body {
  @include font-size("14");
  @include letter-spacing;
  @include line-height("body");
  color: $text-01;
  background-color: $ui-02;
}

pre,
code {
  @include font-family("mono");
  @include font-size("13");
}

strong {
  font-weight: 700;
}

a {
  color: $link;
}

a:hover {
  color: $primary;
}
