html {
  font-size: $base-font-size;
}

body {
  @include font-family("sans");
  @include font-size("14");
  @include letter-spacing;
  @include line-height("body");
  color: $text-01;
  background-color: $ui-02;
}

code {
  @include font-family("mono");
}

strong {
  font-weight: 700;
}

a {
  color: $link;
}

a:hover {
  color: $primary;
}