// file path
$img-path: '../images' !default;
$font-path: '../fonts' !default;

// button
$button-border-radius: 2px !default;
$button-height-lg: 40px !default;
$button-height-md: 32px !default;
$button-height-sm: 24px !default;

// fields
$field-border-radius: 2px !default;

// form
$min-form-label-width-fixed: 220px;
$min-form-label-width: 18%;
$max-form-label-width: 30%;
$row-form-margin: $spacing-xs;

// loader
$transition-base: 160ms !default;
$loader-color: $primary !default;
$loader-start: $primary !default;
$loader-25: $secondary !default;
$loader-50: $primary !default;
$loader-75: $secondary !default;
$loader-end: $primary !default;
$inverse-loader-start: rgba($ui-02, .3) !default;
$inverse-loader-25: rgba($ui-02, .8) !default;
$inverse-loader-50: rgba($ui-02, .3) !default;
$inverse-loader-75: rgba($ui-02, .8) !default;
$inverse-loader-end: rgba($ui-02, .3) !default;
