<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IRIS Design Guide</title>
  <link rel="stylesheet" href="../dist/css/main/style.min.css" />
</head>

<body>
  <div class="layout-root">
    <nav class="side-nav">
<!-- navigation -->
<div class="side-nav__top-container">
  <a class="side-nav__logo" href="/views/index.html"><em>IRIS</em> Design Guide</a>
</div>
<div class="side-nav__bottom-container">
  <ul class="side-nav__main-nav">
    <li class="main-nave-item">
      <p class="main-nave-item__heading">Style</p>
      <ul class="main-nav__sub-nav">
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page_color">Color</a>
        </li>
      </ul>
    </li>
    <li class="main-nave-item">
      <p class="main-nave-item__heading">Components</p>
      <ul class="main-nav__sub-nav">
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page_button">Button</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
</nav>
    <div class="container">
      <main class="content">
        <div class="page" id="page_color">
          
<div class="page-header">
  <h3 class="page-header__lable">style</h3>
  <h1 class="page-header__title">Color</h1>
</div>
<div class="page-content">
  <div class="component-variation">
    <span class="component-variation__name">Core Colors</span>
    <div class="component-example">
      <div class="color-card-wrap">
        <div class="color-card">
          <div class="color-card__example primary"></div>
          <p class="color-card__key">primary</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example secondary"></div>
          <p class="color-card__key">secondary</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example negative"></div>
          <p class="color-card__key">negative</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-01"></div>
          <p class="color-card__key">ui-01</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-02"></div>
          <p class="color-card__key">ui-02</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-03"></div>
          <p class="color-card__key">ui-03</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example ui-04"></div>
          <p class="color-card__key">ui-04</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-01"></div>
          <p class="color-card__key">text-01</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-02"></div>
          <p class="color-card__key">text-02</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-03"></div>
          <p class="color-card__key">text-03</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-04"></div>
          <p class="color-card__key">text-04</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example text-05"></div>
          <p class="color-card__key">text-05</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example link"></div>
          <p class="color-card__key">link</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example icon-01"></div>
          <p class="color-card__key">icon-01</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example icon-02"></div>
          <p class="color-card__key">icon-02</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example icon-03"></div>
          <p class="color-card__key">icon-03</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example inverse-01"></div>
          <p class="color-card__key">inverse-01</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example field-bg"></div>
          <p class="color-card__key">field-bg</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example field-border"></div>
          <p class="color-card__key">field-border</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-01"></div>
          <p class="color-card__key">support-01</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-02"></div>
          <p class="color-card__key">support-02</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-03"></div>
          <p class="color-card__key">support-03</p>
          <p class="color-card__value">#2196f3</p>
        </div>
        <div class="color-card">
          <div class="color-card__example support-04"></div>
          <p class="color-card__key">support-04</p>
          <p class="color-card__value">#2196f3</p>
        </div>
      </div>
    </div>
  </div>
</div>

        </div>

        <div class="page" id="page_button">
          <div class="page-header">
            <h4 class="page-header__lable">component</h4>
            <h1 class="page-header__title">Button</h1>
          </div>
          <div class="page-content">
            <p class="page__desc">버튼은 사용자가 클릭하거나 터치 할 때 발생할 동작을 나타냅니다.</p>
            <div class="page__usage md">
              <ul>
                <li>버튼에 아이콘을 조합하여 사용할 경우 버튼 텍스트를 `span`태그로 감싸서 사용합니다.</li>
              </ul>
            </div>
            <!-- Button Style 01: Default Button -->
            <div class="component-variation">
              <span class="component-variation__name">Default Button</span>
              <div class="component-example">
                <div class="component-example__live">
                  <button class="mu-btn mu-btn-default" type="button">
                    mu-btn-default
                  </button>
                  <button class="mu-btn mu-btn-default" type="button" disabled="disabled">
                    mu-btn-default is-disabled
                  </button>
                  <button class="mu-btn mu-btn-default" type="button">
                    <i class="mu-icon add"></i><span>mu-btn-default with icon</span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Button Style 02: Primary Button -->
            <div class="component-variation">
              <span class="component-variation__name">Primary Button</span>
              <div class="component-example">
                <div class="component-example__live">
                  <button class="mu-btn mu-btn-primary" type="button">
                    mu-btn-primary
                  </button>
                  <button class="mu-btn mu-btn-primary" type="button" disabled="disabled">
                    mu-btn-primary
                  </button>
                  <button class="mu-btn mu-btn-primary" type="button">
                    <i class="mu-icon trash"></i><span>mu-btn-primary with icon</sppanp>
                  </button>
                </div>
              </div>
            </div>

            <!-- Button Style 03: Secondary Button -->
            <div class="component-variation">
              <span class="component-variation__name">Secondary Button</span>
              <div class="component-example">
                <div class="component-example__live">
                  <button class="mu-btn mu-btn-secondary" type="button">
                    mu-btn-secondary
                  </button>
                  <button class="mu-btn mu-btn-secondary" type="button" disabled="disabled">
                    mu-btn-secondary
                  </button>
                  <button class="mu-btn mu-btn-secondary" type="button">
                    <i class="mu-icon trash"></i><span>mu-btn-secondary with icon</span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Button Style 04: Danger Button -->
            <div class="component-variation">
              <span class="component-variation__name">Danger Button</span>
              <div class="component-example">
                <div class="component-example__live">
                  <button class="mu-btn mu-btn-danger" type="button">
                    mu-btn-danger
                  </button>
                  <button class="mu-btn mu-btn-danger" type="button" disabled="disabled">
                    mu-btn-danger
                  </button>
                  <button class="mu-btn mu-btn-danger" type="button">
                    <i class="mu-icon trash"></i><span>mu-btn-danger with icon</>
                  </button>
                </div>
              </div>
            </div>

            <!-- Button Style 05: Ghost Button -->
            <div class="component-variation">
              <span class="component-variation__name">Ghost Button</span>
              <div class="component-example">
                <div class="component-example__live">
                  <button class="mu-btn mu-btn-ghost" type="button">
                    mu-btn-ghost
                  </button>
                  <button class="mu-btn mu-btn-ghost" type="button" disabled="disabled">
                    mu-btn-ghost
                  </button>
                  <button class="mu-btn mu-btn-ghost" type="button">
                    <i class="mu-icon trash"></i><span>mu-btn-ghost with icon</span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Button Style 06: Icon Button -->
            <div class="component-variation">
              <span class="component-variation__name">Icon Button</span>
              <div class="component-example">
                <div class="component-example__live">
                  <button class="mu-btn mu-btn-icon" type="button">
                    mu-btn-icon
                  </button>
                  <button class="mu-btn mu-btn-icon" type="button" disabled="disabled">
                    mu-btn-icon
                  </button>
                  <button class="mu-btn mu-btn-icon" type="button">
                    <i class="mu-icon trash"></i><span>mu-btn-icon with icon</span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Button Style 07: Link Button -->
            <div class="component-variation">
              <span class="component-variation__name">Link Button</span>
              <div class="component-example">
                <div class="component-example__live">
                  <button class="mu-btn mu-btn-link" type="button">
                    <span class="mu-btn-link-box">mu-btn-link</span>
                  </button>
                  <button class="mu-btn mu-btn-link" type="button" disabled="disabled">
                    <span class="mu-btn-link-box">mu-btn-link</span>
                  </button>
                  <button class="mu-btn mu-btn-link" type="button">
                    <span class="mu-btn-link-box">
                      <span>mu-btn-link with icon</span><i class="mu-icon angle-right"></i>
                    </span>
                  </button>
                </div>
              </div>
            </div>

            <!-- Button Style 08: Toggle Button -->
            <div class="component-variation">
              <span class="component-variation__name">Toggle Button</span>
              <div class="component-example">
                <div class="component-example__live">
                  <button type="button" class="mu-btn mu-btn-toggle">
                    <span>mu-btn-toggle</span>
                  </button>
                  <button type="button" class="mu-btn mu-btn-toggle active">
                    <span>mu-btn-toggle</span>
                  </button>
                  <button type="button" class="mu-btn mu-btn-toggle disabled" disabled>
                    <span>mu-btn-toggle</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="footer">
<p class="footer__version">Component Version 0.1</p>
<p class="footer__copyright">Copyright © 2020 <a href="http://www.mobigen.com/" target="_blank">Mobigen</a> Co., Ltd. All rights reserved</p>
<div class="icon">
  <span class="icon-text"> svg 아이콘 사용 </span>
  <svg class="icon-comm">
    <use xlink:href="#address-card"></use>
  </svg>
  <svg class="icon-comm">
    <use xlink:href="#airbnb"></use>
  </svg>
</div>
</footer>
    </div>
  </div>
  <script src="../dist/js/main.bundle.js"></script>
</body>

</html>