<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>IRIS</title>
  <link rel="stylesheet" href="../dist/css/main/style.min.css" />
</head>

<body>
  <div class="content-wrap">
    <header>
      
<div class="header">
  <h3 class="header-title">이 곳은 헤더입니다.</h3>
  <ul class="gnb">
    <li>
      <a href="studio/index.html"> studio </a>
    </li>
    <li>
      <a href="#"> hd2 </a>
    </li>
    <li>
      <a href="#"> hd3 </a>
    </li>
  </ul>
</div>

    </header>
    <main>
      <h1>component guide~</h1>
      
<div class="top-content">
  <strong class="title"> title </strong>
  <span class="text">공통 모듈화 시킨 top-content</span>
</div>

      <section>
        <strong class="component-title">이곳은 컴포넌트 섹션!</strong>
        <span>
          <img src="../dist/images/common/img1.png" alt="test">
        </span>
        <span class="vendors">
          style-product - background-image로 이미지, svg icon을 넣었습니다.
          <span class="img-cake"></span>
          <svg class="icon-comm">
            <use xlink:href="#angry"></use>
          </svg>
        </span>
      </section>
      
<div class="top-content">
  <strong class="title"> title </strong>
  <span class="text">공통 모듈화 시킨 top-content</span>
</div>

      <section>
        <strong class="component-title">sherman에서만 사용할 컴포넌트</strong>
        <span>전체 테마가 아닌, sherman에만 테마 적용이 가능함</span>
        <div class="product-panel">
          <ul>
            <li>item1</li>
            <li>item2</li>
            <li>item3</li>
          </ul>
        </div>
      </section>
      
<div class="top-content">
  <strong class="title"> title </strong>
  <span class="text">공통 모듈화 시킨 top-content</span>
</div>

      <section>
        <strong class="component-title">이곳은 컴포넌트 섹션!3</strong>
      </section>
      
<div class="top-content">
  <strong class="title"> title </strong>
  <span class="text">공통 모듈화 시킨 top-content</span>
</div>

      <section>
        <strong class="component-title">이곳은 컴포넌트 섹션!4</strong>
        <span>
          <img src="../dist/images/common/img1.png" alt="test">
        </span>
      </section>
      
<div class="top-content">
  <strong class="title"> title </strong>
  <span class="text">공통 모듈화 시킨 top-content</span>
</div>

      <section>
        <strong class="component-title">이곳은 컴포넌트 섹션!5</strong>
      </section>
    </main>
    <footer>
<div class="footer">
  <strong class="footer-title">이 곳은 푸터입니다.</strong>
  <div class="icon">
    <span class="icon-text"> svg 아이콘 사용 </span>
    <svg class="icon-comm">
      <use xlink:href="#address-card"></use>
    </svg>
    <svg class="icon-comm">
      <use xlink:href="#airbnb"></use>
    </svg>
  </div>
</div>
</footer>
  </div>
  <script src="../dist/js/main.bundle.js"></script>
</body>

</html>