<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Context Menu</h3>
</div>
<div class="page-content">
  <p class="page__desc">특정 버튼을 클릭했을 경우 뜨는 리스트 형태의 메뉴입니다.</p>
  <div class="page__usage md">
    <ul>
      <li>
        컨텍스트 메뉴는 <em class="text-emphasis">4개</em>가 있으며 <em class="text-emphasis">3개</em> 크기로
        구분합니다.<br />
      </li>
      <li>텍스트만 사용하거나, 아이콘과 텍스트를 사용한 UI</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Context-menu</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <div class="context-menu context-menu--lg">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Selected</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Disabled</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <button class="context-menu__button" type="button" title="menu1" disabled>
                      <span class="context-menu__text">Context Menu Selected Disabled</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="context-menu context-menu--lg">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#link"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <button class="context-menu__button" type="button">
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#copy"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu Selected</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <button class="context-menu__button" type="button">
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#write"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu Disabled</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <button class="context-menu__button" type="button" title="menu1" disabled>
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#exit"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu Selected Disabled</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="context-menu context-menu--lg">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#link"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Selected</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#copy"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Disabled</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <button class="context-menu__button" type="button" title="menu1" disabled>
                      <span class="context-menu__text">Context Menu Selected Disabled</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#exit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="context-menu context-menu--lg">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <div class="checkbox checkbox--indeterminate">
                      <input id="context-check-01" type="checkbox" class="checkbox__input" value="label" />
                      <label for="context-check-01" class="checkbox__label"> Context Menu All </label>
                    </div>
                  </li>
                  <li class="context-menu__item">
                    <div class="checkbox">
                      <input id="context-check-02" type="checkbox" class="checkbox__input" value="label" />
                      <label for="context-check-02" class="checkbox__label">
                        <svg class="svg-icon context-menu__icon">
                          <use xlink:href="#data-model"></use>
                        </svg>
                        Context Menu
                      </label>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <div class="checkbox">
                      <input id="context-check-03" type="checkbox" class="checkbox__input" value="label" checked />
                      <label for="context-check-03" class="checkbox__label">
                        <svg class="svg-icon context-menu__icon">
                          <use xlink:href="#data-storage"></use>
                        </svg>
                        Context Menu Selected
                      </label>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <div class="checkbox checkbox--disabled">
                      <input id="context-check-04" type="checkbox" class="checkbox__input" value="label" />
                      <label for="context-check-04" class="checkbox__label">
                        <svg class="svg-icon context-menu__icon">
                          <use xlink:href="#data"></use>
                        </svg>
                        Context Menu Disabled
                      </label>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <div class="checkbox checkbox--disabled">
                      <input
                        id="context-check-05"
                        type="checkbox"
                        class="checkbox__input"
                        value="label"
                        checked
                        disabled
                      />
                      <label for="context-check-05" class="checkbox__label">
                        <svg class="svg-icon context-menu__icon">
                          <use xlink:href="#data"></use>
                        </svg>
                        Context Menu Selected Disabled
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="context-menu">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Selected</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Disabled</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <button class="context-menu__button" type="button" title="menu1" disabled>
                      <span class="context-menu__text">Context Menu Selected Disabled</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="context-menu">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#link"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <button class="context-menu__button" type="button">
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#copy"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu Selected</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <button class="context-menu__button" type="button">
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#write"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu Disabled</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <button class="context-menu__button" type="button" title="menu1" disabled>
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#exit"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu Selected Disabled</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="context-menu">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#link"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Selected</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#copy"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Disabled</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <button class="context-menu__button" type="button" title="menu1" disabled>
                      <span class="context-menu__text">Context Menu Selected Disabled</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#exit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="context-menu">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <div class="checkbox checkbox--indeterminate">
                      <input id="context-check-01" type="checkbox" class="checkbox__input" value="label" />
                      <label for="context-check-01" class="checkbox__label"> Context Menu All </label>
                    </div>
                  </li>
                  <li class="context-menu__item">
                    <div class="checkbox">
                      <input id="context-check-02" type="checkbox" class="checkbox__input" value="label" />
                      <label for="context-check-02" class="checkbox__label">
                        <svg class="svg-icon context-menu__icon">
                          <use xlink:href="#data-model"></use>
                        </svg>
                        Context Menu
                      </label>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <div class="checkbox">
                      <input id="context-check-03" type="checkbox" class="checkbox__input" value="label" checked />
                      <label for="context-check-03" class="checkbox__label">
                        <svg class="svg-icon context-menu__icon">
                          <use xlink:href="#data-storage"></use>
                        </svg>
                        Context Menu Selected
                      </label>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <div class="checkbox checkbox--disabled">
                      <input id="context-check-04" type="checkbox" class="checkbox__input" value="label" />
                      <label for="context-check-04" class="checkbox__label">
                        <svg class="svg-icon context-menu__icon">
                          <use xlink:href="#data"></use>
                        </svg>
                        Context Menu Disabled
                      </label>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <div class="checkbox checkbox--disabled">
                      <input
                        id="context-check-05"
                        type="checkbox"
                        class="checkbox__input"
                        value="label"
                        checked
                        disabled
                      />
                      <label for="context-check-05" class="checkbox__label">
                        <svg class="svg-icon context-menu__icon">
                          <use xlink:href="#data"></use>
                        </svg>
                        Context Menu Selected Disabled
                      </label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <div class="context-menu context-menu--sm">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                  </li>
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Selected</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Disabled</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <button class="context-menu__button" type="button" title="menu1" disabled>
                      <span class="context-menu__text">Context Menu Selected Disabled</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="context-menu context-menu--sm">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#link"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                  </li>
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#key"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <button class="context-menu__button" type="button">
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#copy"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu Selected</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <button class="context-menu__button" type="button">
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#write"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu Disabled</span>
                    </button>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <button class="context-menu__button" type="button" title="menu1" disabled>
                      <svg class="svg-icon context-menu__icon">
                        <use xlink:href="#exit"></use>
                      </svg>
                      <span class="context-menu__text">Context Menu Selected Disabled</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="context-menu context-menu--sm">
                <ul class="context-menu__list">
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#link"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="context-menu__item">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#key"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--selected">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Selected</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#copy"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--disabled">
                    <button class="context-menu__button" type="button">
                      <span class="context-menu__text">Context Menu Disabled</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
                    <button class="context-menu__button" type="button" title="menu1" disabled>
                      <span class="context-menu__text">Context Menu Selected Disabled</span>
                    </button>
                    <div class="context-menu__action-buttons">
                      <button class="context-menu__action-button" type="button" title="icon">
                        <svg class="svg-icon">
                          <use xlink:href="#exit"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
