<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Tooltip</h3>
</div>
<div class="page-content">
  <p class="page__desc">툴팁</p>
  <div class="page__usage md">
    <ul>
      <li>툴팁은 <em class="text-emphasis">2개</em>의 사이즈가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="tooltip tooltip--bottom">
                <span class="tooltip__text">
                  Tooltip Text
                </span>
              </div>
              <div class="tooltip tooltip--top">
                <span class="tooltip__text">
                  Tooltip Text
                </span>
              </div>
              <div class="tooltip tooltip--left">
                <span class="tooltip__text">
                  Tooltip Text
                </span>
              </div>
              <div class="tooltip tooltip--right">
                <span class="tooltip__text">
                  Tooltip Text
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>