<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Pagination</h3>
</div>
<div class="page-content">
  <p class="page__desc">페이지네이션</p>
  <div class="page__usage md">
    <ul>
      <li>페이지네이션은 <em class="text-emphasis">1개</em>가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="pagination">
                <button class="pagination__button" type="button">
                  <svg class="svg-icon">
                    <use xlink:href="#chevron-double-left-medium"></use>
                  </svg>
                </button>
                <button class="pagination__button" type="button">
                  <svg class="svg-icon">
                    <use xlink:href="#chevron-left-medium"></use>
                  </svg>
                </button>
                <ul class="pagination__list">
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 1 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 2 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 3 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 4 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 5 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 6 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 7 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 8 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 9 </a>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 10 </a>
                  </li>
                  <li class="pagination__item">
                    <span class="pagination__text"> ... </span>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 20 </a>
                  </li>
                </ul>
                <button class="pagination__button" type="button">
                  <svg class="svg-icon">
                    <use xlink:href="#chevron-double-right-medium"></use>
                  </svg>
                </button>
                <button class="pagination__button" type="button">
                  <svg class="svg-icon">
                    <use xlink:href="#chevron-right-medium"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Short</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="pagination">
                <button class="pagination__button" type="button">
                  <svg class="svg-icon">
                    <use xlink:href="#chevron-double-left-medium"></use>
                  </svg>
                </button>
                <button class="pagination__button" type="button">
                  <svg class="svg-icon">
                    <use xlink:href="#chevron-left-medium"></use>
                  </svg>
                </button>
                <ul class="pagination__list">
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 1 </a>
                  </li>
                  <li class="pagination__item">
                    <span class="pagination__text"> ... </span>
                  </li>
                  <li class="pagination__item">
                    <a href="#none" class="pagination__link"> 20 </a>
                  </li>
                </ul>
                <button class="pagination__button" type="button">
                  <svg class="svg-icon">
                    <use xlink:href="#chevron-double-right-medium"></use>
                  </svg>
                </button>
                <button class="pagination__button" type="button">
                  <svg class="svg-icon">
                    <use xlink:href="#chevron-right-medium"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
