
<!-- select -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Select</h3>
</div>
<div class="page-content">
  <p class="page__desc">특정 버튼을 클릭했을 경우 뜨는 리스트 형태의 메뉴입니다.</p>
  <div class="page__usage md">
    <ul>
      <li>컨텍스트 메뉴는 <em class="text-emphasis">4개</em>가 있으며 <em class="text-emphasis">3개</em> 크기로 구분합니다.<br /></li>
      <li>텍스트만 사용하거나, 아이콘과 텍스트를 사용한 UI </li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Select</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <div class="select select--lg">
                <button class="select__default-button" type="button">
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">권한 설정</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button" disabled>
                      <span class="select__text">사본으로 저장</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">정보 변경</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">목록으로 나가기</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="select select--lg">
                <button class="select__default-button" type="button">
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#link"></use>
                      </svg>
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#key"></use>
                      </svg>
                      <span class="select__text">권한 설정</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button" disabled>
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#copy"></use>
                      </svg>
                      <span class="select__text">사본으로 저장</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#write"></use>
                      </svg>
                      <span class="select__text">정보 변경</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#exit"></use>
                      </svg>
                      <span class="select__text">목록으로 나가기</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="select select--lg">
                <button class="select__default-button" type="button">
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">권한 설정</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button" disabled>
                      <span class="select__text">사본으로 저장</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">정보 변경</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">목록으로 나가기</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="select select--lg">
                <button class="select__default-button" type="button" disabled>
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="select">
                <button class="select__default-button" type="button">
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">권한 설정</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">사본으로 저장</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">정보 변경</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button" disabled>
                      <span class="select__text">목록으로 나가기</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="select">
                <button class="select__default-button" type="button">
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#link"></use>
                      </svg>
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#key"></use>
                      </svg>
                      <span class="select__text">권한 설정</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button" disabled>
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#copy"></use>
                      </svg>
                      <span class="select__text">사본으로 저장</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#write"></use>
                      </svg>
                      <span class="select__text">정보 변경</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#exit"></use>
                      </svg>
                      <span class="select__text">목록으로 나가기</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="select">
                <button class="select__default-button" type="button">
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">권한 설정</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button" disabled>
                      <span class="select__text">사본으로 저장</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">정보 변경</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">목록으로 나가기</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="select">
                <button class="select__default-button" type="button" disabled>
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <div class="select select--sm">
                <button class="select__default-button" type="button" title="select01">
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button" disabled>
                      <span class="select__text">권한 설정</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">사본으로 저장</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">정보 변경</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">목록으로 나가기</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="select select--sm">
                <button class="select__default-button" type="button">
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#link"></use>
                      </svg>
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#key"></use>
                      </svg>
                      <span class="select__text">권한 설정</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button" disabled>
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#copy"></use>
                      </svg>
                      <span class="select__text">사본으로 저장</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#write"></use>
                      </svg>
                      <span class="select__text">정보 변경</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <svg class="icon-comm select__icon">
                        <use xlink:href="#exit"></use>
                      </svg>
                      <span class="select__text">목록으로 나가기</span>
                    </button>
                  </li>
                </ul>
              </div>
              <div class="select select--sm">
                <button class="select__default-button" type="button">
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">권한 설정</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button" disabled>
                      <span class="select__text">사본으로 저장</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">정보 변경</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">목록으로 나가기</span>
                    </button>
                    <div class="select__action-button-wrap">
                      <button class="select__action-button" type="button" title="icon">
                        <svg class="icon-comm select__icon">
                          <use xlink:href="#write"></use>
                        </svg>
                      </button>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="select select--sm">
                <button class="select__default-button" type="button" disabled>
                  <strong class="select__default-text">선택하세요</strong>
                  <svg class="icon-comm select__default-icon">
                    <use xlink:href="#arrow-down"></use>
                  </svg>
                </button>
                <ul class="select__list">
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                  <li class="select__item">
                    <button class="select__button" type="button">
                      <span class="select__text">URL 관리</span>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>