<!-- loader -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Breacrumb</h3>
</div>
<div class="page-content">
  <p class="page__desc">브레드크럼</p>
  <div class="page__usage md">
    <ul>
      <li>로더는 스피너 형태와 바 형태 2개로 구분합니다.</li>
      <ul>
        <li>스피너형 로더</li>
      </ul>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Breadcrumb</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="breadcrumb">
                <span href="#none" class="breadcrumb__text"> Depth1 </span>
                <span href="#none" class="breadcrumb__text"> Depth2 </span>
                <span href="#none" class="breadcrumb__text"> Depth3 </span>
                <span href="#none" class="breadcrumb__text"> Depth4 </span>
                <span href="#none" class="breadcrumb__text"> Depth5 </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>