<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Description</h3>
</div>
<div class="page-content">
  <p class="page__desc">디스크립션</p>
  <div class="page__usage md">
    <ul>
      <li>디스크립션는 <em class="text-emphasis">2개</em>의 사이즈가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <div class="description description--lg" style="width: 700px">
                <div class="description__body">
                  <strong class="description__title"> Information </strong>
                  <ul class="description__list">
                    <li class="description__item">
                      <strong class="description__header"> 아이디아이디아이디아이디아이디 </strong>
                      <span class="description__text"> desirade </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 이름 </strong>
                      <span class="description__text"> 홍길동 </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 역할 </strong>
                      <span class="description__text"> 사용자 </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 그룹 </strong>
                      <span class="description__text"> JIRANSECURITY </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 전화번호 </strong>
                      <span class="description__text"> 010-1234-5376 </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 그룹 </strong>
                      <span class="description__text">
                        JIRANSECURITYJIRANSECURITYJIRANSECURITYJIRANSECURITYJIRANSECURITYJIRANSECURITYJIRANSECURITYJIRANSECURITYJIRANSECURITYJIRANSECURITY
                      </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 이메일 </strong>
                      <span class="description__text"> gildong@hotmail.com </span>
                    </li>
                  </ul>
                </div>
                <div class="description__foot">
                  <div class="description__foot-main-buttons">
                    <button class="button button-theme--ghost button--lg" type="button">
                      <span class="button__text"> 수정 </span>
                    </button>
                    <button class="button button-theme--primary button--lg" type="button">
                      <span class="button__text"> 저장 </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="description" style="width: 550px">
                <div class="description__body">
                  <strong class="description__title"> Information </strong>
                  <ul class="description__list">
                    <li class="description__item">
                      <strong class="description__header"> 아이디아이디아이디아이디아이디 </strong>
                      <span class="description__text"> desirade </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 이름 </strong>
                      <span class="description__text"> 홍길동 </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 역할 </strong>
                      <span class="description__text"> 사용자 </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 그룹 </strong>
                      <span class="description__text">
                        JIRANSECURITYJIRANSECURITYJIRANSECURITYJIRANSECURITYJIRANSECURITY
                      </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 전화번호 </strong>
                      <span class="description__text"> 010-1234-5376 </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 그룹 </strong>
                      <span class="description__text"> JIRANSECURITY </span>
                    </li>
                    <li class="description__item">
                      <strong class="description__header"> 이메일 </strong>
                      <span class="description__text"> gildong@hotmail.com </span>
                    </li>
                  </ul>
                </div>
                <div class="description__foot">
                  <div class="description__foot-main-buttons">
                    <button class="button button-theme--ghost" type="button">
                      <span class="button__text"> 수정 </span>
                    </button>
                    <button class="button button-theme--negative" type="button">
                      <span class="button__text"> 삭제 </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
