
<div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block;">
  <div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all"><a class="ui-datepicker-prev ui-corner-all" data-handler="prev" data-event="click" title="Prev"><span class="ui-icon ui-icon-circle-triangle-w">Prev</span></a><a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="Next"><span class="ui-icon ui-icon-circle-triangle-e">Next</span></a>
    <div class="ui-datepicker-title"><span class="ui-datepicker-year">2021</span>년&nbsp;<span class="ui-datepicker-month">1월</span></div>
  </div>
  <table class="ui-datepicker-calendar">
    <thead>
      <tr>
        <th class="ui-datepicker-week-end"><span title="일요일">일</span></th>
        <th><span title="월요일">월</span></th>
        <th><span title="화요일">화</span></th>
        <th><span title="수요일">수</span></th>
        <th><span title="목요일">목</span></th>
        <th><span title="금요일">금</span></th>
        <th class="ui-datepicker-week-end"><span title="토요일">토</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
        <td class=" ui-datepicker-unselectable ui-state-disabled undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">1</a></td>
        <td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">2</a></td>
      </tr>
      <tr>
        <td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">3</a></td>
        <td class=" ui-datepicker-unselectable ui-state-disabled undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">4</a></td>
        <td class=" ui-datepicker-unselectable ui-state-disabled undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">5</a></td>
        <td class=" ui-datepicker-unselectable ui-state-disabled undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">6</a></td>
        <td class=" ui-datepicker-unselectable ui-state-disabled undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">7</a></td>
        <td class=" ui-datepicker-unselectable ui-state-disabled undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">8</a></td>
        <td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">9</a></td>
      </tr>
      <tr>
        <td class=" ui-datepicker-week-end undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">10</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">11</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">12</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">13</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default ui-state-hover" href="#">14</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">15</a></td>
        <td class=" ui-datepicker-week-end undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">16</a></td>
      </tr>
      <tr>
        <td class=" ui-datepicker-week-end undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">17</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">18</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">19</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">20</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">21</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">22</a></td>
        <td class=" ui-datepicker-week-end undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">23</a></td>
      </tr>
      <tr>
        <td class=" ui-datepicker-week-end undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">24</a></td>
        <td class=" undefined ui-datepicker-current-day" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default ui-state-active" href="#">25</a></td>
        <td class=" ui-datepicker-range undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">26</a></td>
        <td class=" ui-datepicker-days-cell-over undefined ui-datepicker-current-day ui-datepicker-today" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default ui-state-highlight" href="#">27</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">28</a></td>
        <td class=" undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">29</a></td>
        <td class=" ui-datepicker-week-end undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">30</a></td>
      </tr>
      <tr>
        <td class=" ui-datepicker-week-end undefined" data-handler="selectDay" data-event="click" data-month="0" data-year="2021"><a class="ui-state-default" href="#">31</a></td>
        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
        <td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
        <td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td>
      </tr>
    </tbody>
  </table>
</div>
