<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Upload</h3>
</div>
<div class="page-content">
  <p class="page__desc">업로드</p>
  <div class="page__usage md">
    <ul>
      <li>업로드는 <em class="text-emphasis">2개</em>의 사이즈가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <div class="upload upload--lg" style="width: 375px">
                <input type="text" class="upload__input" placeholder="등록한 파일명이 보여집니다." readonly />
                <div class="upload__file">
                  <input type="file" class="upload__file-input" />
                  <button class="upload__file-button" type="button">
                    <svg class="svg-icon">
                      <use xlink:href="#add"></use>
                    </svg>
                    Upload
                  </button>
                </div>
              </div>
              <div class="upload upload--focused upload--lg" style="width: 375px">
                <input
                  type="text"
                  class="upload__input"
                  placeholder="등록한 파일명이 보여집니다. (selected)"
                  readonly
                />
                <div class="upload__file">
                  <input type="file" class="upload__file-input" />
                  <button class="upload__file-button" type="button">
                    <svg class="svg-icon">
                      <use xlink:href="#add"></use>
                    </svg>
                    Upload
                  </button>
                </div>
              </div>
              <div class="upload upload--disabled upload--lg" style="width: 375px">
                <input
                  type="text"
                  class="upload__input"
                  placeholder="등록한 파일명이 보여집니다. (disabled)"
                  readonly
                  disabled
                />
                <div class="upload__file">
                  <input type="file" class="upload__file-input" disabled />
                  <button class="upload__file-button" type="button" disabled>
                    <svg class="svg-icon">
                      <use xlink:href="#add"></use>
                    </svg>
                    Upload
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <div class="upload" style="width: 375px">
                <input type="text" class="upload__input" placeholder="등록한 파일명이 보여집니다." readonly />
                <div class="upload__file">
                  <button class="upload__file-button" type="button">
                    <svg class="svg-icon">
                      <use xlink:href="#add"></use>
                    </svg>
                    Upload
                  </button>
                  <input type="file" class="upload__file-input" />
                </div>
              </div>
              <div class="upload upload--focused" style="width: 375px">
                <input
                  type="text"
                  class="upload__input"
                  placeholder="등록한 파일명이 보여집니다. (selected)"
                  readonly
                />
                <div class="upload__file">
                  <button class="upload__file-button" type="button">
                    <svg class="svg-icon">
                      <use xlink:href="#add"></use>
                    </svg>
                    Upload
                  </button>
                  <input type="file" class="upload__file-input" />
                </div>
              </div>
              <div class="upload upload--disabled" style="width: 375px">
                <input
                  type="text"
                  class="upload__input"
                  placeholder="등록한 파일명이 보여집니다. (disabled)"
                  readonly
                  disabled
                />
                <div class="upload__file">
                  <button class="upload__file-button" type="button" disabled>
                    <svg class="svg-icon">
                      <use xlink:href="#add"></use>
                    </svg>
                    Upload
                  </button>
                  <input type="file" class="upload__file-input" disabled />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Alternative Upload</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <div class="upload-alt">
                <div class="upload-alt__file">
                  <input type="file" class="upload-alt__file-input" />
                  <button class="upload-alt__file-button" type="button">
                    <strong class="upload-alt__file-title"> title </strong>
                    <span class="upload-alt__file-text"> default </span>
                    <span class="upload-alt__file-icon">
                      <svg class="svg-icon upload-alt__file-icon-download">
                        <use xlink:href="#upload"></use>
                      </svg>
                      <!-- 이미지 select된 경우 보여짐 -->
                      <svg class="svg-icon upload-alt__file-icon-remove">
                        <use xlink:href="#close-middle"></use>
                      </svg>
                    </span>
                  </button>
                </div>
                <p class="upload-alt__helper-text">* 권장 포맷: 가로 140pz, PNG</p>
              </div>
              <!-- 보조 업로드 항목에 파일이 업로드 됐을 때 upload-alt--loaded 클래스 추가 -->
              <div class="upload-alt upload-alt--loaded">
                <div class="upload-alt__file">
                  <input type="file" class="upload-alt__file-input" />
                  <button class="upload-alt__file-button" type="button">
                    <strong class="upload-alt__file-title"> 파비콘 (selected) </strong>
                    <span class="upload-alt__file-text"> 사용자 지정 </span>
                    <span class="upload-alt__file-icon">
                      <svg class="svg-icon upload-alt__file-icon-download">
                        <use xlink:href="#upload"></use>
                      </svg>
                      <!-- 이미지 select된 경우 보여짐 -->
                      <svg class="svg-icon upload-alt__file-icon-remove">
                        <use xlink:href="#close-middle"></use>
                      </svg>
                    </span>
                  </button>
                </div>
                <p class="upload-alt__helper-text">* 권장 포맷: 가로 140pz, PNG</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Preview Upload</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <div class="upload-preview" style="width: 390px">
                <div class="upload-preview__thumbnail">
                  <svg class="svg-icon">
                    <use xlink:href="#image-guide"></use>
                  </svg>
                  <p class="upload-preview__thumbnail-text">
                    파일을 선택하시면 이곳에 추가됩니다.
                    <br />
                    pdf, jpg, gif up to 10MB
                  </p>
                </div>
                <div class="upload-preview__file">
                  <input type="file" class="upload-preview__file-input" />
                  <button class="upload-preview__file-button" type="button">
                    <svg class="svg-icon">
                      <use xlink:href="#upload"></use>
                    </svg>
                    <span class="upload-preview__file-text"> Click To Upload </span>
                  </button>
                </div>
              </div>
              <!-- 미리보기형 파일이 업로드 됐을 떄 upload-preview--loaded 클래스 추가 -->
              <div class="upload-preview upload-preview--loaded" style="width: 390px">
                <div class="upload-preview__thumbnail">
                  <img src="../src/images/common/thumbnail.png" class="img-g" alt="sample image" />
                </div>
                <div class="upload-preview__file">
                  <input type="file" class="upload-preview__file-input" />
                  <button class="upload-preview__file-button" type="button">
                    <svg class="svg-icon">
                      <use xlink:href="#trash"></use>
                    </svg>
                    <span class="upload-preview__file-text"> Delete File </span>
                  </button>
                </div>
              </div>
              <div class="upload-preview upload-preview--disabled" style="width: 390px">
                <div class="upload-preview__thumbnail">
                  <svg class="svg-icon">
                    <use xlink:href="#image-guide"></use>
                  </svg>
                  <p class="upload-preview__thumbnail-text">
                    파일을 선택하시면 이곳에 추가됩니다.
                    <br />
                    pdf, jpg, gif up to 10MB
                  </p>
                </div>
                <div class="upload-preview__file">
                  <input type="file" class="upload-preview__file-input" disabled />
                  <button class="upload-preview__file-button" type="button">
                    <svg class="svg-icon">
                      <use xlink:href="#trash"></use>
                    </svg>
                    <span class="upload-preview__file-text"> Disabled </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
