
<!-- textarea -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Textarea</h3>
</div>
<div class="page-content">
  <p class="page__desc">텍스트 입력 영역 필드</p>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <!-- default -->
          <textarea type="text" class="text-area" placeholder="placeholder text"></textarea>
          <!-- filled -->
          <textarea type="text" class="text-area" placeholder="placeholder text" style="margin-top: 8px;">textarea filled</textarea>
          <!-- disabled -->
          <textarea type="text" class="text-area" placeholder="placeholder text" readonly style="margin-top: 8px;">textarea readonly</textarea>
          <!-- disabled -->
          <textarea type="text" class="text-area" placeholder="placeholder text" disabled style="margin-top: 8px;"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Not Resizeable</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <!-- default -->
          <textarea type="text" class="text-area text-area--fixed" placeholder="placeholder text"></textarea>
          <!-- filled -->
          <textarea type="text" class="text-area text-area--fixed" placeholder="placeholder text" style="margin-top: 8px;">textarea filled</textarea>
          <!-- disabled -->
          <textarea type="text" class="text-area text-area--fixed" placeholder="placeholder text" readonly style="margin-top: 8px;">textarea readonly</textarea>
          <!-- disabled -->
          <textarea type="text" class="text-area text-area--fixed" placeholder="placeholder text" disabled style="margin-top: 8px;"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
