<!-- number-input -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Number Input</h3>
</div>
<div class="page-content">
  <p class="page__desc">숫자 입력 필드입니다.</p>
  <div class="page__usage md">
    <ul>
      <li>숫자 입력 필드는 <em class="text-emphasis">1개</em> 유형이 있으며 <em class="text-emphasis">3개</em> 크기로 구분합니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Number Input</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <label for="number-inp-01" class="hidden">Label</label>
              <input type="number" id="number-inp-01" class="text-input text-input--lg" max="100" min="0" step="1" value="3" />
              <!-- disabled -->
              <label for="number-inp-02" class="hidden">Label</label>
              <input type="number" id="number-inp-02" class="text-input text-input--lg" max="100" min="0" step="1" value="3" disabled />
            </div>
          </div>

          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <label for="number-inp-03" class="hidden">Label</label>
              <input type="number" id="number-inp-03" class="text-input" max="100" min="0" step="1" value="3" disabled />
              <!-- disabled -->
              <label for="number-inp-04" class="hidden">Label</label>
              <input type="number" id="number-inp-04" class="text-input" max="100" min="0" step="1" value="3" disabled />
            </div>
          </div>

          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <label for="number-inp-05" class="hidden">Label</label>
              <input type="number" id="number-inp-05" class="text-input text-input--sm" max="100" min="0" step="1" value="3" disabled />
              <!-- disabled -->
              <label for="number-inp-06" class="hidden">Label</label>
              <input type="number" id="number-inp-06" class="text-input text-input--sm" max="100" min="0" step="1" value="3" disabled />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Styled Number Input</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="number-input number-input--lg">
                <label for="number-inp-07" class="hidden">Label</label>
                <input type="number" id="number-inp-07" class="number-input__input" max="100" min="0" step="1" value="3" />
                <div class="number-input__controls">
                  <button class="number-input__control-button up-icon" title="숫자 더하기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="number-input__control-button down-icon" title="숫자 줄이기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <!-- TODO: input 입력 중일 땐 number-input--focused 클래스가 추가되어야함 -->
              <!-- focused -->
              <div class="number-input number-input--lg number-input--focused" style="margin-top: 8px;">
                <label for="number-inp-08" class="hidden">Label</label>
                <input type="number" id="number-inp-08" class="number-input__input" max="100" min="0" step="1" value="3" />
                <div class="number-input__controls">
                  <button class="number-input__control-button up-icon" title="숫자 더하기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="number-input__control-button down-icon" title="숫자 줄이기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <!-- disabled -->
              <div class="number-input number-input--lg number-input--disabled" style="margin-top: 8px;">
                <label for="number-inp-10" class="hidden">Label</label>
                <input type="number" id="number-inp-10" class="number-input__input" max="100" min="0" step="1" value="3" disabled />
                <div class="number-input__controls">
                  <button class="number-input__control-button up-icon" title="숫자 더하기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="number-input__control-button down-icon" title="숫자 줄이기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="number-input">
                <label for="number-inp-11" class="hidden">Label</label>
                <input type="number" id="number-inp-11" class="number-input__input" max="100" min="0" step="1" value="3" />
                <div class="number-input__controls">
                  <button class="number-input__control-button up-icon" title="숫자 더하기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="number-input__control-button down-icon" title="숫자 줄이기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <!-- focused -->
              <div class="number-input number-input--focused" style="margin-top: 8px;">
                <label for="number-inp-12" class="hidden">Label</label>
                <input type="number" id="number-inp-12" class="number-input__input" max="100" min="0" step="1" value="3" />
                <div class="number-input__controls">
                  <button class="number-input__control-button up-icon" title="숫자 더하기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="number-input__control-button down-icon" title="숫자 줄이기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <!-- disabled -->
              <div class="number-input number-input--disabled" style="margin-top: 8px;">
                <label for="number-inp-13" class="hidden">Label</label>
                <input type="number" id="number-inp-13" class="number-input__input" max="100" min="0" step="1" value="3" disabled />
                <div class="number-input__controls">
                  <button class="number-input__control-button up-icon" title="숫자 더하기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="number-input__control-button down-icon" title="숫자 줄이기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group component-examle__item-group--row">
              <!-- default -->
              <div class="number-input number-input--sm">
                <label for="number-inp-14" class="hidden">Label</label>
                <input type="number" id="number-inp-14" class="number-input__input" max="100" min="0" step="1" value="3" />
                <div class="number-input__controls">
                  <button class="number-input__control-button up-icon" title="숫자 더하기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="number-input__control-button down-icon" title="숫자 줄이기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <!-- focused -->
              <div class="number-input number-input--sm number-input--focused" style="margin-top: 8px;">
                <label for="number-inp-15" class="hidden">Label</label>
                <input type="number" id="number-inp-15" class="number-input__input" max="100" min="0" step="1" value="3" />
                <div class="number-input__controls">
                  <button class="number-input__control-button up-icon" title="숫자 더하기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="number-input__control-button down-icon" title="숫자 줄이기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                </div>
              </div>
              <!-- disabled -->
              <div class="number-input number-input--sm number-input--disabled" style="margin-top: 8px;">
                <label for="number-inp-16" class="hidden">Label</label>
                <input type="number" id="number-inp-16" class="number-input__input" max="100" min="0" step="1" value="3" disabled />
                <div class="number-input__controls">
                  <button class="number-input__control-button up-icon" title="숫자 더하기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up"></use>
                    </svg>
                  </button>
                  <button class="number-input__control-button down-icon" title="숫자 줄이기">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-down"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
