<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Drawer</h3>
</div>
<div class="page-content">
  <p class="page__desc">디스크립션</p>
  <div class="page__usage md">
    <ul>
      <li>디스크립션는 <em class="text-emphasis">2개</em>의 사이즈가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <div class="drawer">
                <div class="drawer__head">
                  <strong class="drawer__head-title">
                    로그인 설정
                  </strong>
                  <div class="drawer__head-content">
                    
                  </div>

                </div>
                <div class="drawer__body">

                </div>
                <div class="drawer__body">

                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>