<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Tooltip</h3>
</div>
<div class="page-content">
  <p class="page__desc">툴팁은 간단한 설명 텍스트를 띄우는데 사용합니다.<br/> 주로 아이콘 버튼을 hover, focus, click 했을 때 메시지를 표시합니다.</p>
  <div class="page__usage md">
    <ul>
      <li>툴팁은 <em class="text-emphasis">dark(default), light 2개</em> 테마가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default(dark)</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-examle__item-group">
            <div class="tooltip-studio tooltip-studio--bottom" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--top" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--right" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--left" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text </span>
              </div>
            </div>
          </div>
          <div class="component-examle__item-group" style="margin-top: 20px;">
            <div class="tooltip-studio tooltip-studio--top-right" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--top-right </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--top-left" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--top-left </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--bottom-right" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--bottom-right </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--bottom-left" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--bottom-left </span>
              </div>
            </div>
          </div>
          <div class="component-examle__item-group" style="margin-top: 20px;">
            <div class="tooltip-studio tooltip-studio--right-top" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--right-top </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--right-bottom" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--right-bottom </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--left-top" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--left-top </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--left-bottom" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--left-bottom </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Light</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-examle__item-group">
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--bottom" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--top" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--right" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--left" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text </span>
              </div>
            </div>
          </div>
          <div class="component-examle__item-group" style="margin-top: 20px;">
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--top-right" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--top-right </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--top-left" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--top-left </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--bottom-right" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--bottom-right </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--bottom-left" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--bottom-left </span>
              </div>
            </div>
          </div>
          <div class="component-examle__item-group" style="margin-top: 20px;">
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--right-top" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--right-top </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--right-bottom" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--right-bottom </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--left-top" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--left-top </span>
              </div>
            </div>
            <div class="tooltip-studio tooltip-studio--light tooltip-studio--left-bottom" style="position: relative;">
              <span class="tooltip-studio__arrow"></span>
              <div class="tooltip-studio__inner">
                <strong class="tooltip-studio__title"> Tooltip Title </strong>
                <span class="tooltip-studio__text"> Tooltip Text <br /> tooltip-studio--left-bottom </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
