
<!-- textarea -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Time Picker</h3>
</div>
<div class="page-content">
  <p class="page__desc">시간 선택형 필드</p>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live" style="align-items: flex-start; height: 356px;">
        <div>
          <!-- default -->
          <div class="time-picker" style="margin-right: 18px;">
            <input type="text" class="time-picker__input" placeholder="hh:mm:ss" autocomplete="off">
            <button class="time-picker__button">
              <svg class="svg-icon">
                <use xlink:href="#time"></use>
              </svg>
            </button>
          </div>
          <!-- focused -->
          <div style="display: inline-flex; position: relative;">
            <div class="time-picker time-picker--focused" style="margin-right: 18px;">
              <input type="text" class="time-picker__input" placeholder="hh:mm:ss" value="03:04:07" autocomplete="off">
              <button class="time-picker__button">
                <svg class="svg-icon">
                  <use xlink:href="#time"></use>
                </svg>
              </button>
            </div>
            <div class="time-picker-panel" style="/* top:  셀렉터의 Y좌표 + 셀렉터의 높이; left: 셀렉터의 Y좌표 */ top: 32px; left: 0;width: 167px;">
              <ul class="time-picker-panel-list">
                <li class="time-picker-panel-list__item time-picker-panel-list__item--disabled">
                  <button class="time-picker-panel-list__button">00</button>
                </li>
                <li class="time-picker-panel-list__item time-picker-panel-list__item--disabled">
                  <button class="time-picker-panel-list__button">01</button>
                </li>
                <li class="time-picker-panel-list__item time-picker-panel-list__item--disabled">
                  <button class="time-picker-panel-list__button">02</button>
                </li>
                <li class="time-picker-panel-list__item time-picker-panel-list__item--disabled time-picker-panel-list__item--selected">
                  <button class="time-picker-panel-list__button">03</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">04</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">05</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">06</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">07</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">08</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">09</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">10</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">11</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">12</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">13</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">14</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">15</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">16</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">17</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">18</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">19</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">20</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">21</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">22</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">23</button>
                </li>
              </ul>
              <ul class="time-picker-panel-list">
                <li class="time-picker-panel-list__item time-picker-panel-list__item--disabled">
                  <button class="time-picker-panel-list__button">00</button>
                </li>
                <li class="time-picker-panel-list__item time-picker-panel-list__item--disabled">
                  <button class="time-picker-panel-list__button">01</button>
                </li>
                <li class="time-picker-panel-list__item time-picker-panel-list__item--disabled">
                  <button class="time-picker-panel-list__button">02</button>
                </li>
                <li class="time-picker-panel-list__item time-picker-panel-list__item--disabled">
                  <button class="time-picker-panel-list__button">03</button>
                </li>
                <li class="time-picker-panel-list__item time-picker-panel-list__item--selected">
                  <button class="time-picker-panel-list__button">04</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">05</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">06</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">07</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">08</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">09</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">10</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">11</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">12</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">13</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">14</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">15</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">16</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">17</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">18</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">19</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">20</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">21</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">22</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">23</button>
                </li>
              </ul>
              <ul class="time-picker-panel-list">
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">00</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">01</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">02</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">03</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">04</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">05</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">06</button>
                </li>
                <li class="time-picker-panel-list__item time-picker-panel-list__item--selected">
                  <button class="time-picker-panel-list__button">07</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">08</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">09</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">10</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">11</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">12</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">13</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">14</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">15</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">16</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">17</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">18</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">19</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">20</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">21</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">22</button>
                </li>
                <li class="time-picker-panel-list__item">
                  <button class="time-picker-panel-list__button">23</button>
                </li>
              </ul>
            </div>
          </div>
          <!-- disabled -->
          <div class="time-picker time-picker--disabled">
            <input type="text" class="time-picker__input" placeholder="hh:mm:ss" autocomplete="off" disabled>
            <button class="time-picker__button" disabled>
              <svg class="svg-icon">
                <use xlink:href="#time"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
