<!-- toggle-button -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Toggle Button</h3>
</div>
<div class="page-content">
  <p class="page__desc">토글 버튼</p>
  <div class="page__usage md">
    <ul>
      <li>토글 버튼은 <em class="text-emphasis">2개</em>의 사이즈가 있습니다.</li>
      <li>토글 버튼은 <em class="text-emphasis">2개</em>의 테마가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="toggle-button">
                <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                <button class="toggle-button__item toggle-button__item--selected" type="button">
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item" type="button">
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item" type="button">
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item" type="button" disabled>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <div class="toggle-button">
                <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                <button class="toggle-button__item toggle-button__item--sm toggle-button__item--selected" type="button">
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item toggle-button__item--sm" type="button">
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item toggle-button__item--sm" type="button">
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item toggle-button__item--sm" type="button" disabled>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">With Icon</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="toggle-button">
                <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                <button class="toggle-button__item toggle-button__item--selected" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item" type="button" disabled>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <div class="toggle-button">
                <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                <button class="toggle-button__item toggle-button__item--sm toggle-button__item--selected" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item toggle-button__item--sm" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item toggle-button__item--sm" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
                <button class="toggle-button__item toggle-button__item--sm" type="button" disabled>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Icon Only</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="toggle-button">
                <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                <button class="toggle-button__item toggle-button__item--icon toggle-button__item--selected" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                </button>
                <button class="toggle-button__item toggle-button__item--icon" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                </button>
                <button class="toggle-button__item toggle-button__item--icon" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                </button>
                <button class="toggle-button__item toggle-button__item--icon" type="button" disabled>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <div class="toggle-button">
                <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                <button class="toggle-button__item toggle-button__item--icon toggle-button__item--sm toggle-button__item--selected" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                </button>
                <button class="toggle-button__item toggle-button__item--icon toggle-button__item--sm" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                </button>
                <button class="toggle-button__item toggle-button__item--icon toggle-button__item--sm" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                </button>
                <button class="toggle-button__item toggle-button__item--icon toggle-button__item--sm" type="button" disabled>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Single</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="toggle-button">
                <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                <button class="toggle-button__item toggle-button__item--selected" type="button">
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
              </div>
              <div class="toggle-button">
                <button class="toggle-button__item toggle-button__item--icon toggle-button__item--selected" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
              </div>
              <div class="toggle-button">
                <button class="toggle-button__item toggle-button__item--icon toggle-button__item--selected" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <div class="toggle-button">
                <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                <button class="toggle-button__item toggle-button__item--sm" type="button">
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
              </div>
              <div class="toggle-button">
                <button class="toggle-button__item toggle-button__item--sm toggle-button__item--icon" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                  <span class="toggle-button__text">Toggle Button</span>
                </button>
              </div>
              <div class="toggle-button">
                <button class="toggle-button__item toggle-button__item--sm toggle-button__item--icon" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#fit-to-screen"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Single Buttons</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="toggle-buttons">
                <div class="toggle-button">
                  <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                  <button class="toggle-button__item toggle-button__item--selected" type="button">
                    <span class="toggle-button__text">Toggle Button</span>
                  </button>
                </div>
                <div class="toggle-button">
                  <button class="toggle-button__item toggle-button__item--icon toggle-button__item--selected" type="button">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#fit-to-screen"></use>
                    </svg>
                    <span class="toggle-button__text">Toggle Button</span>
                  </button>
                </div>
                <div class="toggle-button">
                  <button class="toggle-button__item toggle-button__item--icon toggle-button__item--selected" type="button">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#fit-to-screen"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <div class="toggle-buttons">
                <div class="toggle-button">
                  <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
                  <button class="toggle-button__item toggle-button__item--sm" type="button">
                    <span class="toggle-button__text">Toggle Button</span>
                  </button>
                </div>
                <div class="toggle-button">
                  <button class="toggle-button__item toggle-button__item--sm toggle-button__item--icon" type="button">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#fit-to-screen"></use>
                    </svg>
                    <span class="toggle-button__text">Toggle Button</span>
                  </button>
                </div>
                <div class="toggle-button">
                  <button class="toggle-button__item toggle-button__item--sm toggle-button__item--icon" type="button">
                    <svg class="svg-icon" aria-hidden="true">
                      <use xlink:href="#fit-to-screen"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Secondary</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <ul class="toggle-button-list">
            <li class="toggle-button">
              <!-- toggle-button__item--selected 클래스 추가시 버튼 활성화 -->
              <button class="toggle-button__item toggle-button__item--secondary toggle-button__item--selected" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#fit-to-screen"></use>
                </svg>
                <span class="toggle-button__text">Toggle Button</span>
              </button>
            </li>
            <li class="toggle-button">
              <button class="toggle-button__item toggle-button__item--secondary" type="button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#template"></use>
                </svg>
                <span class="toggle-button__text">Toggle Button</span>
              </button>
            </li>
            <li class="toggle-button">
              <button class="toggle-button__item toggle-button__item--secondary" type="button" disabled="disabled">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#popup"></use>
                </svg>
                <span class="toggle-button__text">Toggle Button</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
