<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Form</h3>
</div>
<div class="page-content">
  <p class="page__desc">폼은 사용자가 데이터를 입력하거나 옵션을 구성할 수 있는 입력 컨트롤 그룹입니다.<br/> 폼은 많이 단순할 수도, 복잡할 수도 있습니다.</p>
  <div class="page__usage md">
    <ul>
      <li>폼은  <em class="text-emphasis">2개</em> 유형과 <em class="text-emphasis">2개</em>의 사이즈가 있습니다.
        <ul>
          <li>Default(horizontal)</li>
          <li>Vertical</li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <form class="form form--lg" style="width: 570px;">
                <div class="form__head">
                  <strong class="form__head-title">
                    그룹 기본설정
                  </strong>
                </div>
                <div class="form__body">
                  <div class="form__list">
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">
                          그룹 메뉴 아이콘
                        </span>
<!--                        v-tooltip로 tooltip을 퍼블리싱 하는 경우에만 사용합니다. -->
                        <span class="v-tooltip">
                            <!-- auto, top, right, left, bottom -->
                            <svg class="svg-icon v-tooltip__icon" aria-hidden="true" aria-hidden="true">
                              <use xlink:href="#help-outline"></use>
                            </svg>
                        </span>
                      </label>
                      <div class="form__detail">
                        <div class="upload-preview">
                          <div class="upload-preview__thumbnail">
                            <svg class="svg-icon" aria-hidden="true" aria-hidden="true">
                              <use xlink:href="#object-image"></use>
                            </svg>
                            <p class="upload-preview__thumbnail-text">
                              파일을 선택하시면 이곳에 추가됩니다.
                              <br>
                              pdf, jpg, gif up to 10MB
                            </p>
                          </div>
                          <div class="upload-preview__file">
                            <input type="file" class="upload-preview__file-input">
                            <label class="upload-preview__file-label">
                              <svg class="svg-icon" aria-hidden="true" aria-hidden="true">
                                <use xlink:href="#upload"></use>
                              </svg>
                              <span class="upload-preview__file-text"> Click To Upload </span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">
                          그룹명
                        </span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />

                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">
                          그룹 설명
                        </span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />

                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">
                          그룹명
                        </span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />

                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">
                          그룹 설명
                        </span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />

                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹 설명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />

                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />

                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">첫그룹</span> <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <div class="checkbox checkbox--lg">
                          <input id="formChekcbox-01" type="checkbox" class="checkbox__input" value="label">
                          <label for="formChekcbox-01" class="checkbox__label">첫 그룹으로 설정</label>
                        </div>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">첫그룹</span> <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail form__detail-list">
                        <li class="form__detail-item form__detail-item--border">
                          <div class="form__detail-label">
                            <label for="id1" class="form__detail-label-text">
                              name
                            </label>
                          </div>
                          <div class="form__detail-detail">
                            <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />
                          </div>
                        </li>
                        <li class="form__detail-item form__detail-item--border">
                          <div class="form__detail-label">
                            <label for="id1" class="form__detail-label-text">
                              name
                            </label>
                          </div>
                          <div class="form__detail-detail">
                            <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />
                          </div>
                        </li>
                        <li class="form__detail-item form__detail-item--border">
                          <div class="form__detail-label">
                            <label for="id1" class="form__detail-label-text">
                              name
                            </label>
                          </div>
                          <div class="form__detail-detail">
                            <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />
                          </div>
                        </li>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">첫그룹</span> <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail form__detail-list">
                        <li class="form__detail-item form__detail-item--border">
                          <div class="form__detail-label">
                            <label for="id1" class="form__detail-label-text">
                              name
                            </label>
                          </div>
                          <div class="form__detail-detail">
                            <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />
                          </div>
                        </li>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">첫그룹</span> <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail form__detail-list">
                        <li class="form__detail-item form__detail-item--border">
                          <div class="form__detail-label">
                            <label for="id1" class="form__detail-label-text">
                              name
                            </label>
                          </div>
                          <div class="form__detail-detail">
                            <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />
                          </div>
                        </li>
                        <li class="form__detail-item form__detail-item--border">
                          <div class="form__detail-label">
                            <label for="id1" class="form__detail-label-text">
                              name
                            </label>
                          </div>
                          <div class="form__detail-detail">
                            <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />
                          </div>
                        </li>
                        <li class="form__detail-item form__detail-item--border">
                          <div class="form__detail-label">
                            <label for="id1" class="form__detail-label-text">
                              name
                            </label>
                          </div>
                          <div class="form__detail-detail">
                            <input type="text" class="text-input text-input--lg" placeholder="placeholder text" />
                          </div>
                        </li>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__foot">
                  <button class="button button--tertiary button--lg" type="button">
                    <span class="button__text"> 초기화 </span>
                  </button>
                  <div class="form__foot-main-buttons">
                    <button class="button button--support button--lg" type="button">
                      <span class="button__text"> 수정 </span>
                    </button>
                    <button class="button button--primary button--lg" type="button">
                      <span class="button__text"> 그룹 설정 저장 </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <form class="form" style="width: 570px;">
                <div class="form__head">
                  <strong class="form__head-title">
                    그룹 기본설정
                  </strong>
                </div>
                <div class="form__body">
                  <div class="form__list">
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹 메뉴 아이콘</span>
                      </label>
                      <div class="form__detail">
                        <div class="upload-preview">
                          <div class="upload-preview__thumbnail">
                            <svg class="svg-icon" aria-hidden="true" aria-hidden="true">
                              <use xlink:href="#object-image"></use>
                            </svg>
                            <p class="upload-preview__thumbnail-text">
                              파일을 선택하시면 이곳에 추가됩니다.
                              <br>
                              pdf, jpg, gif up to 10MB
                            </p>
                          </div>
                          <div class="upload-preview__file">
                            <input type="file" class="upload-preview__file-input">
                            <label class="upload-preview__file-label">
                              <svg class="svg-icon" aria-hidden="true" aria-hidden="true">
                                <use xlink:href="#upload"></use>
                              </svg>
                              <span class="upload-preview__file-text"> Click To Upload </span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="placeholder text" />
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹 설명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="placeholder text" />
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="placeholder text" />
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="placeholder text" />
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹 설명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="placeholder text" />
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="placeholder text" />
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹 설명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="placeholder text" />
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">그룹 설명</span>
                        <span class="form__label-subtext">(한국어)</span>
                      </label>
                      <div class="form__detail">
                        <div class="checkbox">
                          <input id="formChekcbox-01" type="checkbox" class="checkbox__input" value="label">
                          <label for="formChekcbox-01" class="checkbox__label">첫 그룹으로 설정</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__foot">
                  <button class="button button--tertiary" type="button">
                    <span class="button__text"> 초기화 </span>
                  </button>
                  <div class="form__foot-main-buttons">
                    <button class="button button--support" type="button">
                      <span class="button__text"> 수정 </span>
                    </button>
                    <button class="button button--primary" type="button">
                      <span class="button__text"> 그룹 설정 저장 </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Vertical Form</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <form class="form form--vertical" style="width: 570px;">
                <div class="form__head">
                  <strong class="form__head-title">
                    그룹 기본설정
                  </strong>
                </div>
                <div class="form__body">
                  <div class="form__list">
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">이미지</span>
                      </label>
                      <div class="form__detail">
                        <ul class="form__detail form__detail-list">
                          <li class="form__detail-item">
                            <div class="upload-alt upload-alt--loaded">
                              <div class="upload-alt__file">
                                <input type="file" class="upload-alt__file-input" />
                                <button class="upload-alt__file-button" type="button">
                                  <strong class="upload-alt__file-title"> 파비콘 </strong>
                                  <span class="upload-alt__file-text"> 사용자 지정</span>
                                  <span class="upload-alt__file-icon">
                                    <svg class="svg-icon upload-alt__file-icon-download" aria-hidden="true">
                                      <use xlink:href="#upload"></use>
                                    </svg>
                                    <!-- 이미지 select된 경우 보여짐 -->
                                    <svg class="svg-icon upload-alt__file-icon-remove">
                                      <use xlink:href="#close"></use>
                                    </svg>
                                  </span>
                                </button>
                              </div>
                              <p class="upload-alt__helper-text">* 권장 포맷 : 64x64px, ICO</p>
                            </div>
                          </li>
                          <li class="form__detail-item">
                            <div class="upload-alt">
                              <div class="upload-alt__file">
                                <input type="file" class="upload-alt__file-input" />
                                <button class="upload-alt__file-button" type="button">
                                  <strong class="upload-alt__file-title"> 화면 좌측 상단 기업 로고 </strong>
                                  <span class="upload-alt__file-text"> 기본 </span>
                                  <span class="upload-alt__file-icon">
                                    <svg class="svg-icon upload-alt__file-icon-download" aria-hidden="true">
                                      <use xlink:href="#upload"></use>
                                    </svg>
                                    <!-- 이미지 select된 경우 보여짐 -->
                                    <svg class="svg-icon upload-alt__file-icon-remove">
                                      <use xlink:href="#close"></use>
                                    </svg>
                                  </span>
                                </button>
                              </div>
                              <p class="upload-alt__helper-text">* 권장 포맷 : 가로 140px, PNG</p>
                            </div>
                          </li>
                          <li class="form__detail-item">
                            <div class="upload-alt">
                              <div class="upload-alt__file">
                                <input type="file" class="upload-alt__file-input" />
                                <button class="upload-alt__file-button" type="button">
                                  <strong class="upload-alt__file-title"> 로그인 폼 상단 솔루션 보고 </strong>
                                  <span class="upload-alt__file-text"> 기본 </span>
                                  <span class="upload-alt__file-icon">
                                    <svg class="svg-icon upload-alt__file-icon-download" aria-hidden="true">
                                      <use xlink:href="#upload"></use>
                                    </svg>
                                    <!-- 이미지 select된 경우 보여짐 -->
                                    <svg class="svg-icon upload-alt__file-icon-remove">
                                      <use xlink:href="#close"></use>
                                    </svg>
                                  </span>
                                </button>
                              </div>
                              <p class="upload-alt__helper-text">* 권장 포맷 : 가로 120 / 혹은 세로 56px, PNG</p>
                            </div>
                          </li>
                          <li class="form__detail-item">
                            <div class="upload-alt">
                              <div class="upload-alt__file">
                                <input type="file" class="upload-alt__file-input" />
                                <button class="upload-alt__file-button" type="button">
                                  <strong class="upload-alt__file-title"> 배경 이미지 </strong>
                                  <span class="upload-alt__file-text"> 기본 </span>
                                  <span class="upload-alt__file-icon">
                                    <svg class="svg-icon upload-alt__file-icon-download" aria-hidden="true">
                                      <use xlink:href="#upload"></use>
                                    </svg>
                                    <!-- 이미지 select된 경우 보여짐 -->
                                    <svg class="svg-icon upload-alt__file-icon-remove">
                                      <use xlink:href="#close"></use>
                                    </svg>
                                  </span>
                                </button>
                              </div>
                              <p class="upload-alt__helper-text"></p>
                            </div>
                          </li>
                          <li class="form__detail-item">
                            <div class="upload-alt">
                              <div class="upload-alt__file">
                                <input type="file" class="upload-alt__file-input" />
                                <button class="upload-alt__file-button" type="button">
                                  <strong class="upload-alt__file-title"> 로그인 폼 배경 이미지 </strong>
                                  <span class="upload-alt__file-text"> 기본 </span>
                                  <span class="upload-alt__file-icon">
                                    <svg class="svg-icon upload-alt__file-icon-download" aria-hidden="true">
                                      <use xlink:href="#upload"></use>
                                    </svg>
                                    <!-- 이미지 select된 경우 보여짐 -->
                                    <svg class="svg-icon upload-alt__file-icon-remove">
                                      <use xlink:href="#close"></use>
                                    </svg>
                                  </span>
                                </button>
                              </div>
                              <p class="upload-alt__helper-text"></p>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">배경 컨셉 설명</span>
                      </label>
                      <div class="form__detail">
                        <textarea type="text" class="form__detail-textarea text-area text-area--fixed" placeholder="내용을 입력해주세요"></textarea>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">로그인 폼 문구</span>
                        <button class="form__label-clear-button button button--icon button--link button--sm" type="button">
                          <svg class="svg-icon" aria-hidden="true" aria-hidden="true">
                            <use xlink:href="#close"></use>
                          </svg>
                        </button>
                        <span class="form__label-subtext">
                          *TAG입력
                        </span>
                      </label>
                      <div class="form__detail">
                        <textarea type="text" class="form__detail-textarea text-area text-area--fixed" placeholder="내용을 입력해주세요"></textarea>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">회원가입 버튼 사용 여부</span>
                      </label>
                      <div class="form__detail">
                        <div class="radios">
                          <div class="radio">
                            <input type="radio" id="formRadio01" name="radio-group" class="radio__input" value="label" checked="" />
                            <label for="formRadio01" class="radio__label">사용 </label>
                          </div>
                          <div class="radio">
                            <input type="radio" id="formRadio02" name="radio-group" class="radio__input" value="label" checked="" />
                            <label for="formRadio02" class="radio__label">사용 안함 </label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text"> 컬러 </span>
                      </label>
                      <div class="form__detail">
                        <div class="table table--secondary">
                          <table>
                            <!-- <colgroup>
                              <col />
                              <col width="130" />
                              <col width="130" />
                              <col width="130" />
                              <col width="40" />
                            </colgroup> -->
                            <thead>
                              <tr>
                                <th>영역/케이스</th>
                                <th>기본</th>
                                <th>롤오버</th>
                                <th>클릭/포커스</th>
                                <th>복원</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td>로그인 버튼</td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #c4c4c4;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #2678E1;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #FF7E75;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <button class="button button--icon button--link" type="button">
                                    <svg class="svg-icon" aria-hidden="true">
                                      <use xlink:href="#close-medium"></use>
                                    </svg>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>로그인 버튼 텍스트</td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #c4c4c4;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #2678E1;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #FF7E75;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <button class="button button--icon button--link" type="button">
                                    <svg class="svg-icon" aria-hidden="true">
                                      <use xlink:href="#close-medium"></use>
                                    </svg>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>회원가입 텍스트</td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #c4c4c4;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #2678E1;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #FF7E75;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <button class="button button--icon button--link" type="button">
                                    <svg class="svg-icon" aria-hidden="true">
                                      <use xlink:href="#close-medium"></use>
                                    </svg>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>입력폼 배경</td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #c4c4c4;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #2678E1;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #FF7E75;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <button class="button button--icon button--link" type="button">
                                    <svg class="svg-icon" aria-hidden="true">
                                      <use xlink:href="#close-medium"></use>
                                    </svg>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>입력폼 테두리</td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #c4c4c4;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #2678E1;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #FF7E75;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <button class="button button--icon button--link" type="button">
                                    <svg class="svg-icon" aria-hidden="true">
                                      <use xlink:href="#close-medium"></use>
                                    </svg>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>입력폼 텍스트</td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #c4c4c4;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #2678E1;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #FF7E75;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <button class="button button--icon button--link" type="button">
                                    <svg class="svg-icon" aria-hidden="true">
                                      <use xlink:href="#close-medium"></use>
                                    </svg>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>로그인 내 텍스트</td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #c4c4c4;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #2678E1;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #FF7E75;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <button class="button button--icon button--link" type="button">
                                    <svg class="svg-icon" aria-hidden="true">
                                      <use xlink:href="#close-medium"></use>
                                    </svg>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>체크박스 활성시 배경</td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #c4c4c4;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #2678E1;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #FF7E75;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <button class="button button--icon button--link" type="button">
                                    <svg class="svg-icon" aria-hidden="true">
                                      <use xlink:href="#close-medium"></use>
                                    </svg>
                                  </button>
                                </td>
                              </tr>
                              <tr>
                                <td>체크박스 아이콘</td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #c4c4c4;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #2678E1;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <div class="table__color-picker">
                                    <button type="button" class="table__color-picker-button">
                                      <span class="table__color-picker-inner" style="background-color: #FF7E75;"></span>
                                    </button>
                                    <input type="text" class="text-input table__color-picker-input" placeholder="placeholder text" />
                                  </div>
                                </td>
                                <td>
                                  <button class="button button--icon button--link" type="button">
                                    <svg class="svg-icon" aria-hidden="true">
                                      <use xlink:href="#close-medium"></use>
                                    </svg>
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="form__item">
                      <label class="form__label">
                        <span class="form__label-text">Copyrights</span>
                        <span class="form__label-subtext">
                          *TAG입력
                        </span>
                      </label>
                      <div class="form__detail">
                        <textarea type="text" class="form__detail-textarea text-area text-area--fixed" placeholder="내용을 입력해주세요"></textarea>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form__foot">
                  <button class="button button--tertiary" type="button">
                    <span class="button__text"> 초기화 </span>
                  </button>
                  <div class="form__foot-main-buttons">
                    <button class="button button--support" type="button">
                      <span class="button__text"> 수정 </span>
                    </button>
                    <button class="button button--primary" type="button">
                      <span class="button__text"> 그룹 설정 저장 </span>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
