<!-- radio -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Radio</h3>
</div>
<div class="page-content">
  <p class="page__desc">라디오 버튼</p>
  <div class="page__usage md">
    <ul>
      <li>라디오는 <em class="text-emphasis">1개</em> 크기로 구분합니다.</li>
      <li>라디오는 default, hover, checked, disabled <em class="text-emphasis">총 4개</em> 상태를 갖습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Radio</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="radios">
            <!-- default -->
            <div class="radio">
              <input type="radio" id="radioId-01" name="radio-group" class="radio__input" value="label" />
              <label for="radioId-01" class="radio__label">label </label>
            </div>
            <!-- checked -->
            <div class="radio">
              <input type="radio" id="radioId-02" name="radio-group" class="radio__input" value="label" checked />
              <label for="radioId-02" class="radio__label">label </label>
            </div>
            <!-- disabled -->
            <div class="radio">
              <input type="radio" id="radioId-03" name="radio-group" class="radio__input" value="label" disabled />
              <label for="radioId-03" class="radio__label">label </label>
            </div>
            <!-- checked + disabled -->
            <div class="radio">
              <input
                type="radio"
                id="radioId-03"
                name="radio-group"
                class="radio__input"
                value="label"
                checked
                disabled
              />
              <label for="radioId-03" class="radio__label">label </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Studio Radio</span>
    <div class="component-example">
      <div class="component-example__live">
        <div class="canvas-object">
          <div class="radios">
            <!-- default -->
            <div class="radio">
              <input type="radio" id="studio-radio-01" name="studio-radio-group" class="radio__input" value="label" />
              <label for="studio-radio-01" class="radio__label">label </label>
            </div>
            <!-- checked -->
            <div class="radio">
              <input
                type="radio"
                id="studio-radio-02"
                name="studio-radio-group"
                class="radio__input"
                value="label"
                checked
              />
              <label for="studio-radio-02" class="radio__label">label </label>
            </div>
            <!-- disabled -->
            <div class="radio">
              <input
                type="radio"
                id="studio-radio-03"
                name="studio-radio-group"
                class="radio__input"
                value="label"
                disabled
              />
              <label for="studio-radio-03" class="radio__label">label </label>
            </div>
            <!-- checked + disabled -->
            <div class="radio">
              <input
                type="radio"
                id="studio-radio-03"
                name="studio-radio-group"
                class="radio__input"
                value="label"
                checked
                disabled
              />
              <label for="studio-radio-03" class="radio__label">label </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
