<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Table</h3>
</div>
<div class="page-content">
  <p class="page__desc">테이블</p>
  <div class="page__usage md">
    <ul>
      <li>테이블은</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="table table--primary">
                <table>
                  <thead>
                    <tr>
                      <th>
                        오브젝트 ID
                      </th>
                      <th>
                        변수 명
                      </th>
                      <th>
                        변수 값
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="table__text">
                          GLOBAL
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          USER_ID
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          Root
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="table__text">
                          GLOBAL
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          USER_ID
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          Root
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="table__text">
                          GLOBAL
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          USER_ID
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          Root
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Secondary</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="table table--secondary table--border">
                <table>
                  <thead>
                    <tr>
                      <th>
                        오브젝트 ID
                      </th>
                      <th>
                        변수 명
                      </th>
                      <th>
                        변수 값
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="table__text">
                          GLOBAL
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          USER_ID
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          Root
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="table__text">
                          GLOBAL
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          USER_ID
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          Root
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="table__text">
                          GLOBAL
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          USER_ID
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          Root
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="table table--secondary table--border">
                <table>
                  <thead>
                    <tr>
                      <th>
                        대상 오브젝트 ID
                      </th>
                      <th>
                        이벤트
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2">
                        <div class="notification-message notification-message--info">
                          <svg class="notification-message__icon svg-icon">
                            <use xlink:href="#info-fill"></use>
                          </svg>
                          <span class="notification-message__text">데이터가 없습니다.</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <button class="button button-theme--link" type="button">
                          <svg class="svg-icon">
                            <use xlink:href="#write"></use>
                          </svg>
                          <span class="button__text">Link Button</span>
                        </button>
                      </td>
                      <td>
                        <div class="table__group">
                          <button class="button button--icon button-theme--link" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#return"></use>
                            </svg>
                          </button>
                          <button class="button button--icon button-theme--link" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#unlink"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <button class="button button-theme--link" type="button">
                          <svg class="svg-icon">
                            <use xlink:href="#write"></use>
                          </svg>
                          <span class="button__text">Button 5</span>
                        </button>
                      </td>
                      <td>
                        <span class="table__text">
                          Data Received
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="table table--secondary table--border">
                <table>
                  <thead>
                    <tr>
                      <th>
                        대상 오브젝트 ID
                      </th>
                      <th>
                        이벤트
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <span class="table__text">
                          히트맵
                        </span>
                      <td>
                        <span class="table__text">
                          고급 시각화
                        </span>
                    </tr>
                    <tr>
                      <td>
                        <span class="table__text">
                          철도청_예측_pi_pm_5m
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          검색
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="table__text">
                          미인증사용자_중복시간과멤버예시
                        </span>
                      </td>
                      <td>
                        <span class="table__text">
                          고급 시각화
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
