<!-- radio -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Range</h3>
</div>
<div class="page-content">
  <p class="page__desc">특정 범위를 슬라이더 형태로 지정할 때 사용됩니다.</p>
  <div class="page__usage md">
    <ul>
      <li>range-input은 <em class="text-emphasis">1개</em> 크기로 구분합니다.</li>
      <li>range-input은 text-input과 함께 사용할 수도 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Range-input</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <!-- default -->
            <p class="component-example__size-label">Size: md</p>
            <input type="range" name="shadow.shadow_opacity" min="0" max="100" step="1" class="range-input">
            <input type="range" name="shadow.shadow_opacity" min="0" max="100" step="1" class="range-input" disabled>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Range-input + Text-input</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <!-- default + text-input -->
            <div class="range-input-group">
              <input type="range" name="shadow.shadow_opacity" min="0" max="100" step="1" class="range-input">
              <div class="text-input-wrap">
                <input class="text-input" type="number"32 min="0" max="100" step="1">
                <span class="text-input-wrap__suffix">%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
