<!-- date-picker -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Date Picker</h3>
</div>
<div class="page-content">
  <p class="page__desc">날짜 선택형 필드</p>

  <div class="component-variation">
    <span class="component-variation__name">Date time picker</span>
    <div class="component-example">
      <div class="component-example__live" style="align-items: flex-start; height: 356px;">
        <div>
          <!-- default -->
          <div class="date-picker" style="display: inline-flex;">
            <div class="date-picker-selector" style="margin-right: 18px;">
              <input type="text" class="date-picker-selector__input" placeholder="YYYY/MM/DD HH:MM:SS" autocomplete="off" readonly>
              <button class="date-picker-selector__button">
                <svg class="svg-icon">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
          </div>
          <!-- focused + open -->
          <div class="date-picker date-picker--focused date-picker--open" style="display: inline-flex;margin-right: 18px;">
            <div class="date-picker-selector">
              <input type="text" class="date-picker-selector__input" placeholder="YYYY/MM/DD HH:MM:SS" value="2021/01/25 02:05:07" autocomplete="off">
              <button class="date-picker-selector__button">
                <svg class="svg-icon">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
            <div class="date-picker-container">
              <div class="date-picker-panel">
                <div class="date-picker-panel__head">
                  <button class="button button-theme--link">오늘</button>
                </div>
                <div class="date-picker-panel__body">
                  @@include('../partials/component-date-picker-calendar.html')
                </div>
                <div class="date-picker-panel__foot">
                  <div class="time-picker">
                    <div class="time-picker-selector">
                      <input type="text" class="time-picker-selector__input" placeholder="hh:mm:ss" autocomplete="off">
                      <button class="time-picker-selector__button">
                        <svg class="svg-icon">
                          <use xlink:href="#time"></use>
                        </svg>
                      </button>
                    </div>
                    @@include('../partials/component-time-picker-container.html')
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- disabled -->
          <div class="date-picker date-picker--disabled" style="display: inline-flex;">
            <div class="date-picker-selector">
              <input type="text" class="date-picker-selector__input" placeholder="YYYY/MM/DD HH:MM:SS" autocomplete="off" disabled>
              <button class="date-picker-selector__button" disabled>
                <svg class="svg-icon">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Date time range picker</span>
    <div class="component-example">
      <div class="component-example__live" style="align-items: flex-start; height: 356px;">
        <div>
          <!-- focused + open -->
          <div class="date-picker date-picker--open">
            <div class="date-picker-selector">
              <input type="text" class="date-picker-selector__input" placeholder="YYYY/MM/DD HH:MM:SS" autocomplete="off">
              <div class="date-picker-selector__separator">
                <span>&sim;</span>
              </div>
              <input type="text" class="date-picker-selector__input" placeholder="YYYY/MM/DD HH:MM:SS" autocomplete="off">
              <button class="date-picker-selector__button">
                <svg class="svg-icon">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
            <div class="date-picker-container">
              <div class="date-picker-panel">
                <div class="date-picker-panel__head">
                  <button class="button button-theme--link">오늘</button>
                </div>
                <div class="date-picker-panel__body">
                  @@include('../partials/component-date-picker-calendar.html')
                </div>
                <div class="date-picker-panel__foot">
                  <div class="time-picker">
                    <div class="time-picker-selector">
                      <input type="text" class="time-picker-selector__input" placeholder="hh:mm:ss" autocomplete="off">
                      <button class="time-picker-selector__button">
                        <svg class="svg-icon">
                          <use xlink:href="#time"></use>
                        </svg>
                      </button>
                    </div>
                    @@include('../partials/component-time-picker-container.html')
                  </div>
                </div>
              </div>
              <div class="date-picker-panel">
                <div class="date-picker-panel__head">
                  <button class="button button-theme--link">오늘</button>
                </div>
                <div class="date-picker-panel__body">
                  @@include('../partials/component-date-picker-calendar.html')
                </div>
                <div class="date-picker-panel__foot">
                  <div class="time-picker">
                    <div class="time-picker-selector">
                      <input type="text" class="time-picker-selector__input" placeholder="hh:mm:ss" autocomplete="off">
                      <button class="time-picker-selector__button">
                        <svg class="svg-icon">
                          <use xlink:href="#time"></use>
                        </svg>
                      </button>
                    </div>
                    @@include('../partials/component-time-picker-container.html')
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>