<!-- badge -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">badge</h3>
</div>
<div class="page-content">
  <p class="page__desc">
    뱃지는 사용자가 확인해야 할 새로운 것이 있음을 알려주는 역할을 합니다.
  </p>
  <div class="page__usage md">
    <ul>
      <li>
        뱃지는 <em class="text-emphasis">3개</em> 크기로 구분합니다.
      </li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Badge</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">default</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">red</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg badge--red">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--red badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">cyan</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg badge--cyan">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--cyan badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">teal</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg badge--teal">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--teal badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">green</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg badge--green">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--green badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">purple</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg badge--purple">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--purple badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">red-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg badge--red-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--red-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">cyan-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg badge--cyan-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--cyan-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">teal-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg badge--teal-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--teal-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">green-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg badge--green-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--green-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">purple-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--lg badge--purple-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--lg badge--purple-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">default</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">red</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--red">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--red badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">cyan</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--cyan">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--cyan badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">teal</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--teal">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--teal badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">green</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--green">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--green badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">purple</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--purple">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--purple badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">red-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--red-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--red-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">cyan-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--cyan-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--cyan-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">teal-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--teal-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--teal-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">green-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--green-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--green-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">purple-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--purple-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--purple-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">default</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">red</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm badge--red">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--red badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">cyan</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm badge--cyan">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--cyan badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">teal</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm badge--teal">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--teal badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">green</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm badge--green">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--green badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">purple</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm badge--purple">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--purple badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">red-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm badge--red-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--red-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">cyan-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm badge--cyan-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--cyan-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">teal-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm badge--teal-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--teal-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">green-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm badge--green-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--green-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">purple-deep</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="badge badge--sm badge--purple-deep">
                <span class="badge__label">badge</span>
              </div>
              <!-- default -->
              <div class="badge badge--sm badge--purple-deep badge--icon">
                <svg class="svg-icon badge__icon" aria-hidden="true">
                  <use xlink:href="#dashboard">
                  </use>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
