
<!-- loader -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Loader</h3>
</div>
<div class="page-content">
  <p class="page__desc">로더</p>
  <div class="page__usage md">
    <ul>
      <li>
        로더는 3개 사이즈로 구분합니다
        <ul>
          <li><code class="code-inline">loader--sm</code>: 버튼 등 Form 요소나 텍스트 수준 영역 로딩</li>
          <li><code class="code-inline">loader--md</code>: 카드 수준의 블록 영역 로딩</li>
          <li><code class="code-inline">loader--sm</code>: 페이지 영역 로딩</li>
        </ul>
      </li>
      <li><code class="code-inline">loader-overlay</code>는 loader 아래에 있는 컨텐츠를 조작할 수 없는 경우 사용합니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Loader</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <div class="loader loader--lg">
                <div class="loader__spinner"></div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="loader loader--md">
                <div class="loader__spinner"></div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <div class="loader loader--sm">
                <div class="loader__spinner"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Loader - overlay</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="loader-overlay">
            <div class="loader loader--md">
              <div class="loader__spinner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Loader - button</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <button class="button button--lg button--primary" type="button">
                <div class="loader loader--sm">
                  <div class="loader__spinner"></div>
                </div>
                <span class="button__text">Button</span>
              </button>
              <button class="button button--lg button--primary" type="button" disabled="disabled">
                <div class="loader loader--sm">
                  <div class="loader__spinner"></div>
                </div>
                <span class="button__text">Button</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
