<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Accordion</h3>
</div>
<div class="page-content">
  <p class="page__desc">아코디언은 관련 콘텐츠를 축소 및 확장할 수 있는 수직 적층 구조 목록입니다.</p>
  <div class="page__usage md">
    <ul>
      <li>아코디언 메뉴의 종류는 크게 <em class="text-emphasis">2개</em>가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="accordion" style="width: 400px;">
                <div class="accordion__item">
                  <!-- accordion__head--open 클래스 추가시 open -->
                  <button class="accordion__head accordion__head--open">
                    <svg class="accordion__head-icon svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-right-medium"></use>
                    </svg>
                    <span class="accordion__head-title"> Accordion Head Title </span>
                  </button>
                  <div class="accordion__body">
                    <div class="accordion-vertical">
                      <ul class="accordion-vertical__list">
                        <li class="accordion-vertical__item accordion-vertical__item--selected">
                          <button class="accordion-vertical__button">
                            <span class="accordion-vertical__text"> list-item-text </span>
                          </button>
                          <div class="accordion-vertical__action-buttons">
                            <button class="accordion-vertical__action-button" type="button" title="icon">
                              <svg class="svg-icon accordion-vertical__icon" aria-hidden="true">
                                <use xlink:href="#close">
                                </use>
                              </svg>
                            </button>
                          </div>
                        </li>
                        <li class="accordion-vertical__item">
                          <button class="accordion-vertical__button">
                            <span class="accordion-vertical__text">
                              list-item-textlist-item-textlist-item-textlist-item-textlist-item-text
                            </span>
                          </button>
                          <div class="accordion-vertical__action-buttons">
                            <button class="accordion-vertical__action-button" type="button" title="icon">
                              <svg class="svg-icon accordion-vertical__icon" aria-hidden="true">
                                <use xlink:href="#close"></use>
                              </svg>
                            </button>
                          </div>
                        </li>
                        <li class="accordion-vertical__item">
                          <button class="accordion-vertical__button">
                            <span class="accordion-vertical__text"> list-item-text </span>
                          </button>
                          <div class="accordion-vertical__action-buttons">
                            <button class="accordion-vertical__action-button" type="button" title="icon">
                              <svg class="svg-icon accordion-vertical__icon" aria-hidden="true">
                                <use xlink:href="#close"></use>
                              </svg>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <!-- accordion__head--open 클래스 추가시 open -->
                  <button class="accordion__head accordion__head--open">
                    <svg class="accordion__head-icon svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-right-medium"></use>
                    </svg>
                    <span class="accordion__head-title"> Accordion Head Title </span>
                  </button>
                  <div class="accordion__body">
                    <div class="accordion-vertical">
                      <ul class="accordion-vertical__list">
                        <li class="accordion-vertical__item">
                          <button class="accordion-vertical__button">
                            <span class="accordion-vertical__text"> list-item-text </span>
                          </button>
                          <div class="accordion-vertical__action-buttons">
                            <button class="accordion-vertical__action-button" type="button" title="icon">
                              <svg class="svg-icon accordion-vertical__icon" aria-hidden="true">
                                <use xlink:href="#close"></use>
                              </svg>
                            </button>
                          </div>
                        </li>
                        <li class="accordion-vertical__item">
                          <button class="accordion-vertical__button">
                            <span class="accordion-vertical__text">
                              list-item-textlist-item-textlist-item-textlist-item-textlist-item-text
                            </span>
                          </button>
                          <div class="accordion-vertical__action-buttons">
                            <button class="accordion-vertical__action-button" type="button" title="icon">
                              <svg class="svg-icon accordion-vertical__icon" aria-hidden="true">
                                <use xlink:href="#close"></use>
                              </svg>
                            </button>
                          </div>
                        </li>
                        <li class="accordion-vertical__item">
                          <button class="accordion-vertical__button">
                            <span class="accordion-vertical__text"> list-item-text </span>
                          </button>
                          <div class="accordion-vertical__action-buttons">
                            <button class="accordion-vertical__action-button" type="button" title="icon">
                              <svg class="svg-icon accordion-vertical__icon" aria-hidden="true">
                                <use xlink:href="#close"></use>
                              </svg>
                            </button>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Horizontal</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <div class="accordion" style="width: 400px;">
                <div class="accordion__item">
                  <!-- accordion__head--open 클래스 추가시 open -->
                  <button class="accordion__head accordion__head--open">
                    <span class="accordion__head-title"> Accordion Head Title </span>
                    <svg class="accordion__head-icon accordion__head-icon--right svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up-medium"></use>
                    </svg>
                  </button>
                  <div class="accordion__body">
                    <div class="accordion-horizontal accordion-horizontal--lg">
                      <ul class="accordion-horizontal__list">
                        <li class="accordion-horizontal__item accordion-horizontal__item--selected">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <!-- accordion__head--open 클래스 추가시 open -->
                  <button class="accordion__head">
                    <span class="accordion__head-title"> Accordion Head Title </span>
                    <svg class="accordion__head-icon accordion__head-icon--right svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up-medium"></use>
                    </svg>
                  </button>
                  <div class="accordion__body">
                    <div class="accordion-horizontal">
                      <ul class="accordion-horizontal__list">
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text">
                              list-item-textlist-item-textlist-item-textlist-item-text
                            </span>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text"> list-item-text </span>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text"> list-item-text </span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="accordion" style="width: 400px;">
                <div class="accordion__item">
                  <!-- accordion__head--open 클래스 추가시 open -->
                  <button class="accordion__head accordion__head--open">
                    <span class="accordion__head-title"> Accordion Head Title </span>
                    <svg class="accordion__head-icon accordion__head-icon--right svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up-medium"></use>
                    </svg>
                  </button>
                  <div class="accordion__body">
                    <div class="accordion-horizontal">
                      <ul class="accordion-horizontal__list">
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text">
                              list-item-textlist-item-textlist-item-textlist-item-text
                            </span>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text"> list-item-text </span>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text"> list-item-text </span>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text"> list-item-text </span>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text"> list-item-text </span>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text"> list-item-text </span>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text"> list-item-text </span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion__item">
                  <!-- accordion__head--open 클래스 추가시 open -->
                  <button class="accordion__head">
                    <span class="accordion__head-title"> Accordion Head Title </span>
                    <svg class="accordion__head-icon accordion__head-icon--right svg-icon" aria-hidden="true">
                      <use xlink:href="#chevron-up-medium"></use>
                    </svg>
                  </button>
                  <div class="accordion__body">
                    <div class="accordion-horizontal">
                      <ul class="accordion-horizontal__list">
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text">
                              list-item-textlist-item-textlist-item-textlist-item-text
                            </span>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text"> list-item-text </span>
                          </button>
                        </li>
                        <li class="accordion-horizontal__item">
                          <button class="accordion-horizontal__button">
                            <svg class="accordion-horizontal__icon svg-icon" aria-hidden="true">
                              <use xlink:href="#data"></use>
                            </svg>
                            <span class="accordion-horizontal__text"> list-item-text </span>
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
