<!-- list -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">List</h3>
</div>
<div class="page-content">
  <p class="page__desc">리스트</p>
  <div class="page__usage md">
    <ul>
      <li>리스트</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Basic List</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="list" style="width: 520px">
            <ul class="list__list">
              <li class="list__item">
                <button type="button" class="list__button">
                  <span class="list__text">list item text</span>
                </button>
              </li>
              <li class="list__item list__item--selected">
                <button type="button" class="list__button">
                  <span class="list__text">list item text selected</span>
                </button>
              </li>
              <li class="list__item list__item--disabled" disabled>
                <button type="button" class="list__button">
                  <span class="list__text">list item text disabled</span>
                </button>
              </li>
              <li class="list__item list__item--selected list__item--disabled">
                <button type="button" class="list__button" disabled>
                  <span class="list__text">list item text selected disabled</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Action Button List</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="list" style="width: 520px">
            <div class="list__body">
              <ul class="list__list">
                <li class="list__item">
                  <button type="button" class="list__button">
                    <span class="list__text">Action Button list item text long long long long long long long long long long</span>
                  </button>
                  <div class="list__action-buttons">
                    <button class="list__action-button" type="button" title="위로">
                      <svg class="svg-icon">
                        <use xlink:href="#chevron-up"></use>
                      </svg>
                    </button>
                    <button class="list__action-button" type="button" title="아래로">
                      <svg class="svg-icon">
                        <use xlink:href="#chevron-down"></use>
                      </svg>
                    </button>
                    <button class="list__action-button" type="button" title="삭제">
                      <svg class="svg-icon">
                        <use xlink:href="#trash"></use>
                      </svg>
                    </button>
                  </div>
                </li>
                <li class="list__item list__item--selected">
                  <button type="button" class="list__button">
                    <span class="list__text">Action Button list item text selected</span>
                  </button>
                  <div class="list__action-buttons">
                    <button class="list__action-button" type="button" title="위로">
                      <svg class="svg-icon">
                        <use xlink:href="#chevron-up"></use>
                      </svg>
                    </button>
                    <button class="list__action-button" type="button" title="아래로">
                      <svg class="svg-icon">
                        <use xlink:href="#chevron-down"></use>
                      </svg>
                    </button>
                    <button class="list__action-button" type="button" title="삭제">
                      <svg class="svg-icon">
                        <use xlink:href="#trash"></use>
                      </svg>
                    </button>
                  </div>
                </li>
                <li class="list__item list__item--disabled">
                  <button type="button" class="list__button">
                    <span class="list__text">Action Button list item text disabled</span>
                  </button>
                  <div class="list__action-buttons">
                    <button class="list__action-button" type="button" title="위로">
                      <svg class="svg-icon">
                        <use xlink:href="#chevron-up"></use>
                      </svg>
                    </button>
                    <button class="list__action-button" type="button" title="아래로">
                      <svg class="svg-icon">
                        <use xlink:href="#chevron-down"></use>
                      </svg>
                    </button>
                    <button class="list__action-button" type="button" title="삭제">
                      <svg class="svg-icon">
                        <use xlink:href="#trash"></use>
                      </svg>
                    </button>
                  </div>
                </li>
                <li class="list__item list__item--selected list__item--disabled">
                  <button type="button" class="list__button">
                    <span class="list__text">Action Button list item text selected disabled</span>
                  </button>
                  <div class="list__action-buttons">
                    <button class="list__action-button" type="button" title="위로">
                      <svg class="svg-icon">
                        <use xlink:href="#chevron-up"></use>
                      </svg>
                    </button>
                    <button class="list__action-button" type="button" title="아래로">
                      <svg class="svg-icon">
                        <use xlink:href="#chevron-down"></use>
                      </svg>
                    </button>
                    <button class="list__action-button" type="button" title="삭제">
                      <svg class="svg-icon">
                        <use xlink:href="#trash"></use>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Search List</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="list" style="width: 520px">
            <div class="list__head">
              <div class="text-input-group">
                <span class="text-input-group__icon">
                  <svg class="svg-icon">
                    <use xlink:href="#search"></use>
                  </svg>
                </span>
                <input type="text" class="text-input" placeholder="검색어를 입력해주세요" />
                <button class="text-input-group__button">
                  <svg class="svg-icon">
                    <use xlink:href="#close"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="list__body">
              <ul class="list__list">
                <li class="list__item">
                  <button type="button" class="list__button">
                    <span class="list__text">list item text <mark class="filter-highlight">filter highlight</mark></span>
                  </button>
                </li>
                <li class="list__item">
                  <button type="button" class="list__button">
                    <span class="list__text">list item text</span>
                  </button>
                </li>
                <li class="list__item">
                  <button type="button" class="list__button">
                    <span class="list__text">list item text</span>
                  </button>
                </li>
                <li class="list__item">
                  <button type="button" class="list__button">
                    <span class="list__text">list item text</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Search List - has title</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="list" style="width: 520px; height: 140px;">
            <div class="list__head">
              <div class="list__head-title">title</div>
              <div class="list__head-toolbar">
                <div class="text-input-group">
                  <span class="text-input-group__icon">
                    <svg class="svg-icon">
                      <use xlink:href="#search"></use>
                    </svg>
                  </span>
                  <input type="text" class="text-input" placeholder="검색어를 입력해주세요" />
                  <button class="text-input-group__button">
                    <svg class="svg-icon">
                      <use xlink:href="#close"></use>
                    </svg>
                  </button>
                </div>
                <button type="button" class="button button--link p-0" title="리스트 정보 새로고침">
                  <svg class="svg-icon">
                    <use xlink:href="#refresh"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="list__body">
              <ul class="list__list">
                <li class="list__item">
                  <button type="button" class="list__button">
                    <span class="list__text">list item text <mark class="filter-highlight">filter highlight</mark></span>
                  </button>
                </li>
                <li class="list__item">
                  <button type="button" class="list__button">
                    <span class="list__text">list item text</span>
                  </button>
                </li>
                <li class="list__item">
                  <button type="button" class="list__button">
                    <span class="list__text">list item text</span>
                  </button>
                </li>
                <li class="list__item">
                  <button type="button" class="list__button">
                    <span class="list__text">list item text</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Selectable List</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="list" style="width: 520px">
            <div class="list__body">
              <ul class="list__list">
                <li class="list__item">
                  <button type="button" class="list__button">
                    <svg class="svg-icon list__checkmark">
                      <use xlink:href="#checkmark"></use>
                    </svg>
                    <span class="list__text">selectable list item text</span>
                  </button>
                </li>
                <li class="list__item list__item--selected">
                  <button type="button" class="list__button">
                    <svg class="svg-icon list__checkmark">
                      <use xlink:href="#checkmark"></use>
                    </svg>
                    <span class="list__text">selectable list item text selected</span>
                  </button>
                </li>
                <li class="list__item list__item--disabled">
                  <button type="button" class="list__button" disabled>
                    <svg class="svg-icon list__checkmark">
                      <use xlink:href="#checkmark"></use>
                    </svg>
                    <span class="list__text">selectable list item text disabled</span>
                  </button>
                </li>
                <li class="list__item list__item--selected list__item--disabled">
                  <button type="button" class="list__button" disabled>
                    <svg class="svg-icon list__checkmark">
                      <use xlink:href="#checkmark"></use>
                    </svg>
                    <span class="list__text">selectable list item text selected disabled</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Checkable List</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="list" style="width: 520px">
            <div class="list__body">
              <ul class="list__list">
                <li class="list__item">
                  <div class="checkbox">
                    <input id="list-check-01" type="checkbox" class="checkbox__input" value="label" />
                    <label for="list-check-01" class="checkbox__label">
                      <svg class="svg-icon list__icon">
                        <use xlink:href="#data"></use>
                      </svg>
                      <span class="list__text">checkable list item text</span>
                    </label>
                  </div>
                </li>
                <li class="list__item list__item--selected">
                  <div class="checkbox checkbox--checked">
                    <input id="list-check-02" type="checkbox" class="checkbox__input" value="label" checked="" />
                    <label for="list-check-02" class="checkbox__label">
                      <svg class="svg-icon list__icon">
                        <use xlink:href="#data"></use>
                      </svg>
                      <span class="list__text">checkable list item text selected</span>
                    </label>
                  </div>
                </li>
                <li class="list__item list__item--disabled">
                  <div class="checkbox checkbox--disabled">
                    <input id="list-check-03" type="checkbox" class="checkbox__input" value="label" disabled />
                    <label for="list-check-03" class="checkbox__label">
                      <svg class="svg-icon list__icon">
                        <use xlink:href="#data"></use>
                      </svg>
                      <span class="list__text">checkable list item text disabled</span>
                    </label>
                  </div>
                </li>
                <li class="list__item list__item--selected list__item--disabled">
                  <div class="checkbox checkbox--disabled">
                    <input id="list-check-03" type="checkbox" class="checkbox__input" value="label" checked disabled />
                    <label for="list-check-03" class="checkbox__label">
                      <svg class="svg-icon list__icon">
                        <use xlink:href="#data"></use>
                      </svg>
                      <span class="list__text">checkable list item text selected disabled</span>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>