
<div class="time-picker-container" style="/* top:  셀렉터의 Y좌표 + 셀렉터의 높이; left: 셀렉터의 Y좌표 */">
  <ul class="time-picker-container__list">
    <li class="time-picker-container__item time-picker-container__item--disabled">
      <button class="time-picker-container__button">00</button>
    </li>
    <li class="time-picker-container__item time-picker-container__item--disabled">
      <button class="time-picker-container__button">01</button>
    </li>
    <li class="time-picker-container__item time-picker-container__item--disabled">
      <button class="time-picker-container__button">02</button>
    </li>
    <li class="time-picker-container__item time-picker-container__item--disabled time-picker-container__item--selected">
      <button class="time-picker-container__button">03</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">04</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">05</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">06</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">07</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">08</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">09</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">10</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">11</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">12</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">13</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">14</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">15</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">16</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">17</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">18</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">19</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">20</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">21</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">22</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">23</button>
    </li>
  </ul>
  <ul class="time-picker-container__list">
    <li class="time-picker-container__item time-picker-container__item--disabled">
      <button class="time-picker-container__button">00</button>
    </li>
    <li class="time-picker-container__item time-picker-container__item--disabled">
      <button class="time-picker-container__button">01</button>
    </li>
    <li class="time-picker-container__item time-picker-container__item--disabled">
      <button class="time-picker-container__button">02</button>
    </li>
    <li class="time-picker-container__item time-picker-container__item--disabled">
      <button class="time-picker-container__button">03</button>
    </li>
    <li class="time-picker-container__item time-picker-container__item--selected">
      <button class="time-picker-container__button">04</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">05</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">06</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">07</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">08</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">09</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">10</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">11</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">12</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">13</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">14</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">15</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">16</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">17</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">18</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">19</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">20</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">21</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">22</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">23</button>
    </li>
  </ul>
  <ul class="time-picker-container__list">
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">00</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">01</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">02</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">03</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">04</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">05</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">06</button>
    </li>
    <li class="time-picker-container__item time-picker-container__item--selected">
      <button class="time-picker-container__button">07</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">08</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">09</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">10</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">11</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">12</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">13</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">14</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">15</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">16</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">17</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">18</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">19</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">20</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">21</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">22</button>
    </li>
    <li class="time-picker-container__item">
      <button class="time-picker-container__button">23</button>
    </li>
  </ul>
</div>
