<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Tooltip</h3>
</div>
<div class="page-content">
  <p class="page__desc">툴팁</p>
  <div class="page__usage md">
    <ul>
      <li>툴팁은 <em class="text-emphasis">2개</em>의 사이즈가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div style="display: flex; flex-direction: column;">
              <div class="component-examle__item-group">
                <div class="tooltip tooltip--bottom" style="position: relative;">
                  <span class="tooltip__text"> Tooltip Text </span>
                </div>
                <div class="tooltip tooltip--top" style="position: relative;">
                  <span class="tooltip__text"> Tooltip Text </span>
                </div>
                <div class="tooltip tooltip--right" style="position: relative;">
                  <span class="tooltip__text"> Tooltip Text </span>
                </div>
                <div class="tooltip tooltip--left" style="position: relative;">
                  <span class="tooltip__text"> Tooltip Text </span>
                </div>
              </div>
              <div class="component-examle__item-group" style="margin-top: 20px;">
                <div class="tooltip tooltip--left-bottom" style="position: relative;">
                  <span class="tooltip__text"> Tooltip Text </span>
                </div>
                <div class="tooltip tooltip--left-top" style="position: relative;">
                  <span class="tooltip__text"> Tooltip Text </span>
                </div>
                <div class="tooltip tooltip--top-right" style="position: relative;">
                  <span class="tooltip__text">
                    Tooltip Text
                    <br />
                    Tooltip Text
                  </span>
                </div>
                <div class="tooltip tooltip--top-left" style="position: relative;">
                  <span class="tooltip__text">
                    Tooltip Text
                    <br />
                    Tooltip Text
                  </span>
                </div>
              </div>
              <div class="component-examle__item-group" style="margin-top: 20px;">
                <div class="tooltip tooltip--right-bottom" style="position: relative;">
                  <span class="tooltip__text"> Tooltip Text </span>
                </div>
                <div class="tooltip tooltip--right-top" style="position: relative;">
                  <span class="tooltip__text"> Tooltip Text </span>
                </div>
                <div class="tooltip tooltip--bottom-right" style="position: relative;">
                  <span class="tooltip__text">
                    Tooltip Text
                    <br />
                    Tooltip Text
                  </span>
                </div>
                <div class="tooltip tooltip--bottom-left" style="position: relative;">
                  <span class="tooltip__text">
                    Tooltip Text
                    <br />
                    Tooltip Text
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>