<!-- date-picker -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Date Picker</h3>
</div>
<div class="page-content">
  <p class="page__desc">날짜와 시간을 선택할수 있는 필드입니다. 단일 날짜 혹은 범위 날짜와 시간을 선택할 수 있습니다.</p>

  <div class="component-variation">
    <span class="component-variation__name">Date picker</span>
    <div class="component-example">
      <div class="component-example__live" style="align-items: flex-start; height: 400px">
        <div>
          <!-- default -->
          <div class="date-picker" style="display: inline-flex; margin-right: 18px;">
            <div class="date-picker-selector" aria-expanded="false" aria-controls="date-picker-01">
              <label for="inp-date01" class="hidden">date picker label</label>
              <input type="text" id="inp-date01" class="date-picker-selector__input" placeholder="yyyy/mm/dd hh:mm:ss" autocomplete="off" readonly>
              <button title="날짜 선택" class="date-picker-selector__button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
          </div>
          <!-- focused + open -->
          <div class="date-picker date-picker--focused date-picker--open" style="display: inline-flex; margin-right: 18px">
            <div class="date-picker-selector" aria-expanded="true" aria-controls="date-picker-02">
              <label for="inp-date02" class="hidden">date picker label</label>
              <input type="text" id="inp-date02" class="date-picker-selector__input" placeholder="yyyy/mm/dd hh:mm:ss" value="2021/01/25 02:05:07" autocomplete="off">
              <button title="날짜 선택" class="date-picker-selector__button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
            <div class="date-picker-container" id="date-picker-02" area-haspopup="true">
              <div class="date-picker-panel">
                @@include('../partials/component-date-picker-calendar.html')
              </div>
            </div>
          </div>
          <!-- disabled -->
          <div class="date-picker date-picker--disabled" style="display: inline-flex">
            <div class="date-picker-selector" aria-expanded="false" aria-controls="date-picker-03">
              <label for="inp-date03" class="hidden">date picker label</label>
              <input type="text" id="inp-date03" class="date-picker-selector__input" placeholder="yyyy/mm/dd hh:mm:ss" autocomplete="off" disabled>
              <button title="날짜 선택" class="date-picker-selector__button" disabled>
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Date time picker</span>
    <div class="component-example">
      <div class="component-example__live" style="align-items: flex-start; height: 500px">
        <div>
          <!-- default -->
          <div class="date-picker" style="display: inline-flex; margin-right: 18px;">
            <div class="date-picker-selector" aria-expanded="false" aria-controls="date-picker-04">
              <label for="inp-date04" class="hidden">date picker label</label>
              <input type="text" id="inp-date04" class="date-picker-selector__input" placeholder="yyyy/mm/dd hh:mm:ss" autocomplete="off" readonly>
              <button title="날짜 선택" class="date-picker-selector__button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
          </div>
          <!-- focused + open -->
          <div class="date-picker date-picker--focused date-picker--open" style="display: inline-flex; margin-right: 18px">
            <div class="date-picker-selector" aria-expanded="true" aria-controls="date-picker-05">
              <label for="inp-date05" class="hidden">date picker label</label>
              <input type="text" id="inp-date05" class="date-picker-selector__input" placeholder="yyyy/mm/dd hh:mm:ss" value="2021/01/25 02:05:07" autocomplete="off">
              <button title="날짜 선택" class="date-picker-selector__button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
            <div class="date-picker-container" id="date-picker-05" aria-haspopup="true">
              <div class="date-picker-panel">
                <div class="date-picker-panel__head">
                  <button class="button button--link button--sm">오늘</button>
                </div>
                <div class="date-picker-panel__body">@@include('../partials/component-date-picker-calendar.html')</div>
                <div class="date-picker-panel__foot">
                  <div class="time-picker">
                    <div class="time-picker-selector">
                      <input type="text" class="time-picker-selector__input" placeholder="hh:mm:ss" autocomplete="off" value="02:05:07">
                      <button class="time-picker-selector__button">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#time"></use>
                        </svg>
                      </button>
                    </div>
                    @@include('../partials/component-time-picker-container.html')
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- disabled -->
          <div class="date-picker date-picker--disabled" style="display: inline-flex">
            <div class="date-picker-selector" aria-expanded="false" aria-controls="date-picker-06">
              <label for="inp-date06" class="hidden">date picker label</label>
              <input type="text" id="inp-date06" class="date-picker-selector__input" placeholder="yyyy/mm/dd hh:mm:ss" autocomplete="off" disabled>
              <button title="날짜 선택" class="date-picker-selector__button" disabled>
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Date time range picker</span>
    <div class="component-example">
      <div class="component-example__live" style="align-items: flex-start; height: 450px">
        <div>
          <!-- focused + open -->
          <div class="date-picker date-picker--open">
            <div class="date-picker-selector" aria-expanded="true" aria-controls="date-picker-07">
              <label for="inp-date08" class="hidden">date picker label</label>
              <input type="text" id="inp-date08" class="date-picker-selector__input" placeholder="yyyy/mm/dd hh:mm:ss" autocomplete="off">
              <div class="date-picker-selector__separator">
                <span>&sim;</span>
              </div>
              <label for="inp-date09" class="hidden">date picker label</label>
              <input type="text" id="inp-date09" class="date-picker-selector__input" placeholder="yyyy/mm/dd hh:mm:ss" autocomplete="off">
              <button title="날짜 선택" class="date-picker-selector__button">
                <svg class="svg-icon" aria-hidden="true">
                  <use xlink:href="#calendar"></use>
                </svg>
              </button>
            </div>
            <div class="date-picker-container" id="date-picker-07" aria-haspopup="true">
              <div class="date-picker-panel">
                <div class="date-picker-panel__head">
                  <button class="button button--link button--sm">오늘</button>
                </div>
                <div class="date-picker-panel__body">@@include('../partials/component-date-picker-calendar.html')</div>
                <div class="date-picker-panel__foot">
                  <div class="time-picker">
                    <div class="time-picker-selector">
                      <input type="text" class="time-picker-selector__input" placeholder="hh:mm:ss" autocomplete="off" />
                      <button class="time-picker-selector__button">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#time"></use>
                        </svg>
                      </button>
                    </div>
                    @@include('../partials/component-time-picker-container.html')
                  </div>
                </div>
              </div>
              <div class="date-picker-panel">
                <div class="date-picker-panel__head">
                  <button class="button button--link button--sm">오늘</button>
                  <div class="date-picker-panel__head-actions toggle-switch toggle-switch--sm">
                    <label for="currentDay" class="toggle-switch__label">현재</label>
                    <button id="currentDay" class="toggle-switch__switch toggle-switch--sm" type="button" title="on">
                      <span class="toggle-switch__handle">
                        <span class="ir-pm"></span>
                      </span>
                    </button>
                  </div>
                </div>
                <div class="date-picker-panel__body">@@include('../partials/component-date-picker-calendar.html')</div>
                <div class="date-picker-panel__foot">
                  <div class="time-picker">
                    <div class="time-picker-selector">
                      <input type="text" class="time-picker-selector__input" placeholder="hh:mm:ss" autocomplete="off" />
                      <button class="time-picker-selector__button">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#time"></use>
                        </svg>
                      </button>
                    </div>
                    @@include('../partials/component-time-picker-container.html')
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
