<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Form</h3>
</div>
<div class="page-content">
  <p class="page__desc">폼</p>
  <div class="page__usage md">
    <ul>
      <li>폼 <em class="text-emphasis">2개</em>의 사이즈가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <div class="form form--lg" style="width: 570px;">
                <div class="form__head">
                  <strong class="form__head-title">
                    그룹 기본설정
                  </strong>
                </div>
                <div class="form__body">
                  <ul class="form__list">
                    <li class="form__item">
                      <strong class="form__title"> 그룹 메뉴 아이콘 </strong>
                      <div class="form__detail">
                        <div class="upload-preview">
                          <div class="upload-preview__thumbnail">
                            <svg class="svg-icon">
                              <use xlink:href="#image-guide"></use>
                            </svg>
                            <p class="upload-preview__thumbnail-text">
                              파일을 선택하시면 이곳에 추가됩니다.
                              <br>
                              pdf, jpg, gif up to 10MB
                            </p>
                          </div>
                          <div class="upload-preview__file">
                            <input type="file" class="upload-preview__file-input">
                            <button class="upload-preview__file-button" type="button">
                              <svg class="svg-icon">
                                <use xlink:href="#upload"></use>
                              </svg>
                              <span class="upload-preview__file-text"> Click To Upload </span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹명  <span class="form__subtext">(한국어)</span></strong>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹 설명  <span class="form__subtext">(한국어)</span></strong>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹명  <span class="form__subtext">(한국어)</span></strong>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹 설명 <span class="form__subtext">(한국어)</span> </strong>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹명  <span class="form__subtext">(한국어)</span></strong>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹 설명 <span class="form__subtext">(한국어)</span> </strong>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹 설명 <span class="form__subtext">(한국어)</span> </strong>
                      <div class="form__detail">
                        <input type="text" class="text-input text-input--lg" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 첫그룹 <span class="form__subtext">(한국어)</span> </strong>
                      <div class="form__detail">
                        <div class="checkbox checkbox--lg">
                          <input id="formChekcbox-01" type="checkbox" class="checkbox__input" value="label">
                          <label for="formChekcbox-01" class="checkbox__label">첫 그룹으로 설정</label>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="form__foot">
                  <button class="button button--tertiary button--lg" type="button">
                    <span class="button__text"> 초기화 </span>
                  </button>
                  <div class="form__foot-main-buttons">
                    <button class="button button--ghost button--lg" type="button">
                      <span class="button__text"> 수정 </span>
                    </button>
                    <button class="button button--primary button--lg" type="button">
                      <span class="button__text"> 그룹 설정 저장 </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="form" style="width: 570px;">
                <div class="form__head">
                  <strong class="form__head-title">
                    그룹 기본설정
                  </strong>
                </div>
                <div class="form__body">
                  <ul class="form__list">
                    <li class="form__item">
                      <strong class="form__title"> 그룹 메뉴 아이콘 </strong>
                      <div class="form__detail">
                        <div class="upload-preview">
                          <div class="upload-preview__thumbnail">
                            <svg class="svg-icon">
                              <use xlink:href="#image-guide"></use>
                            </svg>
                            <p class="upload-preview__thumbnail-text">
                              파일을 선택하시면 이곳에 추가됩니다.
                              <br>
                              pdf, jpg, gif up to 10MB
                            </p>
                          </div>
                          <div class="upload-preview__file">
                            <input type="file" class="upload-preview__file-input">
                            <button class="upload-preview__file-button" type="button">
                              <svg class="svg-icon">
                                <use xlink:href="#upload"></use>
                              </svg>
                              <span class="upload-preview__file-text"> Click To Upload </span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹명  <span class="form__subtext">(한국어)</span></strong>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹 설명  <span class="form__subtext">(한국어)</span></strong>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹명  <span class="form__subtext">(한국어)</span></strong>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹 설명 <span class="form__subtext">(한국어)</span> </strong>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹명  <span class="form__subtext">(한국어)</span></strong>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹 설명 <span class="form__subtext">(한국어)</span> </strong>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 그룹 설명 <span class="form__subtext">(한국어)</span> </strong>
                      <div class="form__detail">
                        <input type="text" class="text-input" placeholder="그룹명을 입력해주세요.">
                      </div>
                    </li>
                    <li class="form__item">
                      <strong class="form__title"> 첫그룹 <span class="form__subtext">(한국어)</span> </strong>
                      <div class="form__detail">
                        <div class="checkbox">
                          <input id="formChekcbox-01" type="checkbox" class="checkbox__input" value="label">
                          <label for="formChekcbox-01" class="checkbox__label">첫 그룹으로 설정</label>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="form__foot">
                  <button class="button button--tertiary" type="button">
                    <span class="button__text"> 초기화 </span>
                  </button>
                  <div class="form__foot-main-buttons">
                    <button class="button button--ghost" type="button">
                      <span class="button__text"> 수정 </span>
                    </button>
                    <button class="button button--primary" type="button">
                      <span class="button__text"> 그룹 설정 저장 </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>