
<!-- tab -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Tab</h3>
</div>
<div class="page-content">
  <p class="page__desc">탭</p>
  <div class="page__usage md">
    <ul>
      <li>탭</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Container Tab - horizontal</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="tab">
            <ul class="tab__list tab__list--horizontal">
              <li class="tab__item">
                <button type="button" class="tab__button">
                  <span class=" tab__button-text">tab1</span>
                </button>
              </li>
              <li class="tab__item tab__item--selected">
                <button type="button" class="tab__button">
                  <span class=" tab__button-text">tab2</span>
                </button>
              </li>
              <li class="tab__item">
                <button type="button" class="tab__button">
                  <span class=" tab__button-text">tab3</span>
                </button>
              </li>
              <li class="tab__item">
                <button type="button" class="tab__button">
                  <span class=" tab__button-text">tab4</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
