<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Toggle Switch</h3>
</div>
<div class="page-content">
  <p class="page__desc">토글 스위치</p>
  <div class="page__usage md">
    <ul>
      <li>토글 스위치는 <em class="text-emphasis">2개</em>의 사이즈가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <button class="toggle-switch" type="button">
                <span class="toggle-switch__handle">
                  <span class="ir-pm"></span>
                </span>
              </button>
              <!-- toggle-switch--selected 추가 시 button 활성화 -->
              <button class="toggle-switch toggle-switch--selected" type="button">
                <span class="toggle-switch__handle">
                  <span class="ir-pm"></span>
                </span>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <button class="toggle-switch toggle-switch--sm" type="button">
                <span class="toggle-switch__handle">
                  <span class="ir-pm"></span>
                </span>
              </button>
              <!-- toggle-switch--selected 추가 시 button 활성화 -->
              <button class="toggle-switch toggle-switch--sm toggle-switch--selected" type="button">
                <span class="toggle-switch__handle">
                  <span class="ir-pm"></span>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>