<!-- checkbox -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Check Box</h3>
</div>
<div class="page-content">
  <p class="page__desc">체크 박스</p>
  <div class="page__usage md">
    <ul>
      <li>체크박스는 <em class="text-emphasis">2개</em> 크기로 구분합니다.</li>
      <li>
        체크박스는 default, hover, checked, indeterminate, disabled <em class="text-emphasis">총 5개</em> 상태를
        갖습니다.
      </li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Checkbox</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="checkbox checkbox--lg">
                <input id="check-05" type="checkbox" class="checkbox__input" value="label" />
                <label for="check-05" class="checkbox__label">label</label>
              </div>
              <!-- checked -->
              <div class="checkbox checkbox--lg">
                <input id="check-06" type="checkbox" class="checkbox__input" value="label" checked />
                <label for="check-06" class="checkbox__label">label</label>
              </div>
              <!-- indeterminate -->
              <div class="checkbox checkbox--lg checkbox--indeterminate">
                <input id="check-07" type="checkbox" class="checkbox__input" value="label" />
                <label for="check-07" class="checkbox__label">label</label>
              </div>
              <!-- disabled -->
              <div class="checkbox checkbox--lg checkbox--disabled">
                <input id="check-04" type="checkbox" class="checkbox__input" value="label" disabled />
                <label for="check-04" class="checkbox__label">label</label>
              </div>
              <!-- checked + disabled -->
              <div class="checkbox checkbox--lg checkbox--disabled">
                <input id="check-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                <label for="check-04" class="checkbox__label">label</label>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="checkbox">
                <input id="check-01" type="checkbox" class="checkbox__input" value="label" />
                <label for="check-01" class="checkbox__label">label</label>
              </div>
              <!-- checked -->
              <div class="checkbox">
                <input id="check-02" type="checkbox" class="checkbox__input" value="label" checked />
                <label for="check-02" class="checkbox__label">label</label>
              </div>
              <!-- indeterminate -->
              <div class="checkbox checkbox--indeterminate">
                <input id="check-03" type="checkbox" class="checkbox__input" value="label" />
                <label for="check-03" class="checkbox__label">label</label>
              </div>
              <!-- disabled -->
              <div class="checkbox checkbox--disabled">
                <input id="check-04" type="checkbox" class="checkbox__input" value="label" disabled />
                <label for="check-04" class="checkbox__label">label</label>
              </div>
              <!-- checked + disabled -->
              <div class="checkbox checkbox--disabled">
                <input id="check-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                <label for="check-04" class="checkbox__label">label</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Checkbox - vertical</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <div class="checkboxs checkboxs--vertical">
                <!-- default -->
                <div class="checkbox checkbox--lg">
                  <input id="check-05" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-05" class="checkbox__label">label</label>
                </div>
                <!-- checked -->
                <div class="checkbox checkbox--lg">
                  <input id="check-06" type="checkbox" class="checkbox__input" value="label" checked />
                  <label for="check-06" class="checkbox__label">label</label>
                </div>
                <!-- indeterminate -->
                <div class="checkbox checkbox--lg checkbox--indeterminate">
                  <input id="check-07" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-07" class="checkbox__label">label</label>
                </div>
                <!-- disabled -->
                <div class="checkbox checkbox--lg checkbox--disabled">
                  <input id="check-04" type="checkbox" class="checkbox__input" value="label" disabled />
                  <label for="check-04" class="checkbox__label">label</label>
                </div>
                <!-- checked + disabled -->
                <div class="checkbox checkbox--lg checkbox--disabled">
                  <input id="check-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                  <label for="check-04" class="checkbox__label">label</label>
                </div>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <div class="checkboxs checkboxs--vertical">
                <!-- default -->
                <div class="checkbox">
                  <input id="check-01" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-01" class="checkbox__label">label</label>
                </div>
                <!-- checked -->
                <div class="checkbox">
                  <input id="check-02" type="checkbox" class="checkbox__input" value="label" checked />
                  <label for="check-02" class="checkbox__label">label</label>
                </div>
                <!-- indeterminate -->
                <div class="checkbox checkbox--indeterminate">
                  <input id="check-03" type="checkbox" class="checkbox__input" value="label" />
                  <label for="check-03" class="checkbox__label">label</label>
                </div>
                <!-- disabled -->
                <div class="checkbox checkbox--disabled">
                  <input id="check-04" type="checkbox" class="checkbox__input" value="label" disabled />
                  <label for="check-04" class="checkbox__label">label</label>
                </div>
                <!-- checked + disabled -->
                <div class="checkbox checkbox--disabled">
                  <input id="check-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                  <label for="check-04" class="checkbox__label">label</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Studio Checkbox</span>
    <div class="component-example">
      <div class="component-example__live">
        <div class="canvas-object">
          <!-- TODO: studio 디자인 개편 반영시 객체, 컴포넌트 네이밍에 따라 변경 예정 -->
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="checkbox checkbox--lg">
                <input id="studio-check-05" type="checkbox" class="checkbox__input" value="label" />
                <label for="studio-check-05" class="checkbox__label">label</label>
              </div>
              <!-- checked -->
              <div class="checkbox checkbox--lg">
                <input id="studio-check-06" type="checkbox" class="checkbox__input" value="label" checked />
                <label for="studio-check-06" class="checkbox__label">label</label>
              </div>
              <!-- indeterminate -->
              <div class="checkbox checkbox--lg checkbox--indeterminate">
                <input id="studio-check-07" type="checkbox" class="checkbox__input" value="label" />
                <label for="studio-check-07" class="checkbox__label">label</label>
              </div>
              <!-- disabled -->
              <div class="checkbox checkbox--lg checkbox--disabled">
                <input id="check-04" type="checkbox" class="checkbox__input" value="label" disabled />
                <label for="check-04" class="checkbox__label">label</label>
              </div>
              <!-- checked + disabled -->
              <div class="checkbox checkbox--lg checkbox--disabled">
                <input id="check-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                <label for="check-04" class="checkbox__label">label</label>
              </div>
            </div>
          </div>

          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <!-- default -->
              <div class="checkbox">
                <input id="studio-check-01" type="checkbox" class="checkbox__input" value="label" />
                <label for="studio-check-01" class="checkbox__label">label</label>
              </div>
              <!-- checked -->
              <div class="checkbox">
                <input id="studio-check-02" type="checkbox" class="checkbox__input" value="label" checked />
                <label for="studio-check-02" class="checkbox__label">label</label>
              </div>
              <!-- indeterminate -->
              <div class="checkbox checkbox--indeterminate">
                <input id="studio-check-03" type="checkbox" class="checkbox__input" value="label" />
                <label for="studio-check-03" class="checkbox__label">label</label>
              </div>
              <!-- disabled -->
              <div class="checkbox checkbox--disabled">
                <input id="check-04" type="checkbox" class="checkbox__input" value="label" disabled />
                <label for="check-04" class="checkbox__label">label</label>
              </div>
              <!-- checked + disabled -->
              <div class="checkbox checkbox--disabled">
                <input id="check-04" type="checkbox" class="checkbox__input" value="label" checked disabled />
                <label for="check-04" class="checkbox__label">label</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
