<!-- context menu -->
<!-- Table 마크업과 스타일링 UI 추가 시작 -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Table</h3>
</div>
<div class="page-content">
  <p class="page__desc">테이블</p>
  <div class="page__usage md">
    <ul>
      <li>테이블은</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <!-- table-primary -->
              <div class="table table--primary table--sm">
                <table>
                  <thead>
                    <tr>
                      <th>오브젝트 ID</th>
                      <th>변수 명</th>
                      <th>변수 값</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- 선택 되었을 경우, tr--selected 클래스 추가-->
                    <tr class="tr--selected">
                      <td>Selected Status</td>
                      <td>USER_ID</td>
                      <td>Root</td>
                    </tr>
                    <tr>
                      <td>GLOBAL</td>
                      <td>USER_ID</td>
                      <td>Root</td>
                    </tr>
                    <!-- Drawer 마크업과 스타일링 UI 추가 시작  -->
                    <tr>
                      <td>GLOBAL</td>
                      <td>USER_ID</td>
                      <td>Root</td>
                    </tr>
                    <tr>
                      <td>GLOBAL</td>
                      <td>USER_ID</td>
                      <td>Root</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <!-- table-primary -->
              <div class="table table--primary">
                <table>
                  <thead>
                    <tr>
                      <th>오브젝트 ID</th>
                      <th>변수 명</th>
                      <th>변수 값</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- 선택 되었을 경우, tr--selected 클래스 추가-->
                    <tr class="tr--selected">
                      <td>Selected Status</td>
                      <td>USER_ID</td>
                      <td>Root</td>
                    </tr>
                    <tr>
                      <td>GLOBAL</td>
                      <td>USER_ID</td>
                      <td>Root</td>
                    </tr>
                    <tr>
                      <td>GLOBAL</td>
                      <td>USER_ID</td>
                      <td>Root</td>
                    </tr>
                    <tr>
                      <td>GLOBAL</td>
                      <td>USER_ID</td>
                      <td>Root</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Secondary</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <!-- table-secondary -->
              <div class="table table--secondary table--sm">
                <table>
                  <caption>* 세로 border 없는 경우</caption>
                  <colgroup>
                    <col width="90"/>
                    <col width="90"/>
                  </colgroup>
                  <thead>
                    <tr>
                      <th>변수명</th>
                      <th>변수값</th>
                      <th>추가/삭제</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input type="text" class="text-input" placeholder="canvas_1">
                      </td>
                      <td>
                        <input type="text" class="text-input" placeholder="">
                      </td>
                      <td>
                        <div class="table__action-buttons">
                          <button class="button button--icon button--tertiary" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#add"></use>
                            </svg>
                          </button>
                          <button class="button button--icon button--tertiary" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="text" class="text-input" placeholder="canvas_1">
                      </td>
                      <td>
                        <input type="text" class="text-input" placeholder="">
                      </td>
                      <td>
                        <div class="table__action-buttons">
                          <button class="button button--icon button--tertiary" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#add"></use>
                            </svg>
                          </button>
                          <button class="button button--icon button--tertiary" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- table-secondary + table-border -->
              <div class="table table--secondary table--border table--sm">
                <table>
                  <caption>* 세로 border 있는 경우 (table--border)</caption>
                  <thead>
                    <tr>
                      <th>대상 오브젝트 ID</th>
                      <th>이벤트</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2">
                        <div class="notification-message notification-message--info">
                          <svg class="notification-message__icon svg-icon">
                            <use xlink:href="#info-fill"></use>
                          </svg>
                          <span class="notification-message__text">데이터가 없습니다.</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="table__icon">
                          <svg class="svg-icon">
                            <use xlink:href="#write"></use>
                          </svg>
                        </span>
                        <span class="table__subtext">Button-5</span>
                      </td>
                      <td>
                        <div class="table__action-buttons">
                          <button class="button button--icon button--link" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#return"></use>
                            </svg>
                          </button>
                          <button class="button button--icon button--link" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#unlink"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="table__icon">
                          <svg class="svg-icon">
                            <use xlink:href="#write"></use>
                          </svg>
                        </span>
                        <span class="table__subtext">Button 5</span>
                      </td>
                      <td>
                        Data Received
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- table-secondary -->
              <div class="table table--secondary table--horizontal table--sm">
                <table>
                  <caption>* 제목 / 내용 수평일 경우 (table--horizontal) </caption>
                  <tbody>
                    <tr>
                      <th>행 번호</th>
                      <td>
                        <span class="table__icon">
                          <svg class="svg-icon">
                            <use xlink:href="#write"></use>
                          </svg>
                        </span>
                        미표시
                      </td>
                    </tr>
                    <tr>
                      <th>미리설정</th>
                      <td>
                        <div class="checkbox">
                          <input id="tableCheck01" type="checkbox" class="checkbox__input" value="label">
                          <label for="tableCheck01" class="checkbox__label">그림자 없음</label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>상세보기 버튼</th>
                      <td>미표시미표시미표시</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <!-- table-secondary -->
              <div class="table table--secondary">
                <table>
                  <caption>* 세로 border 없는 경우</caption>
                  <colgroup>
                    <col width="90"/>
                    <col width="90"/>
                  </colgroup>
                  <thead>
                    <tr>
                      <th>변수명</th>
                      <th>변수값</th>
                      <th>추가/삭제</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <input type="text" class="text-input" placeholder="canvas_1">
                      </td>
                      <td>
                        <input type="text" class="text-input" placeholder="">
                      </td>
                      <td>
                        <div class="table__action-buttons">
                          <button class="button button--icon button--tertiary" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#add"></use>
                            </svg>
                          </button>
                          <button class="button button--icon button--tertiary" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <input type="text" class="text-input" placeholder="canvas_1">
                      </td>
                      <td>
                        <input type="text" class="text-input" placeholder="">
                      </td>
                      <td>
                        <div class="table__action-buttons">
                          <button class="button button--icon button--tertiary" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#add"></use>
                            </svg>
                          </button>
                          <button class="button button--icon button--tertiary" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#minus"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- table-secondary + table-border -->
              <div class="table table--secondary table--border">
                <table>
                  <caption>* 세로 border 있는 경우 (table--border)</caption>
                  <thead>
                    <tr>
                      <th>대상 오브젝트 ID</th>
                      <th>이벤트</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan="2">
                        <div class="notification-message notification-message--info">
                          <svg class="notification-message__icon svg-icon">
                            <use xlink:href="#info-fill"></use>
                          </svg>
                          <span class="notification-message__text">데이터가 없습니다.</span>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="table__icon">
                          <svg class="svg-icon">
                            <use xlink:href="#write"></use>
                          </svg>
                        </span>
                        <span class="table__subtext">Button-5</span>
                      </td>
                      <td>
                        <div class="table__action-buttons">
                          <button class="button button--icon button--link" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#return"></use>
                            </svg>
                          </button>
                          <button class="button button--icon button--link" type="button">
                            <svg class="svg-icon">
                              <use xlink:href="#unlink"></use>
                            </svg>
                          </button>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="table__icon">
                          <svg class="svg-icon">
                            <use xlink:href="#write"></use>
                          </svg>
                        </span>
                        <span class="table__subtext">Button 5</span>
                      </td>
                      <td>
                        Data Received
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- table-secondary -->
              <div class="table table--secondary table--horizontal">
                <table>
                  <caption>* 제목 / 내용 수평일 경우 (table--horizontal) </caption>
                  <tbody>
                    <tr>
                      <th>행 번호</th>
                      <td>
                        <span class="table__icon">
                          <svg class="svg-icon">
                            <use xlink:href="#write"></use>
                          </svg>
                        </span>
                        미표시
                      </td>
                    </tr>
                    <tr>
                      <th>미리설정</th>
                      <td>
                        <div class="checkbox">
                          <input id="tableCheck02" type="checkbox" class="checkbox__input" value="label">
                          <label for="tableCheck02" class="checkbox__label">그림자 없음</label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <th>상세보기 버튼</th>
                      <td>미표시미표시미표시</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
