
<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Context Menu</h3>
</div>
<div class="page-content">
  <p class="page__desc">특정 버튼을 클릭했을 경우 뜨는 리스트 형태의 메뉴입니다.</p>
  <div class="page__usage md">
    <ul>
      <li>컨텍스트 메뉴는 <em class="text-emphasis">4개</em>가 있으며 <em class="text-emphasis">3개</em> 크기로 구분합니다.<br /></li>
      <li>텍스트만 사용하거나, </li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default Context-menu</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--primary button--lg" type="button">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button-theme--primary button--lg" type="button" disabled="disabled">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button-theme--primary button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#address-card"></use>
                </svg><span class="button__text">Primary Button</span>
              </button>
              <button class="button button--icon button-theme--primary button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#address-card"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--primary" type="button">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button-theme--primary" type="button" disabled="disabled">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button-theme--primary" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#address-card"></use>
                </svg><span class="button__text">Primary Button</span>
              </button>
              <button class="button button--icon button-theme--primary" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#address-card"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--primary button--sm" type="button">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button-theme--primary button--sm" type="button" disabled="disabled">
                <span class="button__text">Primary Button</span>
              </button>
              <button class="button button-theme--primary button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#address-card"></use>
                </svg><span class="button__text">Primary Button</span>
              </button>
              <button class="button button--icon button-theme--primary button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#address-card"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Secondary Button</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--secondary button--lg" type="button">
                Secondary Button
              </button>
              <button class="button button-theme--secondary button--lg" type="button" disabled="disabled">
                Secondary Button
              </button>
              <button class="button button-theme--secondary button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Secondary Button</span>
              </button>
              <button class="button button--icon button-theme--secondary button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--secondary" type="button">
                Secondary Button
              </button>
              <button class="button button-theme--secondary" type="button" disabled="disabled">
                Secondary Button
              </button>
              <button class="button button-theme--secondary" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Secondary Button</span>
              </button>
              <button class="button button--icon button-theme--secondary" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--secondary button--sm" type="button">
                Secondary Button
              </button>
              <button class="button button-theme--secondary button--sm" type="button" disabled="disabled">
                Secondary Button
              </button>
              <button class="button button-theme--secondary button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Secondary Button</span>
              </button>
              <button class="button button--icon button-theme--secondary button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Tertiary Button</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--tertiary button--lg" type="button">
                Tertiary Button
              </button>
              <button class="button button-theme--tertiary button--lg" type="button" disabled="disabled">
                Tertiary Button
              </button>
              <button class="button button-theme--tertiary button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Tertiary Button</span>
              </button>
              <button class="button button--icon button-theme--tertiary button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--tertiary" type="button">
                Tertiary Button
              </button>
              <button class="button button-theme--tertiary" type="button" disabled="disabled">
                Tertiary Button
              </button>
              <button class="button button-theme--tertiary" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Tertiary Button</span>
              </button>
              <button class="button button--icon button-theme--tertiary" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--tertiary button--sm" type="button">
                Tertiary Button
              </button>
              <button class="button button-theme--tertiary button--sm" type="button" disabled="disabled">
                Tertiary Button
              </button>
              <button class="button button-theme--tertiary button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Tertiary Button</span>
              </button>
              <button class="button button--icon button-theme--tertiary button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Ghost Button</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--ghost button--lg" type="button">
                Ghost Button
              </button>
              <button class="button button-theme--ghost button--lg" type="button" disabled="disabled">
                Ghost Button
              </button>
              <button class="button button-theme--ghost button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Ghost Button</span>
              </button>
              <button class="button button--icon button-theme--ghost button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--ghost" type="button">
                Ghost Button
              </button>
              <button class="button button-theme--ghost" type="button" disabled="disabled">
                Ghost Button
              </button>
              <button class="button button-theme--ghost" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Ghost Button</span>
              </button>
              <button class="button button--icon button-theme--ghost" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--ghost button--sm" type="button">
                Ghost Button
              </button>
              <button class="button button-theme--ghost button--sm" type="button" disabled="disabled">
                Ghost Button
              </button>
              <button class="button button-theme--ghost button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Ghost Button</span>
              </button>
              <button class="button button--icon button-theme--ghost button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Negative Button</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--negative button--lg" type="button">
                Negative Button
              </button>
              <button class="button button-theme--negative button--lg" type="button" disabled="disabled">
                Negative Button
              </button>
              <button class="button button-theme--negative button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Negative Button</span>
              </button>
              <button class="button button--icon button-theme--negative button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--negative" type="button">
                Negative Button
              </button>
              <button class="button button-theme--negative" type="button" disabled="disabled">
                Negative Button
              </button>
              <button class="button button-theme--negative" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Negative Button</span>
              </button>
              <button class="button button--icon button-theme--negative" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--negative button--sm" type="button">
                Negative Button
              </button>
              <button class="button button-theme--negative button--sm" type="button" disabled="disabled">
                Negative Button
              </button>
              <button class="button button-theme--negative button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Negative Button</span>
              </button>
              <button class="button button--icon button-theme--negative button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Link Button</span>
    <div class="component-example">
      <div class="component-example__live">
        <div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: lg</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--link button--lg" type="button">
                Link Button
              </button>
              <button class="button button-theme--link button--lg" type="button" disabled="disabled">
                Link Button
              </button>
              <button class="button button-theme--link button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Link Button</span>
              </button>
              <button class="button button--icon button-theme--link button--lg" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: md</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--link" type="button">
                Link Button
              </button>
              <button class="button button-theme--link" type="button" disabled="disabled">
                Link Button
              </button>
              <button class="button button-theme--link" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Link Button</span>
              </button>
              <button class="button button--icon button-theme--link" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="component-example__row">
            <p class="component-example__size-label">Size: sm</p>
            <div class="component-examle__item-group">
              <button class="button button-theme--link button--sm" type="button">
                Link Button
              </button>
              <button class="button button-theme--link button--sm" type="button" disabled="disabled">
                Link Button
              </button>
              <button class="button button-theme--link button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
                <span class="button__text">Link Button</span>
              </button>
              <button class="button button--icon button-theme--link button--sm" type="button">
                <svg class="icon-comm">
                  <use xlink:href="#airbnb"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
