<!-- context menu -->
<div class="page-header">
  <h2 class="page-header__lable">component</h2>
  <h3 class="page-header__title">Progressbar</h3>
</div>
<div class="page-content">
  <p class="page__desc">프로그래스바</p>
  <div class="page__usage md">
    <ul>
      <li>프로그래스바 <em class="text-emphasis">4개</em>가 있습니다.</li>
    </ul>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Default</span>
    <div class="component-example">
      <div class="component-example__live">
        <div style="width: 100%;">
          <div class="component-example__row">
            <div class="progressbar" style="width: 100%;">
              <div class="progressbar__gage">
                <span class="progressbar__text">70.00%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Normal</span>
    <div class="component-example">
      <div class="component-example__live">
        <div style="width: 100%;">
          <div class="component-example__row">
            <div class="progressbar progressbar--normal" style="width: 100%;">
              <div class="progressbar__gage">
                <span class="progressbar__text">70.00%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Critical</span>
    <div class="component-example">
      <div class="component-example__live">
        <div style="width: 100%;">
          <div class="component-example__row">
            <div class="progressbar progressbar--critical" style="width: 100%;">
              <div class="progressbar__gage">
                <span class="progressbar__text">70.00%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="component-variation">
    <span class="component-variation__name">Major</span>
    <div class="component-example">
      <div class="component-example__live">
        <div style="width: 100%;">
          <div class="component-example__row">
            <div class="progressbar progressbar--major" style="width: 100%;">
              <div class="progressbar__gage">
                <span class="progressbar__text">70.00%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>