<!-- side-nav -->
<div class="side-nav__top-container">
  <a class="side-nav__logo" href="/views/index.html"><em>IRIS</em> Design Guide</a>
</div>
<div class="side-nav__bottom-container">
  <ul class="side-nav__main-nav">
    <li class="main-nav-item">
      <p class="main-nav-item__heading">Style</p>
      <ul class="main-nav__sub-nav">
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--color">Color</a>
        </li>
      </ul>
    </li>
    <li class="main-nav-item">
      <p class="main-nav-item__heading">Components</p>
      <ul class="main-nav__sub-nav">
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--accordion">Accordion</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--alert">Alert</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--breadcrumb">Breadcrumb</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--button">Button</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--checkbox">Checkbox</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--context-menu">Context Menu</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--date-picker">Date Picker</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--description">Description</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--drawer">Drawer</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--form">Form</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--list">List</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--loader">Loader</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--modal">Modal</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--notification">Notification</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--number-input">Number Input</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--pagination">Pagination</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--progressbar">Progressbar</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--radio">Radio</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--range">Range</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--select">Select</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--steps">Steps</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--tab">Tab</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--table">Table</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--tag">Tag</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--text-input">Text Input</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--textarea">Textarea</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--time-picker">Time Picker</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--toggle-button">Toggle Button</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--toggle-switch">Toggle Switch</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--tooltip">Tooltip</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--transfer">transfer</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--upload">Upload</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
