
<!-- navigation -->
<div class="side-nav__top-container">
  <a class="side-nav__logo" href="/views/index.html"><em>IRIS</em> Design Guide</a>
</div>
<div class="side-nav__bottom-container">
  <ul class="side-nav__main-nav">
    <li class="main-nave-item">
      <p class="main-nave-item__heading">Style</p>
      <ul class="main-nav__sub-nav">
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page_color">Color</a>
        </li>
      </ul>
    </li>
    <li class="main-nave-item">
      <p class="main-nave-item__heading">Components</p>
      <ul class="main-nav__sub-nav">
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page_button">Button</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page_checkbox">Checkbox</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page_radio">Radio</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
