
<!-- side-nav -->
<div class="side-nav__top-container">
  <a class="side-nav__logo" href="/views/index.html"><em>IRIS</em> Design Guide</a>
</div>
<div class="side-nav__bottom-container">
  <ul class="side-nav__main-nav">
    <li class="main-nav-item">
      <p class="main-nav-item__heading">Style</p>
      <ul class="main-nav__sub-nav">
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--color">Color</a>
        </li>
      </ul>
    </li>
    <li class="main-nav-item">
      <p class="main-nav-item__heading">Components</p>
      <ul class="main-nav__sub-nav">
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--button">Button</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--checkbox">Checkbox</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--context-menu">Context Menu</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--list">List</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--loader">Loader</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--modal">Modal</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--number-input">Number Input</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--radio">Radio</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--select">Select</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--tab">Tab</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--tag">Tag</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--text-input">Text Input</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--textarea">Textarea</a>
        </li>
        <li class="sub-nav__item">
          <a class="sub-nav__item-link" href="#page--accordion">Accordion</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
