// 3. 2번 방법에서 필요한 내용. 폰트, 이미지 경로 수정
$font-path: '/src/core-style/fonts/';

// 1. core와 product scss를 분리해서 import 하는 방법
// ----------------------------
// 1-1. product-style 하위 스타일에 core-style의 테마 변수 적용
// @import '/src/core-style/scss/themes/theme';
// 1-2. core의 theme을 overwrite 한 경우, product 에도 해당 theme을 import 해주어야함. product-style에 있는 themes overwrite는 product-style 하위의 scss에는 영향을 주지만 core-style 하위에 있는 주요 컴포넌트의 스타일은 바꿀 수 없음
// @import '/src/core-style/scss/themes/pink';

// 2. product scss에 core를 포함해 impoart 하는 방법
// ----------------------------
// 2-1. 전체 테마를 바꾸고 싶은 경우
// @import "/src/core-style/scss/themes/pink";
// @import "/src/core-style/scss/core-index.scss";
// 2-2. product의 테마만 바꾸고 싶은 경우
@import "/src/core-style/scss/core-index.scss";
@import "/src/core-style/scss/themes/pink";

@import "./vendor/vendor.scss";
@import "./layout/common.scss";
@import "./pages/pages.scss";
