.accordion {
}

.accordion-vertical {
  @include list;
}

.accordion-horizontal {
  @include button-list;
  width: rem(400px);
}

.accordion-container+.accordion-container .accordion__head {
  border-top: transparent;
}

.accordion__head {
  @include button-normal;
  justify-content: flex-start;
  width: 100%;
  height: $button-height-md;
  padding: $spacing-2xs $spacing-sm;
  background-color: $ui-01;
  border: 1px solid $hover-row;
}

.accordion__head-icon {
  @include svg-icon-size($button-height-sm);
}

.accordion__head-title {
  @include text-overflow;
  @include font-size("14");
  @include font-weight("medium");
  flex: 1;
  text-align: left;
  color: $text-02;
}

.accordion__head-icon+.accordion__head-title {
  margin-left: $spacing-2xs;
}

.accordion__head-icon--right {
  margin-left: auto;
}

.accordion__body {
  display: none;
}


.accordion-vertical__list,
.accordion-horizontal__list {
  border: 1px solid $hover-row;
  border-top: transparent;
}

.accordion-vertical__text {
  @include text-overflow;
  width: 100%;
  margin: 0;
}

.accordion-vertical__item+.accordion-vertical__item {
  border-top: 1px solid $hover-row;
}

// -------------------------
// default 열고 닫을 경우 스타일
// -------------------------
.accordion__head--open .accordion__head-icon {
  transform: rotate(90deg);
}

.accordion__head--open .accordion__head-icon--right {
  transform: rotate(180deg);
}

.accordion__head--open+.accordion__body {
  display: block;
}