.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination__button,
.pagination__link {
  @include button-normal;
  @include font-weight("regular");
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 2px;
  color: $text-02;

  &:hover:not(:disabled) {
    background-color: $ui-01;
    color: $text-02;
  }

  &:focus,
  &:focus:hover {
    background-color: $primary;
    color: $ui-02;

    svg {
      fill: $ui-02;
    }
  }

  &--selected {
    background-color: $primary;
    color: $ui-02;

    svg {
      fill: $ui-02;
    }
  }
}

.pagination__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination__text{
  display: block;
  padding: 0 $spacing-xs;
}