// -------------------------
// Select
// -------------------------
.select {
  @include list;
  position: relative;
  color: $text-02;
}

.select__default-button {
  @include button-normal;
  padding: $spacing-2xs $spacing-xl $spacing-2xs $spacing-sm;
  justify-content: start;
  position: relative;
  min-width: rem(124px);
  height: $button-height-md;
  text-align: left;
  background-color: $ui-02;
  border: 1px solid $ui-04;
  border-radius: $button-border-radius;

  &:hover:not(:disabled) {
    border-color: $text-03;
  }

  &:active {
    border-color: $secondary !important;
  }

  &:focus,
  &:focus:hover {
    border-color: $secondary;
    box-shadow: 0px 0px 4px rgba(77, 174, 255, 0.4);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    border-color: $hover-row !important;

    .select__default-text {
      color: $text-05;
    }

    .select__default-icon {
      opacity: 0.5;
    }
  }

  &.select__default-button--toggle {
    border-color: $secondary;
    box-shadow: 0px 0px 4px rgba(77, 174, 255, 0.4);

    .select__default-icon {
      transform: rotate(-180deg);
    }

    + .select__list {
      display: block;
    }

    &:hover:not(:disabled) {
      border-color: $secondary;
    }
  }
}

.select__default-text {
  @include font-size("14");
  @include font-weight("regular");
  display: block;
  color: $text-02;
}

.select__default-icon {
  @include position-right-center(12px);
  @include svg-icon-size(20px);
  transform: none;
  margin-top: -10px;
  color: $text-03;
}

.select__list {
  display: none;
  position: relative;
  top: 100%;
  left: 0;
  background-color: $ui-02;
}

// -------------------------
// Size overwrite
// -------------------------
.select--lg {
  .select__default-button {
    min-width: rem(132px);
    height: $button-height-lg;
  }

  .select__list {
    min-width: rem(140px);
  }

  .select__button {
    @include stable-padding($spacing-2xs, $spacing-sm);
    height: $button-height-lg;
  }

  .select__icon {
    @include svg-icon-size(20px);
  }
}

.select--sm {
  .select__default-button {
    padding: $spacing-2xs $spacing-lg $spacing-2xs $spacing-sm;
    min-width: rem(110px);
    height: $button-height-sm;
  }

  .select__default-icon {
    @include svg-icon-size(14px);
    right: 8px;
    margin-top: -7px;
  }

  .select__list {
    min-width: rem(110px);
  }

  .select__button {
    @include stable-padding($spacing-3xs, $spacing-xs);
    height: $button-height-sm;
  }

  .select__icon {
    @include svg-icon-size(16px);
  }

  .select__text {
    @include font-size("12");
  }
}
