.table table {
  width: 100%;
  border: 1px solid $ui-04;
}

.table caption {
  @include font-weight('light');
  @include font-size('12');
  margin-bottom: $spacing-xs;
  color: $text-03;
  text-align: left;
}

.table th,
.table td {
  padding: $spacing-3xs $spacing-xs;
  vertical-align: middle;
  word-break: break-all;
}

.table th {
  @include font-weight('regular');
  @include font-size('14');
  color: $text-02;
  border-bottom: 1px solid $ui-04;
}

.table td {
  height: rem(40px);
  border-bottom: 1px solid $ui-04;
}

.table tr:last-child td {
  border-bottom: none;
}

.table__text {
  @include font-weight('regular');
  @include font-size('14');
  color: $text-02;
}

.table__group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__group button+button {
  margin-left: $spacing-2xs;
}

// -------------------------
// Theme - table--primary
// -------------------------
.table--primary th {
  height: rem(44px);
  background-color: $ui-02;
}

.table--primary tr:nth-child(2n + 1) td {
  background-color: $odd-row;
}

// -------------------------
// Theme - table--secondary
// -------------------------
.table--secondary th {
  height: rem(40px);
  background-color: $hover-row;
}

.table--secondary td:first-child .table__text,
.table--secondary td:first-child .button .button__text {
  color: $text-03;
}

.table--secondary td:first-child .button .svg-icon {
  fill: $text-03;
}

.notification-message {
  justify-content: center;
}

// -------------------------
// Theme - table--border
// ------------------------
.table--border th+th,
.table--border td+td {
  border-left: 1px solid $ui-04;
}

// -------------------------
// Theme - table--horizontal
// ------------------------
.table--horizontal th {
  text-align: left;
}