.tag {
  @include button-normal;
  @include font-size("12");
  height: rem(24px);
  padding: 0 $spacing-2xs;
  border-radius: $field-border-radius;
  background-color: $hover-row;
  color: $text-03;

  &:hover:not(:disabled) {
    background-color: darken($hover-row, 5%);
    color: $primary;
  }

  &:disabled {
    opacity: 0.25;
    cursor: not-allowed;

    .tag__remove-button:hover {
      fill: $icon-01;
    }
  }
}

.tag__label {
  @include line-height("heading");
  @include font-weight("medium");
}

.tag__remove-button {
  width: 14px;
  height: 14px;
  margin-left: $spacing-2xs;
  border-radius: $field-border-radius;
  fill: $icon-01;

  &:hover {
    background-color: rgba($primary, 0.15);
    fill: $primary;
  }
}

.tag--selected {
  background-color: $primary;
  color: $text-04;

  &:hover:not(:disabled) {
    background-color: $hover-primary;
    color: $text-04;
  }

  &:disabled {
    .tag__remove-button:hover {
      fill: $text-04;
      background-color: transparent;
    }
  }
}

.tag--selected .tag__remove-button {
  fill: $text-04;

  &:hover {
    background-color: rgba($text-04, 0.2);
  }
}

.tag--lg {
  @include font-size("14");
  height: rem(32px);
  padding: 0 $spacing-xs;
}

.tag--sm {
  height: rem(18px);
}

// -------------------------
// Studio 컴포넌트 스타일 overwrite
// -------------------------
.studio-component {
  .tag {
    &:hover:not(:disabled) {
      color: $text-03;
    }
  }

  .tag--selected {
    background-color: $text-03;
    color: $text-04;

    &:hover:not(:disabled) {
      background-color: lighten($text-03, 5%);
      color: $text-04;
    }

    &:disabled {
      .tag__remove-button:hover {
        fill: $text-04;
        background-color: transparent;
      }
    }
  }

  .tag__remove-button {
    &:hover {
      background-color: rgba($ui-02, 0.25);
      fill: $text-03;
    }
  }

  .tag--selected .tag__remove-button {
    fill: $text-04;

    &:hover {
      fill: $text-04;
    }
  }
}
// -------------------------
// theme별 mixin
// -------------------------
@mixin tag-theme($bg-color, $font-color, $selected-font-color) {
  background-color: $bg-color;
  color: $font-color;

  &:hover:not(:disabled) {
    background-color: darken($bg-color, 4%);
    color: $font-color;
  }

  &:disabled {
    .tag__remove-button:hover {
      fill: $font-color;
      background-color: transparent;
    }
  }
  
  .tag__remove-button {
    fill: $font-color;

    &:hover {
      background-color: rgba($font-color, .15);
      fill: $font-color;
    }
  }

  &.tag--selected {
    background-color: darken($bg-color, 22%);
    color: $selected-font-color;

    &:hover:not(:disabled) {
      background-color: darken($bg-color, 16%);
      color: $selected-font-color;
    }

    &:disabled {
      .tag__remove-button:hover {
        fill: $selected-font-color;
        background-color: transparent;
      }
    }

    .tag__remove-button {
      fill: $selected-font-color;

      &:hover {
        background-color: rgba($selected-font-color, .15);
      }
    }
  }
}

.tag--red {
  @include tag-theme(#ffd7d9, #da1e28, $text-04);
}

.tag--red-deep {
  @include tag-theme(#ff676e, $text-04, $text-04);
}

.tag--cyan {
  @include tag-theme(#bae6ff, #0089c9, $text-04);
}

.tag--cyan-deep {
  @include tag-theme(#4abdff, $text-04, $text-04);
}

.tag--green {
  @include tag-theme(#c4f5d1, #198038, $text-04);
}

.tag--green-deep {
  @include tag-theme(#59d079, $text-04, $text-04);
}

.tag--teal {
  @include tag-theme(#adf0f0, #007d79, $text-04);
}

.tag--teal-deep {
  @include tag-theme(#3de1e1, $text-04, $text-04);
}

.tag--purple {
  @include tag-theme(#decff5, #6929c4, $text-04);
}

.tag--purple-deep {
  @include tag-theme(#a26aff, $text-04, $text-04);
}
