//-------------------------------------------
//  목록화면 공통 UI (IMA, ISB, Topology)
// ------------------------------------------
.index-layout-head {
  background-color: $ui-02;
  box-shadow: 0 rem(4px) rem(11px) rgba(0, 0, 0, 0.03);
}

.index-layout-head__title {
  @include font-size("18");
  @include font-weight("medium");
  white-space: nowrap;
  color: $text-01;
  letter-spacing: rem(-0.3px);
}

.index-layout-head__title-bar {
  display: flex;
  align-items: center;
  height: rem(56px);
  padding: 0 $spacing-md + $spacing-2xs;
}

.index-layout-head__title-bar .select--borderless .select-container {
  min-width: rem(160px);
}

.index-layout-head__action-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;

  .button + .button,
  div + div {
    margin-left: $spacing-xs;
  }
}

.index-layout-body {
  display: flex;
  flex-direction: column;
  background-color: $ui-01;
}

.index-layout-body__template-inner {
  transform: translate(0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: rem(200px);
  width: 100%;
  min-width: rem(1200px);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: z("modal");
  background: $ui-01;
  box-shadow: 0 rem(4px) rem(11px) rgba(0, 0, 0, 0.03);
}

.index-layout-body__inner {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.index-layout-body__template-inner .project-thumbnail {
  height: calc(100% - 112px) !important;
}

.slide-up {
  transition: all 0.5s;
}

.slide-up-enter-active {
  transition: all 0.5s ease;
}

.slide-up-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-up-enter,
.slide-up-leave-active {
  opacity: 0;
  transform: translate(0, -100%);
}

.index-layout-body__top-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: rem(56px);
  max-height: rem(100px);
  height: auto;
  padding: 0 $spacing-md + $spacing-2xs $spacing-sm $spacing-md + $spacing-2xs;
}

.index-layout-body__left-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: $spacing-sm;
}

.index-layout-body__filter {
  display: flex;
  align-items: center;
}

.checkbox.index-layout-body__filter-checkbox {
  width: rem(24px);
  height: rem(24px);
  line-height: 1;
}

.checkbox.index-layout-body__filter-checkbox .checkbox__label {
  width: rem(20px);
  height: rem(20px);
}

.index-layout-body__filter-title {
  @include text-overflow;
  @include font-weight("regular");
  @include font-size("15");
  color: $text-02;
  letter-spacing: rem(-0.3px);
  em {
    @include font-weight("medium");
  }
}

.index-layout-body__management {
  display: flex;
  align-items: center;
  margin-left: $spacing-md;
}

.index-layout-body__management .button {
  padding: 0 $spacing-sm;
}

.index-layout-body__management-text {
  @include font-size("15");
  display: block;
  margin-right: $spacing-xs;
  color: $active-secondary;
  white-space: nowrap;
  word-break: keep-all;
}

.index-layout-body__controller {
  display: flex;
  align-items: center;
  padding-top: $spacing-sm;
}

.index-layout-body__controller-select {
  width: auto;
  margin-left: $spacing-xs;

  &.select--view-all.division-element {
    width: rem(180px);

    .select-container {
      min-width: rem(180px);
      max-width: rem(250px);
    }
  }

  &.select--borderless {
    min-width: rem(120px);

    .select-container {
      min-width: rem(120px);
    }
  }
}

.index-layout-body__controller-search {
  margin-left: $spacing-xs;

  .text-input-group {
    width: rem(320px);

    .text-input {
      padding-right: $spacing-lg;
    }
  }
}

.index-layout-body__controller-refresh-button {
  margin-left: $spacing-xs;
}
