//-------------------------------------------
//  목록화면 보고서 리스트 UI (IMA, ISB, Topology)
// ------------------------------------------
.project-list {
  padding: 0 $spacing-md + $spacing-2xs;
  height: calc(100vh - 115px);
}

.project-thumbnail {
  padding: 0 $spacing-xl + $spacing-2xs $layout-xs $spacing-xl + $spacing-2xs;
  flex: 1 0 auto;
  overflow-y: auto;
  height: calc(100vh - 112px);

  &.project-thumbnail--no-blank {
    display: none;
    padding: 0;
  }
}

.project-thumbnail-list {
  @include clearfix;
  margin-left: -$spacing-lg;
  margin-right: -$spacing-lg;
  .desktop {
    &:nth-child(6n) {
      .context-menu {
        left: calc(100% - 270px) !important;
      }
    }
  }

  // Media Query 1750px
  .laptopLarge {
    width: 25%;

    &:nth-child(6n) {
      .context-menu {
        left: rem(13px);
      }
    }

    &:nth-child(4n) {
      .context-menu {
        left: calc(100% - 270px) !important;
      }
    }
  }

  // Media Query 1300px
  .laptopSmall {
    width: 33.33%;

    &:nth-child(6n) {
      .context-menu {
        left: rem(13px);
      }
    }

    &:nth-child(4n) {
      .context-menu {
        left: rem(25px);
      }
    }

    &:nth-child(3n) {
      .context-menu {
        left: calc(100% - 270px) !important;
      }
    }
  }
}

.project-thumbnail-list__item {
  float: left;
  width: 16.66%;
  padding: 0 $spacing-xs $spacing-md $spacing-xs;

  .context-menu {
    display: none;
  }
}

.project-thumbnail-list__link--empty .project-thumbnail-list__thumbnail {
  border: 1px dashed $ui-04;
  transition: all $duration-slow-01 $iris-standard-easing;
}

.project-thumbnail-list__link--empty {
  &:hover {
    .project-thumbnail-list__thumbnail {
      background-color: $ui-01;
      border: 1px dashed $secondary;
    }

    .project-thumbnail-list__thumbnail
      .project-thumbnail-list__thumbnail-icon
      .svg-icon {
      fill: $secondary;
    }
  }
}

.project-thumbnail-list__link {
  display: block;
  padding: $spacing-sm;
  background-color: $ui-02;
  border: 1px solid $ui-04;
  box-shadow: 0 rem(2px) 0 rgba(206, 211, 217, 0.2);
  border-radius: 2px;
  transition: all $duration-slow-01 $iris-standard-easing;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 rem(30px) rgba(206, 211, 217, 0.8);
    color: inherit;

    .project-thumbnail-list__details {
      opacity: 1;
    }
  }

  &.project-thumbnail-list__link--selected {
    .project-thumbnail-list__details {
      opacity: 1;
    }
  }

  &:focus-visible:not(:disabled),
  &:focus-within:not(:disabled) {
    .project-thumbnail-list__details {
      opacity: 1;
    }
  }
}

.project-thumbnail-list__thumbnail {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 55%;
  border: 1px solid $ui-04;
}

.project-thumbnail-list__thumbnail-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$spacing-lg;
  margin-left: -$spacing-lg;
}

.project-thumbnail-list__thumbnail-icon .svg-icon {
  width: rem(50px);
  height: rem(50px);
  fill: $text-03;
}

.project-thumbnail-list__thumbnail-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-thumbnail-list__details {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(36, 46, 61, 0.48);
  transition: all $duration-slow-01 $iris-standard-easing;
}

.checkbox.project-thumbnail-list__details-checkbox {
  position: absolute;
  top: rem(6px);
  left: rem(8px);
  line-height: 1;
}

.checkbox.project-thumbnail-list__details-checkbox .checkbox__label {
  width: rem(20px);
  height: rem(20px);
}

.project-thumbnail-list__detail-delete-button {
  position: absolute;
  top: rem(6px);
  right: rem(8px);
}

.project-thumbnail-list__information {
  margin-top: $spacing-sm;
}

.project-thumbnail-list__information-title {
  @include text-overflow;
  @include font-size("15");
  position: relative;
  padding: $spacing-2xs 0;
  font-weight: normal;
  letter-spacing: rem(-0.3px);
  color: $text-02;
}

.project-thumbnail-list__information-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-thumbnail-list__information-desc-text {
  @include font-size("12");
  color: $text-03;

  &:first-child {
    @include text-overflow;
    max-width: fit-content;
  }

  &:first-child:not(:only-child) {
    flex-grow: 1;
  }

  & + & {
    max-width: inherit;
    flex-shrink: 0;
    margin-left: auto;
  }

  &.project-thumbnail-list__information-desc-text--right {
    margin-left: auto;
    max-width: 100% !important;
  }
}

.project-thumbnail-list__badges {
  position: absolute;
  bottom: rem(6px);
  right: rem(8px);
  display: flex;
  flex-direction: row;
  align-items: center;

  .badge + .badge {
    margin-left: $spacing-2xs;
  }

  .badge:focus-visible:not(:disabled) {
    outline: 1px dashed $text-01;
  }
}

// 더보기 버튼 + 컨텍스트 메뉴
.project-management .context-menu {
  display: block;
  min-width: rem(240px);
}

.project-management.ag-cell__management {
  position: relative;
}

.project-management.project-thumbnail-list__details-management {
  position: absolute;
  top: 0;
  right: 0;

  .button.button--icon.button--link {
    .svg-icon {
      fill: $ui-02;
    }

    &:hover,
    &:active {
      background-color: transparent;
      .svg-icon {
        fill: $ui-02;
      }
    }
  }
}

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .project-thumbnail-list__information-desc-text {
    &:first-child {
      max-width: inherit;
    }
  }
}
