//--------------------
// Page layout
//--------------------
.layout-root {
  display: flex;
  flex-direction: row;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  flex: 0 1 100%;
  position: relative;
  margin-left: 12.5rem;
}

.content {
  padding-bottom: $layout-md;
  min-height: 100vh;
  width: 100%;
}

.footer {
  // position: absolute;
  width: 100%;
  padding: $layout-lg $layout-md $layout-md;
  background-color: $ui-01;
  border-top: 1px solid $ui-04;
}

.footer__version {
  @include font-size("12");
  color: $text-02;
}

.footer__copyright {
  @include font-size("12");
  color: $text-02
}
// content - article area
.page-header {
  align-items: flex-start;
  background-color: $ui-01;
  border-bottom: 1px solid $primary;
  display: flex;
  flex-direction: column;
  height: 10rem;
  justify-content: flex-start;
  padding-bottom: 0;
  padding-left: 12.5%;
  padding-right: 12.5%;
  width: 100%;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    display: block;
    background-color: $ui-04;
    position: absolute;
    top: -48px;
    left: 0;
  }
}

.page:not(:first-child) .page-header {
  border-top: 1px solid darken($ui-01, 12%);
}

.page-content {
  margin-bottom: $layout-md;
  padding: 4rem 12.5%;
  width: 100%;

  .mu-snippet {
    margin: $spacing-sm 0 $spacing-md;
  }
}

.code-example {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.code-example_raw-html {
  background-color: $ui-01;
  border: 1px solid $ui-04;
  height: auto;
  max-height: 12rem;
  min-height: 7rem;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  max-height: 12rem;
  min-height: 7rem;
  overflow-y: hidden;
  padding: 1rem 0 1rem 1rem;
}

//--------------------
// Page styles
//--------------------
// .page-header {
//   border-bottom: 1px solid $ui-04;
// }

.page-header__lable {
  @include font-size("14");
  @include font-weight("regular");
  color: $text-02;
  margin: $layout-md 0 $layout-3xs;
  white-space: nowrap;
  text-transform: capitalize;
}

.page-header__title {
  @include letter-spacing;
  @include font-size("32");
  @include font-weight("medium");
  color: $text-01;
  margin-top: -$spacing-sm;
  padding: 0;
}

.page__desc {
  @include font-smoothing;
  @include letter-spacing;
  @include font-size("16");
  @include line-height("body");
  max-width: rem(800px);
  color: $text-01;
  word-wrap: break-word;
  font-weight: 600;
  padding-bottom: $layout-sm;
  
  span {
    color: $primary;
  }
}

.page__usage { 
  margin-bottom: $layout-sm;
}

.md {
  @include font-size("14");
  @include line-height("body");
  color: $text-01;

  ul {
    list-style: disc;
    padding-left: $spacing-xl;
  }
}

.component-variation {
  margin: $layout-xl 0 $layout-xl;
}

.component-variation__name {
  @include font-size("24");
  @include font-weight("regular");
  position: relative;
  color: $text-01;
  margin-top: $layout-md;
  padding: 1rem 0 1.5rem;

  &::before {
    content: "";
    width: rem(40px);
    height: rem(3px);
    display: block;
    background-color: $secondary;
    position: absolute;
    top: -0.5rem;
    left: 0;
  }
}

.component-variation__desc {
  max-width: 45rem;
  margin: 1rem 0;
}

.component-variation + .page_md h3 {
  padding-top: 0 !important;
}

//--------------------
// Component example Style
//--------------------

.component-example {
  width: 100%;
  max-width: 100%;
  display: block;
  // color: $white;
}

.component-example__live {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: rem(200px);
  position: relative;
  padding: 2rem 2rem 2.5rem;
  margin: 1.5rem 0 0;
  background-color: $ui-02;
  color: $text-01;
  border: 1px solid $ui-04;
}

.component-example__row {
  display: flex;
  align-items: center;
}

.component-example__row + .component-example__row {
  margin-top: $spacing-md;
}

.component-example__size-label {
  @include font-size("12");
  margin-right: $spacing-lg;
  width: rem(60px);
  color: $text-03;
  white-space: nowrap;
}

.component-examle__item-group {
  display: flex;
  align-items: center;
}

.component-examle__item-group--row {
  flex-direction: column;
}

.component-examle__item-group > .button + .button,
.component-examle__item-group .checkbox + .checkbox,
.component-examle__item-group .context-menu + .context-menu,
.component-examle__item-group .select + .select,
.component-examle__item-group .toggle-switch + .toggle-switch,
.component-examle__item-group .toggle-button + .toggle-button,
.component-examle__item-group .tooltip + .tooltip {
  margin-left: $spacing-sm;
}

.component-examle__item-group .text-input:not(:first-child),
.component-examle__item-group .text-input-group:not(:first-child),
.component-examle__item-group .text-input-group:not(:first-child) {
  margin-top: $spacing-xs;
}

.component-examle__item-group .text-input-group .text-input {
  margin: 0;
}

.component-examle__item-group--row .upload + .upload,
.component-examle__item-group--row .upload-alt + .upload-alt,
.component-examle__item-group--row .upload-preview + .upload-preview{
  margin-top: $spacing-xs;
}