<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IRIS | Common Modals</title>
  <link rel="stylesheet" href="../../dist/css/main/style.min.css" />
</head>

<body>
  <div class="guide-wrap">
    <div class="modal-variation">
      <h3 class="modal-variation__name">모달 Resizable</h3>
      <div class="modal-examle">
        
<!-- 모달 resizable 유형-->
<div class="modal modal--sm ui-resizable" style="position: relative;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">크기 조절 모달</span>
    </div>
    <div class="modal__head-close-button">
      <button class="button button--icon button--link button--sm">
        <svg class="svg-icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="modal__body modal__body--lg">
    contents
  </div>
  <!-- <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--link button--lg" type="button">
        <span>취소</span>
      </button>
      <button class="button button--primary button--lg" type="button">
        <span>저장</span>
      </button>
    </div>
  </div> -->
  <div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se"></div>
</div>
<!-- // 모달 resizable 유형-->

      </div>
    </div>
    <div class="modal-variation">
      <h3 class="modal-variation__name">권한 설정 (ACL)</h3>
      <div class="modal-examle">
        
<!-- 모달 acl 예제 -->
<div class="modal modal--lg" style="position: static;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">권한 설정</span>
    </div>
    <span class="modal__head-close-button">
      <button class="button button--icon button--link button--sm">
        <svg class="svg-icon" aria-hidden="true">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </span>
  </div>
  <div class="modal__body modal__body--md">
    <form class="form form--vertical form--lg">
      <div class="form__list">
        <div class="form__item">
          <labe class="form__label">
            <span class="form__label-text">사용자 그룹</span>
          </labe>
          <div class="form__detail">
            <div class="transfer">
              <!-- transfer-list--hidable 추가시 버튼 show/hide 가능 -->
              <div class="transfer-list transfer-list--hidable">
                <div class="transfer-list__head">
                  <div class="transfer-list__head-title">
                    <span class="transfer-list__head-title-text">권한 있음</span>
                    <div class="transfer-list__toggle-switch toggle-switch toggle-switch--sm">
                      <label for="tranferToggleSwitch03" class="toggle-switch__label">모든 사용자 그룹</label>
                      <button id="tranferToggleSwitch03" class="toggle-switch__switch" type="button">
                        <span class="toggle-switch__handle">
                          <span class="ir-pm"></span>
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="transfer-list__head-toolbar">
                    <div class="text-input-group">
                      <span class="text-input-group__icon">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#search"></use>
                        </svg>
                      </span>
                      <input type="text" class="text-input" placeholder="검색어를 입력해주세요">
                      <button class="text-input-group__clear-button">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#close"></use>
                        </svg>
                      </button>
                    </div>
                    <button class="transfer-list__head-toolbar-button button button--secondary">
                      <span class="button__text">
                        검색
                      </span>
                    </button>
                  </div>
                </div>
                <div class="transfer-list__options">
                  <div class="checkbox checkbox--indeterminate">
                    <input id="transferCheckAll03" type="checkbox" class="checkbox__input" value="label">
                    <label for="transferCheckAll03" class="checkbox__label">전체</label>
                  </div>
                  <div class="transfer-list__options-count">
                    <strong class="transfer-list__options-count-selected">3</strong>
                    <span>/</span>
                    <span class="transfer-list__options-count-all">20</span>
                  </div>
                </div>
                <!-- NOTE: 스크롤 원하는 max-height 클래스 혹은 인라인 스타일 추가 -->
                <div class="transfer-list__body h-160">
                  <ul class="transfer-list__list">
                    <li class="transfer-list__item">
                      <div class="checkbox">
                        <input id="transferListCheck08" type="checkbox" class="checkbox__input" value="label">
                        <label for="transferListCheck08" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text <mark class="filter-highlight">filter highlight</mark></span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item">
                      <div class="checkbox checkbox--checked">
                        <input id="transferListCheck09" type="checkbox" class="checkbox__input" value="label">
                        <label for="transferListCheck09" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--selected">
                      <div class="checkbox checkbox--checked">
                        <input id="transferListCheck10" type="checkbox" class="checkbox__input" value="label" checked="">
                        <label for="transferListCheck10" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text selected</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--selected">
                      <div class="checkbox checkbox--checked">
                        <input id="transferListCheck11" type="checkbox" class="checkbox__input" value="label" checked="">
                        <label for="transferListCheck11" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text selected</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--selected">
                      <div class="checkbox checkbox--checked">
                        <input id="transferListCheck12" type="checkbox" class="checkbox__input" value="label" checked="">
                        <label for="transferListCheck12" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text selected</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--selected">
                      <div class="checkbox checkbox--checked">
                        <input id="transferListCheck13" type="checkbox" class="checkbox__input" value="label" checked="">
                        <label for="transferListCheck13" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text selected</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--disabled">
                      <div class="checkbox checkbox--disabled">
                        <input id="transferListCheck14" type="checkbox" class="checkbox__input" value="label" disabled="">
                        <label for="transferListCheck14" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text disabled</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--selected transfer-list__item--disabled">
                      <div class="checkbox checkbox--disabled">
                        <input id="transferListCheck15" type="checkbox" class="checkbox__input" value="label" checked="" disabled="">
                        <label for="transferListCheck15" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text selected disabled</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="transfer__handler">
                <button class="button button--icon button--tertiary" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#chevron-right"></use>
                  </svg>
                </button>
                <button class="button button--icon button--tertiary" type="button" disabled>
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#chevron-left"></use>
                  </svg>
                </button>
              </div>
              <div class="transfer-list transfer-list--hidable">
                <div class="transfer-list__head">
                  <div class="transfer-list__head-title">권한 없음</div>
                  <div class="transfer-list__head-toolbar">
                    <div class="text-input-group">
                      <span class="text-input-group__icon">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#search"></use>
                        </svg>
                      </span>
                      <input type="text" class="text-input" placeholder="검색어를 입력해주세요">
                      <button class="text-input-group__clear-button">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#close"></use>
                        </svg>
                      </button>
                    </div>
                    <button class="transfer-list__head-toolbar-button button button--secondary">
                      <span class="button__text">
                        검색
                      </span>
                    </button>
                  </div>
                </div>
                <div class="transfer-list__options">
                  <div class="checkbox">
                    <input id="transferCheckAll04" type="checkbox" class="checkbox__input" value="label">
                    <label for="transferCheckAll04" class="checkbox__label">전체</label>
                  </div>
                  <div class="transfer-list__options-count">
                    <strong class="transfer-list__options-count-selected">3</strong>
                    <span>/</span>
                    <span class="transfer-list__options-count-all">20</span>
                  </div>
                </div>
                <div class="transfer-list__body h-160">
                  <ul class="transfer-list__list">
                    <li class="transfer-list__item">
                      <div class="checkbox">
                        <input id="transferListCheck16" type="checkbox" class="checkbox__input" value="label">
                        <label for="transferListCheck16" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item">
                      <div class="checkbox checkbox--checked">
                        <input id="transferListCheck17" type="checkbox" class="checkbox__input" value="label">
                        <label for="transferListCheck17" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item">
                      <div class="checkbox">
                        <input id="transferListCheck18" type="checkbox" class="checkbox__input" value="label">
                        <label for="transferListCheck18" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item">
                      <div class="checkbox">
                        <input id="transferListCheck19" type="checkbox" class="checkbox__input" value="label">
                        <label for="transferListCheck19" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item">
                      <div class="checkbox">
                        <input id="transferListCheck20" type="checkbox" class="checkbox__input" value="label">
                        <label for="transferListCheck20" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--disabled">
                      <div class="checkbox checkbox--disabled">
                        <input id="transferListCheck21" type="checkbox" class="checkbox__input" value="label" disabled="">
                        <label for="transferListCheck21" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text disabled</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item">
                      <div class="checkbox">
                        <input id="transferListCheck22" type="checkbox" class="checkbox__input" value="label">
                        <label for="transferListCheck22" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form__item">
          <labe class="form__label">
            <span class="form__label-text">사용자</span>
          </labe>
          <div class="form__detail">
            <div class="transfer">
              <div class="transfer-list transfer-list--hidable transfer-list--disabled">
                <div class="transfer-list__head">
                  <div class="transfer-list__head-title">
                    <span class="transfer-list__head-title-text">권한 있음</span>
                    <div class="transfer-list__toggle-switch toggle-switch toggle-switch--sm">
                      <label for="tranferToggleSwitch01" class="toggle-switch__label">모든 사용자</label>
                      <button id="tranferToggleSwitch01" class="toggle-switch__switch toggle-switch__switch--selected" type="button">
                        <span class="toggle-switch__handle">
                          <span class="ir-pm"></span>
                        </span>
                      </button>
                    </div>
                  </div>
                  <div class="transfer-list__head-toolbar">
                    <div class="text-input-group">
                      <span class="text-input-group__icon">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#search"></use>
                        </svg>
                      </span>
                      <input type="text" class="text-input" placeholder="검색어를 입력해주세요">
                      <button class="text-input-group__clear-button">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#close"></use>
                        </svg>
                      </button>
                    </div>
                    <button class="transfer-list__head-toolbar-button button button--secondary">
                      <span class="button__text">
                        검색
                      </span>
                    </button>
                  </div>
                </div>
                <div class="transfer-list__options">
                  <div class="checkbox">
                    <input id="transferCheckAll05" type="checkbox" class="checkbox__input" value="label" checked="">
                    <label for="transferCheckAll05" class="checkbox__label">전체</label>
                  </div>
                  <div class="transfer-list__options-count">
                    <strong class="transfer-list__options-count-selected">3</strong>
                    <span>/</span>
                    <span class="transfer-list__options-count-all">20</span>
                  </div>
                </div>
                <div class="transfer-list__body h-160">
                  <ul class="transfer-list__list">
                    <li class="transfer-list__item transfer-list__item--selected">
                      <div class="checkbox">
                        <input id="transferListCheck23" type="checkbox" class="checkbox__input" value="label" checked="">
                        <label for="transferListCheck23" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text <mark class="filter-highlight">filter highlight</mark></span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--selected">
                      <div class="checkbox checkbox--checked">
                        <input id="transferListCheck02" type="checkbox" class="checkbox__input" value="label" checked="">
                        <label for="transferListCheck02" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text selected</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--selected transfer-list__item--disabled">
                      <div class="checkbox checkbox--disabled">
                        <input id="transferListCheck24" type="checkbox" class="checkbox__input" value="label" checked="" disabled="">
                        <label for="transferListCheck24" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text disabled</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--selected transfer-list__item--disabled">
                      <div class="checkbox checkbox--disabled">
                        <input id="transferListCheck25" type="checkbox" class="checkbox__input" value="label" checked="" disabled="">
                        <label for="transferListCheck25" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text selected disabled</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="transfer__handler">
                <button class="button button--icon button--tertiary" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#chevron-right"></use>
                  </svg>
                </button>
                <button class="button button--icon button--tertiary" type="button">
                  <svg class="svg-icon" aria-hidden="true">
                    <use xlink:href="#chevron-left"></use>
                  </svg>
                </button>
              </div>
              <div class="transfer-list transfer-list--hidable transfer-list--disabled">
                <div class="transfer-list__head">
                  <div class="transfer-list__head-title">권한 없음</div>
                  <div class="transfer-list__head-toolbar">
                    <div class="text-input-group">
                      <span class="text-input-group__icon">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#search"></use>
                        </svg>
                      </span>
                      <input type="text" class="text-input" placeholder="검색어를 입력해주세요">
                      <button class="text-input-group__clear-button">
                        <svg class="svg-icon" aria-hidden="true">
                          <use xlink:href="#close"></use>
                        </svg>
                      </button>
                    </div>
                    <button class="transfer-list__head-toolbar-button button button--secondary">
                      <span class="button__text">
                        검색
                      </span>
                    </button>
                  </div>
                </div>
                <div class="transfer-list__options">
                  <div class="checkbox checkbox--indeterminate">
                    <input id="transferCheckAll06" type="checkbox" class="checkbox__input" value="label">
                    <label for="transferCheckAll06" class="checkbox__label">전체</label>
                  </div>
                  <div class="transfer-list__options-count">
                    <strong class="transfer-list__options-count-selected">3</strong>
                    <span>/</span>
                    <span class="transfer-list__options-count-all">20</span>
                  </div>
                </div>
                <div class="transfer-list__body h-160">
                  <ul class="transfer-list__list">
                    <li class="transfer-list__item">
                      <div class="checkbox">
                        <input id="transferListCheck26" type="checkbox" class="checkbox__input" value="label">
                        <label for="transferListCheck26" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--selected">
                      <div class="checkbox checkbox--checked">
                        <input id="transferListCheck27" type="checkbox" class="checkbox__input" value="label" checked="">
                        <label for="transferListCheck27" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text selected</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--disabled">
                      <div class="checkbox checkbox--disabled">
                        <input id="transferListCheck28" type="checkbox" class="checkbox__input" value="label" disabled="">
                        <label for="transferListCheck28" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text disabled</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                    <li class="transfer-list__item transfer-list__item--selected transfer-list__item--disabled">
                      <div class="checkbox checkbox--disabled">
                        <input id="transferListCheck29" type="checkbox" class="checkbox__input" value="label" checked="" disabled="">
                        <label for="transferListCheck29" class="checkbox__label">
                          <span class="transfer-list__text">checkable list item text selected disabled</span>
                        </label>
                      </div>
                      <div class="transfer-list__action-buttons">
                        <button class="transfer-list__action-button" type="button" title="위로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-up"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="아래로">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#chevron-down"></use>
                          </svg>
                        </button>
                        <button class="transfer-list__action-button" type="button" title="삭제">
                          <svg class="svg-icon" aria-hidden="true">
                            <use xlink:href="#trash"></use>
                          </svg>
                        </button>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal__foot">
    <button class="button button--tertiary button--lg" type="button">
      <span>초기화</span>
    </button>
    <button class="button button--danger button--lg" type="button">
      <span>삭제</span>
    </button>
    <div class="modal__foot-main-buttons">
      <button class="button button--link button--lg" type="button">
        <span>취소</span>
      </button>
      <button class="button button--primary button--lg" type="button">
        <span>저장</span>
      </button>
    </div>
  </div>
</div>
<!-- // 모달 acl 예제 -->

      </div>
    </div>
  </div>

  <script src="../../dist/js/main.bundle.js"></script>
</body>

</html>
