// index-layout-head
.index-layout-head {
  background-color: $ui-02;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.03);
}

.index-layout-head__title {
  @include font-size("18");
  @include font-weight("medium");
  white-space: nowrap;
  color: $text-01;
  letter-spacing: -0.3px;
}

.index-layout-head__title-bar {
  display: flex;
  align-items: center;
  height: rem(56px);
  padding: 0 20px;
}

.index-layout-head__action-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;

  .button + .button {
    margin-left: $spacing-xs;
  }
}

// index-layout-body
.index-layout-body {
  display: flex;
  flex-direction: column;
  background-color: $ui-01;
}

.index-layout-body__top-bar {
  display: flex;
  align-items: center;
  height: rem(56px);
  padding: $spacing-sm 20px;
}

.index-layout-body__filter {
  display: flex;
  align-items: center;
}

.checkbox.index-layout-body__filter-checkbox {
  width: rem(24px);
  height: rem(24px);
}

.index-layout-body__filter-title {
  @include text-overflow;
  @include font-weight("regular");
  font-size: 15px;
  color: $text-02;
  letter-spacing: -0.3px;
  em {
    @include font-weight("medium");
  }
}

.index-layout-body__management {
  display: flex;
  align-items: center;
  margin-left: $spacing-md;
}

.index-layout-body__management .button {
  padding: 0 $spacing-sm;
}

.index-layout-body__management-text {
  display: block;
  margin-right: $spacing-xs;
  font-size: rem(15px);
  color: $active-secondary;
  white-space: nowrap;
  word-break: keep-all;
}

.index-layout-body__controller {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.index-layout-body__controller-select {
  width: rem(120px);
  margin-left: $spacing-xs;
  & + & {
    width: rem(128px);
  }
}

.index-layout-body__controller-search {
  margin-left: $spacing-xs;

  .text-input-group {
    width: rem(240px);

    .text-input {
      padding-right: $spacing-lg;
    }
  }
}

.button.index-layout-body__controller-refresh-button {
  margin-left: $spacing-xs;
}

// 내보내기 링크
.form__label-action-items {
  margin-left: auto;
}

.form__reference-text {
  @include font-size("14");
  display: block;
  margin-top: $spacing-2xs;
  color: $text-05;
}

.empty-link-group {
  width: 100%;
  min-height: rem(80px);
  padding: $spacing-xs;
  border: 1px solid $ui-04;
}

.empty-link-group .notification-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 62px;
}

.generate-link-group .text-area {
  text-decoration: underline;
}

.button--underline {
  &.button--underline-create {
    color: $primary;

    &:hover {
      color: $primary;
    }
  }
  &.button--underline-delete {
    color: $negative;

    &:hover {
      color: $negative;
    }
  }
}

// 카테고리 관리
.list.list-category-dialog {
  height: 280px;
  overflow-y: auto;
}

.list__item-inner {
  width: 100%;
  display: flex;
  align-items: center;
}

.list__item-inner .h-group {
  padding: $spacing-2xs $spacing-xs;
}

.list__item-inner .h-group .text-input-group {
  flex: 1px;
}

.list__item--no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:hover {
    background-color: $ui-02;
  }
}

// project-thumbnail (썸네일 뷰 / 템플릿 뷰)
.project-thumbnail {
  padding: 0 35px $layout-xs 35px;
  flex: 1 0 auto;
  overflow-y: auto;
  height: calc(100% - 112px);

  &.project-thumbnail--no-blank {
    display: none;
    padding: 0;
  }
}


.project-thumbnail-list {
  @include clearfix;
  margin-left: -$spacing-lg;
  margin-right: -$spacing-lg;
  .desktop {
    &:nth-child(6n) {
      .context-menu {
        left: calc(100% - 270px) !important;
      }
    }
  }

  // Media Query 1750px
  .laptopLarge {
    width: 25%;

    &:nth-child(6n) {
      .context-menu {
        left: rem(13px);
      }
    }

    &:nth-child(4n) {
      .context-menu {
        left: calc(100% - 270px) !important;
      }
    }
  }

  // Media Query 1300px
  .laptopSmall {
    width: 33.33%;

    &:nth-child(6n) {
      .context-menu {
        left: rem(13px);
      }
    }

    &:nth-child(4n) {
      .context-menu {
        left: rem(25px);
      }
    }

    &:nth-child(3n) {
      .context-menu {
        left: calc(100% - 270px) !important;
      }
    }
  }
}

.project-thumbnail-list__item {
  float: left;
  width: 16.66%;
  padding: 0 $spacing-xs $spacing-md $spacing-xs;

  .context-menu {
    display: none;
  }
}

.project-thumbnail-list__link--empty .project-thumbnail-list__thumbnail {
  border: 1px dashed $ui-04;
  transition: all $duration-slow-01 $iris-standard-easing;
}

.project-thumbnail-list__link--empty {
  &:hover {
    .project-thumbnail-list__thumbnail {
      background-color: $ui-01;
      border: 1px dashed $secondary;
    }

    .project-thumbnail-list__thumbnail
    .project-thumbnail-list__thumbnail-icon
    .svg-icon {
      fill: $secondary;
    }
  }
}

.project-thumbnail-list__link {
  display: block;
  padding: $spacing-sm;
  background-color: $ui-02;
  border: 1px solid $ui-04;
  box-shadow: 0px 2px 0px rgba(206, 211, 217, 0.2);
  border-radius: 2px;
  transition: all $duration-slow-01 $iris-standard-easing;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0px 0px 30px rgba(206, 211, 217, 0.8);
    color: inherit;

    .project-thumbnail-list__details {
      opacity: 1;
    }
  }

  &.project-thumbnail-list__link--selected {
    .project-thumbnail-list__details {
      opacity: 1;
    }
  }
}

.project-thumbnail-list__thumbnail {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 55%;
  border: 1px solid $ui-04;
}

.project-thumbnail-list__thumbnail-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
}

.project-thumbnail-list__thumbnail-icon .svg-icon {
  width: rem(50px);
  height: rem(50px);
  fill: $text-03;
}

.project-thumbnail-list__thumbnail-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: url(https://www.fujifilm.com/products/digital_cameras/x/fujifilm_x_t1/sample_images/img/index/ff_x_t1_001.JPG);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-thumbnail-list__details {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(36, 46, 61, 0.48);
  transition: all $duration-slow-01 $iris-standard-easing;
}

.checkbox.project-thumbnail-list__details-checkbox {
  position: absolute;
  top: rem(6px);
  left: rem(8px);
}

.project-thumbnail-list__detail-delete-button {
  position: absolute;
  top: rem(6px);
  right: rem(8px);
}

.project-thumbnail-list__information {
  margin-top: $spacing-sm;
}

.project-thumbnail-list__information-title {
  @include text-overflow;
  position: relative;
  padding: $spacing-2xs 0;
  font-size: 15px;
  font-weight: normal;
  letter-spacing: -0.3px;
  color: $text-02;
}

.project-thumbnail-list__information-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-thumbnail-list__information-desc-text {
  @include text-overflow;
  @include font-size("12");
  color: $text-03;

  &:first-child {
    max-width: 40%;
  }

  & + & {
    margin-left: auto;
    max-width: 60%;
  }

  &.project-thumbnail-list__information-desc-text--right{
    margin-left: auto;
    max-width: 100% !important;
  }
}

.project-thumbnail-list__tags {
  position: absolute;
  bottom: 6px;
  right: rem(8px);
  display: flex;
  flex-direction: row;
  align-items: center;

  .tag + .tag {
    margin-left: $spacing-2xs;
  }
}

// 더보기 버튼 + 컨텍스트 메뉴
.project-management .context-menu {
  display: block;
  min-width: rem(240px);
}

.project-management.ag-cell__management {
  position: relative;
}

.project-management.project-thumbnail-list__details-management {
  position: absolute;
  top: 0;
  right: rem(4px);

  .button.button--icon.button--link {
    .svg-icon {
      fill: $ui-02;
    }

    &:hover,
    &:active {
      .svg-icon {
        fill: $ui-02;
      }
    }
  }
}

// responsive
@media all and (max-width: 1280px) {
  .index-layout-body__top-bar.index-layout-body__top-bar--reponsive-lg{
    flex-wrap: wrap;
    height: auto;

    .index-layout-body__management{
      margin-right: 10px;
    }

    .index-layout-body__controller{
      margin-left: 0;
      margin-top: $spacing-sm
    }
  }
}