//-------------------------------------------
//  목록화면 공통 UI (IMA, Studio, ITS)
// ------------------------------------------
// index-layout-head
.index-layout-head {
  background-color: $ui-02;
  box-shadow: 0 rem(4px) rem(11px) rgba(0, 0, 0, 0.03);
}

.index-layout-head__title {
  @include font-size("18");
  @include font-weight("medium");
  white-space: nowrap;
  color: $text-01;
  letter-spacing: rem(-0.3px);
}

.index-layout-head__title-bar {
  display: flex;
  align-items: center;
  height: rem(56px);
  padding: 0 $spacing-md + $spacing-2xs;
}

.index-layout-head__title-bar .select--borderless .select-container {
  min-width: rem(160px);
}

.index-layout-head__action-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;

  .button + .button,
  div + div {
    margin-left: $spacing-xs;
  }
}

// index-layout-body
.index-layout-body {
  display: flex;
  flex-direction: column;
  background-color: $ui-01;
}

.index-layout-body__template-inner {
  transform: translate(0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: rem(200px);
  width: 100%;
  min-width: rem(1200px);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  z-index: z("modal");
  background: $ui-01;
  box-shadow: 0 rem(4px) rem(11px) rgba(0, 0, 0, 0.03);
}

.index-layout-body__inner {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.index-layout-body__template-inner .project-thumbnail {
  height: calc(100% - 112px) !important;
}

.slide-up {
  transition: all 0.5s;
}

.slide-up-enter-active {
  transition: all 0.5s ease;
}

.slide-up-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-up-enter,
.slide-up-leave-active {
  opacity: 0;
  transform: translate(0, -100%);
}

.index-layout-body__top-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: rem(56px);
  max-height: rem(100px);
  height: auto;
  padding: 0 $spacing-md + $spacing-2xs $spacing-sm $spacing-md + $spacing-2xs;
}

.index-layout-body__left-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: $spacing-sm;
}

.index-layout-body__filter {
  display: flex;
  align-items: center;
}

.checkbox.index-layout-body__filter-checkbox {
  width: rem(24px);
  height: rem(24px);
  line-height: 1;
}

.checkbox.index-layout-body__filter-checkbox .checkbox__label {
  width: rem(20px);
  height: rem(20px);
}

.index-layout-body__filter-title {
  @include text-overflow;
  @include font-weight("regular");
  @include font-size("15");
  color: $text-02;
  letter-spacing: rem(-0.3px);
  em {
    @include font-weight("medium");
  }
}

.index-layout-body__management {
  display: flex;
  align-items: center;
  margin-left: $spacing-md;
}

.index-layout-body__management .button {
  padding: 0 $spacing-sm;
}

.index-layout-body__management-text {
  @include font-size("15");
  display: block;
  margin-right: $spacing-xs;
  color: $active-secondary;
  white-space: nowrap;
  word-break: keep-all;
}

.index-layout-body__controller {
  display: flex;
  align-items: center;
  padding-top: $spacing-sm;
}

.index-layout-body__controller-select {
  width: auto;
  margin-left: $spacing-xs;

  &.select--view-all.division-element {
    width: rem(180px);

    .select-container {
      min-width: rem(180px);
      max-width: rem(250px);
    }
  }

  &.select--borderless {
    min-width: rem(120px);

    .select-container {
      min-width: rem(120px);
    }
  }
}

.index-layout-body__controller-search {
  margin-left: $spacing-xs;

  .text-input-group {
    width: rem(320px);

    .text-input {
      padding-right: $spacing-lg;
    }
  }
}

.index-layout-body__controller-refresh-button {
  margin-left: $spacing-xs;
}

// 내보내기 링크
.form__label-action-items {
  margin-left: auto;
}

.form__reference-text {
  @include font-size("14");
  display: block;
  margin-top: $spacing-xs;
  color: $text-05;
}

.empty-link-group {
  width: 100%;
  min-height: rem(80px);
  padding: $spacing-xs;
  border: 1px solid $ui-04;
}

.empty-link-group .notification-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: rem(62px);
}

.generate-link-group .text-area {
  text-decoration: underline;
}

.url-group {
  min-height: rem(80px);
  max-height: rem(235px);
  overflow-y: auto;
  background-color: $ui-02;
  border: 1px solid $ui-04;
  border-radius: $button-border-radius;
  padding: $spacing-xs;
}

.url-group--disabled {
  cursor: not-allowed;
  user-select: none;
  .url-group__text {
    color: $text-02;
  }
  .url-group__url {
    color: $text-02;
    cursor: not-allowed !important;
  }
}

.url-group__item {
  + .url-group__item {
    margin-top: $spacing-md;
  }
}

.url-group__text {
  @include font-size("14");
  display: block;
  color: $text-01;
}

.url-group__url {
  @include line-height("title");
  @include font-size("14");
  display: block;
  margin-top: $spacing-2xs;
  color: $primary;
  word-break: break-all;
  white-space: normal;
  text-decoration: underline;
  cursor: pointer;
}

// 카테고리 관리
.list.list-category-dialog {
  height: rem(280px);
  overflow-y: auto;
}

.list__item-inner {
  width: 100%;
  display: flex;
  align-items: center;
}

.list__item-inner .h-group {
  padding: $spacing-2xs $spacing-xs;
}

.list__item-inner .h-group .text-input-group {
  flex: 1px;
}

.list__item--no-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &:hover {
    background-color: $ui-02;
  }
}

// project-thumbnail (썸네일 뷰 / 템플릿 뷰)

// IMA, ISS, ITS 목록화면 공통 클래스
.project-list {
  padding: 0 $spacing-md + $spacing-2xs;
  height: calc(100vh - 115px);
}

.project-thumbnail {
  padding: 0 $spacing-xl + $spacing-2xs $layout-xs $spacing-xl + $spacing-2xs;
  flex: 1 0 auto;
  overflow-y: auto;
  height: calc(100vh - 112px);

  &.project-thumbnail--no-blank {
    display: none;
    padding: 0;
  }
}

.project-thumbnail-list {
  @include clearfix;
  margin-left: -$spacing-lg;
  margin-right: -$spacing-lg;
  .desktop {
    &:nth-child(6n) {
      .context-menu {
        left: calc(100% - 270px) !important;
      }
    }
  }

  // Media Query 1750px
  .laptopLarge {
    width: 25%;

    &:nth-child(6n) {
      .context-menu {
        left: rem(13px);
      }
    }

    &:nth-child(4n) {
      .context-menu {
        left: calc(100% - 270px) !important;
      }
    }
  }

  // Media Query 1300px
  .laptopSmall {
    width: 33.33%;

    &:nth-child(6n) {
      .context-menu {
        left: rem(13px);
      }
    }

    &:nth-child(4n) {
      .context-menu {
        left: rem(25px);
      }
    }

    &:nth-child(3n) {
      .context-menu {
        left: calc(100% - 270px) !important;
      }
    }
  }
}

.project-thumbnail-list__item {
  float: left;
  width: 16.66%;
  padding: 0 $spacing-xs $spacing-md $spacing-xs;

  .context-menu {
    display: none;
  }
}

.project-thumbnail-list__link--empty .project-thumbnail-list__thumbnail {
  border: 1px dashed $ui-04;
  transition: all $duration-slow-01 $iris-standard-easing;
}

.project-thumbnail-list__link--empty {
  &:hover {
    .project-thumbnail-list__thumbnail {
      background-color: $ui-01;
      border: 1px dashed $secondary;
    }

    .project-thumbnail-list__thumbnail
      .project-thumbnail-list__thumbnail-icon
      .svg-icon {
      fill: $secondary;
    }
  }
}

.project-thumbnail-list__link {
  display: block;
  padding: $spacing-sm;
  background-color: $ui-02;
  border: 1px solid $ui-04;
  box-shadow: 0 rem(2px) 0 rgba(206, 211, 217, 0.2);
  border-radius: 2px;
  transition: all $duration-slow-01 $iris-standard-easing;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 rem(30px) rgba(206, 211, 217, 0.8);
    color: inherit;

    .project-thumbnail-list__details {
      opacity: 1;
    }
  }

  &.project-thumbnail-list__link--selected {
    .project-thumbnail-list__details {
      opacity: 1;
    }
  }
}

.project-thumbnail-list__thumbnail {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 55%;
  border: 1px solid $ui-04;
}

.project-thumbnail-list__thumbnail-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -$spacing-lg;
  margin-left: -$spacing-lg;
}

.project-thumbnail-list__thumbnail-icon .svg-icon {
  width: rem(50px);
  height: rem(50px);
  fill: $text-03;
}

.project-thumbnail-list__thumbnail-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.project-thumbnail-list__details {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(36, 46, 61, 0.48);
  transition: all $duration-slow-01 $iris-standard-easing;
}

.checkbox.project-thumbnail-list__details-checkbox {
  position: absolute;
  top: rem(6px);
  left: rem(8px);
  line-height: 1;
}

.checkbox.project-thumbnail-list__details-checkbox .checkbox__label {
  width: rem(20px);
  height: rem(20px);
}

.project-thumbnail-list__detail-delete-button {
  position: absolute;
  top: rem(6px);
  right: rem(8px);
}

.project-thumbnail-list__information {
  margin-top: $spacing-sm;
}

.project-thumbnail-list__information-title {
  @include text-overflow;
  @include font-size("15");
  position: relative;
  padding: $spacing-2xs 0;
  font-weight: normal;
  letter-spacing: rem(-0.3px);
  color: $text-02;
}

.project-thumbnail-list__information-desc {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-thumbnail-list__information-desc-text {
  @include font-size("12");
  color: $text-03;

  &:first-child {
    @include text-overflow;
    max-width: fit-content;
  }

  &:first-child:not(:only-child) {
    flex-grow: 1;
  }

  & + & {
    max-width: inherit;
    flex-shrink: 0;
    margin-left: auto;
  }

  &.project-thumbnail-list__information-desc-text--right {
    margin-left: auto;
    max-width: 100% !important;
  }
}

// 추후 삭제
.project-thumbnail-list__tags {
  position: absolute;
  bottom: rem(6px);
  right: rem(8px);
  display: flex;
  flex-direction: row;
  align-items: center;

  .tag + .tag {
    margin-left: $spacing-2xs;
  }
}

.project-thumbnail-list__badges {
  position: absolute;
  bottom: rem(6px);
  right: rem(8px);
  display: flex;
  flex-direction: row;
  align-items: center;

  .badge + .badge {
    margin-left: $spacing-2xs;
  }
}

// 더보기 버튼 + 컨텍스트 메뉴
.project-management .context-menu {
  display: block;
  min-width: rem(240px);
}

.project-management.ag-cell__management {
  position: relative;
}

.project-management.project-thumbnail-list__details-management {
  position: absolute;
  top: 0;
  right: 0;

  .button.button--icon.button--link {
    .svg-icon {
      fill: $ui-02;
    }

    &:hover,
    &:active {
      .svg-icon {
        fill: $ui-02;
      }
    }
  }
}

/* IE10+ */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .project-thumbnail-list__information-desc-text {
    &:first-child {
      max-width: inherit;
    }
  }
}
