// -------------------------
// Alert
// -------------------------
.alert {
  @include layer("pop-out");
  display: flex;
  position: absolute;
  flex-direction: column;
  border-radius: $field-border-radius;
  min-width: rem(280px);
  max-width: rem(520px);
  z-index: z("alert");

  &__foot {
    @include stable-padding($spacing-xs, $spacing-sm);
    display: flex;
    background-color: $ui-01;
  }

  &__foot .button + .button,
  &__foot div + div,
  &__foot .modal__foot-main-buttons div + div {
    margin-left: $spacing-xs;
  }

  &__foot .alert__foot-main-buttons {
    display: flex;
    margin-left: auto;
  }

  &__body {
    display: flex;
    padding: $layout-sm $layout-md;
    background-color: $ui-02;
  }

  &__icon {
    @include svg-icon-size(24px);
    flex-shrink: 0;
    margin-right: $spacing-sm;
    margin-left: -$spacing-xs;
  }

  &__contents {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__title {
    @include font-weight("medium");
    @include font-size("16");
    color: $text-02;
  }

  &__text {
    @include font-size("14");
    @include line-height("body");
    color: $text-03;
    word-break: keep-all;
    word-wrap: break-word;
    white-space: normal;
    max-height: rem(150px);
    overflow-y: auto;
  }

  // -------------------------
  // modifiers
  // -------------------------
  &--default {
    .alert__icon {
      display: none;
    }
  }

  &--info {
    .alert__icon {
      fill: $support-01;
    }
  }

  &--success {
    .alert__icon {
      fill: $support-02;
    }
  }

  &--warning {
    .alert__icon {
      fill: $support-03;
    }
  }

  &--error {
    .alert__icon {
      fill: $support-04;
    }
  }
}
