// New Design System
// @button-base                    || 모든 버튼에 사용되는 공통 스타일 믹스인
// 1. Type 별 Button 클래스          || 형태를 결정하는 버튼 유형 클래스 (기본은 md 사이즈)
// button                          || 기본 버튼
// button--icon                    || 아이콘 버튼
// 2. 6개 Theme별 Button 클래스
// @button-theme                   || 믹스인
// button--primary
// button--secondary
// button--tertiary
// button--link
// button--support
// button--danger
// button--negative
// button--underline
// button--underline-support
// button--underline-negative
// 3. Size별 Button 클래스            || 버튼 사이즈를 결정하는 클래스 (버튼 유형마다 여백이 달라짐)
// button--lg
// button--md
// button--sm

// -------------------------
// button-base
// -------------------------
@mixin button-base {
  @include button-normal;
  height: $button-height-md;
  border-radius: $button-border-radius;
  text-align: center;

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    opacity: 0.25;
    cursor: not-allowed;
  }
}

// -------------------------
// button-type
// -------------------------
// button: text, text with icon combination
@mixin button {
  @include button-base;
  padding: 0 $spacing-sm;

  .svg-icon {
    width: rem(20px);
    height: rem(20px);

    & + .button__text {
      margin-left: $spacing-2xs;
    }
  }

  &__text {
    & + .svg-icon {
      margin-left: $spacing-2xs;
    }
  }
}

// button--icon: icon only style
@mixin button--icon($button--icon-padding, $icon-size) {
  padding: 0 $button--icon-padding - 1;

  .svg-icon {
    width: $icon-size;
    height: $icon-size;
  }
}

// -------------------------
// button-theme
// -------------------------
@mixin button-theme(
  $bg-color,
  $font-color,
  $hover-bg-color,
  $active-bg-color,
  $border-color: false
) {
  background-color: $bg-color;
  color: $font-color;

  &:hover:not(:disabled) {
    background-color: $hover-bg-color;
  }

  &:active:not(:disabled) {
    background-color: $active-bg-color;
  }

  &:focus-visible:not(:disabled) {
    outline: 2px solid $default-focus;
  }

  .svg-icon {
    fill: $font-color;
  }

  @if ($border-color) {
    border-color: $border-color;
  }
}

@mixin button--primary {
  @include button-theme($primary, $text-04, $hover-primary, $active-primary);
}

@mixin button--secondary {
  @include button-theme(
    $secondary,
    $text-04,
    $hover-secondary,
    $active-secondary
  );
}

@mixin button--tertiary {
  @include button-theme($ui-02, $text-02, $ui-01, $ui-03, $ui-04);
}

@mixin button--link {
  @include button-theme(transparent, $text-02, transparent, transparent);
  &:hover:not(:disabled) {
    color: $text-03;

    .svg-icon {
      fill: $text-03;
    }
  }

  &:active {
    color: darken($text-02, 0.25);

    .svg-icon {
      fill: darken($text-02, 0.25);
    }
  }
}

@mixin button--support {
  @include button-theme($ui-02, $primary, #e1eaf7, #c6d8f2, $ui-04);
  // support 예외 사항
  &:hover:not(:disabled) {
    color: $primary;

    .svg-icon {
      fill: $primary;
    }
  }
}

@mixin button--danger {
  @include button-theme($ui-02, $negative, $negative, $active-negative, $ui-04);
  // danger 예외 사항
  &:hover:not(:disabled) {
    color: $text-04;
    border-color: $negative;

    .svg-icon {
      fill: $text-04;
    }
  }
}

@mixin button--negative {
  @include button-theme($negative, $text-04, $hover-negative, $active-negative);
}

@mixin button--underline {
  @include button-theme(transparent, $text-02, transparent, transparent);
  text-decoration: underline;
  padding: 0;
  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: $text-03;

    .svg-icon {
      fill: $text-03;
    }
  }

  &:active {
    color: darken($text-02, 0.25);

    .svg-icon {
      fill: darken($text-02, 0.25);
    }
  }
}

@mixin button--underline-support {
  @include button-theme(transparent, $primary, transparent, transparent);
  text-decoration: underline;
  padding: 0;

  &:hover:not(:disabled) {
    color: $hover-primary;

    .svg-icon {
      fill: $hover-primary;
    }
  }

  &:active {
    color: darken($primary, 0.25);

    .svg-icon {
      fill: darken($primary, 0.25);
    }
  }
}

@mixin button--underline-negative {
  @include button-theme(transparent, $negative, transparent, transparent);
  padding: 0;
  text-decoration: underline;

  &:hover:not(:disabled),
  &:focus-visible:not(:disabled) {
    color: $hover-negative;

    .svg-icon {
      fill: $hover-negative;
    }
  }

  &:active {
    color: darken($negative, 0.25);

    .svg-icon {
      fill: darken($negative, 0.25);
    }
  }
}

@mixin button--negative {
  @include button-theme($negative, $text-04, $hover-negative, $active-negative);
}

// -------------------------
// button-size
// -------------------------
@mixin button-size(
  $font-size,
  $button-height,
  $icon-size,
  $button-width: false
) {
  height: $button-height;
  font-size: $font-size;

  .svg-icon {
    width: $icon-size;
    height: $icon-size;

    & + .button__text {
      margin-left: $spacing-2xs;
    }
  }

  .button__text {
    & + .svg-icon {
      margin-left: $spacing-2xs;
    }
  }

  .loader:not(.ng-hide) + .button__text {
    margin-left: $spacing-2xs;
  }

  @if ($button-width) {
    width: $button-width;
  }
}

@mixin button-padding($padding-right, $padding-left) {
  padding-right: $padding-right;
  padding-left: $padding-left;
}

@mixin button--lg {
  @include button-size(15px, $button-height-lg, 24px);
  @include button-padding($spacing-md, $spacing-md);
}

@mixin button--sm {
  @include button-size(12px, $button-height-sm, 16px);
  @include button-padding($spacing-xs, $spacing-xs);
}

// -------------------------
// classes
// -------------------------
.button {
  @include button;
}

.button--icon {
  @include button--icon(6px, 20px);
}

.button--tertiary {
  @include button--tertiary;
}

.button--primary {
  @include button--primary;
}

.button--secondary {
  @include button--secondary;
}

.button--link {
  @include button--link;
}

.button--support {
  @include button--support;
}

.button--danger {
  @include button--danger;
}

.button--negative {
  @include button--negative;
}

.button--underline {
  @include button--underline;
}

.button--underline-support {
  @include button--underline-support;
}

.button--underline-negative {
  @include button--underline-negative;
}

.button--lg {
  @include button--lg;

  .svg-icon + .button__text {
    margin-left: $spacing-xs * 0.75;
  }
}

.button--sm {
  @include button--sm;
}

.button--icon.button--lg {
  @include button--icon(8px, 24px);
}

.button--icon.button--sm {
  @include button--icon(4px, 16px);
}

// link 테마 버튼이 icon만 사용되는 경우 예외 사항
.button--icon.button--link {
  @include button--icon(4px, 24px);
}

.button--icon.button--link.button--lg {
  @include button--icon(4px, 28px);
}

.button--icon.button--link.button--sm {
  @include button--icon(2px, 20px);
}

.button--icon.button--link.button--xs {
  @include button--icon(1px, 16px);
}

// underline 테마 버튼일 때 예외 사항
.button--lg.button--underline,
.button--lg.button--underline-support,
.button--lg.button--underline-negative,
.button--sm.button--underline,
.button--sm.button--underline-support,
.button--sm.button--underline-negative {
  padding-left: 0;
  padding-right: 0;
}

.button-group {
  display: flex;
}

.button-group__button.select {
  min-width: auto;
}

.button-group__button:first-child,
.button-group__button:first-child .select-selector__button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.button-group__button:last-child,
.button-group__button:first-child .select-selector__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.button-group__button + .button-group__button,
.button-group__button + .button-group__button .select-selector__button {
  border-left-width: 0;
}

.button-group__button .svg-icon {
  @include svg-icon-size(20px);
}

.button-group__button .select-selector__button {
  padding-left: $spacing-xs;
  padding-right: $spacing-lg;
}
