// New Design System
// @button-base                    || 모든 버튼에 사용되는 공통 스타일 믹스인
// 1. Type 별 Button 클래스          || 형태를 결정하는 버튼 유형 클래스 (기본은 md 사이즈)
// button                          || 기본 버튼
// button--icon                     || 아이콘 버튼
// 2. 6개 Theme별 Button 클래스
// @button-theme                   || 믹스인
// button--primary
// button--secondary
// button--tertiary
// button--ghost
// button--link
// button--negative
// 3. Size별 Button 클래스            || 버튼 사이즈를 결정하는 클래스 (버튼 유형마다 여백이 달라짐)
// button--lg
// button--md
// button--sm

// -------------------------
// button-base
// -------------------------
@mixin button-base {
  @include button-normal;
  height: $button-height-md;
  border-radius: $button-border-radius;
  text-align: center;

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    opacity: 0.25;
    cursor: not-allowed;
  }
}

// -------------------------
// button-type
// -------------------------
// button: text, text with icon combination
@mixin button {
  @include button-base;
  padding: 0 $spacing-sm;

  svg {
    width: 20px;
    height: 20px;
  }
}

// button--icon: icon only style
@mixin button--icon($button--icon-padding, $icon-size) {
  padding: 0 $button--icon-padding - 1;

  svg {
    width: $icon-size;
    height: $icon-size;
  }
}

// -------------------------
// button-theme
// -------------------------
@mixin button-theme(
  $bg-color,
  $font-color,
  $hover-bg-color,
  $active-bg-color,
  $border-color: false
) {
  background-color: $bg-color;
  color: $font-color;

  &:hover:not(:disabled) {
    background-color: $hover-bg-color;
  }

  &:active:not(:disabled) {
    background-color: $active-bg-color;
  }

  svg {
    fill: $font-color;
  }

  @if ($border-color) {
    border-color: $border-color;
  }
}

@mixin button--primary {
  @include button-theme($primary, $text-04, $hover-primary, $active-primary);
}

@mixin button--secondary {
  @include button-theme(
    $secondary,
    $text-04,
    $hover-secondary,
    $active-secondary
  );
}

@mixin button--tertiary {
  @include button-theme($ui-02, $text-02, $ui-01, $ui-03, $ui-04);
}

@mixin button--ghost {
  @include button-theme(
    transparent,
    $primary,
    rgba($primary, 0.07),
    rgba($primary, 0.16),
    $primary
  );
}

@mixin button--negative {
  @include button-theme($negative, $text-04, $hover-negative, $active-negative);
}

@mixin button--danger {
  @include button-theme($ui-02, $negative, $negative, $active-negative, $ui-04);
  // danger 예외 사항
  &:hover:not(:disabled) {
    color: $text-04;
    border-color: $negative;

    svg {
      fill: $text-04;
    }
  }
}

@mixin button--link {
  @include button-theme(transparent, $text-02, transparent, transparent);
  // link 예외 사항
  &:hover {
    color: $text-03;

    svg {
      fill: $text-03;
    }
  }

  &:active {
    color: darken($text-02, 0.25);

    svg {
      fill: darken($text-02, 0.25);
    }
  }
}

// -------------------------
// button-size
// -------------------------
@mixin button-size(
  $font-size,
  $button-height,
  $icon-size,
  $button-width: false
) {
  height: $button-height;
  font-size: $font-size;

  svg {
    width: $icon-size;
    height: $icon-size;

    & + .button__text {
      margin-left: $spacing-2xs;
    }
  }

  .button__text {
    & + svg {
      margin-left: $spacing-2xs;
    }
  }

  .loader + .button__text {
    margin-left: $spacing-2xs;
  }
  
  @if ($button-width) {
    width: $button-width;
  }
}

@mixin button-padding($padding-right, $padding-left) {
  padding-right: $padding-right;
  padding-left: $padding-left;
}

@mixin button--lg {
  @include button-size(15px, $button-height-lg, 24px);
  @include button-padding($spacing-md, $spacing-md);
}

@mixin button--sm {
  @include button-size(12px, $button-height-sm, 16px);
  @include button-padding($spacing-xs, $spacing-xs);
}

// -------------------------
// classes
// -------------------------
.button {
  @include button;
}

.button--icon {
  @include button--icon(6px, 20px);
}

.button--primary {
  @include button--primary;
}

.button--secondary {
  @include button--secondary;
}

.button--tertiary {
  @include button--tertiary;
}

.button--ghost {
  @include button--ghost;
}

.button--negative {
  @include button--negative;
}

.button--danger {
  @include button--danger;
}

.button--link {
  @include button--link;
}

.button--lg {
  @include button--lg;

  svg + .button__text {
    margin-left: $spacing-xs * 0.75;
  }
}

.button--sm {
  @include button--sm;
}

.button--icon.button--lg {
  @include button--icon(8px, 24px);
}

.button--icon.button--sm {
  @include button--icon(4px, 16px);
}

// link 테마 버튼이 icon만 사용되는 경우 예외 사항
.button--icon.button--link {
  @include button--icon(4px, 24px);
}

.button--icon.button--link.button--lg {
  @include button--icon(4px, 28px);
}

.button--icon.button--link.button--sm {
  @include button--icon(2px, 20px);
}

.button--icon.button--link.button--xs {
  @include button--icon(1px, 16px);
  height: 16px;
}
