.context-menu {
  @include list;
  @include layer("pop-out");
  color: $text-02;
  border-radius: $field-border-radius;
  z-index: z("overlay");
}

.context-menu__list {
  min-width: rem(130px);
  padding: $spacing-2xs 0;
  background-color: $ui-02;
}

.context-menu__text {
  flex: 1;
}

.context-submenu {
  @include list;
  @include layer("pop-out");
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: $field-border-radius;
  z-index: z("overlay");
}

.context-menu__item:hover .context-submenu {
  display: block;
}

.context-submenu__list {
  min-width: rem(100px);
  padding: $spacing-2xs 0;
  background-color: $ui-02;
}

.context-menu__submenu-icon {
  display: none;
  margin-right: $spacing-3xs;
}

.context-menu__item--submenu .context-menu__submenu-icon {
  display: block;
}

// -------------------------
// Size overwrite
// -------------------------
.context-menu--lg {
  .context-menu__list {
    min-width: rem(140px);
  }

  .context-menu__button {
    @include stable-padding($spacing-2xs, $spacing-sm);
    height: $button-height-lg;
  }

  .context-menu__icon,
  .context-menu__action-button .svg-icon {
    @include svg-icon-size(20px);
  }

  .checkbox {
    @include stable-padding($spacing-2xs, $spacing-sm);
    height: $button-height-lg;

    .checkbox__label {
      height: 100%;

      &::before {
        top: 50%;
        margin-top: -$spacing-xs;
      }

      &::after {
        top: 50%;
        margin-top: -$spacing-xs;
      }
    }
  }
  .checkbox--indeterminate {
    .checkbox__label {
      &::after {
        margin-top: -3px;
      }
    }
  }
}

.context-menu--sm {
  .context-menu__list {
    min-width: rem(110px);
  }

  .context-menu__button {
    @include stable-padding($spacing-3xs, $spacing-xs);
    height: $button-height-sm;
    line-height: 9px;
  }

  .context-menu__icon,
  .context-menu__action-button .svg-icon {
    @include svg-icon-size(16px);
  }

  .context-menu__text {
    @include font-size("12");
  }
}
