// -------------------------
// Context menu
// -------------------------
.context-menu {
  @include list;
  @include layer("pop-out");
  position: absolute;
  border-radius: $field-border-radius;
  z-index: z("overlay");

  &__list {
    min-width: rem(130px);
    padding: $spacing-2xs 0;
    background-color: $ui-02;
  }

  &__icon {
    fill: $text-02;
  }

  &__text {
    flex-grow: 1;
    color: $text-02;
  }

  &__subtext {
    @include font-size("12");
    color: $text-03;
    margin-left: $spacing-md;
  }

  &__item {
    &:hover .context-submenu {
      display: block;
    }

    &--submenu .context-menu__submenu-icon {
      display: block;
    }
    // -------------------------
    // Modifier - division-line
    // -------------------------

    &--division-line {
      border-bottom: 1px solid $ui-04;
    }
  }

  &__submenu-icon {
    display: none;
    margin-right: $spacing-3xs;
  }

  &__head {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: $button-height-md;
    padding: $spacing-2xs $spacing-sm;
    background-color: $hover-row;
    &-title {
      @include text-overflow;
      @include font-size("14");
      @include font-weight("medium");
      flex: 1;
      text-align: left;
      color: $text-02;
    }
  }

  &__foot {
    @include stable-padding($spacing-xs, $spacing-sm);
    display: flex;
    background-color: $ui-01;
    .button + .button {
      margin-left: $spacing-xs;
    }
  }

  &__foot-main-buttons {
    display: flex;
    margin-left: auto;
  }
  // -------------------------
  // Size overwrite
  // -------------------------
  &--lg {
    .context-menu {
      &__list {
        min-width: rem(140px);
      }

      &__button {
        @include stable-padding($spacing-2xs, $spacing-sm);
        height: $button-height-lg;
      }

      &__icon,
      &__action-button .svg-icon {
        @include svg-icon-size(20px);
      }
    }

    .context-submenu__button {
      @include stable-padding($spacing-2xs, $spacing-sm);
      height: $button-height-lg;
    }

    .checkbox {
      @include stable-padding($spacing-2xs, $spacing-sm);
      height: $button-height-lg;

      .checkbox__label {
        height: 100%;

        &::before {
          top: 50%;
          margin-top: -$spacing-xs;
        }

        &::after {
          top: 50%;
          margin-top: -$spacing-xs;
        }
      }
      &--indeterminate {
        .checkbox__label {
          &::after {
            margin-top: rem(-3px);
          }
        }
      }
    }
  }

  &--sm {
    .context-menu {
      &__list {
        min-width: rem(110px);
      }

      &__button {
        @include stable-padding($spacing-3xs, $spacing-xs);
        height: $button-height-sm;
        line-height: rem(9px);
      }

      &__icon,
      &__action-button .svg-icon {
        @include svg-icon-size(16px);
      }

      &__text {
        @include font-size("12");
      }
    }

    .context-submenu__button {
      @include stable-padding($spacing-3xs, $spacing-xs);
      height: $button-height-sm;
      line-height: rem(9px);
    }

    .context-submenu__text {
      @include font-size("12");
    }
  }
}

.context-submenu {
  @include list;
  @include layer("pop-out");
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: $field-border-radius;
  z-index: z("overlay");
  &__list {
    min-width: rem(100px);
    padding: $spacing-2xs 0;
    background-color: $ui-02;
  }
}
