// -------------------------
// Description
// -------------------------
.description {
  &__head-title {
    @include font-size("16");
    @include font-weight("medium");
    display: block;
  }

  &__body {
    margin-top: $spacing-lg;
  }

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: rem(46px);
    padding: 0 $spacing-xs;

    & + & {
      border-top: 1px solid $hover-row;
    }

    &:last-child:not(:only-child) {
      border-bottom: 1px solid $hover-row;
    }
  }

  &__title {
    @include font-weight("medium");
    width: rem(140px);
    margin-right: $spacing-2xs;
    color: $text-02;
    word-break: normal;
  }

  &__text {
    @include ellipsis;
    flex: 1;
    color: $text-02;
  }

  &__foot {
    display: flex;
    align-items: center;
    margin-top: $spacing-sm;
  }

  &__foot-main-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;

    .button + .button {
      margin-left: $spacing-xs;
    }
  }

  // -------------------------
  // Size overwrite
  // -------------------------
  &--lg {
    .description {
      &__head-title {
        @include font-size("18");
      }

      &__item {
        height: rem(55px);
      }

      &__title {
        width: rem(180px);
      }

      &__title,
      &__text {
        @include font-size("15");
      }
    }
  }
}
