.description__title {
  @include font-size('16');
  @include font-weight('medium');
  display: block;
}

.description__list {
  margin-top: $spacing-lg;
}

.description__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: rem(46px);
}

.description__item + .description__item {
  border-top: 1px solid $hover-row;
}

.description__item:last-child:not(:only-child) {
  border-bottom: 1px solid $hover-row;
}

.description__header {
  @include text-overflow(140px);
  @include font-weight('medium');
  color: $text-02;
}

.description__text {
  @include text-overflow;
  flex: 1;
  color: $text-02;
}

.description__foot {
  display: flex;
  align-items: center;
  margin-top: $spacing-sm;
}
.description__foot-main-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;
}

// -------------------------
// Size overwrite
// -------------------------
.description--lg {
  .description__head-title {
    @include font-size('18');
  }

  .description__item {
    height: rem(55px);
  }

  .description__header {
    width: rem(180px);
  }

  .description__header,
  .description__text {
    font-size: 15px;
  }
}
