// -------------------------
// Drawer
// -------------------------
.drawer {
  @include layer("overlay");
  position: relative;
  background-color: $ui-02;
}

.drawer__head {
  @include stable-padding(0, $spacing-md);
  display: flex;
  align-items: center;
  height: rem(50px);
  border-bottom: 1px solid $ui-04;
}

.drawer__actions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.drawer__head-title {
  @include font-weight("medium");
  @include text-overflow;
  @include font-size("18");
  flex: 1;
}

.drawer__body {
  overflow-y: auto;
  padding: $spacing-md;
}

.drawer__foot {
  @include stable-padding($spacing-sm, $spacing-md);
  display: flex;
  align-items: center;
  height: rem(64px);
  background-color: $ui-01;
}

.drawer__foot-main-buttons {
  margin-left: auto;
}

// -------------------------
// overwrite
// -------------------------
.drawer__body {
  .description {
    padding-top: $spacing-xs;

    & + .description {
      padding-top: $spacing-xl;
    }
  }

  .form {
    & + .form {
      padding-top: $spacing-xl;
    }
  }
}
