.form__head-title {
  @include font-size('16');
  @include font-weight('medium');
  display: block;
}

.form__body {
  margin-top: $spacing-md;
}

.form__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: $spacing-xs 0;
}

.form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: rem(160px);
}

.form__label-text {
  @include text-overflow();
  @include font-weight('medium');
  padding-right: $spacing-2xs;
  color: $text-02;
}

.form__label-subtext {
  @include font-weight('light');
  color: $text-02;
}

.form__label-explain {
  @include font-size("12");
  margin-left: auto;
  color: $text-03;
}

.form__detail {
  flex: 1;
}

.form__foot {
  display: flex;
  align-items: center;
  margin-top: $spacing-sm;
}

.form__foot-main-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;

  .button+.button {
    margin-left: $spacing-xs;
  }
}

// -------------------------
// Size overwrite
// -------------------------
.form--lg {
  .form__head-title {
    @include font-size('20');
  }

  .form__item {
    padding: $spacing-sm 0 $spacing-xs;
  }

  .form__label,
  .form__text {
    font-size: 15px;
  }
}

// -------------------------
// form--vertical
// -------------------------
.form--vertical {

  .form__item {
    flex-direction: column;
    align-items: flex-start;
    padding: $spacing-sm 0;

    .form__detail-item+.form__detail-item {
      margin-top: $spacing-sm;
    }
  }

  .form__label {
    width: 100%;
    padding: 0;
    font-size: 15px;
  }

  .form__detail {
    width: 100%;
    margin-top: $spacing-sm;
  }

  .form__detail-textarea {
    height: 120px;
  }

}