// -------------------------
// Form
// -------------------------
@mixin form__item($both-side-padding) {
  @include line-height("heading");
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: $both-side-padding 0;
}

@mixin form__label {
  @include make-col(4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: rem(32px);
}

@mixin form__label-text {
  @include font-weight("medium");
  @include line-height("title");
  padding-right: $spacing-2xs;
  color: $text-02;
  overflow-wrap: break-word;
  word-break: keep-all;
}

@mixin form__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  min-height: rem(32px);
}

.form {
  &__head {
    &-title {
      @include font-size("16");
      @include font-weight("medium");
      display: block;
    }
    .form__body {
      margin-top: $spacing-md;
    }
  }

  &__body {
    width: 100%;
  }

  &__list {
    width: 100%;
  }

  &__item {
    @include form__item($spacing-xs);
    width: 100%;
  }

  &__label {
    @include form__label;

    &-text {
      @include form__label-text;

      & + &--link {
        margin-right: $spacing-2xs;
      }
    }

    &-subtext {
      @include font-size("12");
      @include line-height("heading");
      padding-right: $spacing-2xs;
      color: $text-03;
      word-break: normal;
      white-space: nowrap;
    }
  }

  &__detail {
    @include form__detail;

    &-value {
      @include font-size("13");
      color: $text-01;
      width: rem(40px);
    }

    &-text {
      @include font-weight("medium");
      @include font-size("15");
      color: $text-01;
    }

    &-item {
      & + & {
        margin-top: $spacing-sm;
      }
    }

    &-helper-text {
      @include font-size("12");
      @include line-height("heading");
      @include text-overflow;
      padding-left: $spacing-2xs;
      color: $text-03;
    }

    .upload-preview {
      width: 100%;
    }
  }

  &__foot {
    display: flex;
    align-items: center;
    padding-top: $spacing-sm;
  }

  &__foot-main-buttons {
    margin-left: auto;
    display: flex;
    align-items: center;

    .button + .button {
      margin-left: $spacing-xs;
    }
  }

  // -------------------------
  // Size overwrite
  // -------------------------
  &--lg {
    .form {
      &__head-title {
        @include font-size("16");
      }

      &__item,
      &__items {
        padding: $spacing-xs 0;
      }

      &__item:first-child,
      &__items:first-child {
        padding-top: 0;
      }

      &__label,
      &__items-title {
        height: rem(40px);
      }

      &__label,
      &__text,
      &__items-title-text {
        @include font-size("15");
      }
    }
  }

  // -------------------------
  // form--vertical
  // -------------------------
  &--vertical {
    .form {
      &__body {
        margin-top: $spacing-xs;
      }

      &__item {
        flex-direction: column;
        align-items: flex-start;
        padding: $spacing-sm 0;

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
        }
      }

      &__label {
        width: 100%;
        height: auto;
        padding: 0;
        margin-bottom: $spacing-3xs;

        &-text {
          @include font-size("15");
        }

        &-subtext {
          margin-left: auto;
        }
      }

      &__detail {
        width: 100%;
        margin-top: $spacing-sm;

        &-textarea {
          height: rem(120px);
        }

        &-detail {
          flex: auto;
        }
      }
    }
  }

  &__v-group-item {
    display: flex;
    align-items: center;
    height: rem(32px);
  }

  &__v-group-title {
    display: flex;
    align-items: center;
    width: rem(130px);
    color: $text-02;
  }

  // -------------------------
  // form__items - 환경설정에 새롭게 추가된 item 유형입니다.
  // -------------------------
  &__detail-item {
    display: flex;
    align-items: center;

    &--border:last-child {
      padding-bottom: $spacing-md;
      border-bottom: 1px solid $hover-row;
    }

    & + & {
      margin-top: $spacing-xs;
    }
  }

  &__detail-label {
    width: rem(112px);
    padding-right: $spacing-sm;
    text-align: right;

    &-text {
      @include font-weight("regular");
      color: $text-02;
      word-break: break-word;
    }
  }

  &__detail-detail {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
  }
}

// -------------------------
// dynamic-from
// -------------------------
.dynamic-form {
  &__list {
    padding: $spacing-sm 0;
    // border-top: 1px solid $ui-04;
  }

  &__item {
    display: flex;

    & + & {
      margin-top: $spacing-xs;
    }
  }

  &__handler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .button:first-child {
      margin-bottom: $spacing-2xs;
    }
  }

  &__forms {
    flex: 1 0;
  }

  &__handler + &__forms {
    margin-left: $spacing-xs;
  }

  &__form {
    @include form__item($spacing-3xs);
    width: 100%;

    .v-group {
      width: 100%;
    }

    &-label {
      @include form__label;
    }

    &-label-text {
      @include form__label-text;
    }

    &-detail {
      @include form__detail;
      flex: 1 1 100%;
    }
  }

  &__list--line + &__list--line {
    border-top: 1px solid $ui-04;
  }

  &__action-buttons {
    display: flex;
    align-items: center;
    margin-left: $spacing-3xs;
  }

  &__foot {
    padding-top: $spacing-sm;

    .button {
      width: 100%;
    }
  }

  // -------------------------
  // dynamic-from--condition
  // -------------------------
  &--condition {
    .dynamic-form {
      &__item + &__item {
        margin-top: $spacing-md;
        padding-top: $spacing-md;
        border-top: 1px solid $ui-04;
      }

      &__form-label {
        width: 20%;
        justify-content: flex-end;
        align-items: center;

        &-text {
          text-align: right;
          padding-right: $spacing-xs;
        }
      }

      &__handler + &__forms {
        margin-left: 0;
      }
    }

    .toggle-button__item {
      flex-grow: 1;
    }

    .notification {
      justify-content: center;
      align-items: center;

      &__icon {
        width: rem(18px);
        height: rem(18px);
        margin: $spacing-xs;
      }

      &__contents {
        padding: $spacing-xs 0;
      }

      &__text {
        @include font-size("13");
      }
    }

    .text-input[type="number"] {
      min-width: unset;
    }
  }

  &--slider {
    .dynamic-form__form-label {
      width: 15%;
    }
  }

  &--responsive {
    padding-top: $spacing-sm;

    .dynamic-form {
      &__item + &__item {
        padding-top: $spacing-xs;
        border-top: 1px solid $ui-04;
      }

      &__action-buttons {
        width: rem(68px);
        margin-left: 0;

        > *:not(:first-child) {
          margin-left: $spacing-2xs;
        }
      }
    }

    .select {
      display: flex;
      flex: 1;
    }

    .select-selector {
      flex: 1;
    }
  }
}
