.form__head-title {
  @include font-size("16");
  @include font-weight("medium");
  display: block;
}

.form__head + .form__body {
  margin-top: $spacing-md;
}

.form__item {
  @include line-height("heading");
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: $spacing-xs 0;
}

.form__label {
  @include make-col(4);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: rem(32px)
}

.form__label-text {
  @include text-overflow();
  @include font-weight("medium");
  padding-right: $spacing-2xs;
  color: $text-02;
}

.form__label-subtext {
  @include font-size("12");
  @include line-height("heading");
  @include text-overflow;
  padding-right: $spacing-2xs;
  color: $text-03;
}

.form__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  min-height: rem(32px)
}

.form__foot {
  display: flex;
  align-items: center;
  margin-top: $spacing-sm;
}

.form__foot-main-buttons {
  margin-left: auto;
  display: flex;
  align-items: center;

  .button + .button {
    margin-left: $spacing-xs;
  }
}

// -------------------------
// Size overwrite
// -------------------------
.form--lg {
  .form__head-title {
    @include font-size("20");
  }

  .form__item {
    padding: $spacing-sm 0 $spacing-xs;
  }

  .form__label,
  .form__text {
    font-size: 15px;
  }
}

// -------------------------
// form--vertical
// -------------------------
.form--vertical {
  .form__item {
    flex-direction: column;
    align-items: flex-start;
    padding: $spacing-sm 0;

    .form__detail-item + .form__detail-item {
      margin-top: $spacing-sm;
    }
  }

  .form__label {
    width: 100%;
    padding: 0;
    height: auto;
  }

  .form__label-subtext {
    margin-left: auto;
  }

  .form__detail {
    width: 100%;
    margin-top: $spacing-sm;
  }

  .form__detail-textarea {
    height: 120px;
  }

  .form__detail-inner {
    flex: auto;
  }
}

// -------------------------
// form in modal/tab overwrite
// -------------------------

.modal .form__item {
  padding: $spacing-sm / 2 0;
}

.modal .form__label-text {
  @include font-weight("regular");
}

.modal .form__label {
  @include make-col(2);
}

.modal .form--vertical .form__label {
  width: 100%;
}

.modal .form--vertical .form__detail {
  @include line-height("body");
  margin-top: $spacing-2xs;
}

.modal .form--complex .text-input {
  width: auto;
}