// -------------------------
// List
// -------------------------
.list {
  @include list;
  @include list--hidable;
  display: flex;
  flex-direction: column;
  border: 1px solid $ui-04;
  background-color: $ui-02;
  color: $text-01;

  &__list {
    width: 100%;
    height: 100%;
  }

  &__head {
    padding: $spacing-xs;
    background-color: $ui-01;

    &-title {
      @include font-weight("medium");
      @include ellipsis;
      color: $text-02;
      margin-bottom: $spacing-3xs;
    }

    &-title-text {
      flex: 1;
    }

    &-toolbar {
      display: flex;
      .text-input-group {
        width: 100%;
      }
    }

    &-checkbox {
      display: inline-flex;
    }

    &-right-box {
      margin-left: auto;
    }

    &--toolbar-hide.list__head--title-hide {
      padding: 0;
    }

    &--toolbar-hide .list__head-toolbar {
      display: none;
    }

    &--title-hide .list__head-title {
      display: none;
    }
  }

  &__item {
    border-bottom: 1px solid $hover-row;

    &:last-child {
      border-bottom: 0;
    }

    .filter-highlight {
      @include line-height("body");
    }

    &-notification {
      @include stable-padding($spacing-2xs, $spacing-xs);
      margin: 0 auto;
      height: rem(40px);
    }

    &--selected {
      .list__details {
        display: flex;
      }

      .list__expand-icon {
        transform: rotate(180deg);
      }
    }

    &--notification {
      justify-content: center;
      width: 100%;
      height: 100%;

      &:hover {
        background-color: $ui-02;
      }
    }
  }

  &__button {
    .list__icon {
      width: rem(24px);
      height: rem(24px);
    }

    .list__subicon {
      width: rem(20px);
      height: rem(20px);
    }
  }

  &__subtext {
    margin-left: $spacing-2xs;
    color: $text-03;
  }

  &__body {
    overflow: auto;
  }

  &__summary {
    display: flex;
    align-items: center;
    width: 100%;

    &-content {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }
  }

  &__details {
    display: none;
    width: 100%;
    color: $text-01;
    background-color: darken($ui-01, 1.4%);

    &-inner {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: $spacing-md;
    }

    &-list {
      width: 100%;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: $spacing-xs $spacing-md;
      color: $text-02;

      &:not(:last-child) {
        border-bottom: 1px solid rgba($ui-04, 0.75);
      }

      &-trigger {
        @include make-col(4);
        @include font-size("13");
        display: flex;
        flex-direction: column;
        margin-right: $spacing-xs;

        &-layer {
          @include ellipsis(block);
          @include font-size("12");
          color: $text-03;
        }

        &-text {
          @include ellipsis(block);
        }
      }

      &-component {
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: $spacing-2xs;
        overflow: hidden;

        &-text {
          @include ellipsis(block);
          margin-left: $spacing-2xs;
        }
      }
    }

    &-action-buttons {
      display: flex;
      margin-left: $spacing-xs;
    }
  }

  &--expandable {
    .list {
      &__head {
        display: flex;
        align-items: center;
        padding-top: $spacing-3xs;
        padding-bottom: $spacing-3xs;
        background-color: $ui-02;
        border-bottom: 1px solid $ui-04;
      }

      &__item {
        flex-direction: column;
      }

      &__button {
        padding-left: 0;
      }
    }

    .checkbox {
      flex-grow: 0;
      padding-right: 0;
    }
  }

  &--border-reset {
    border: 0;
  }

  &--lg .list__item {
    height: rem(40px);
  }
}

.dynamic-list {
  width: 100%;
  padding: $spacing-sm;

  .notification-full {
    height: 100%;
    justify-content: center;
  }

  &__no-contents {
    display: flex;
    height: 100%;
    background-color: $odd-row;
    justify-content: center;
    .notification-message {
      height: rem(480px);
    }
  }

  &__toolbar {
    display: flex;
    margin-bottom: $spacing-sm;
  }

  &__items {
    min-height: rem(480px);
    max-height: rem(480px);
    padding-right: $spacing-xs;
    overflow-y: auto;
    position: relative;
  }

  &__item {
    border: 1px solid $ui-04;
    background-color: $odd-row;

    &:not(:last-child) {
      margin-bottom: $spacing-md;
    }

    & .dynamic-list__head {
      display: flex;
      align-items: flex-start;
      padding: $spacing-xs;
      background-color: $ui-02;
      border-bottom: 1px solid $ui-04;
    }
  }

  &__filter {
    flex: 1;
  }

  &__body {
    padding: $spacing-2xs 0;
  }

  &__body-row {
    padding: $spacing-3xs 0;
  }

  &__lang {
    padding: 0 $spacing-xs 0 $spacing-sm;
    font-weight: 500;
    color: $text-02;
  }

  &__contents {
    display: flex;
    flex: 1;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  &__form {
    flex: 1;
    position: relative;
  }

  &__buttons {
    .button--link {
      padding: 0 $spacing-xs 0 $spacing-2xs;
    }

    .button--icon {
      padding: 0;
    }
  }

  &__button {
    margin-top: $spacing-2xs;
  }

  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2rem;
  }
}
