.list {
  @include list;
  display: flex;
  flex-direction: column;
  border: 1px solid $ui-04;
  background-color: $ui-02;
  color: $text-01;
}

.list__head {
  padding: $spacing-xs;
  background-color: $ui-01;
}

.list__head-title {
  @include font-weight("medium");
  @include text-overflow(100%);
  color: $text-02;
  margin-bottom: $spacing-3xs;
}

.list__head-toolbar {
  display: flex;
}

.list__head--toolbar-hide.list__head--title-hide {
  padding: 0;
}

.list__head--toolbar-hide .list__head-toolbar {
  display: none;
}

.list__head--title-hide .list__head-title {
  display: none;
}


.list__head-toolbar .text-input-group {
  width: 100%;
}

.list__item {
  border-bottom: 1px solid $hover-row;

  &:last-child {
    border-bottom: 0;
  }
}

.list__item .filter-highlight {
  @include line-height("body");
}

.list__checkmark {
  vertical-align: middle;
}

.list__body {
  overflow: auto;
}