// -------------------------
// Modal
// -------------------------
.modal {
  @include layer("pop-out");
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: rem(320px);
  border-radius: $field-border-radius;
  background-color: $ui-02;
  z-index: z("modal");

  &__head {
    @include stable-padding($spacing-2xs, $spacing-sm);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    min-height: rem(40px);
    border-bottom: 1px solid $ui-04;

    &-close-button {
      margin-left: auto;
    }

    &-title {
      @include text-overflow;
      display: flex;
      flex: 1 0 auto;
      align-items: center;
      width: calc(100% - 140px);

      &-text {
        @include text-overflow;
        @include line-height("body");
        @include font-size("14");
        color: $text-02;

        & + .current-data {
          margin-left: $spacing-sm;
        }
      }
    }

    &-subtitle {
      @include text-overflow;
      @include line-height("body");
      @include font-size("13");
      margin-left: $spacing-2xs;
      color: $text-02;
    }

    &-tooltip {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: $spacing-3xs;
      height: rem(18px);

      &:focus-visible:not(:disabled) {
        outline: 1px dashed $text-01;
      }
    }

    &-toolbar ~ .modal__head-close-button {
      margin-left: $spacing-sm;
    }
  }
  //   midal body padding
  //   ==========================================
  //   default ||  0
  //   sm      ||  16px
  //   md      ||  32px
  //   lg      ||  48px
  //   ==========================================
  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
    width: 100%;
    height: 100%;

    &--sm {
      padding: $layout-2xs;
    }

    &--md {
      padding: $layout-sm;
    }

    &--lg {
      padding: $layout-sm $layout-md;
    }
  }

  &__foot {
    @include stable-padding($spacing-sm, $spacing-sm);
    flex-shrink: 0;
    display: flex;
    background-color: $ui-01;

    & .button + .button,
    & div + div,
    & .modal__foot-main-buttons div + div {
      margin-left: $spacing-xs;
    }

    .modal__foot-main-buttons {
      display: flex;
      margin-left: auto;
    }
  }
}

//   midal size
//   ==========================================
//   xs   ||  350px
//   sm   ||  480px (450, 418)
//   md   ||  620px
//   lg   ||  900px
//   xl   ||  1180px
//   ==========================================
.modal--xs {
  width: rem(350px);
  min-height: rem(220px);
}

.modal--sm {
  width: rem(480px);
  min-height: rem(240px);
}

.modal--md {
  width: rem(620px);
}

.modal--lg {
  width: rem(720px);
}

.modal--xl {
  width: rem(900px);
}

.modal--2xl {
  width: rem(1180px);
}

// -------------------------
// modal 하위에 있는 form, tab overwrite
// -------------------------

// $spacing-sm / 2 = 6px
.modal .form__item {
  padding: $spacing-sm * 0.5 0;
}

.modal .form--lg .form__item {
  padding: $spacing-sm 0;
}

.modal .form--lg .form__item:first-child {
  padding-top: 0;
}

.modal .form__label-text {
  @include font-weight("regular");
  letter-spacing: rem(-1px);
}

.modal .form__label {
  @include make-col(2);
}

.modal .form--vertical .form__label {
  width: 100%;
}

.modal .form--vertical .form__detail {
  @include line-height("body");
  margin-top: $spacing-xs;
}

.modal .form--vertical .form__item {
  padding: $spacing-sm 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.modal .form--complex .text-input {
  width: auto;
}

.modal .tab__contents {
  flex: 1 0 auto;
  padding-right: $spacing-md;
  padding-left: $spacing-md;
}

//modal에서 탭이 포함될때 ul에 아래 기본선 추가
.modal .tab--horizontal .tab__bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(2px);
  background: $ui-04;
}

.modal__body--overflow-hidden {
  overflow: hidden;
}

// modal__head 에서 현재 선택된 데이터 표시
.current-data {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  &__icon {
    @include svg-icon-size(20px);
    margin-right: $spacing-2xs;
  }

  &__text {
    @include text-overflow;
    @include font-size("14");
    max-width: rem(400px);
    color: $text-02;
  }

  &__subtext {
    @include font-weight(medium);
    @include font-size("14");
    white-space: pre;
    color: $text-02;
  }
}
