// -------------------------
// Modal
// -------------------------
.modal {
  @include layer("pop-out");
  display: flex;
  flex-direction: column;
  position: absolute;
  min-height: rem(320px);
  border-radius: $field-border-radius;
  background-color: $ui-02;
  z-index: z("modal");
}

.modal__head {
  display: flex;
  align-items: center;
  padding: $spacing-2xs $spacing-sm $spacing-2xs $spacing-md;
  min-height: rem(38px);
  border-bottom: 1px solid $ui-04;
}

.modal__head-close-button {
  margin-left: auto;
}

.modal__head-title {
  @include text-overflow;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
  width: calc(100% - 140px);
}

.modal__head-subtitle {
  @include text-overflow;
  @include line-height("body");
  @include font-size("13");
  margin-left: $spacing-2xs;
  color: $text-02;
}

.modal__head-tooltip {
  margin-left: $spacing-3xs;
  margin-bottom: $spacing-3xs;
}

.modal__head-toolbar ~ .modal__head-close-button {
  margin-left: $spacing-sm;
}

//   midal body padding
//   ==========================================
//   default ||  0
//   sm      ||  16px
//   md      ||  32px
//   lg      ||  48px
//   ==========================================
.modal__body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.modal__body--sm {
  padding: $layout-2xs;
}

.modal__body--md {
  padding: $layout-sm;
}

.modal__body--lg {
  padding: $layout-sm $layout-md;
}

.modal__foot {
  @include stable-padding($spacing-xs, $spacing-sm);
  display: flex;
  background-color: $ui-01;
}

.modal__foot .button + .button,
.modal__foot div + div,
.modal__foot .modal__foot-main-buttons div + div {
  margin-left: $spacing-xs;
}

.modal__foot .modal__foot-main-buttons {
  display: flex;
  margin-left: auto;
}
//   midal size
//   ==========================================
//   xs   ||  350px
//   sm   ||  480px (450, 418)
//   md   ||  620px
//   lg   ||  900px
//   xl   ||  1180px
//   ==========================================
.modal--xs {
  width: rem(350px);
  min-height: rem(220px);
}

.modal--sm {
  width: rem(480px);
  min-height: rem(240px);
}

.modal--md {
  width: rem(620px);
}

.modal--lg {
  width: rem(720px);
}

.modal--xl {
  width: rem(900px);
}

.modal--2xl {
  width: rem(1180px);
}

// -------------------------
// modal 하위에 있는 form, tab overwrite
// -------------------------

// $spacing-sm / 2 = 6px
.modal .form__item {
  padding: $spacing-sm * 0.5 0;
}

.modal .form--lg .form__item {
  padding: $spacing-sm 0;
}

.modal .form--lg .form__item:first-child {
  padding-top: 0;
}

.modal .form__label-text {
  @include font-weight("regular");
  letter-spacing: rem(-1px);
}

.modal .form__label {
  @include make-col(2);
}

.modal .form--vertical .form__label {
  width: 100%;
}

.modal .form--vertical .form__detail {
  @include line-height("body");
  margin-top: $spacing-xs;
}

.modal .form--vertical .form__item {
  padding: $spacing-sm 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.modal .form--complex .text-input {
  width: auto;
}

.modal .tab__contents {
  flex: 1 0 auto;
  padding-right: $spacing-md;
  padding-left: $spacing-md;
}

//modal에서 탭이 포함될때 ul에 아래 기본선 추가
.modal .tab--horizontal .tab__bar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: rem(2px);
  background: $ui-04;
}

.modal__body--overflow-hidden {
  overflow: hidden;
}
