// -------------------------
// Notification
// -------------------------
@mixin notification-status($status-color, $background-color) {
  background-color: $background-color;

  .notification__icon {
    fill: $status-color;
  }
}

@mixin notification-message-status($status-color) {
  color: $status-color;

  .notification-message__icon {
    fill: $status-color;
  }
}

@mixin notification-full-status($status-color) {
  .notification-full__icon {
    fill: $status-color;
  }
}

@mixin notification-message {
  display: flex;
  align-items: flex-start;

  &__icon {
    @include svg-icon-size(16px);
    margin-right: $spacing-2xs;
    margin-top: rem(3px);
  }

  &__text {
    @include line-height("heading");
    @include font-size("12");
  }

  &--inline {
    display: inline-flex;
  }

  &--info {
    @include notification-message-status($support-01);
  }

  &--success {
    @include notification-message-status($support-02);
  }

  &--warning {
    @include notification-message-status($support-03);
  }

  &--error {
    @include notification-message-status($support-04);
  }

  &--loading {
    @include notification-message-status($text-03);
  }

  &--normal {
    @include notification-message-status($text-03);
  }

  .loader + &__text {
    margin-left: $spacing-2xs;
  }
}

@mixin notification-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $text-02;

  &__icon {
    @include svg-icon-size(50px);
    margin-bottom: $spacing-lg;
  }

  &__text {
    @include line-height("title");
    @include font-size("24");
    color: $text-02;
    text-align: center;
  }

  &__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .notification {
      justify-content: center;
      margin-top: $spacing-xl;
    }

    .button {
      margin-top: $spacing-xl;
    }
  }

  &__subtext {
    @include font-size("18");
    @include font-weight("light");
    margin-top: $spacing-sm;
    color: $text-03;
    text-align: center;

    + .button {
      margin-top: $spacing-md;
    }
  }

  &--info {
    @include notification-full-status($support-01);
  }

  &--success {
    @include notification-full-status($support-02);
  }

  &--warning {
    @include notification-full-status($support-03);
  }

  &--error {
    @include notification-full-status($support-04);
  }

  &--loading {
    @include notification-full-status($text-03);
  }

  &--normal {
    @include notification-full-status($text-03);
  }

  .loader {
    margin-bottom: $spacing-lg;
  }
}

// -------------------------
// Notification
// -------------------------

.notification-wrap {
  width: calc(100% - 1rem);
  margin: $spacing-xs;
}

.notification {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: auto;

  &__icon,
  .loader {
    @include svg-icon-size(22px);
    flex-shrink: 0;
    margin: $spacing-md $spacing-sm 0 $spacing-md;
  }

  &__close-button {
    @include button;
    @include button--link;
    padding: 0;
    width: rem(48px);
    height: rem(53px);
    margin-left: auto;

    .svg-icon {
      width: rem(16px);
      height: rem(16px);
    }
  }

  &__contents {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: $spacing-md $spacing-lg $spacing-md 0;
    color: $text-01;
  }

  &__title {
    @include font-weight("medium");
    @include font-size("14");
    margin-right: $spacing-2xs;
  }

  &__text {
    @include font-size("14");
    color: $text-02;
  }

  &--info {
    @include notification-status($support-01, #deebff);
  }

  &--success {
    @include notification-status($support-02, #e3fcef);
  }

  &--warning {
    @include notification-status($support-03, #fff5ea);
  }

  &--error {
    @include notification-status($support-04, #ffebe6);
  }

  &--normal {
    @include notification-status($icon-01, $ui-01);
  }

  &--loading {
    @include notification-status($icon-01, $ui-01);
  }
}

// -------------------------
// Notification Message
// -------------------------
.notification-message {
  @include notification-message;
}

// -------------------------
// Notification Full
// -------------------------
.notification-full {
  @include notification-full;

  &--sm {
    .notification-full__icon {
      width: rem(36px);
      height: rem(36px);
      margin-bottom: $spacing-xs;
    }

    .notification-full__text {
      @include font-size("18");
    }

    .notification-full__subtext {
      @include font-size("12");
      margin-top: $spacing-xs;
    }
  }
}
