// -------------------------
// Number input
// -------------------------
.number-input {
  position: relative;

  &:hover {
    .number-input__input {
      background-color: rgba($ui-02, 1);
      border-color: darken($ui-04, 15%);
    }

    .number-input__controls {
      border-left-color: darken($ui-04, 15%);
    }

    .number-input__control-button {
      background-color: $ui-01;

      &.down-icon {
        border-top-color: darken($ui-04, 15%);
      }
    }
  }
}

.number-input__input {
  @include font-size("14");
  position: relative;
  background-color: $ui-02;
  width: 100%;
  height: rem(32px);
  padding: 0 $spacing-xl 0 $spacing-sm;
  color: $text-01;
  border: 1px solid $ui-04;
  border-radius: $field-border-radius;
  transition: all $duration-fast-01 motion(standard, productive);
  outline: none;

  &:active,
  &:focus {
    border-color: $secondary;
    box-shadow: 0 0 rem(4px) rgba($secondary, 0.65);
  }

  // chrom에서 자동저장된 input의 배경컬러를 제어
  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px $ui-02 inset;
  }

  // number 유형에 자동으로 생성되는 spinner 제거
  // 참고: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  &[type="number"] {
    -moz-appearance: textfield;
  }
}

.number-input__controls {
  position: absolute;
  top: rem(1px);
  right: rem(1px);
  height: calc(100% - 2px);
  border-left: 1px solid $ui-04;
  transition: all $duration-fast-01 motion(standard, productive);
}

.number-input__control-button {
  @include button-normal;
  @include button--icon(2px, 14px);
  height: 50%;
  background-color: $ui-02;
  border-radius: 0;
}

.number-input__control-button.down-icon {
  border-top: 1px solid $ui-04;
}

// -------------------------
// modifiers
// -------------------------
.number-input--lg {
  .number-input__input {
    @include font-size("16");
    height: rem(40px);
  }
}

.number-input--sm {
  width: rem(64px);

  .number-input__input {
    @include font-size("12");
    padding-left: $spacing-xs;
    height: rem(24px);
  }

  .number-input__control-button {
    .svg-icon {
      width: rem(10px);
      height: rem(10px);
    }
  }
}

.number-input--focused {
  &:hover {
    .number-input__input {
      border-color: $secondary;
    }

    .number-input__controls {
      border-left-color: $secondary;
    }

    .number-input__control-button {
      background-color: rgba($secondary, 0.06);

      &.down-icon {
        border-top-color: $secondary;
      }

      .svg-icon {
        fill: $secondary;
      }
    }
  }

  .number-input__input {
    border-color: $secondary;
  }

  .number-input__controls {
    border-left-color: $secondary;
  }

  .number-input__control-button {
    background-color: rgba($secondary, 0.06);

    &.down-icon {
      border-top-color: $secondary;
    }

    .svg-icon {
      fill: $secondary;
    }
  }
}

.number-input--disabled {
  opacity: 0.5;
  cursor: not-allowed;

  &:hover {
    .number-input__controls {
      border-left-color: $ui-04;
    }

    .number-input__control-button {
      background-color: $ui-02;
      cursor: not-allowed;

      &.down-icon {
        border-top-color: $ui-04;
      }
    }
  }

  .number-input__input {
    cursor: not-allowed;
    &:hover,
    &:focus {
      border-color: $ui-04;
      box-shadow: none;
    }
  }
}

// .text-input의 type 만 숫자 형식인 컴포넌트 디자인 재정의
.text-input[type="number"] {
  padding-right: $spacing-xs;
  min-width: rem(64px);
}

.text-input[type="number"].text-input--sm {
  padding-right: $spacing-2xs;
}
