.radio {
  display: block;
}

.radios {
  display: flex;
}

.radios .radio:not(:last-of-type) {
  margin-right: $spacing-xs;
}

.radios--vertical {
  flex-direction: column;
}

.radios .radio:not(:last-of-type) {
  margin-right: 0;
}

.radio__input {
  @include hidden;
}

.radio__label {
  @include line-height("heading");
  @include font-weight("regular");
  position: relative;
  display: flex;
  padding-left: rem(23px); //width of radio 17px + 6px of padding
  min-height: rem(24px);
  color: $text-02;
  user-select: none;
  cursor: pointer;
}

.radio__label::before,
.radio__label::after {
  box-sizing: border-box;
  transition: all $duration-fast-01 motion(entrance, productive);
}

.radio__label::before {
  content: "";
  width: rem(17px);
  height: rem(17px);
  margin: rem(2px);
  position: absolute;
  left: 0;
  top: rem(1px);
  background-color: transparent;
  border: 2px solid $text-03;
  border-radius: 50%;
}

.radio__label::after {
  content: "";
  position: absolute;
  left: rem(7px);
  top: rem(8px);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: $text-04;
}

// -------------------------
// 상태별 스타일
// -------------------------
// hover 상태
.radio__label:hover::before {
  border-color: $primary;
}

// checked 상태
.radio__input:checked + .radio__label::before {
  background-color: $primary;
  border-color: $primary;
}

.radio__input:checked + .radio__label:hover::after {
  background-color: $text-04;
}

// disabled 상태
.radio--disabled .radio__label,
.radio__input:disabled + .radio__label {
  opacity: 0.4;
  cursor: not-allowed;

  &:hover {
    color: $text-03;

    &::before,
    &::after {
      border-color: $text-03;
    }
  }
}

// checked + disabled 상태
.radio__input:checked:disabled + .radio__label:hover::before {
  border-color: $primary;
}

// -------------------------
// Studio 컴포넌트 스타일 overwrite
// -------------------------
.studio-component {
  .radio__label:hover::before {
    border-color: $text-02;
  }

  // checked 상태
  .radio__input:checked + .radio__label::before {
    background-color: $text-03;
    border-color: $text-03;
  }

  // checked + disabled 상태
  .radio__input:checked:disabled + .radio__label:hover::before {
    border-color: $text-03; 
  }
}
