// -------------------------
// Select
// -------------------------
.select {
  @include list;
  min-width: rem(160px);
  max-width: rem(230px);
  position: relative;
  color: $text-02;
}

.select__head {
  @include button-normal;
  width: 100%;
  padding: $spacing-2xs $spacing-sm;
  height: $button-height-md;
  background-color: $ui-02;
  border: 1px solid $ui-04;
  border-radius: $button-border-radius;
  text-align: left;

  &:active {
    border-color: $secondary !important;
  }

  &:hover{
    border-color: $text-03;
  }

  &:focus,
  &:focus:hover {
    border-color: $secondary;
    box-shadow: 0px 0px 4px rgba(77, 174, 255, 0.4);
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: not-allowed;
    border-color: $hover-row !important;

    .select__head-title {
      color: $text-05;
    }

    .select__head-icon {
      opacity: 0.5;
    }
  }

  &.select__head--selected {
    border-color: $secondary;
    box-shadow: 0px 0px 4px rgba(77, 174, 255, 0.4);

    .select__head-icon {
      transform: rotate(-180deg);
    }

    + .select__body {
      display: block;
    }

    &:hover:not(:disabled) {
      border-color: $secondary;
    }
  }
}

.select__head-title {
  @include text-overflow;
  @include font-size("14");
  @include font-weight("regular");
  flex: 1;
  color: $text-02;
}

.select__head-icon {
  @include svg-icon-size(20px);
  margin-left: auto;
  transform: none;
}

.select__body{
  display: none;
}

.select__list {
  z-index: z('float');
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  background-color: $ui-02;
  box-shadow: 0px 0px 8px rgba(206, 211, 217, 0.7);
  border-radius: 2px;
}

// -------------------------
// Size overwrite
// -------------------------
.select--lg {
  .select__head {
    height: $button-height-lg;
  }

  .select__button {
    @include stable-padding($spacing-2xs, $spacing-sm);
    height: $button-height-lg;
  }

  .select__icon {
    @include svg-icon-size(20px);
  }
}

.select--sm {
  .select__head {
    padding: $spacing-2xs $spacing-xs;
    height: $button-height-sm;
  }

  .select__head-icon {
    @include svg-icon-size(14px);
  }

  .select__button {
    @include stable-padding($spacing-3xs, $spacing-xs);
    height: $button-height-sm;
  }

  .select__icon {
    @include svg-icon-size(16px);
  }

  .select__text {
    @include font-size("12");
  }
}
