// -------------------------
// Select
// -------------------------

.select {
  position: relative;
  flex-shrink: 0;
  min-width: rem(64px);
}

.select--open {
  .select-selector__button,
  .select-selector__input {
    border-color: $secondary;
    box-shadow: 0 0 rem(4px) rgba(77, 174, 255, 0.4);

    &:hover:not(:disabled) {
      border-color: $secondary;
    }

    &:focus-visible:not(:disabled) {
      box-shadow: none;
      outline: 1px dashed $text-01;
    }
  }

  .select-selector__icon {
    transform: rotate(-180deg);
  }

  .select-container {
    display: block;
  }

  &.select--borderless {
    .select-selector__button {
      .select-selector__title {
        color: $secondary;
      }
      .select-selector__icon {
        fill: $secondary;
      }

      &:hover:not(:disabled) {
        border-color: transparent;
        background-color: $ui-02;

        .select-selector__title {
          color: $secondary;
        }
        .select-selector__icon {
          fill: $secondary;
        }
      }
    }

    // borderless - text-input
    .select-selector__input {
      box-shadow: none;

      .text-input {
        color: $secondary;
      }

      & + .select-selector__icon {
        fill: $secondary;
      }

      &:hover:not(:disabled) {
        .text-input {
          background-color: $ui-02;
          color: $secondary;
        }

        & + .select-selector__icon {
          fill: $secondary;
        }
      }

      &:active {
        .text-input {
          background-color: $ui-02;
          color: $secondary;
        }
      }

      &:focus {
        .text-input {
          box-shadow: none;
          color: $secondary;
        }
      }
    }
  }
}

.select--close {
  .select-container {
    display: none;
  }
}

//GS인증 - 빈 버튼일 경우 셀렉박스 스타일
.select--empty {
  .select-selector__title {
    color: $text-05;
  }
}

.select--disabled {
  .select-selector__button {
    border-color: $hover-row !important;
    cursor: not-allowed;
    box-shadow: none;

    &:hover:not(:disabled),
    &:hover:active,
    &:hover:focus {
      box-shadow: none;
      border-color: $hover-row !important;
      cursor: not-allowed;
    }

    &:focus {
      box-shadow: none;
    }
  }

  .select-selector__close-button.button--icon.button--link {
    cursor: not-allowed;

    .svg-icon {
      fill: $disabled-02;
    }
  }

  .select-selector__title {
    color: $text-05;
    opacity: 0.5;
  }

  .select-selector__icon {
    opacity: 0.5;
  }

  // borderless - text-input
  &.select--borderless {
    .select-selector__input {
      cursor: not-allowed;

      .text-input {
        color: $text-05;
      }

      & + .select-selector__icon {
        fill: $text-05;
      }

      &:hover:not(:disabled),
      &:hover:active,
      &:hover:focus {
        .text-input {
          background-color: $ui-02 !important;
          color: $text-05 !important;
          cursor: not-allowed;
        }

        & + .select-selector__icon {
          fill: $text-05 !important;
        }
      }

      &:active {
        .text-input {
          background-color: $ui-02 !important;
          color: $text-05 !important;
        }

        & + .select-selector__icon {
          fill: $text-05 !important;
        }
      }

      &:focus {
        .text-input {
          background-color: $ui-02;
          color: $text-05;
        }

        & + .select-selector__icon {
          fill: $text-05;
        }
      }
    }
  }
}

.select--open.select--disabled {
  .select-selector__icon {
    transform: none;
  }

  .select-container {
    display: none;
  }
}

.select-selector {
  position: relative;
  height: $button-height-md;
}

.select-selector__button {
  @include button-normal;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: $spacing-3xs rem(28px) $spacing-3xs $spacing-sm;
  background-color: $ui-02;
  border: 1px solid $ui-04;
  border-radius: $button-border-radius;

  &:active {
    border-color: $secondary !important;
  }

  &:hover {
    border-color: $text-03;
  }

  &:focus {
    border-color: $secondary;
    box-shadow: 0 0 rem(4px) rgba(77, 174, 255, 0.4);
  }

  &:focus-visible:not(:disabled) {
    box-shadow: none;
    outline: 1px dashed $text-01;
  }
}

.select-selector__input {
  height: 100%;
}

.select-selector__input .text-input {
  @include font-weight("regular");
  @include text-overflow;
  width: 100%;
  height: 100%;
  padding-top: $spacing-3xs;
  padding-bottom: $spacing-3xs;
  padding-right: rem(28px);
  color: $text-02;

  &:focus-visible:not(:disabled) {
    box-shadow: none;
  }
}

.select-selector__input-icon {
  position: absolute;
  left: rem(13px);
  top: 50%;
  transform: translateY(-50%);
  z-index: z("float");
}

.select-selector__input-icon + .text-input {
  padding-left: $spacing-xl + $spacing-2xs;
}

.select-selector__title {
  @include text-overflow;
  @include font-size("14");
  @include font-weight("regular");
  color: $text-02;
  text-align: left;
}

.select-selector__title-icon {
  width: rem(20px);
  height: rem(20px);
  vertical-align: middle;
}

.select-selector__icon {
  @include svg-icon-size(20px);
  position: absolute;
  top: 50%;
  margin-top: rem(-10px);
  right: $spacing-xs;
  transform: none;
  pointer-events: none;
}

// combo-box 유형일때 사용
.select-selector__close-button.button--icon.button--link {
  @include svg-icon-size(20px);
  position: absolute;
  top: 50%;
  right: $spacing-xs;
  margin-top: rem(-10px);
  padding: 0;

  .svg-icon {
    @include svg-icon-size(100%);
    display: block;
    fill: $text-03;
  }
}

//TODO:추후 정리 필요 (쓰이지 않고 있음)
.select-selector__icon-button {
  @include button-normal;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
}

.select-selector__icon-button .select-selector__icon {
  position: static;
  margin-top: 0;
}

.svg-icon + .select-selector__title {
  margin-left: $spacing-2xs;
}

// select panel(dropdown)
.select-container {
  @include list;
  @include layer("overlay");
  display: none;
  z-index: z("dropdown");
  position: absolute;
  top: calc(100% + 2px);
  // left: 0;
  width: 100%;
  max-height: rem(320px);
  padding: $spacing-2xs 0;
  background-color: $ui-02;
  border-radius: $field-border-radius;
  border: 1px solid $ui-04;
  overflow: auto;
}

.select-container__list {
  background-color: $ui-02;
}

.select-container__button {
  &:focus-visible:not(:disabled) {
    background-color: $ui-01;
  }
}

.select-container__subtext {
  @include font-size("12");
  color: $text-03;
  margin-left: auto;
}

.select-container--up {
  box-shadow: 0 0 rem(8px) 0 $box-shadow;
}

.select-container__notification > .notification-message {
  width: 100%;

  .notification-message__text {
    @include text-overflow();
  }
}

// -------------------------
// Size overwrite
// -------------------------
// lg
.select--lg {
  .select-selector {
    height: $button-height-lg;

    &__button {
      padding-right: $spacing-xl;
    }

    &__icon {
      @include svg-icon-size(24px);
      margin-top: -$spacing-sm;
    }

    &__input {
      .text-input {
        padding-right: $spacing-xl;
      }
    }

    &__close-button.button--icon.button--link {
      @include svg-icon-size(24px);
      margin-top: rem(-12px);
    }
  }

  .select-container {
    .select-container__button {
      @include stable-padding($spacing-2xs, $spacing-sm);
      height: $button-height-lg;
    }

    .select-container__text {
      @include font-size("14");
    }

    .select-container__icon {
      @include svg-icon-size(20px);
      right: $spacing-sm;
    }

    .select-container__notification {
      height: $button-height-lg;

      .notification-message__icon {
        @include svg-icon-size(20px);
      }

      .notification-message__text {
        @include font-size("14");
      }
    }
  }
}

// sm
.select--sm {
  .select-selector {
    height: $button-height-sm;

    &__button {
      padding: 0 rem(20px) 0 $spacing-xs;
    }

    &__icon {
      @include svg-icon-size(16px);
      right: $spacing-2xs;
      margin-top: -$spacing-xs;
    }

    &__input {
      .text-input {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: rem(20px);
      }
    }

    &__close-button.button--icon.button--link {
      @include svg-icon-size(16px);
      margin-top: rem(-8px);
      right: $spacing-2xs;
    }
  }
  .select-container {
    .select-selector__icon {
      @include svg-icon-size(14px);
    }

    .select-container__button {
      @include stable-padding($spacing-3xs, $spacing-xs);
      height: $button-height-sm;
      line-height: 0.75;
    }

    .select-container__icon {
      @include svg-icon-size(16px);
    }

    .select-container__text {
      @include font-size("12");
    }

    .select-container__notification {
      height: $button-height-sm;
    }
  }
}

.select--right {
  .select-container {
    right: 0;
  }
}

.select--left {
  .select-container {
    left: 0;
  }
}

.select--up {
  .select-container {
    top: auto;
    bottom: calc(100% + 2px);
    box-shadow: 0 0 rem(8px) 0 $box-shadow;
  }
}

.select--borderless {
  .select-selector__button {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover:not(:disabled) {
      background-color: $ui-01;

      .select-selector__title {
        color: $text-01;
      }
      .select-selector__icon {
        fill: $text-01;
      }
    }

    &:active {
      border-color: transparent !important;
      box-shadow: none;
      background-color: $ui-01;

      .select-selector__title {
        color: $active-secondary;
      }
      .select-selector__icon {
        fill: $active-secondary;
      }
    }
    &:focus {
      box-shadow: none;
    }
  }

  // borderless - text-input
  .select-selector__input {
    .text-input {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }

    &:hover:not(:disabled) {
      .text-input {
        background-color: $ui-01;
        color: $text-01;
      }

      & + .select-selector__icon {
        fill: $text-01;
      }
    }

    &:active {
      .text-input {
        background-color: $ui-01;
        color: $secondary;
      }

      & + .select-selector__icon {
        fill: $secondary;
      }
    }

    &:focus {
      .text-input {
        box-shadow: none;
        color: $secondary;
      }
    }
  }

  .select-selector__button:focus-visible:not(:disabled) {
    outline: 1px dashed $text-01;
  }
}

.select--view-all {
  .select-container {
    width: auto;
  }
}

// -------------------------
// select color picker
// -------------------------
.select--color-picker {
  .select-selector__button {
    padding-left: $spacing-2xs;
    padding-right: $spacing-lg + $spacing-2xs;
  }

  .color-picker__color {
    width: rem(24px);
    height: 100%;
    border: 1px solid $ui-04;
  }
}

// -------------------------
// select 화살표 UI 상태에 따른 컬러 값
// -------------------------
.select-container__item:hover,
.select-container__item:active {
  .select-container__button-icon {
    fill: $primary;
  }
}

.select-container__item--selected {
  .select-container__button-icon {
    fill: $primary;
  }
}

.select-container__item--disabled {
  .select-container__button-icon,
  .select-container__button-icon:hover,
  .select-container__button-icon:active {
    fill: $hover-row;
  }
}
