.table {
  width: 100%;
  border: 1px solid $ui-04;
}

.table caption {
  @include font-weight("light");
  @include font-size("12");
  margin-bottom: $spacing-xs;
  color: $text-03;
  text-align: left;
}

.table th,
.table td {
  @include font-weight("regular");
  @include font-size("14");
  position: relative;
  height: $button-height-lg;
  padding: $spacing-xs $spacing-xs;
  color: $text-02;
  vertical-align: middle;
  overflow-wrap: break-word;
  line-height: 1.3;
}

.table th {
  position: relative;
  word-break: keep-all;
}

.table td {
  background-color: $ui-02;
  word-break: break-all;
}

.table__action-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__action-buttons .button + .button {
  margin-left: $spacing-2xs;
}

.table--action-buttons-hidable .table--action-buttons {
  display: none;
}

.table--action-buttons-hidable tr:hover .table__action-buttons {
  display: flex;
}

.table--action-buttons-hidable td {
  position: relative;
}

.table--action-buttons-hidable .table__action-buttons {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: $ui-01;
  transform: translate(-50%, -50%);
}

.table__icon {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

.table__icon .svg-icon {
  @include svg-icon-size(20px);
}

.table__subtext {
  display: inline;
  margin-right: -$spacing-2xs;
  vertical-align: middle;
  color: $text-03;
}

.table .notification-message {
  justify-content: center;
}

// -------------------------
// Status
// -------------------------
.table tr:hover > td {
  background: $hover-row;
}

.table .tr--selected td,
.table .tr--selected:hover td {
  background-color: $ui-01 !important;
  color: $active-primary !important;
}

// -------------------------
// Theme - table--primary
// -------------------------
.table--primary tr:nth-child(2n + 1) td {
  background-color: $odd-row;
}

.table--primary th {
  background-color: $ui-02;
  border-bottom: 1px solid $ui-04;
}

// -------------------------
// Theme - table--secondary
// -------------------------
.table--secondary tr:nth-child(2n) td {
  background-color: $odd-row;
}

.table--secondary tr:hover > td {
  background: $ui-01;
}

.table--secondary th {
  background-color: $hover-row;
}

.table--secondary th + th {
  &:after {
    content: "";
    width: rem(1px);
    height: rem(14px);
    background-color: $ui-04;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    left: -1px;
  }
}

// -------------------------
// Theme - table--horizontal
// ------------------------
.table--horizontal tr:nth-child(2n) td {
  background-color: $ui-02;
}

.table--horizontal th {
  text-align: left;
}

// -------------------------
// Theme - table--description
// -------------------------
.table--description tr:hover > td {
  background-color: $ui-02;
}

// -------------------------
// Table overwrite
// -------------------------
.table__color-picker {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__color-picker-button {
  @include button-normal;
  position: relative;
  width: 26px;
  height: 26px;
  background-color: $ui-02;
  border-radius: 50%;
  border: 1px solid $ui-04;
  vertical-align: middle;
}

.table__color-picker-inner {
  position: absolute;
  width: 19px;
  height: 19px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.text-input.table__color-picker-input {
  width: 80px;
  margin-left: $spacing-2xs;
}

// -------------------------
// size
// -------------------------
.table--sm th,
.table--sm td {
  height: $button-height-md;
  font-size: rem(13px);
}

.td--gap-sm td {
  padding: $spacing-3xs $spacing-2xs;
}

// -------------------------
// table complexe type
// -------------------------
.table-wrap {
  display: block;
  // flex-direction: column;
}

.table__toolbar {
  display: flex;
  margin-bottom: $spacing-2xs;
}

.table__toolbar-right-box {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.table__toolbar-title {
  @include text-overflow();
  @include font-weight("regular");
  @include font-size("13");
  @include line-height("heading");
  color: $text-02;
}

.table__foot {
  margin-top: $spacing-xs;
}

// -------------------------
// table scroll
// -------------------------
.table-scroll {
  height: 100%;
  border: 1px solid $ui-04;
}

.table-scroll .table {
  border: 0;
}

.table-scroll thead {
  border-bottom: 1px solid $ui-04;
}

th .button {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
}

// -------------------------
// table ellipsis
// -------------------------
.table--ellipsis {
  table-layout: fixed;
}

.table--ellipsis td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

// -------------------------
// table summary, details
// -------------------------
.table__summary-target {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.table__summary-target-text {
  @include text-overflow;
}

.table__summary-target-text:hover {
  text-decoration: underline;
}

.table__summary-icon {
  display: none;
}

.table__details {
  display: none;
}

.table__summary:hover .table__summary-icon {
  display: inline-flex;
}

.table__summary--selected .table__summary-icon {
  display: inline-flex;
  transform: rotate(-180deg);
}

.table__summary--selected + .table__details {
  display: table-row;
}
