.tab {
  display: flex;
  position: relative;
}

.tab__bar {
  position: relative;
  display: flex;
  border-right: 0;
}

.tab__item {
  @include stable-padding(0, $spacing-sm);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  height: $button-height-lg;
  background-color: $ui-02;
  transition-duration: $duration-fast-02;
  transition-timing-function: ease-in-out;

  &:hover .tab__button-text {
    color: $text-01;
  }
}

.tab__item--selected {
  &:hover .tab__button-text {
    color: $primary;
  }
}

.tab__item--selected .tab__button-text {
  color: $primary;
}

.tab__item--selected::after {
  content: "";
  position: absolute;
  background-color: $primary;
}

.tab__item--disabled {
  .tab__button {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover {
    .tab__button-text {
      color: $text-02;
    }
  }
}

.tab__button {
  @include button-normal;
  // flex: 1;
  height: 100%;
  // width: 100%;
  background-color: transparent;
  padding: 0;
}

.tab__button-text {
  @include text-overflow;
  color: $text-02;
}

.tab__contents {
  display: none;
  padding: $spacing-sm;
}

.tab__contents--active {
  display: block;
}

.tab__panel {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

.tab__remove-button {
  @include button-normal;
  background-color: $ui-02;
  width: rem(18px);
  height: rem(18px);
  margin-left: $spacing-2xs;
  padding: 0;
  border-radius: $field-border-radius;
  fill: $icon-01;

  &:hover {
    background-color: $hover-row;
  }

  &:active {
    background-color: $hover-row;

    .svg-icon {
      fill: $primary;
    }
  }
}

// -------------------------
// modifier: horizontal
// -------------------------
.tab--horizontal {
  flex: 1;
  flex-direction: column;

  .tab__bar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: $ui-04;
  }

  .tab__item {
    padding-bottom: 2px;
  }

  .tab__item--selected::after {
    z-index: z("float");
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }

  &.tab__item--selected,
  & .tab__item--selected + .tab__item {
    border-left-color: transparent;
  }
}

// -------------------------
// modifier: vertical
// -------------------------
.tab--vertical {
  .tab__bar {
    flex-direction: column;
    border-right: 2px solid $ui-04;
  }

  .tab__item--selected::after {
    top: 0;
    right: -2px;
    width: 2px;
    height: 100%;
  }

  .tab__button {
    justify-content: flex-start;
  }
}

// -------------------------
// modifier: container theme
// -------------------------
.tab--container {
  .tab__bar:after {
    content: none;
  }

  .tab__item {
    background-color: $hover-field-border;
    border-bottom: 1px solid $ui-04;

    &:hover {
      background-color: darken($hover-field-border, 6%);
    }

    &:hover .tab__button-text {
      color: rgba($text-04, 0.85);
    }
  }

  .tab__item--selected {
    background-color: $ui-01;
    border-bottom-color: transparent;
    border-left-color: transparent;

    &:hover {
      background-color: $ui-01;
    }

    &:hover .tab__button-text {
      color: $text-03;
    }

    &::after {
      display: none;
    }
  }

  .tab__item--selected .tab__button-text {
    color: $text-03;
  }

  .tab__item--disabled {
    &:hover {
      background-color: $hover-field-border;
    }
  }

  .tab__button-text {
    margin-top: 2px;
    color: rgba($text-04, 0.85);
  }

  &.tab--horizontal .tab__item {
    justify-content: center;
    border-left: 1px solid $ui-04;

    &:first-child {
      border-left-color: transparent;
    }
  }

  &.tab--vertical .tab__bar {
    border-right: 0;
  }
}
