// -------------------------
// Table
// -------------------------
.table {
  width: 100%;
  border: 1px solid $ui-04;
  caption {
    @include font-weight("light");
    @include font-size("12");
    margin-bottom: $spacing-xs;
    color: $text-03;
    text-align: left;
  }

  th,
  td {
    @include font-weight("regular");
    @include font-size("14");
    position: relative;
    height: $button-height-lg;
    padding: $spacing-2xs $spacing-xs;
    color: $text-02;
    vertical-align: middle;
    overflow-wrap: break-word;
    word-break: keep-all;
    line-height: 1.3;
  }

  tr {
    &:hover > td {
      background-color: $hover-row;
    }
  }

  .tr--selected td,
  .tr--selected:hover td {
    background-color: $ui-01 !important;
    color: $active-primary !important;
  }

  th {
    position: relative;
    .button {
      display: inline-block;
      vertical-align: middle;
      margin-top: -$spacing-2xs;
    }
  }

  td {
    background-color: $ui-02;
  }

  &__action-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    .button + .button {
      margin-left: $spacing-2xs;
    }
  }

  &__icon {
    display: inline-block;
    height: rem(20px);
    vertical-align: middle;

    .svg-icon {
      @include svg-icon-size(20px);
    }
  }

  &__subtext {
    display: inline;
    margin-right: -$spacing-2xs;
    vertical-align: middle;
    color: $text-03;
  }

  .notification-message {
    justify-content: center;
  }

  &--action-buttons-hidable {
    .table--action-buttons {
      display: none;
    }

    tr:hover .table__action-buttons {
      display: flex;
    }

    td {
      position: relative;
    }

    .table__action-buttons {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      background-color: $ui-01;
      transform: translate(-50%, -50%);
    }
  }
  // -------------------------
  // Theme - table--primary
  // -------------------------
  &--primary {
    tr:nth-child(2n + 1) td {
      background-color: $odd-row;
    }

    tr:nth-child(2n + 1):hover td {
      background-color: $hover-row;
    }

    th {
      background-color: $ui-02;
      border-bottom: 1px solid $ui-04;
    }
  }

  // -------------------------
  // Theme - table--secondary
  // -------------------------
  &--secondary {
    tr {
      &:nth-child(2n) td {
        background-color: $odd-row;
      }

      td.table__notification {
        background-color: $ui-02;
        text-align: left;
      }

      &:hover > td {
        background: $ui-01;
      }
    }

    .table__notification .notification-message {
      justify-content: left;
      padding-left: $spacing-2xs;
    }

    th {
      background-color: $hover-row;

      & + & {
        &:after {
          content: "";
          width: rem(1px);
          height: rem(14px);
          background-color: $ui-04;
          position: absolute;
          top: 50%;
          margin-top: rem(-7px);
          left: rem(-1px);
        }
      }
    }
  }

  // -------------------------
  // Theme - table--horizontal
  // ------------------------
  &--horizontal {
    tr:nth-child(2n) td {
      background-color: $ui-02;
    }

    th {
      text-align: left;
    }
  }

  // -------------------------
  // Theme - table--description
  // -------------------------
  &--description {
    tr:hover > td {
      background-color: $ui-02;
    }
  }

  // -------------------------
  // size
  // -------------------------
  &--sm {
    th,
    td {
      @include font-size("13");
      height: $button-height-md;
    }
  }
  // -------------------------
  // table ellipsis
  // -------------------------
  &--ellipsis {
    table-layout: fixed;
    td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  // -------------------------
  // table cursor pointer
  // -------------------------
  &--cursor-pointer {
    tbody tr {
      cursor: pointer;
    }

    .notification-message {
      cursor: default;
    }
  }
}

// -------------------------
// Table overwrite
// -------------------------
.table__color-picker {
  display: flex;
  align-items: center;
  justify-content: center;

  &-button {
    @include button-normal;
    position: relative;
    width: rem(26px);
    height: rem(26px);
    background-color: $ui-02;
    border-radius: 50%;
    border: 1px solid $ui-04;
    vertical-align: middle;
  }

  &-inner {
    position: absolute;
    width: rem(19px);
    height: rem(19px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}

.text-input.table__color-picker-input {
  width: rem(80px);
  margin-left: $spacing-2xs;
}

.td--gap-sm td {
  padding: $spacing-3xs $spacing-2xs;
}

.table-wrap {
  display: block;
}

.table__toolbar {
  display: flex;
  margin-bottom: $spacing-2xs;

  &-right-box {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &-filter {
    display: flex;
    align-items: center;
  }

  &-title {
    @include text-overflow();
    @include font-weight("regular");
    @include font-size("13");
    @include line-height("heading");
    color: $text-02;
  }
}

.table__result-count-text {
  color: $text-02;
}

.table__result-count-filtered-text {
  margin-left: $spacing-xs;
  color: $text-02;
}

.table__footbar {
  display: flex;
  margin-top: $spacing-xs;
}

// -------------------------
// table summary, details
// -------------------------
.table__summary {
  &-target {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover .table__summary-icon {
      display: inline-flex;
    }
  }

  &-target-text {
    @include text-overflow;
    &:hover {
      text-decoration: underline;
    }
  }

  &-icon {
    display: none;
    margin-left: auto;
  }

  &--selected .table__summary-icon {
    display: inline-flex;
    transform: rotate(-180deg);
  }
}

// -------------------------
// table scroll
// -------------------------
.table-scroll {
  // height: 100%;
  border: 1px solid $ui-04;
  .table {
    border: 0;
  }

  thead {
    border-bottom: 1px solid $ui-04;
  }

  td {
    word-break: break-all;
  }
}
