// -------------------------
// Timepicker
// -------------------------
.time-picker {
  @include picker;
  // dropdown container
  &-container {
    @include list;
    flex: auto;
    height: rem(258px);
    width: 100%;
    min-width: rem(128px);
  }

  &-container__list {
    width: 33.33%;
    overflow-y: auto;

    &:not(:last-child) {
      border-right: 1px solid $ui-04;
    }
  }

  &-container__button {
    text-align: center;
  }

  &-container__list + &-container__list::before {
    display: none;
  }
}
