// -------------------------
// Tooltip - Studio
// -------------------------
.tooltip-studio {
  z-index: z("tooltip");
  position: absolute;
  max-width: rem(480px);
  padding: $spacing-sm;
  background-color: $text-03;
  border-radius: 4px;
  box-shadow: 0 rem(4px) rem(8px) 0 rgba(0, 0, 0, 0.07);
  transition-duration: $duration-fast-02;
  transition-timing-function: ease-in-out;
  // white-space: nowrap;

  &__arrow {
    position: absolute;
    width: rem(8px);
    height: rem(8px);
    background-color: $text-03;
    border: 1px solid $text-03;
    transform: rotate(45deg);
    content: "";
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @include font-size("14");
    @include font-weight("medium");
    @include line-height("heading");
    color: $text-04;
  }

  &__text {
    @include font-size("13");
    @include line-height("body");
    color: $text-04;
    white-space: nowrap;
  }

  &__text a {
    color: $text-04;
  }

  // Tooltip 위로 위치
  &--top {
    .tooltip-studio__arrow {
      top: calc(100% - 4px);
      left: 50%;
      margin-left: -$spacing-2xs;
      border-width: 0 1px 1px 0;
    }
  }

  // // Tooltip 아래로 위치
  &--bottom {
    .tooltip-studio__arrow {
      top: rem(-4px);
      left: 50%;
      margin-left: -$spacing-2xs;
      border-width: 1px 0 0 1px;
    }
  }

  // Tooltip 왼쪽으로 위치
  &--left {
    .tooltip-studio__arrow {
      top: 50%;
      right: rem(-4px);
      margin-top: -$spacing-2xs;
      border-width: 1px 1px 0 0;
    }
  }

  // Tooltip 오른쪽으로 위치
  &--right {
    .tooltip-studio__arrow {
      top: 50%;
      left: rem(-4px);
      margin-top: -$spacing-2xs;
      border-width: 0 0 1px 1px;
    }
  }

  &--top-right {
    .tooltip-studio__arrow {
      top: calc(100% - 4px);
      right: rem(12px);
      border-width: 0 1px 1px 0;
    }
  }

  &--top-left {
    .tooltip-studio__arrow {
      top: calc(100% - 4px);
      left: rem(12px);
      border-width: 0 1px 1px 0;
    }
  }

  &--bottom-right {
    .tooltip-studio__arrow {
      top: rem(-4px);
      right: rem(12px);
      border-width: 1px 0 0 1px;
    }
  }

  &--bottom-left {
    .tooltip-studio__arrow {
      top: rem(-4px);
      left: rem(12px);
      border-width: 1px 0 0 1px;
    }
  }

  &--right-top {
    .tooltip-studio__arrow {
      top: rem(8px);
      left: rem(-4px);
      border-width: 0 0 1px 1px;
    }
  }

  &--right-bottom {
    .tooltip-studio__arrow {
      bottom: rem(8px);
      left: rem(-4px);
      border-width: 0 0 1px 1px;
    }
  }

  &--left-top {
    .tooltip-studio__arrow {
      top: rem(8px);
      right: rem(-4px);
      border-width: 1px 1px 0 0;
    }
  }

  &--left-bottom {
    .tooltip-studio__arrow {
      bottom: rem(8px);
      right: rem(-4px);
      border-width: 1px 1px 0 0;
    }
  }

  // -------------------------
  // Theme - tooltip--light
  // ------------------------

  &--light {
    background-color: $ui-01;
    box-shadow: 0 rem(2px) rem(12px) rem(2px) rgba(0, 0, 0, 0.14);

    .tooltip-studio__arrow {
      background-color: $ui-01;
      border-color: darken($ui-01, 8%);
    }

    .tooltip-studio__title {
      color: $text-02;
    }

    .tooltip-studio__text {
      color: $text-02;
    }

    .tooltip-studio__text a {
      color: $text-02;
    }
  }
}
