// -------------------------
// Transfer
// -------------------------
.transfer {
  display: flex;
}

.transfer-list {
  @include list;
  @include list--hidable;
  display: flex;
  flex-direction: column;
  border: 1px solid $ui-04;
  background-color: $ui-02;
  color: $text-01;
  // transfer-list일 때만 추가되는 스타일
  width: calc(50% - 32px);
  position: relative;
}

.transfer-list__list {
  width: 100%;
  height: 100%;
}

.transfer-list__head {
  padding: $spacing-xs;
  background-color: $ui-01;
}

.transfer-list__head-title {
  @include font-weight("medium");
  @include text-overflow(100%);
  display: flex;
  align-items: center;
  color: $text-02;
  margin-bottom: $spacing-2xs;
}

.transfer-list__head-title-text {
  flex: 1;
}

.transfer-list__head-toolbar {
  display: flex;
}

.transfer-list__head-toolbar .text-input-group {
  width: 100%;
}

.transfer-list__head-toolbar-button {
  margin-left: $spacing-2xs;
}

.transfer-list__item {
  border-bottom: 1px solid $hover-row;

  &:last-child {
    border-bottom: 0;
  }
}

.transfer-list__options {
  display: flex;
  height: rem(40px);
  padding: $spacing-xs;
  border-bottom: 1px solid $ui-04;
}

.transfer-list__options-count {
  display: flex;
  flex-shrink: 0;
  margin-left: auto;
  color: $text-02;
}

.transfer-list__options-count-selected {
  margin-right: $spacing-2xs;
}

.transfer-list__options-count-all {
  margin-left: $spacing-2xs;
}

.transfer-list__body {
  overflow: auto;
}

.transfer-list__toggle-switch {
  z-index: z("overlay") + 1;
}

.transfer-list--disabled {
  border-color: rgba($ui-04, 0.6);
  &::after {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $overlay-02;
    z-index: z("overlay");
    cursor: not-allowed;
    content: "";
  }
}

.transfer__handler {
  align-self: center;
  display: flex;
  flex-direction: column;
  margin: 0 $spacing-md;
}

.transfer__handler .button:first-child {
  margin-bottom: $spacing-xs;
}
