// themes.scss의 색상 재설정
$primary: #ff4284;
$secondary: #b042ff;
$ui-01: #ffe4e4;
$ui-02: #FFFFFF;
$ui-03: #f3c9c9;
$ui-04: #e8dcdc;
$text-01: #4d2631;
$text-02: #634949;
$text-03: #9a7777;
$text-04: #FFFFFF;
