<div class="modal modal--sm" style="position: static;">
  <div class="modal__body modal__body--sm">
    <div class="condition__body">
      <form class="form form--vertical">
        <div class="form__item">
          <label class="form__label">
            <span class="form__label-text">값</span>
          </label>
          <div class="form__detail">
            <div class="code__pre h-120">
              <pre>{% if input_1 %}
abc
{% else %}
efg
{% endif %}</pre>
            </div>
          </div>
        </div>
        <div class="form__item">
          <label class="form__label">
            <span class="form__label-text">조건</span>
          </label>
          <div class="form__detail">
            <div class="code__pre h-84">
              <pre>텍스트에 포함
ab</pre>
            </div>
          </div>
        </div>
        <div class="form__item">
          <label class="form__label">
            <span class="form__label-text">결과</span>
          </label>
          <div class="form__detail">
            <div class="code__pre h-84">
              <pre>거짓</pre>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--tertiary button--lg" type="button">
        <span>닫기</span>
      </button>
    </div>
  </div>
</div>