
<!-- 메시지관리 모달 -->
<div class="modal modal--md" style="position: static;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">메시지관리</span>
    </div>
    <div class="modal__head-close-button">
      <button class="button button--icon button--link button--sm">
        <svg class="svg-icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="modal__body">
    <div class="dynamic-list">
      <div class="dynamic-list__toolbar">
        <div class="dynamic-list__filter h-group">
          <div class="select select">
            <div class="select-selector">
              <button class="select-selector__button" type="button">
                <span class="select-selector__title">유형</span>
                <svg class="svg-icon select-selector__icon" aria-hidden="true">
                  <use xlink:href="#chevron-down-medium"></use>
                </svg>
              </button>
            </div>
            <div class="select-container">
              <ul class="select-container__list">
                <li class="select-container__item">
                  <button class="select-container__button" type="button">
                    <span class="select-container__text">전체</span>
                  </button>
                </li>
                <li class="select-container__item select-container__item--selected">
                  <button class="select-container__button" type="button">
                    <span class="select-container__text">사용</span>
                  </button>
                </li>
                <li class="select-container__item">
                  <button class="select-container__button" type="button">
                    <span class="select-container__text">미사용</span>
                  </button>
                </li>
              </ul>
            </div>
          </div>
          <div class="text-input-group">
            <input type="text" class="text-input" placeholder="placeholder text" value="alert 03">
            <button class="text-input-group__clear-button">
              <svg class="svg-icon" aria-hidden="true">
                <use xlink:href="#close"></use>
              </svg>
            </button>
          </div>
          <span>총 n개 항목</span>
        </div>
        <button class="button button--primary" type="button">
          <span class="button__text">새 메시지 추가</span>
        </button>
      </div>
      <div class="dynamic-list__wrap">
        <div class="dynamic-list__items dynamic-list__no-contents">
          <div class="notification-message notification-message--info">
            <svg class="notification-message__icon svg-icon" aria-hidden="true">
              <use xlink:href="#info-fill"></use>
            </svg>
            <span class="notification-message__text">메시지를 추가하세요.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__foot">
    <button class="button button--danger button--lg" type="button">
      <span>초기화</span>
    </button>
    <div class="modal__foot-main-buttons">
      <button class="button button--link button--lg" type="button">
        <span>취소</span>
      </button>
      <button class="button button--primary button--lg" type="button">
        <span>저장</span>
      </button>
    </div>
  </div>
</div>
<!-- // 메시지관리 모달 -->
