<!-- 객체 편의기능 모달 -->
<div class="modal modal--md" style="position: static;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">객체 목록</span>
      <span class="modal__head-subtitle">전체 7개</span>
    </div>
    <div class="modal__head-toolbar">
      <div class="select select--open select--right">
        <div class="select-selector">
          <button class="select-selector__button" type="button">
            <span class="select-selector__title">전체</span>
            <svg class="svg-icon select-selector__icon">
              <use xlink:href="#chevron-down-medium"></use>
            </svg>
          </button>
        </div>
        <div class="select-container w-260">
          <ul class="select-container__list">
            <li class="select-container__item">
              <div class="checkbox checkbox--indeterminate">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <span class="select-container__text">전체 선택</span>
                </label>
              </div>
            </li>
            <li class="select-container__item select-container__item--selected">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label" checked>
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#data"></use>
                  </svg>
                  <span class="select-container__text">데이터</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-chart"></use>
                  </svg>
                  <span class="select-container__text">차트</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-map"></use>
                  </svg>
                  <span class="select-container__text">map</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-button"></use>
                  </svg>
                  <span class="select-container__text">button</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-rectangle"></use>
                  </svg>
                  <span class="select-container__text">rectangle</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-circle"></use>
                  </svg>
                  <span class="select-container__text">circle</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-tab"></use>
                  </svg>
                  <span class="select-container__text">tab</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-image"></use>
                  </svg>
                  <span class="select-container__text">image</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-label"></use>
                  </svg>
                  <span class="select-container__text">label</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-combobox"></use>
                  </svg>
                  <span class="select-container__text">combobox</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-checkbox-selected"></use>
                  </svg>
                  <span class="select-container__text">checkbox-selected</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-calendar-setting"></use>
                  </svg>
                  <span class="select-container__text">calendar-setting</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-date-time"></use>
                  </svg>
                  <span class="select-container__text">date-time</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-edit-box"></use>
                  </svg>
                  <span class="select-container__text">edit-box</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-list"></use>
                  </svg>
                  <span class="select-container__text">list</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-tag"></use>
                  </svg>
                  <span class="select-container__text">tag</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-renew"></use>
                  </svg>
                  <span class="select-container__text">renew</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-url"></use>
                  </svg>
                  <span class="select-container__text">url</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-html"></use>
                  </svg>
                  <span class="select-container__text">html</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-popup"></use>
                  </svg>
                  <span class="select-container__text">popup</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-portlet"></use>
                  </svg>
                  <span class="select-container__text">portlet</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-hidden-input"></use>
                  </svg>
                  <span class="select-container__text">hidden-input</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-upload"></use>
                  </svg>
                  <span class="select-container__text">upload</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-text-input"></use>
                  </svg>
                  <span class="select-container__text">text-input</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-text-field"></use>
                  </svg>
                  <span class="select-container__text">text-field</span>
                </label>
              </div>
            </li>
            <li class="select-container__item">
              <div class="checkbox">
                <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                <label for="list-check-01" class="checkbox__label">
                  <svg class="svg-icon select-container__icon">
                    <use xlink:href="#object-condition"></use>
                  </svg>
                  <span class="select-container__text">condition</span>
                </label>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="modal__head-close-button">
      <button class="button button--icon button--link button--sm">
        <svg class="svg-icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="modal__body">
    <div class="list list--expandable list--border-reset">
      <div class="list__head">
        <div class="checkbox checkbox--indeterminate list__head-checkbox">
          <input id="list-check-00" type="checkbox" class="checkbox__input" value="label">
          <label for="list-check-00" class="checkbox__label">
          </label>
        </div>
        <button class="button button--link px-6">
          <div class="button__text">선택객체삭제</div>
        </button>
        <div class="list__head-right-box">
          <button class="button button--link px-6">
            <div class="button__text">전체 접기</div>
          </button>
        </div>
      </div>
      <div class="list__body overflow-y mh-480">
        <ul class="list__list">
          <li class="list__item">
            <div class="list__summary">
              <div class="list__summary-content">
                <div class="checkbox">
                  <input id="list-check-01" type="checkbox" class="checkbox__input" value="label">
                  <label for="list-check-01" class="checkbox__label">
                  </label>
                </div>
                <button class="list__button" type="button">
                  <svg class="svg-icon list__icon">
                    <use xlink:href="#data"></use>
                  </svg>
                  <span class="list__text">checkable list item text</span>
                </button>
              </div>
              <div class="list__action-buttons">
                <button class="list__action-button" type="button">
                  <span class="button__text">연결정보확인(1)</span>
                  <svg class="list__expand-icon svg-icon">
                    <use xlink:href="#chevron-down-medium"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="list__details">
              <ul class="list__details-list">
                <li class="list__details-item">
                  <div class="list__details-item-trigger">
                    <span class="list__details-item-trigger-layer">Layer 1</span>
                    <span class="list__details-item-trigger-text">← 실행</span>
                  </div>
                  <div class="list__details-item-component">
                    <svg class="svg-icon">
                      <use xlink:href="#object-button"></use>
                    </svg>
                    <span class="list__details-item-component-text">Button-01</span>
                  </div>
                  <div class="list__details-action-buttons">
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#prev"></use>
                      </svg>
                    </button>
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#unlink"></use>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="list__item list__item--selected">
            <div class="list__summary">
              <div class="list__summary-content">
                <div class="checkbox checkbox--checked">
                  <input id="list-check-02" type="checkbox" class="checkbox__input" value="label" checked="">
                  <label for="list-check-02" class="checkbox__label">
                  </label>
                </div>
                <button class="list__button" type="button">
                  <svg class="svg-icon list__icon">
                    <use xlink:href="#data"></use>
                  </svg>
                  <span class="list__text">checkable list item text selected</span>
                </button>
              </div>
              <div class="list__action-buttons">
                <button class="list__action-button" type="button">
                  <span class="button__text">연결정보확인(1)</span>
                  <svg class="list__expand-icon svg-icon">
                    <use xlink:href="#chevron-down-medium"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="list__details">
              <ul class="list__details-list">
                <li class="list__details-item">
                  <div class="list__details-item-trigger">
                    <span class="list__details-item-trigger-layer">Layer 1</span>
                    <span class="list__details-item-trigger-text">→ 데이터연결 data connected</span>
                  </div>
                  <div class="list__details-item-component">
                    <svg class="svg-icon">
                      <use xlink:href="#object-button"></use>
                    </svg>
                    <span
                      class="list__details-item-component-text">Button-01Button-01Button-01Button-01Button-01Button-01Button-01</span>
                  </div>
                  <div class="list__details-action-buttons">
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#prev"></use>
                      </svg>
                    </button>
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#unlink"></use>
                      </svg>
                    </button>
                  </div>
                </li>
                <li class="list__details-item">
                  <div class="list__details-item-trigger">
                    <span class="list__details-item-trigger-layer">Layer 1</span>
                    <span class="list__details-item-trigger-text">→ 데이터연결 data connected</span>
                  </div>
                  <div class="list__details-item-component">
                    <svg class="svg-icon">
                      <use xlink:href="#object-condition"></use>
                    </svg>
                    <span class="list__details-item-component-text">condition</span>
                  </div>
                  <div class="list__details-action-buttons">
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#prev"></use>
                      </svg>
                    </button>
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#unlink"></use>
                      </svg>
                    </button>
                  </div>
                </li>
                <li class="list__details-item">
                  <div class="list__details-item-trigger">
                    <span class="list__details-item-trigger-layer">Layer 1</span>
                    <span class="list__details-item-trigger-text">→ 데이터연결 data connected</span>
                  </div>
                  <div class="list__details-item-component">
                    <svg class="svg-icon">
                      <use xlink:href="#object-text-input"></use>
                    </svg>
                    <span class="list__details-item-component-text">Input-01</span>
                  </div>
                  <div class="list__details-action-buttons">
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#prev"></use>
                      </svg>
                    </button>
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#unlink"></use>
                      </svg>
                    </button>
                  </div>
                </li>
                <li class="list__details-item">
                  <div class="list__details-item-trigger">
                    <!-- <span class="list__details-item-trigger-layer">Layer 1</span> -->
                    <span class="list__details-item-trigger-text">→ 데이터연결 data connected</span>
                  </div>
                  <div class="list__details-item-component">
                    <svg class="svg-icon">
                      <use xlink:href="#object-button"></use>
                    </svg>
                    <span
                      class="list__details-item-component-text">Button-01Button-01Button-01Button-01Button-01Button-01Button-01</span>
                  </div>
                  <div class="list__details-action-buttons">
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#prev"></use>
                      </svg>
                    </button>
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#unlink"></use>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="list__item list__item--disabled">
            <div class="list__summary">
              <div class="list__summary-content">
                <div class="checkbox checkbox--disabled">
                  <input id="list-check-03" type="checkbox" class="checkbox__input" value="label" disabled="">
                  <label for="list-check-03" class="checkbox__label">
                  </label>
                </div>
                <button class="list__button" type="button">
                  <svg class="svg-icon list__icon">
                    <use xlink:href="#data"></use>
                  </svg>
                  <span class="list__text">checkable list item text disabled</span>
                </button>
              </div>
              <div class="list__action-buttons">
                <button class="list__action-button" type="button">
                  <span class="button__text">연결정보확인(1)</span>
                  <svg class="list__expand-icon svg-icon">
                    <use xlink:href="#chevron-down-medium"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="list__details">
              <ul class="list__details-list">
                <li class="list__details-item">
                  <div class="list__details-item-trigger">
                    <span class="list__details-item-trigger-layer">Layer 1</span>
                    <span class="list__details-item-trigger-text">← 실행</span>
                  </div>
                  <div class="list__details-item-component">
                    <svg class="svg-icon">
                      <use xlink:href="#object-button"></use>
                    </svg>
                    <span class="list__details-item-component-text">Button-01</span>
                  </div>
                  <div class="list__details-action-buttons">
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#prev"></use>
                      </svg>
                    </button>
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#unlink"></use>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="list__item list__item--selected list__item--disabled">
            <div class="list__summary">
              <div class="list__summary-content">
                <div class="checkbox checkbox--disabled">
                  <input id="list-check-03" type="checkbox" class="checkbox__input" value="label" checked=""
                    disabled="">
                  <label for="list-check-03" class="checkbox__label">
                  </label>
                </div>
                <button class="list__button" type="button">
                  <svg class="svg-icon list__icon">
                    <use xlink:href="#data"></use>
                  </svg>
                  <span class="list__text">checkable list item text selected disabled</span>
                </button>
              </div>
              <div class="list__action-buttons">
                <button class="list__action-button" type="button">
                  <span class="button__text">연결정보확인(1)</span>
                  <svg class="list__expand-icon svg-icon">
                    <use xlink:href="#chevron-down-medium"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="list__details">
              <ul class="list__details-list">
                <li class="list__details-item">
                  <div class="list__details-item-trigger">
                    <!-- <span class="list__details-item-trigger-layer">Layer 1</span> -->
                    <span class="list__details-item-trigger-text">← 실행</span>
                  </div>
                  <div class="list__details-item-component">
                    <svg class="svg-icon">
                      <use xlink:href="#object-button"></use>
                    </svg>
                    <span class="list__details-item-component-text">Button-01</span>
                  </div>
                  <div class="list__details-action-buttons">
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#prev"></use>
                      </svg>
                    </button>
                    <button class="button button--icon button--link button--sm list__details-action-button"
                      type="button">
                      <svg class="svg-icon">
                        <use xlink:href="#unlink"></use>
                      </svg>
                    </button>
                  </div>
                </li>
              </ul>
            </div>
          </li>
          <li class="list__item list__item--selected list__item--disabled">
            <div class="list__summary">
              <div class="list__summary-content">
                <div class="checkbox checkbox--disabled">
                  <input id="list-check-03" type="checkbox" class="checkbox__input" value="label" checked=""
                    disabled="">
                  <label for="list-check-03" class="checkbox__label">
                  </label>
                </div>
                <button class="list__button" type="button">
                  <svg class="svg-icon list__icon">
                    <use xlink:href="#data"></use>
                  </svg>
                  <span class="list__text">checkable list item text selected disabled</span>
                </button>
              </div>
              <div class="list__action-buttons">
                <button class="list__action-button" type="button">
                  <span class="button__text">연결정보확인(1)</span>
                  <svg class="list__expand-icon svg-icon">
                    <use xlink:href="#chevron-down-medium"></use>
                  </svg>
                </button>
              </div>
            </div>
            <div class="list__details">
              <div class="list__details-inner">
                <div class="notification-message notification-message--info">
                  <svg class="notification-message__icon svg-icon">
                    <use xlink:href="#info-fill"></use>
                  </svg>
                  <span class="notification-message__text">Notification Message</span>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--tertiary button--lg" type="button">
        <span>닫기</span>
      </button>
    </div>
  </div>
</div>
<!-- // 객체 편의기능 모달 -->