
<!-- 다른 이름으로 저장 모달 -->
<div class="modal modal--sm" style="position: static;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">다른 이름으로 저장하기</span>
    </div>
    <span class="modal__head-close-button">
      <button class="button button--icon button--link button--xs">
        <svg class="svg-icon">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </span>
  </div>
  <div class="modal__body modal__body--lg">
    <div class="form form--vertical">
      <div class="form__list">
        <div class="form__item">
          <label class="form__label">
            <span class="form__label-text">카테고리</span>
          </label>
          <div class="form__detail">
            <div class="form__detail-inner">
              <div class="select">
                <div class="select-selector">
                  <button class="select-selector__button" type="button">
                    <span class="select-selector__title">카테고리</span>
                    <svg class="svg-icon select-selector__icon">
                      <use xlink:href="#chevron-down-medium"></use>
                    </svg>
                  </button>
                </div>
                <div class="select-container">
                  <ul class="select-container__list">
                    <li class="select-container__item select-container__item--selected">
                      <button class="select-container__button" type="button">
                        <span class="select-container__text">1단계</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button">
                        <span class="select-container__text">2단계</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button">
                        <span class="select-container__text">3단계</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button">
                        <span class="select-container__text">4단계</span>
                      </button>
                    </li>
                    <li class="select-container__item">
                      <button class="select-container__button" type="button">
                        <span class="select-container__text">5단계</span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form__item">
          <label class="form__label">
            <span class="form__label-text">보고서 이름</span>
          </label>
          <div class="form__detail">
            <div class="form__detail-inner">
              <input type="text" class="text-input" placeholder="보고서 이름을 입력하세요.">
              <div class="notification-message notification-message--inline notification-message--error">
                <svg class="notification-message__icon svg-icon">
                  <use xlink:href="#issue-fill"></use>
                </svg>
                <span class="notification-message__text">Notification Message</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--link button--lg" type="button">
        <span>취소</span>
      </button>
      <button class="button button--primary button--lg" type="button">
        <span>저장</span>
      </button>
    </div>
  </div>
</div>
<!-- // 다른 이름으로 저장 모달 -->
