<!-- 데이터 선택시 사이드 모달 -->
<div class="modal" style="position: static; width: 1000px;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">테이블 목록</span>
      <span class="modal__head-subtitle">IRIS > IRIS_180</span>
    </div>
  </div>
  <div class="modal__body">
    <div class="table-list-layout">
      @@include('src\style-product\html\partials\studio\common\table-list.html')
      <div class="select-content">
        <div class="modal__head">
          <div class="modal__head-title">
            <span class="modal__head-title-text">테이블 목록</span>
          </div>
          <div class="modal__head-close-button">
            <button class="button button--icon button--link button--sm">
              <svg class="svg-icon">
                <use xlink:href="#close"></use>
              </svg>
            </button>
          </div>
        </div>
        <div class="select-content__body">
          <div class="select-content__column">
            <div class="select-content__title">
              컬럼
            </div>
            <div class="overflow-x" style="max-width: 635px;">
              <table class="table table--primary select-content__table">
                <thead>
                  <tr>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- 선택 되었을 경우, tr--selected 클래스 추가-->
                  <tr>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="select-content__data">
            <div class="select-content__title">
              샘플데이터
              <span class="select-content__helper-text">16건</span>
            </div>
            <div class="overflow-auto" style="max-width: 635px; max-height: 296px;">
              <table class="table table--primary select-content__table">
                <thead>
                  <tr>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                    <th width="100px">항목 1</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- 선택 되었을 경우, tr--selected 클래스 추가-->
                  <tr>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                  </tr>
                  <tr>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                  </tr>
                  <tr>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                  </tr>
                  <tr>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                  </tr>
                  <tr>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                  </tr>
                  <tr>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                  </tr>
                  <tr>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                  </tr>
                  <tr>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                    <td width="100px">text</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--tertiary button--lg" type="button">
        <span>닫기</span>
      </button>
    </div>
  </div>
</div>
<!-- // 데이터 선택시 사이드 모달 -->