
<div class="modal" style="position: static; width: 340px;">
  <div class="modal__head">
    <div class="modal__head-title">
      <span class="modal__head-title-text">테이블 목록</span>
      <span class="modal__head-subtitle">IRIS > IRIS_180</span>
    </div>
  </div>
  <div class="modal__body">
    <div class="table-list-layout">
      @@include('../common/table-list.html')
    </div>
  </div>
  <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--tertiary button--lg" type="button">
        <span>닫기</span>
      </button>
    </div>
  </div>
</div>
