<div class="modal modal--sm" style="position: static;">
  <div class="modal__body modal__body--sm">
    <div class="condition__body">
      <form class="form form--vertical">
        <div class="form__item">
          <label class="form__label">
            <span class="form__label-text">DSL</span>
          </label>
          <div class="form__detail">
            <div class="code__pre h-120">
  <pre>내용이 출력되는 영역</pre>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--tertiary button--lg" type="button">
        <span>닫기</span>
      </button>
    </div>
  </div>
</div>
