<!-- 전체 변수명 보기 다이얼로그 -->
<div class="modal modal--md" style="position: static;">
  <!-- 내용 -->
  <div class="modal__body modal__body--sm">
    <div class="table-scroll">
      <table class="table table--secondary table--sm">
        <colgroup>
          <col width="140px">
          <col width="140px">
          <col>
        </colgroup>
        <thead>
          <tr>
            <th>오브젝트 ID</th>
            <th>변수 명</th>
            <th>변수 값</th>
          </tr>
        </thead>
      </table>
      <div class="overflow-y" style="max-height: 240px;">
        <table class="table table--secondary table--ellipsis">
          <colgroup>
            <col width="140px">
            <col width="140px">
            <col>
          </colgroup>
          <tbody>
            <tr class="table__summary">
              <td>
                row.id | typeIdFromId
              </td>
              <td>
                row.name
              </td>
              <td>
                <div class="table__summary-target" ng-click="">
                  <span class="table__summary-target-text">
                    {
                    "code": 0,
                    "message": "",
                    "fields": [
                    { "type": "INTEGER", "name": "no" },
                    { "type": "TEXT", "name": "agent_id" },
                  </span>
                  <button class="button button--icon button--link button--sm table__summary-icon">
                    <svg class="svg-icon">
                      <use xlink:href="#chevron-down-medium"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
            <!-- 아래 화살표 클릭했을때 확장 영역 -->
            <tr class="table__details">
              <td colspan="3">
                <pre class="break-all whitespace-pre-wrap">
{
"code": 0,
"message": "",
"fields": [
    { "type": "INTEGER", "name": "no" },
    { "type": "TEXT", "name": "agent_id" },
    { "type": "TEXT", "name": "host_name" },
    { "type": "TEXT", "name": "status" },
    { "type": "REAL", "name": "cpu" },
    { "type": "REAL", "name": "mem" },
    { "type": "TEXT", "name": "path_top1" },
    { "type": "TEXT", "name": "size_top1" "type": "TEXT", "name": "size_top1" "type": "TEXT", "name": "size_top1" }
    { "type": "REAL", "name": "usages_top1" },
    { "type": "REAL", "name": "inodes_top1" }
],
"results": [
    [ 1, "demo_master_01", "gcs1", "invalid", 0, 0, "-", "-", null, null ],
    [ 2, "demo_data_01", "gcs2", "invalid", 0, 0, "-", "-", null, null ],
    [ 3, "demo_data_02", "gcs3", "invalid", 0, 0, "-", "-", null, null ],
    // ... 중략 ...
]
}{
"code": 0,
"message": "",
"fields": [
  { "type": "INTEGER", "name": "no" },
  { "type": "TEXT", "name": "agent_id" },
  { "type": "TEXT", "name": "host_name" },
  { "type": "TEXT", "name": "status" },
  { "type": "REAL", "name": "cpu" },
  { "type": "REAL", "name": "mem" },
  { "type": "TEXT", "name": "path_top1" },
  { "type": "TEXT", "name": "size_top1" },
  { "type": "REAL", "name": "usages_top1" },
  { "type": "REAL", "name": "inodes_top1" }
],
"results": [
  [ 1, "demo_master_01", "gcs1", "invalid", 0, 0, "-", "-", null, null ],
  [ 2, "demo_data_01", "gcs2", "invalid", 0, 0, "-", "-", null, null ],
  [ 3, "demo_data_02", "gcs3", "invalid", 0, 0, "-", "-", null, null ],
  // ... 중략 ...
]
}
                </pre>
              </td>
            </tr>
            <tr class="table__summary table__summary--selected">
              <td>
                row.id | typeIdFromId
              </td>
              <td>
                row.name
              </td>
              <td>
                <div class="table__summary-target">
                  <span class="table__summary-target-text">
                    {
                    "code": 0,
                    "message": "",
                    "fields": [
                    { "type": "INTEGER", "name": "no" },
                    { "type": "TEXT", "name": "agent_id" },
                  </span>
                  <button class="button button--icon button--link button--sm table__summary-icon">
                    <svg class="svg-icon">
                      <use xlink:href="#chevron-down-medium"></use>
                    </svg>
                  </button>
                </div>
              </td>
            </tr>
            <!-- 아래 화살표 클릭했을때 확장 영역 -->
            <tr class="table__details">
              <td colspan="3">
                <pre>
{
"code": 0,
"message": "",
"fields": [
    { "type": "INTEGER", "name": "no" },
    { "type": "TEXT", "name": "agent_id" },
    { "type": "TEXT", "name": "host_name" },
    { "type": "TEXT", "name": "status" },
    { "type": "REAL", "name": "cpu" },
    { "type": "REAL", "name": "mem" },
    { "type": "TEXT", "name": "path_top1" },
    { "type": "TEXT", "name": "size_top1" "type": "TEXT", "name": "size_top1" "type": "TEXT", "name": "size_top1" }
    { "type": "REAL", "name": "usages_top1" },
    { "type": "REAL", "name": "inodes_top1" }
],
"results": [
    [ 1, "demo_master_01", "gcs1", "invalid", 0, 0, "-", "-", null, null ],
    [ 2, "demo_data_01", "gcs2", "invalid", 0, 0, "-", "-", null, null ],
    [ 3, "demo_data_02", "gcs3", "invalid", 0, 0, "-", "-", null, null ],
    // ... 중략 ...
]
}{
"code": 0,
"message": "",
"fields": [
  { "type": "INTEGER", "name": "no" },
  { "type": "TEXT", "name": "agent_id" },
  { "type": "TEXT", "name": "host_name" },
  { "type": "TEXT", "name": "status" },
  { "type": "REAL", "name": "cpu" },
  { "type": "REAL", "name": "mem" },
  { "type": "TEXT", "name": "path_top1" },
  { "type": "TEXT", "name": "size_top1" },
  { "type": "REAL", "name": "usages_top1" },
  { "type": "REAL", "name": "inodes_top1" }
],
"results": [
  [ 1, "demo_master_01", "gcs1", "invalid", 0, 0, "-", "-", null, null ],
  [ 2, "demo_data_01", "gcs2", "invalid", 0, 0, "-", "-", null, null ],
  [ 3, "demo_data_02", "gcs3", "invalid", 0, 0, "-", "-", null, null ],
  // ... 중략 ...
]
}
                  </pre>
              </td>
            </tr>
            <!-- 안내 메시지 -->
            <tr>
              <td colspan="3">
                <div class="notification-message notification-message--info">
                  <svg class="notification-message__icon svg-icon">
                    <use xlink:href="#info-fill"></use>
                  </svg>
                  <span class="notification-message__text">Notification Message</span>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button type="button" class="button button--tertiary button--lg">
        닫기
      </button>
    </div>
  </div>
</div>