<div class="modal modal--sm" style="position: absolute; top: 890px; right: 310px;">
  <div class="modal__body modal__body--sm over-flow-auto mh-320">
    <pre class="whitespace-pre-wrap break-all">
{% if input_1 %}
abc
{% else %}
efg
{% endif %}</pre>
  </div>
  <div class="modal__foot">
    <div class="modal__foot-main-buttons">
      <button class="button button--tertiary button--lg" type="button">
        닫기
      </button>
      <button type="button" class="button button--primary button--lg" ng-click="copyQueryToClipboard()">
        복사
      </button>
    </div>
  </div>
</div>
