
<div class="tooltip-studio tooltip-studio--light tooltip-studio--left period-setting-tooltip" style="position: absolute; top: 250px; left: 10px;">
  <span class="tooltip-studio__arrow"></span>
  <div class="period-setting-tooltip__head">
    <div class="period-setting-tooltip__head-title">
      <span class="period-setting-tooltip__head-title-text">비교 기간</span>
    </div>
    <span class="period-setting-tooltip__head-close-button">
      <button class="button button--icon button--link button--sm">
        <svg class="svg-icon" aria-hidden="true">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </span>
  </div>
  <div class="accordion">
    <div class="accordion__item">
      <!-- accordion__head--open 클래스 추가시 open -->
      <button class="accordion__head accordion__head--open">
        <svg class="accordion__head-icon svg-icon" aria-hidden="true">
          <use xlink:href="#chevron-right-medium"></use>
        </svg>
        <span class="accordion__head-title"> 미리 설정 </span>
      </button>
      <div class="accordion__body">
        <div class="row preset-period">
          <div class="col col-6 preset-period__col">
            <ul class="preset-period__list">
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">전체 시간</a>
              </li>
            </ul>
            <ul class="preset-period__list">
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 1분</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 10분</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 30분</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 60분</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 4시간</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 24시간</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 7일</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 2주</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 3주</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 4주</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 3개월</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 6개월</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 1년</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">최근 3년</a>
              </li>
            </ul>
          </div>
          <div class="col col-6 preset-period__col">
            <ul class="preset-period__list">
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">지난 1분</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link preset-period__link--selected">지난 10분</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">지난 60분</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">오늘</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">어제</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">이번 주</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">이전 주</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">이번 달</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">이전 달</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">이번 분기</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">이전 분기</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">이번 년도</a>
              </li>
              <li class="preset-period__item">
                <a href="#" class="preset-period__link">이전 년도</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion__item">
      <!-- accordion__head--open 클래스 추가시 open -->
      <button class="accordion__head accordion__head--open">
        <svg class="accordion__head-icon svg-icon" aria-hidden="true">
          <use xlink:href="#chevron-right-medium"></use>
        </svg>
        <span class="accordion__head-title"> 날짜 및 시간 범위 </span>
      </button>
      <div class="accordion__body">
        <div class="date-time-range">
          <div class="date-time-range__dates date-time-range__dates--selected">
            <strong class="date-time-range__title">시작</strong>
            <textarea class="text-area date-time-range__text-area" name="" id="" cols="12" rows="2">2021/01/25 03:04:07</textarea>
          </div>
          <svg class="svg-icon date-time-range__icon">
            <use xlink:href="#next"></use>
          </svg>
          <div class="date-time-range__dates">
            <strong class="date-time-range__title">종료</strong>
            <div class="checkbox">
              <input type="checkbox" id="ckb_dt_now_report_edit_tp_com_period" checked="checked" class="checkbox__input">
              <label for="ckb_dt_now_report_edit_tp_com_period" class="checkbox__label">현재 시간</label>
            </div>
            <textarea class="text-area date-time-range__text-area" name="" id="" cols="12" rows="2">2021/04/22 16:05:26</textarea>
          </div>
          <div class="date-picker-panel">
            <div class="date-picker-panel__body">
              @@include('../common/component-date-picker-calendar.html')
            </div>
            <div class="date-picker-panel__foot">
              @@include('../common/time-picker.html')
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="period-setting-tooltip__foot">
    <div class="notification-message notification-message--error">
      <svg class="notification-message__icon svg-icon" aria-hidden="true">
        <use xlink:href="#issue-fill"></use>
      </svg>
      <span class="notification-message__text">Notification Message</span>
    </div>
    <div class="period-setting-tooltip__foot-main-buttons">
      <button class="button button--primary button--lg">선택</button>
    </div>
  </div>
</div>
