
<div class="context-menu" style="position: absolute; top: 100px; left: 10px;">
  <ul class="context-menu__list">
    <li class="context-menu__item context-menu__item--submenu">
      <button class="context-menu__button" type="button">
        <span class="context-menu__text">Context Menu</span>
        <svg class="context-menu__submenu-icon svg-icon">
          <use xlink:href="#chevron-right-medium"></use>
        </svg>
      </button>
      <div class="context-submenu">
        <ul class="context-submenu__list">
          <li class="context-submenu__item">
            <button class="context-submenu__button" type="button">
              <span class="context-submenu__text">Submenu Item 1</span>
            </button>
          </li>
          <li class="context-submenu__item">
            <button class="context-submenu__button" type="button">
              <span class="context-submenu__text">Submenu Item 2</span>
            </button>
          </li>
        </ul>
      </div>
    </li>
    <li class="context-menu__item context-menu__item--selected">
      <button class="context-menu__button" type="button">
        <span class="context-menu__text">Context Menu Selected</span>
      </button>
    </li>
    <li class="context-menu__item context-menu__item--disabled">
      <button class="context-menu__button" type="button">
        <span class="context-menu__text">Context Menu Disabled</span>
      </button>
    </li>
    <li class="context-menu__item context-menu__item--selected context-menu__item--disabled">
      <button class="context-menu__button" type="button" title="menu1" disabled="">
        <span class="context-menu__text">Context Menu Selected Disabled</span>
      </button>
    </li>
  </ul>
</div>
