
<!-- 객체 메뉴바 -->
<div class="editor-layout-head__menu-bar">
  <!-- 객체 카테고리 -->
  <!-- select 선택시 select--selected 클래스 추가 -->
  <div class="select">
    <div class="select-selector w-130">
      <button class="select-selector__button" type="button">
        <span class="select-selector__title">카테고리</span>
        <svg class="svg-icon select-selector__icon">
          <use xlink:href="#chevron-down-medium"></use>
        </svg>
      </button>
    </div>
    <div class="select-container">
      <ul class="select-container__list">
        <li class="select-container__item">
          <button class="select-container__button" type="button">
            <span class="select-container__text">item 1</span>
          </button>
        </li>
        <li class="select-container__item">
          <button class="select-container__button" type="button">
            <span class="select-container__text">item 2</span>
          </button>
        </li>
        <li class="select-container__item">
          <button class="select-container__button" type="button">
            <span class="select-container__text">item 3</span>
          </button>
        </li>
        <li class="select-container__item">
          <button class="select-container__button" type="button">
            <span class="select-container__text">item 4</span>
          </button>
        </li>
        <li class="select-container__item">
          <button class="select-container__button" type="button">
            <span class="select-container__text">item 5</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <!-- 객체 목록 -->
  <div class="editor-layout-head__object-group">
    <ul class="editor-layout-head__object-list">
    <!-- 선택된 객체에 editor-layout-head__object-list-item--selected 클래스 추가 -->
      <!-- data -->
      <li class="editor-layout-head__object-list-item editor-layout-head__object-list-item--selected">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-data"></use>
          </svg>
        </button>
      </li>
      <!-- chart -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-chart"></use>
          </svg>
        </button>
      </li>
      <!-- map -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-map"></use>
          </svg>
        </button>
      </li>
      <!-- image -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-ima"></use>
          </svg>
        </button>
      </li>
      <!-- label -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-label"></use>
          </svg>
        </button>
      </li>
      <!-- shape - rectangle -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-rectangle"></use>
          </svg>
        </button>
      </li>
      <!-- shape - circle -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-circle"></use>
          </svg>
        </button>
      </li>
      <!-- image -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-image"></use>
          </svg>
        </button>
      </li>
      <!-- line -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-line"></use>
          </svg>
        </button>
      </li>
      <!-- text-input -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-text-input"></use>
          </svg>
        </button>
      </li>
      <!-- text-area -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-text-field"></use>
          </svg>
        </button>
      </li>
      <!-- combo -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-combobox"></use>
          </svg>
        </button>
      </li>
      <!-- check and radio -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-checkbox-selected"></use>
          </svg>
        </button>
      </li>
      <!-- date-picker -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-date-time"></use>
          </svg>
        </button>
      </li>
      <!-- date-time-range-picker -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-calendar-setting"></use>
          </svg>
        </button>
      </li>
      <!-- editor -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-edit-box"></use>
          </svg>
        </button>
      </li>
      <!-- button -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-button"></use>
          </svg>
        </button>
      </li>
      <!-- tab -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-tab"></use>
          </svg>
        </button>
      </li>
      <!-- list -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-list"></use>
          </svg>
        </button>
      </li>
      <!-- tag -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-tag"></use>
          </svg>
        </button>
      </li>
      <!-- period-setting -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-renew"></use>
          </svg>
        </button>
      </li>
      <!-- object-url -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-url"></use>
          </svg>
        </button>
      </li>
      <!-- html -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-html"></use>
          </svg>
        </button>
      </li>
      <!-- popup -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-popup"></use>
          </svg>
        </button>
      </li>
      <!-- portlet -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-portlet"></use>
          </svg>
        </button>
      </li>
      <!-- hidden-input -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-hidden-input"></use>
          </svg>
        </button>
      </li>
      <!-- upload -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-upload"></use>
          </svg>
        </button>
      </li>
      <!-- 신규 객체들 (임의 위치) -->
      <!-- condition -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-condition"></use>
          </svg>
        </button>
      </li>
      <!-- growth-rate -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-growth-rate"></use>
          </svg>
        </button>
      </li>
      <!-- slider -->
      <li class="editor-layout-head__object-list-item">
        <button class="button button--icon button--link">
          <svg class="svg-icon">
            <use xlink:href="#object-slider"></use>
          </svg>
        </button>
      </li>
      <!-- // 신규 객체들 -->
    </ul>
    <!-- 네비게이션 버튼 그룹 추가 -->
    <div class="editor-layout-head__navigation-button">
      <!-- 객체를 더 확인 할 수 없을 떄 버튼 비활성화 처리  -->
      <button class="button button--icon button--tertiary button--sm" disabled="disabled" type="button">
        <svg class="svg-icon" aria-hidden="true">
          <use xlink:href="#chevron-left-medium"></use>
        </svg>
      </button>
      <button class="button button--icon button--tertiary button--sm" type="button">
        <svg class="svg-icon" aria-hidden="true">
          <use xlink:href="#chevron-right-medium"></use>
        </svg>
      </button>
    </div>
  </div>
  <!-- 추가 기능 -->
  <div class="editor-layout-head__additinal-buttons">
    <button class="button button--link" type="button">메시지관리</button>
  </div>
  <!-- 객체 관련 기능 셀렉트 박스 -->
  <div class="select select--right select--open">
    <div class="select-selector">
      <button class="select-selector__button" type="button">
        <span class="select-selector__title">객체</span>
        <svg class="svg-icon select-selector__icon" aria-hidden="true">
          <use xlink:href="#chevron-down-medium"></use>
        </svg>
      </button>
    </div>
    <div class="select-container w-200">
      <ul class="select-container__list">
        <li class="select-container__item">
          <button class="select-container__button" type="button">
            <span class="select-container__text">객체목록 보기</span>
            <span class="select-container__subtext">Ctrl + F8</span>
          </button>
        </li>
        <!-- 선택 된 객체에 select-container__item--selected 클래스 추가 -->
        <li class="select-container__item">
          <button class="select-container__button" type="button">
            <span class="select-container__text">히든객체 숨김</span>
            <span class="select-container__subtext">Ctrl + F9</span>
          </button>
        </li>
        <li class="select-container__item">
          <button class="select-container__button" type="button">
            <span class="select-container__text">전체변수명 보기</span>
            <span class="select-container__subtext">Ctrl + F10</span>
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="toggle-button">
    <button class="toggle-button__item toggle-button__item--icon toggle-button__item--selected" type="button">
      <svg class="svg-icon">
        <use xlink:href="#fit-to-screen"></use>
      </svg>
    </button>
  </div>
</div>
