
<!-- 상단 바 -->
<div class="editor-layout-head__top-bar">
  <div class="editor-layout-head__title-wrap">
    <div class="editor-layout-head__title">
      <!-- 제목 수정시 editor-layout-head__title-text display: none;
        text-input display: block,  -->
      <span class="editor-layout-head__title-text">Untitled (01)</span>
      <input type="text" class="text-input" style="display: none;">
    </div>
    <!-- 제목 수정시 write button display: none;
        checkmark button display: block,  -->
    <button class="editor-layout-head__title-button button button--icon button--link" type="button" title="수정">
      <svg class="svg-icon">
        <use xlink:href="#write"></use>
      </svg>
    </button>
    <button class="editor-layout-head__title-button button button--icon button--link" type="button" title="확인" style="display: none;">
      <svg class="svg-icon">
        <use xlink:href="#checkmark"></use>
      </svg>
    </button>
  </div>
  <div class="editor-layout-head__action-buttons">
    <button class="button button--support" type="button">보기</button>
    <span class="division-line"></span>
    <button class="button button--primary" type="button">저장</button>
    <button class="button button--secondary" type="button">빠른저장</button>
    <button class="button button--tertiary" type="button">새로저장</button>
    <span class="division-line"></span>
    <button class="button button--tertiary" type="button">접근권한</button>
    <button class="button button--tertiary" type="button">목록으로</button>
    <span class="division-line"></span>
    <button class="button button--danger" type="button">전체삭제</button>
  </div>
</div>
