
<!-- 상단 바 -->
<div class="editor-layout-head__top-bar">
  <div class="editor-layout-head__title-wrap">
    <div class="editor-layout-head__title">
      <!-- 제목 수정시 editor-layout-head__title-text display: none;
        text-input display: block,  -->
      <h3 class="editor-layout-head__title-text">Untitled (01)</h3>
      <input type="text" class="text-input editor-layout-head__title-input" style="display: none;">
    </div>
    <!-- 제목 수정시 write button display: none;
        checkmark button display: block,  -->
    <button class="editor-layout-head__title-button button button--icon button--link" type="button" title="수정">
      <svg class="svg-icon">
        <use xlink:href="#write"></use>
      </svg>
    </button>
    <button class="editor-layout-head__title-button button button--icon button--link" type="button" title="확인" style="display: none;">
      <svg class="svg-icon">
        <use xlink:href="#checkmark"></use>
      </svg>
    </button>
  </div>
  <div class="editor-layout-head__responsive">
    <div class="h-group">
      <div class="select">
        <div class="select-selector">
          <button class="select-selector__button" type="button">
            <svg class="svg-icon" aria-hidden="true">
              <use xlink:href="#zoom"></use>
            </svg>
            <span class="select-selector__title">100%</span>
            <svg class="svg-icon select-selector__icon">
              <use xlink:href="#chevron-down-medium"></use>
            </svg>
          </button>
        </div>
        <div class="select-container">
          <ul class="select-container__list">
            <li class="select-container__item select-container__item--selected">
              <button class="select-container__button" type="button">
                <span class="select-container__text">100%</span>
              </button>
            </li>
            <li class="select-container__item">
              <button class="select-container__button" type="button">
                <span class="select-container__text">80%</span>
              </button>
            </li>
            <li class="select-container__item">
              <button class="select-container__button" type="button">
                <span class="select-container__text">60%</span>
              </button>
            </li>
            <li class="select-container__item">
              <button class="select-container__button" type="button">
                <span class="select-container__text">40%</span>
              </button>
            </li>
            <li class="select-container__item">
              <button class="select-container__button" type="button">
                <span class="select-container__text">20%</span>
              </button>
            </li>
          </ul>
        </div>
      </div>  
      <div class="select">
        <div class="select-selector">
          <button class="select-selector__button" type="button">
            <svg class="svg-icon" aria-hidden="true">
              <use xlink:href="#responsive"></use>
            </svg>
            <span class="select-selector__title">1920px</span>
            <svg class="svg-icon select-selector__icon">
              <use xlink:href="#chevron-down-medium"></use>
            </svg>
          </button>
        </div>
        <div class="select-container">
          <ul class="select-container__list">
            <li class="select-container__item select-container__item--selected">
              <button class="select-container__button" type="button">
                <span class="select-container__text">1920px</span>
              </button>
            </li>
            <li class="select-container__item">
              <button class="select-container__button" type="button">
                <span class="select-container__text">1366px</span>
              </button>
            </li>
            <li class="select-container__item">
              <button class="select-container__button" type="button">
                <span class="select-container__text">1024px</span>
              </button>
            </li>
            <li class="select-container__item">
              <button class="select-container__button" type="button">
                <span class="select-container__text">768px</span>
              </button>
            </li>
            <li class="select-container__item">
              <button class="select-container__button" type="button">
                <span class="select-container__text">320px</span>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="editor-layout-head__action-buttons">
    <button class="button button--support" type="button">보기</button>
    <span class="division-line"></span>
    <button class="button button--primary" type="button">저장</button>
    <button class="button button--secondary" type="button">빠른저장</button>
    <button class="button button--tertiary" type="button">새로저장</button>
    <span class="division-line"></span>
    <button class="button button--tertiary" type="button">접근권한</button>
    <button class="button button--tertiary" type="button">목록으로</button>
    <span class="division-line"></span>
    <button class="button button--danger" type="button">전체삭제</button>
  </div>
</div>
