h1{
  font-size: 20px;
  font-weight: bold;
  color: $text-02;
}

.top-content{
  padding: 15px;
  background-color: $ui-01;
}

.title{
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.text{
  display: block;
  font-size: 15px;
  color: $text-03;
}