.editor-preview-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.editor-preview-layout-head {
  width: 100%;
  padding: $spacing-xs $spacing-xs $spacing-xs $spacing-sm;
  background-color: $ui-01;
}

.editor-preview-layout-body {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.editor-preview-layout-head__title {
  flex: 1;
  width: 100%;
}

.editor-preview-layout-head__title-text {
  @include line-height("heading");
  @include font-weight("medium");
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.editor-preview-layout__buttons {
  display: flex;
  position: absolute;
  z-index: z("float");
}

.editor-preview-layout__button + .editor-preview-layout__button {
  margin-left: $spacing-xs;
}

.editor-preview-layout__preview-wrap {
  height: 100%;
}

.editor-preview-layout__preview {
  position: relative;
  margin: 0 auto;
}

// -------------------------
// media print
// -------------------------
@media print {
  /* 머리글, 바닥글 제거*/
  @page {
    margin: 0;
  }

  /* 모든 배경색, 이미지 보이도록 강제 선언 */
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
  }

  /* 인쇄하지 않을 영역 가림 */
  header,
  footer,
  .editor-preview-layout__buttons,
  .editor-preview-layout-head {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  /* 인쇄할 영역에 위치 잡고 보여지도록 스타일 선언 */
  #preview-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
