.side-panel {
  display: flex;
  flex-direction: column;
  position: relative;
}

.side-panel-tab {
  height: 100%;
}

.side-panel-tab__head {
  position: relative;
  background-color: $ui-04;
}

.side-panel-tab__body {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  overflow: auto;
  padding: $layout-3xs / 2 $layout-3xs $layout-2xs;
  letter-spacing: -0.3px;
}

// tab의 content가 뜨는 영역을 한번 그룹핑하는 block.
.side-panel-tab__contents {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.side-panel::before,
.side-panel::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: rem(24px);
  content: "";
  z-index: 1;
}

.side-panel::before {
  top: 41px; // side-panel__head의 높이
  background-image: linear-gradient(0deg, rgba($ui-01, 0) 0, rgba($ui-01, 0.7) 30%, $ui-01);
}

.side-panel::after {
  bottom: 0;
  background-image: linear-gradient(180deg, rgba($ui-01, 0) 0, rgba($ui-01, 0.7) 30%, $ui-01);
}

.side-panel-content {
  position: relative;
}

.side-panel-content:not(:first-child) .side-panel-content__head::before {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid $ui-04;
  content: "";
}

.side-panel-content .select-container {
  max-height: rem(320px);
  overflow: auto;
}

.side-panel-content__head {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-2xs;
  padding-top: $spacing-md;
}

.side-panel-content__head .button--link {
  padding: 0;
  margin-left: $spacing-2xs;
}

.side-panel-content__head-title {
  @include text-overflow;
  @include font-weight("medium");
  @include line-height("heading");
  flex: 1;
  color: $text-02;
}

.side-panel-content__body {
  padding-bottom: $spacing-md;
}

.side-panel--hide .side-panel {
  display: none;
}

.side-panel-tab__head-action-buttons {
  align-self: center;
  margin-left: auto;
  margin-right: $spacing-xs;
}

// side-panel 내 요소 재선언
.side-panel-tab__body {
  .form__item {
    padding: $spacing-3xs 0;
    min-height: rem(32px);
  }

  .form__label {
    @include make-col(4);
  }

  .form__label-text,
  .dynamic-form__form-label-text {
    @include font-weight("regular");
    @include font-size("13");
    @include line-height("heading");
  }

  .form__label-subtext {
    @include font-size("12");
    @include line-height("body");
  }

  .form__detail {
    @include make-col(8);
  }

  .form--vertical {
    .form__label {
      width: 100%;
    }
    .form__detail {
      width: 100%;
      margin-top: 0;
    }
  }

  .table__toolbar {
    .text-input-group {
      width: 100%;
      margin-bottom: $spacing-2xs;
    }
  }

  .row {
    margin-bottom: $spacing-2xs;
    width: 100%;
  }

  .h-group {
    width: 100%;
  }

  .accordion__head {
    background-color: darken($hover-row, 1%);
  }
}
