.side-panel {
  display: flex;
  flex-direction: column;
  position: relative;
}

.side-panel-head {
  position: relative;
}

.side-panel-head__tab {
  background-color: $ui-04;
}

.side-panel-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  overflow: auto;
  padding: $layout-3xs / 2 $layout-3xs $layout-2xs;
  letter-spacing: -0.3px;
}

.side-panel::before,
.side-panel::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: rem(24px);
  content: "";
  z-index: 1;
}

.side-panel::before {
  top: 41px; // side-panel-head의 높이
  background-image: linear-gradient(
    0deg,
    rgba($ui-01, 0) 0,
    rgba($ui-01, 0.7) 30%,
    $ui-01
  );
}

.side-panel::after {
  bottom: 0;
  background-image: linear-gradient(
    180deg,
    rgba($ui-01, 0) 0,
    rgba($ui-01, 0.7) 30%,
    $ui-01
  );
}

.side-panel-content {
  padding: $layout-3xs 0;
}

.side-panel-content-head {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-2xs;
}

.side-panel-content-head .button--link {
  padding: 0;
  margin-left: $spacing-3xs;
}

.side-panel-content-head__title {
  @include text-overflow;
  @include font-weight("medium");
  @include line-height("heading");
  flex: 1;
  color: $text-02;
}

.side-panel-content-body {
}

.side-panel-content-body .row {
  margin-bottom: $spacing-2xs;
  width: 100%;
}

.side-panel-content-body .h-group {
  width: 100%;
}

// side-panel 내 요소 재선언
.side-panel-body {
  .form__item {
    padding: $spacing-3xs 0;
    min-height: rem(32px);
  }

  .form__label {
    @include make-col(4);
    min-width: auto;
  }

  .form__label-text {
    @include font-weight("regular");
    @include font-size("13");
    @include line-height("heading");
  }

  .form__label-subtext {
    @include font-size("12");
    @include line-height("body");
  }

  .form__detail {
    @include make-col(8);
  }

  .form--vertical {
    .form__label {
      width: 100%;
    }
    .form__detail {
      width: 100%;
      margin-top: $spacing-2xs;
    }
  }

  .table__toolbar {
    .text-input-group {
      width: 100%;
      margin-bottom: $spacing-2xs;
    }
  }
}
