// 폰트, 이미지 경로 수정
$font-path: '/src/style-core/fonts/';

// 전체 테마를 바꾸고 싶은 경우
// @import "/src/style-core/scss/themes/pink";
@import "/src/style-core/scss/core-index.scss";

// product의 테마만 바꾸고 싶은 경우
// @import "/src/style-core/scss/core-index.scss";
// @import "/src/style-core/scss/themes/pink";

// @import "./vendor/vendor.scss";
// @import "./layout/common.scss";
// @import "./pages/pages.scss";
@import "./layout/layout.scss"
