// Row
@if $enable-grid-classes {
  .row {
    @include make-row();

    > * {
      @include make-col-ready();
    }
  }
}

// Columns
@if $enable-grid-classes {
  @include make-grid-columns();
}

.hidden {
  @include hidden;
}

.ir-pm {
  @include ir-pm;
}

.img-g {
  @include img-g;
}

.caption-out {
  @include caption-out;
}

.text-emphasis {
  @include font-weight("bold");
}

.filter-highlight {
  background-color: #fff09c;
}

.division-line {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 1px;
  height: rem(16px);
  margin: 0 $spacing-xs;
  border-left: 1px solid $ui-04;
  clip: rect(1px, 1px, 1px, 1px);
}

.division-line-horizontal {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  margin: $spacing-3xs 0;
  border-bottom: 1px solid $ui-04;
  clip: rect(1px, 1px, 1px, 1px);
}

.v-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.h-group {
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: $spacing-2xs;
  }
}

.h-group .select {
  width: auto;
}

.h-group--half .h-group__item {
  width: 50%;
}

.form__detail .h-group {
  width: 100%;
}

.item-group {
  display: flex;
}

// -------------------------
// spacing
// -------------------------
.p-0 {
  padding: 0;
}

// -------------------------
// flex box
// -------------------------
.ml-auto {
  margin-left: auto;
}

.self-start {
  align-self: flex-start;
}

// -------------------------
// width, height
// -------------------------
//   midal size
//   ==========================================
//   xs   ||  350px
//   sm   ||  480px (450, 418)
//   md   ||  600px
//   lg   ||  900px
//   xl   ||  1180px
//   ==========================================
.w-80 {
  width: rem(80px);
}

.w-112 {
  width: rem(112px);
}

.w-160 {
  width: rem(160px);
}

.w-350 {
  width: rem(350px);
}

.w-480 {
  width: rem(480px);
}

.w-600 {
  width: rem(600px);
}

.w-900 {
  width: rem(900px);
}

.w-1180 {
  width: rem(1180px);
}

.w-1-12 {
  width: 8.3333333333%;
}

.w-2_12 {
  width: 16.6666666667%;
}

.w-3_12 {
  width: 25%;
}

.w-4_12 {
  width: 33.3333333333%;
}

.w-5_12 {
  width: 41.6666666667%;
}

.w-6_12 {
  width: 50%;
}

.w-7_12 {
  width: 58.3333333333%;
}

.w-8_12 {
  width: 66.6666666667%;
}

.w-9_12 {
  width: 75%;
}

.w-10_12 {
  width: 83.3333333333%;
}

.w-11_12 {
  width: 91.6666666667%;
}

.w-12_12 {
  width: 100%;
}

.mh-600 {
  max-height: 600px;
}

// -------------------------
// overflow
// -------------------------
.overflow-auto {
  overflow: auto;
}

.scroll-v {
  overflow-y: auto;
}

.scroll-x {
  overflow-x: auto;
}