// Color Theme Variables

$primary: #005ACD !default;
$secondary: #4DAEFF !default;
$ui-01: #F7F9FC !default;
$ui-02: #ffffff !default;
$ui-03: #d8e4f5 !default;
$ui-04: #DCE1E8 !default;
$text-01: #212121 !default;
$text-02: #606974 !default;
$text-03: #77889A !default;
$text-04: #FFFFFF !default;