html, body {
  height: 100%;
}

.service-container {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: rem(1200px);
  height: 100%;
  overflow: hidden;
}

.service-content {
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.service-container section {
  display: flex;
  flex-direction: column;
  height: 100%;
}
